#locations-sidebar {
  padding: 20px;
  background: #7E92A4;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .4);

  .video-container {
    margin-bottom: 25px;

    h3 {
      text-align: center;
      color: #FFF;
      font-weight: bold;
    }

    iframe {
      max-width: 100%;
    }

    .video-content {
      color: #FFF;
      font-size: 16px;
    }
  }

  .meet-attorney-slider {
    h3 {
      text-align: center;
      color: #FFF;
      font-weight: bold;
    }

    #attorney_slider {
      position: relative;

      .inner-wrap {
      }

      .attorney-img {
        img {
          border-radius: 200px;
          margin: 0 auto;
          display: block;
          max-width: 250px;
          height: auto;
        }
      }

      figcaption {
        color: #FFF;
        text-align: center;
        font-weight: bold;
        margin-top: 15px;
      }
    }

    .owl-prev {
      background: url('/wp-content/themes/cw-theme-two/images/arrow-prev.png') no-repeat 50% 50%;
      height: 30px;
      left: -15px;
      position: absolute;
      text-indent: -99999px;
      top: 50%;
      z-index: 9999;
      margin-top: -15px;
      width: 17px;
    }

    .owl-next {
      background: url('/wp-content/themes/cw-theme-two/images/arrow-next.png') no-repeat 50% 50%;
      height: 30px;
      right: -15px;
      position: absolute;
      text-indent: -99999px;
      top: 50%;
      z-index: 9999;
      margin-top: -15px;
      width: 17px;
    }
  }

  h3 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
  }


  .practice-areas-sidebar {
    .practice-area {
      .icon {
        max-width: 100%;

      }

      .icon-title {
        text-align: center;
        color: #FFF;
        font-weight: bold;
      }
    }

    .practice-area-main-title {
      color: #FFF;
      text-shadow: none;
      text-align: center;
    }

    .practice-listing-container {
      height: 240px;

      .img-container {
        background: #FFF;
      }

      .practice-area-listing-title {
        color: #FFF;
        font-size: 16px;
      }
    }
  }

  hr {
    border-top: 3px solid #0a3c67;
  }
}