.block-dropdowns {
  color: #FFF;

  .panel {
    position: relative;
  }

  .panel-main {
    border: .5px solid rgb(18, 37, 59);
    border-radius: 0 !important;
  }

  .panel-background-shader {
    height: 170px;
    width: 100%;
    background: rgba(22, 47, 80, .7);
    position: absolute;
    top: 0;
    left: 0;

  }

  .panel-category-description {
    padding: 25px 0 35px;
  }

  .panel-category-thumbnails {
    padding: 25px 0;
    img {
      margin: 0 auto;
    }
  }

  a.panel-button {
    h2 {
      transition: all .5s;
      font-family: 'Playfair Display', serif;
      font-size: 32px;
      width: 100%;
      display: block;
      position: relative;
      //padding: 45px 25px 15px;
      padding: 25px 25px 15px;
      text-align: center;
      color: #FFF;
      z-index: 999;
    }
  }

  .panel-open {
    a.panel-button {
      h2 {
        //padding: 25px 25px 15px !important;
      }
    }
  }

  .panel-heading-main {
    height: 170px;
    padding: 0;
  }

  .panel-heading {
    text-align: center;

    color: #FFF;
    background-color: #4f6176;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    h2.panel-title {

      a {
        font-family: 'Playfair Display', serif;
        font-size: 28px;
        padding: 50px 15px;
        width: 100%;
        display: block;
      }
    }

    .panel-button.collapsed .panel-click {
      color: transparent;
    }

    .panel-click {
      transition: all .5s;
      color: #FFF;
      z-index: 999;
      position: relative;
    }

    .in .panel-click {
      display: block !important;
    }
  }

  .panel-body {
    color: #153050;
    padding: 45px;
  }

  .panel-group .panel + .panel {
    margin-top: 0 !important;
  }


  .panel-category-sub-category-information {
    .sub_cat_dropdown {
      a {
        text-align: left;
        color: #153050;
        font-weight: bold;
      }
    }

    .panel-category-sub-category-information .panel-group .panel-heading + .panel-collapse > .list-group, .panel-category-sub-category-information .panel-group .panel-heading + .panel-collapse > .panel-body {
      border-top: none !important;
    }

    .panel_sub_cat_dropdown {
      .panel {
        box-shadow: none;
      }

      .panel-body {
        margin: 25px 0;
      }
    }

    .panel-group .panel {
      border: none;
    }

    .panel-heading {
      background: none;
      color: #0a3c67;
      font-weight: bold;
      padding: 5px;

      .panel-title {
        a {
          padding: 5px;
          width: auto;
          font-size: 18px;
          font-family: 'Montserrat', serif;
        }
      }
    }

    .panel-body {
      padding: 5px;
    }
  }

  .panel-category-full-information {
    padding: 25px 0;
  }

  .panel-top {
    //background: transparent;
    //border: transparent;
    //color: transparent;
    color: #FFF;
    background: #782027;
    transition: all .5s;
    position: relative;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    z-index: 999;

    border-radius: 5px;
    display: inline-block;

    span {
      margin-right: 0 !important;
    }
  }

  .panel-activate {
    color: #FFF;
    background: #782027;
    transition: all .5s;
    position: relative;
    text-align: center;
    padding: 5px 10px;
    margin-top: 10px;
    z-index: 999;

    border-radius: 5px;
    display: inline-block;

    span {
      margin-right: 0 !important;
    }
  }

  .panel-open .panel-top {
    //color: #FFF !important;
    //background: #782027 !important;
  }

}