.dark-blue-footer {
  position: relative;
  z-index: 99999;
  background: #162F50 !important;
  padding: 75px 0 !important;

  .logo {

  }

  .footer-info {
    font-family: "Helvetica Neue", sans-serif;
    color: #FFF;
    margin-top: 30px;


    h5 {
      font-weight: bold;
      font-size: 18px;
      font-family: Montserrat, sans-serif;
    }


    ul {
      padding: 0;

      li {
        font-size: 12px;
        font-family: "Helvetica Neue", sans-serif;
        margin: 3px 0;
        list-style-type: none;

        a {
          color: #FFF;
        }
      }

    }

    .socials {
      width: 100%;
      text-align: left;
      padding-top: 0;


      .social span {
        background: #FFF;
        color: #162f50;
      }

      i {
        padding-top: 8px;
      }

      a {
        margin: 0;
      }

    }


  }

  .footer-copywrite {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 12px;
    margin-top: 15px;
    color: #FFF;
  }


  .footer-map-block {
    h4 {
      font-family: Montserrat, sans-serif;
      font-size: 24px;
      font-weight: bold;
      color: #FFF;

    }
  }

  .footer-map-block {
    text-align: center;
  }

  #contacts {
    padding: 15px 0;
  }

  @media(max-width: 767px) {
    .footer-info {
      h5 {
        text-align: center;
      }

      ul {
        li {
          text-align: center;
        }
      }
    }
    .connect {
      clear: both;
      text-align: center;
    }
    .socials {
      text-align: center !important;
    }
  }

  #contacts {
    position: relative;
    padding: 60px 0 55px;
  }

  #contacts .map-home {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  #contacts h2 {
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -185px;
    width: 370px;
    padding: 17px 0 15px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  #contacts .accordion-contacts {
    max-width: 300px;
    border: 1px solid #ddd;
  }

  #contacts {
    .accordion.style-blue-1 {
      margin: 0;
      position: relative;
      background: #fff;
      background: rgba(255, 255, 255, 0.75);
    }

    .accordion.style-blue-1 dt {
      /*border-right: 3px solid $white;
        border-top: 1px solid $white;
        border-bottom: 1px solid $white;*/
      border: 3px solid #fff;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 17px 15px 15px 27px;
      background-color: #0c4a7e;
    }

    .accordion.style-blue-1 dt a {
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-family: "Roboto";
      font-size: 22px;
      font-weight: 400;
      color: #fff;
      text-transform: none;
      position: relative;
      padding-right: 60px;
      text-decoration: none;
      line-height: 1;
    }

    .accordion.style-blue-1 dt a:visited, .accordion.style-blue-1 dt a:focus {
      text-decoration: none;
    }

    .accordion.style-blue-1 dt a span.lazyloaded {
      background: url("../images/accordion-blue-closed.png") no-repeat;
    }

    .accordion.style-blue-1 dt a span {
      display: block;
      float: right;
      width: 20px;
      height: 22px;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }

    .accordion.style-blue-1 dt.accordion-opened {
      background-color: #0f5a88;
    }

    .accordion.style-blue-1 dt.accordion-opened a {
      color: #fff;
    }

    .accordion.style-blue-1 dt.accordion-opened a span.lazyloaded {
      background: url("../images/accordion-blue-opened.png") no-repeat;
    }

    .accordion.style-blue-1 dd {
      border-bottom: 0;
      border-top: 0;
      padding: 25px 25px 20px 25px;
    }

    .accordion.style-blue-1 dd p {
      margin-bottom: 10px;
      color: #000;
      font-family: "Roboto";
      line-height: 25px;
      font-weight: 400;
    }

    .accordion.style-blue-1 dd p b {
      font-family: "Roboto";
      font-size: 19px;
      font-weight: 400;
    }

    .accordion.style-blue-1 ul {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .accordion.style-blue-1 ul li {
      line-height: 1.75;
      margin-bottom: 15px;
      /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
      padding-left: 28px;
      color: #000;
      font-size: 17px;
    }

    .accordion.style-blue-1 ul li:last-child {
      margin-bottom: 0;
    }

    .accordion.style-1 {
      margin: 0;
    }

    .accordion.style-1 dt {
      border-bottom: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 17px 15px 15px 27px;
      background-color: #f2f2f2;
      margin-bottom: 10px;
    }

    .accordion.style-1 dt:first-child {
      border-top: 0 none;
    }

    .accordion.style-1 dt a {
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 20px;
      font-weight: 600;
      color: #000;
      text-transform: none;
      position: relative;
      padding-right: 60px;
      text-decoration: none;
      line-height: 1;
    }

    .accordion.style-1 dt a:visited, .accordion.style-1 dt a:focus {
      text-decoration: none;
    }

    .accordion.style-1 dt a span {
      display: block;
      float: right;
      width: 33px;
      height: 22px;
      background: url("../images/acc-style1-open.png") no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }

    .accordion.style-1 dt.accordion-opened a span {
      background: url("../images/acc-style1-close.png") no-repeat;
    }

    .accordion.style-1 dd {
      border-bottom: 0;
      border-top: 0;
      margin-bottom: 15px;
      padding: 0 25px;
    }

    .accordion.style-1 dd p {
      margin-bottom: 0;
    }

    .accordion.style-1 ul {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .accordion.style-1 ul li {
      line-height: 1.75;
      margin-bottom: 15px;
      /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
      padding-left: 28px;
      color: #000;
      font-size: 17px;
    }

    .accordion.style-1 ul li:last-child {
      margin-bottom: 0;
    }

    .accordion.style-2 {
      margin: 0;
    }

    .accordion.style-2 dt {
      border-bottom: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 17px 15px 15px 27px;
      background-color: #0c4a7e;
      margin-bottom: 10px;
    }

    .accordion.style-2 dt:first-child {
      border-top: 0 none;
    }

    .accordion.style-2 dt:hover {
      background-color: #0a3c67;
    }

    .accordion.style-2 dt a {
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      text-transform: none;
      position: relative;
      padding-right: 60px;
      text-decoration: none;
      line-height: 1;
    }

    .accordion.style-2 dt a:visited, .accordion.style-2 dt a:focus {
      text-decoration: none;
    }

    .accordion.style-2 dt a span {
      display: block;
      float: right;
      width: 33px;
      height: 22px;
      background: url("../images/acc-style2-open.png") no-repeat;
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
    }

    .accordion.style-2 dt.accordion-opened {
      background-color: #f2f2f2;
    }

    .accordion.style-2 dt.accordion-opened a {
      color: #000;
    }

    .accordion.style-2 dt.accordion-opened a span {
      background: url("../images/acc-style1-close.png") no-repeat;
    }

    .accordion.style-2 dd {
      border-bottom: 0;
      border-top: 0;
      margin-bottom: 15px;
      padding: 0 25px;
    }

    .accordion.style-2 dd p {
      margin-bottom: 0;
    }

    .accordion.style-2 ul {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .accordion.style-2 ul li {
      line-height: 1.75;
      margin-bottom: 15px;
      background: rgba(0, 0, 0, 0) url("../images/arrow-dbl-right-blue.png") no-repeat scroll 0 8px;
      padding-left: 28px;
      color: #000;
      font-size: 17px;
    }

    .accordion.style-2 ul li:last-child {
      margin-bottom: 0;
    }

    .accordion.style-3 {
      margin: 0;
    }

    .accordion.style-3 dt {
      border-bottom: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      padding: 17px 15px 15px 27px;
      background-color: #f2f2f2;
      margin-bottom: 10px;
    }

    .accordion.style-3 dt:first-child {
      border-top: 0 none;
    }

    .accordion.style-3 dt a {
      display: block;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      font-size: 20px;
      font-weight: 400;
      font-family: "Roboto";
      color: #000;
      text-transform: none;
      position: relative;
      padding-right: 60px;
      text-decoration: none;
      line-height: 1;
    }

    .accordion.style-3 dt a:visited, .accordion.style-3 dt a:focus {
      text-decoration: none;
    }

    .accordion.style-3 dt a span {
      display: block;
      float: right;
      width: 33px;
      height: 22px;
      background: url("../images/acc-style1-open.png") no-repeat;
      position: absolute;
      right: 0;
      top: 50%;
      margin: -11px 0 0 0;
    }

    .accordion.style-3 dt.accordion-opened a span {
      background: url("../images/acc-style1-close.png") no-repeat;
    }

    .accordion.style-3 dd {
      border-bottom: 0;
      border-top: 0;
      margin-bottom: 15px;
      padding: 0 25px;
    }

    .accordion.style-3 dd p {
      margin-bottom: 0;
    }

    .accordion.style-3 ul {
      padding: 0;
      margin-bottom: 0;
      list-style: none;
    }

    .accordion.style-3 ul li {
      line-height: 1.75;
      margin-bottom: 15px;
      /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
      padding-left: 28px;
      color: #000;
      font-size: 17px;
    }

    .accordion.style-3 ul li:last-child {
      margin-bottom: 0;
    }

    .accordion-generic {
      margin-bottom: 75px;
      /**************************************************************************************/
    }

    @media screen and (max-width: 767px) {
      .accordion-generic {
        margin-bottom: 20px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    #contacts .accordion-contacts {
      margin: 0;
    }
    .socials {
      padding-top: 0;
    }
  }

  #contacts address {
    margin-bottom: 0;
  }


  .socials {
    width: 100%;
    text-align: center;
    padding-top: 25px;
  }

  .socials a {
    display: inline-block;
    margin: 0 5px;
  }

  .socials a span {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    border-radius: 20px;
  }
}

.grecaptcha-badge {
  display: none !important;
}

