@font-face {
  font-family: Montserrat-SemiBold;
  src: url('../fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf');
}

.site-header-dark-blue {
  #main-navigation li {
    font-family: Montserrat-SemiBold, sans-serif;
    font-weight: bold;
  }

  .navbar-toggle {
    color: #FFF;
  }
}

.site-header-navigation {
  clear: both;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}


header.fixed-header {
  width: 100%;
  z-index: 99999;
}

.site-header-dark-blue {
  background: #162F50;
  padding: 15px 0;
  width: 100%;
  z-index: 999;

  .btn {
    transition: all .5s;
  }

  .btn-blue {
    font-size: 16px;
    text-align: center;
    border: 1px solid #FFF;
    color: #FFF;
    background: #162F50;
    padding: 7px 20px;
    display: inline-block;
  }

  .btn-blue:hover {
    background: #0a3f61;
    color: #FFF !important;
  }

  .btn-white {
    font-size: 16px;
    background: #FFF !important;
    color: #0a3f61;
    text-align: center;
    border: 1px solid #FFF;
    padding: 7px 20px;
    display: inline-block;
  }

  .btn-white:hover {
    background: #0a3f61 !important;
    color: #FFF !important;
  }

  #main-navigation {
    padding: 0;
    margin-top: 15px;
    margin-bottom: 0;

    li {
      list-style: none;
      display: inline-block;
      padding: 7px;
      //font-weight: lighter;
      font-size: 16px;
      text-align: center;

      a {
        color: #FFF;
        transition: all .5s;
        border-bottom: 1px solid transparent;
      }
    }

    li {
      a:hover, a:focus {
        color: #EEE;
        border-bottom: 1px solid #EEE;
        background: transparent !important;
      }
    }

    li.open > a {
      background: transparent !important;
    }

    .dropdown-menu {
      background: rgba(25, 25, 25, .5) !important;
    }

    .dropdown-menu > .active > a {
      background-color: transparent !important;
    }
  }

  .nav > li > a {
    padding: 0;
  }

  .header-left-buttons {
    margin-top: 10px;
    //width: 380px;
    text-align: center;

    .btn-blue {
      font-size: 12px;
      padding: 7px 30px;
      display: inline-block;
      border-radius: 0;
    }

    .btn {
      font-weight: bold;
    }
  }

  .site-header-news {
    float: left;
    width: 50%;
    background: orange;
    padding: 5px;
    border-radius: 5px;

    p {
      font-size: 16px;
      color: #000;
      text-align: center;
      text-shadow: none;
    }
  }

  .header-right-buttons {
    text-align: right;
    margin-top: 15px;
    float: right;

    .btn {
      padding: 7px 35px;

      font-weight: bold;
      border-radius: 0;

    }
  }

  @media(max-width: 991px) {
    .navbar-toggle {
      text-align: center;
      margin: 25px auto 0;
      display: block;
      float: none;
      border: 1px solid #FFF;

      .glyphicon {
        top: 2px;
        right: -2px;
        font-size: 18px;
      }
    }
    .navbar-collapse {
      clear: both;
      border-top: none;
      box-shadow: none;
    }

    #main-navigation {
      background: rgba(0, 0, 0, .4);

      li {
        display: block !important;
        font-weight: bold;
      }

      .site-logo {
        margin: 0 auto;
      }
    }

    .site-header-news {
      float: none !important;
      display: block;
      margin: 0 auto;
      width: 100% !important;
    }

    .header-right-buttons {
      float: none !important;
      text-align: center;
      margin-top: 15px;

      .btn {
        padding: 7px 25px;
      }

      .btn-white {
        //margin-top: 15px;
      }
    }

    .navbar-nav .open .dropdown-menu {
      margin-top: 15px;
    }
  }

  //@media(min-width: 1600px) {
  .fluid-container-head {
    max-width: 1800px;
    width: 100%;
    margin: 0 auto;
  }

  #main-navigation {
    text-align: right;

    li {
      padding: 7px 10px;
    }
  }

  //}
}

@media(min-width: 992px) {
  .site-header-fixed #wrapper {
    padding-top: 147px;
  }

  .navbar-nav {
    float: right !important;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 115px;
  }
}

@media(max-width: 991px) {
  .site-header-fixed #wrapper {
    padding-top: 197px;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 148px;
  }

  .header-right-buttons {
    .btn {
      margin: 5px;
    }
  }
}

@media(min-width: 767px) {
  .admin-bar .fixed-header {
    top: 32px;
  }
}

@media(max-width: 768px) {
  .site-header-fixed #wrapper {
    padding-top: 248px;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 267px;
  }

  .header-right-buttons {
    .btn {
      padding: 7px 10px !important;
    }
  }

}