/*Legal Team */
.meet-the-law {
  .prev, .next {
    display: none;
  }
}
.legal-team {
  padding: 50px;
  background: #FFF;
  position: relative;

  h3 {
    font-family: 'Playfair Display', serif;
    color: #153050;
    font-size: 42px;
    font-weight: bold;
  }

  h5 {
    font-family: Montserrat, sans-serif;
    color: #153050;
    font-size: 24px;
  }

  .legal-team-member {
    height: 360px;
    width: 240px;
    background-size: cover;
    position: relative;
    display: block;
    margin: 0 auto;
  }


  .team-info-container {
    opacity: 0;
    background: rgba(25, 25, 25, .8);
    transition: all .5s;
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 5px;


    .team-name {
      color: #FFF;
    }

    .team-title {
      color: #FFF;
    }
  }

  .visible-block {
    .team-info-container {
      opacity: 1;
    }
  }
}

@media(max-width: 992px) {
  .legal-team {
    padding: 50px 0;

    .glide__slide {
      background-size: auto !important;
      background-position: top center !important;
      background-repeat: no-repeat !important;
      height: 300px;

    }

    .legal-team-member {
      height: 240px;
    }

    .glide-slide-overlay {
      height: 300px;
    }

    .team-info-container {
      opacity: 1;
    }
  }


  .about-us {
    .glide__slides {
      height: 370px;
    }

    .glide-testimonials {
      .glide__slides {
        height: auto;
      }
    }

    .glide-slide-container {
      margin: 0 auto;
    }

    //.glide__arrows {
    //  text-align: center;
    //}
  }
  .glide__arrows {
    text-align: center;
  }

}

.legal-team {
  .prev {
    position: absolute;
    left: 0;
    top: 40%;
    background: #153050;
    color: #FFF;
    font-size: 20px;
  }

  .next {
    position: absolute;
    right: 0;
    top: 40%;
    background: #153050;
    color: #FFF;
    font-size: 20px;
  }
}

@media(max-width: 991px) {
  .meet-the-law {
    .prev, .next {
      display: block !important;
    }
  }
}

@media(max-width: 767px) {

  .legal-team {
    padding: 50px 0;
  }

}

/* End Legal Team */