.article-quick-links {
  position: relative;

  .sidebar-opener {
    font-family: Montserrat, sans-serif;
    background: #F5F5F5;
    text-align: center;
    font-weight: bold;
    padding: 25px;
    font-size: 18px;
    cursor: pointer;
  }

  .quick-link-block-select {
    margin-bottom: 35px;

    h4 {
      color: #FFF;
    }

    h3 {
      font-family: "Playfair Display", serif;
      color: #FFF;
      margin-bottom: 10px;
      font-size: 23px;
      line-height: 2;

      a {
        color: #FFF;
      }

      a:focus, a:visited {
        color: #FFF;
      }
    }

    ul {
      margin: 0;
      padding: 0;

      li {
        font-family: "Montserrat", serif;
        list-style-type: none;
        color: #FFF;
        margin: 20px 0;
        font-size: 13px;

        a {
          color: #FFF;
        }
      }
    }

    a:focus, a:visited {
      color: #FFF;
    }
  }


  h5 {
    color: #0a3f61;
  }

  ul {
    list-style-type: none;

    li {
      color: #0a3f61;
    }
  }

  .glyphicon {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {

  .quick-links-sidebar {
    width: 20%;
    //position: fixed;
    top: 200px;
  }
}

@media(max-width: 991px) {
  .quick-links-sidebar {
    border: 2px solid #EEE;
    margin-bottom: 25px;


  }

  .article-quick-links {
    ul {
      padding: 0 !important;

      li {
        font-weight: bold;
        padding: 15px;
        list-style: none;
        border: 1px solid #dedcdc;
        margin: 0;
      }
    }
  }

  .quick-link-block-select {
    ul {
      position: relative;
      z-index: 999;
      padding-bottom: 50px;

      li {
        list-style: none !important;
        text-align: center;
        background: #162f50;
        margin: 0 !important;
      }
    }
  }
}

