// search template
.home-default-template {
  .search-box {
    .input-group-btn {
      width: 46px;
      padding: 4px 3px 6px;
      background-color: #286090;
      border-color: #204d74;
    }

    .btn-primary {
      background: transparent !important;
      color: #FFF !important;
    }

    .btn-primary:hover {
      background: transparent !important;
    }
  }
}