body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

section {
    padding: 25px 15px;
}

.marg-top-10 {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.color-red {
    color: #771F26 !important;
}

.color-white {
    color: #FFF !important;
}

.dark-blue-bg {
    background: #132F51 !important;
}

.light-blue-bg {
    background: #7E92A4 !important;
}

.color-dark-blue {
    color: #132F51 !important;
}

.color-light-blue {
    color: #97B3C7 !important;
}

.color-teal {
    color: #69C9CA !important;
}

.red-bg {
    background: #771F26;
}

.btn-red {
    background: #C1272D;
}

.header-slogan {
    font-size: 32px;
    margin-bottom: 200px;
}

.mobile-header {
    padding-bottom: 200px;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-color: #FFF;
}

.site-header-navigation {
    text-align: center;
    clear: both;
}

.page-template-page-practice-areas-clean .page-intro {
    font-size: 20px;
}

.practice-area-listing-title {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
}

.page-template-page-practice-areas-clean article h1 {
    font-weight: 100 !important;
    font-size: 56px !important;
}

.practice-listing-container {
    height: 310px;
    padding: 10px;
}

.additional-practice-areas h3 {
    margin: 60px 0 30px;
}

.practice-area-lists {
    border-left: 2px solid #771F26;
}

.practice-area-category {
    margin: 20px 0;
}

.page-template-page-practice-areas-clean .page-main-content h1 {
    text-align: center;
}

.practice-listing-container .img-container {
    background: #112e50;
    border-radius: 120px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    padding: 15px;
    transition: all .3s;
}

.practice-listing-container .img-container:hover {
    box-shadow: 0 0 20px #112e50;
    transform: rotate(-5deg);
}

.practice-listing-container img {
    margin: 0 auto;
}

.practice-listing-container {
    height: 310px;
}

.practice-listing-container a {
    color: #000;
}

.practice-listing-container a:hover {
    color: #0a3c67;
}


.practice-area-listing {
    padding-top: 50px;
    margin-bottom: 10px;
}

.practice-listing-container .img-container {
    background: #112e50;
    border-radius: 120px;
    width: 150px;
    height: 150px;
    padding: 15px;
}


.mobile-header-cta {
    position: relative;
    padding-top: 0;
    padding-bottom: 35px;
}

.mobile-header-cta .cta-btn {
    position: relative;
    top: -50px;
    margin: 0 auto;
    display: block;
    width: 500px;
    max-width: 90%;
    left: 0;
    right: 0;
    font-size: 26px;
    color: #FFF;
    padding: 10px;
    border-radius: 25px;
    border: none;
}

.phone-container {
    display: block;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.number-block {
    width: 60px;
    height: 60px;
    margin: 15px auto;
    padding: 10px;
    font-size: 28px;
    background: #FFF;
    border-radius: 100px;
    text-align: center;
    color: #771F26;
    font-weight: bold;
}

.header-phone {
    margin-top: -20px;
}

.header-phone img {
    max-width: 50px;
    margin-right: 15px;
}

.header-phone .phone-cta {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.home-icon span {
    font-size: 30px;
    margin: 9px 0;
    padding: 8px;
}

.mobile-header .glyphicon {
    color: #000;
}

.mobile-header .navbar-toggle {
    font-size: 30px;
}

.mobile-header ul {
    list-style-type: none;
    padding: 0 15px;
}

.mobile-header ul li {
    font-size: 16px;
    padding: 15px 5px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}

.mobile-header-cta .call-now h4 {
    font-weight: bold;
    color: #FFF;
}

.logo-container {
    margin: 0 auto;
    max-width: 300px;
}

.section-2-mobile .attorney {

}

.section-2-mobile .attorney img {
    border-radius: 200px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    display: block;
    border: 3px solid #FFF;
    transition: all .5s;
}

.section-2-mobile .attorney img:hover {
    transform: rotate(6deg);
}

.attorney-info {
    color: #FFF;
}

.attorney-info .attorney-name {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.attorney-info .attorney-title {
    font-weight: bold;
    font-style: italic;
 }

.attorney-info .attorney-name, .attorney-info .attorney-title {
    text-align: center;
    display: block;
}

.attorney-info p {
    margin-top: 15px;
    font-size: 20px;
}

.section-1-mobile  {
    padding-top: 50px;
}

.section-1-mobile h1 {
    font-weight: bold;
    color: #132F51;
}

.section-2-mobile .attorney {

}

.section-4-mobile .main-form {
    display: block !important;
    position: initial;
    margin: 15px auto 0;
    width: 100% !important;
    border-radius: 15px;
}

.main-form, .main-form-container {
    background: #c2cad0;
}



.main-form form .but-form {
    background: #132F51;
    font-size: 17px !important;
}

.call-cta a {
    margin: 0 auto;
    display: block;
    width: 500px;
    max-width: 90%;
    font-size: 26px;
    color: #fff;
    padding: 10px;
    border-radius: 25px;
}

.section-5-mobile {
    color: #FFF;
}

.testimonial-content {
    margin: 25px 0;
}

.section-6-mobile .case-result {
    padding: 25px 0;
    text-align: right;
}

.section-6-mobile h4 {
    color: #c33 !important;
    font-size: 42px;
    font-weight: bold;
}

.section-6-mobile p {
    color: #FFF;
}

.section-7-mobile {
    border-top: 2px solid #FFF;
    color: #FFF;
}
.section-7-mobile a {
    color: #FFF;
    font-weight: bold;
    font-size: 22px;
    margin-top: 10px;
    max-width: 100%;
}

.section-8-mobile {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 0;
    height: 400px;
}

.section-8-mobile .overlay {
    background: rgba(1,1,1,.2);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: 0;
}

.section-8-mobile .location {
    text-align: center;
    color: #132F51;
    margin: 25px 0;
    font-weight: bold;
    font-size: 26px;
    z-index: 9999;
    position: relative;
}

.section-8-mobile #map-home {
    height: 400px;
}

.map-home .container {
    z-index: 9999;
}

.section-8-mobile .location-link {
    text-align: center;
    margin-top: 10px;
}

.section-8-mobile .location-link a {
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    background: #0c4a7e;
    color: #fff;
    font: 15px/15px "Roboto";
    font-weight: 400;
    text-transform: uppercase;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
    padding: 12px 22px 9px;
    letter-spacing: 0.5px;
}
#contacts {
    position: relative;
    padding: 15px 0 115px;
}

#contacts .accordion-contacts {
    margin: 0 auto 200px;
}

.accordion.style-blue-1 {
    background: transparent;
}

#contacts .accordion.style-blue-1 dt a, #contacts .accordion.style-blue-1 dt.accordion-opened a {
    color: #133051;
    font-weight: bold;
    padding: 0 !important;
}

#contacts .accordion.style-blue-1 dt, #contacts .accordion.style-blue-1 dt.accordion-opened {
    padding: 0 !important;
}

.review-image {
    max-width: 50px;
    border-radius: 25px;
    margin: 15px auto;
}

.quote-block {
    margin: 10px 0;
}

.footer-copyright {
    padding: 50px 0 40px;
}

@media (max-width: 767px) {
    .practice-listing-container {
        height: 250px;
    }

    .practice-listing-container .img-container {
        width: 130px;
        height: 130px;
    }

    .practice-listing-container .practice-area-listing-title {
        text-align: center;
        font-size: 16px
    }
}

@media (max-width: 475px){
    /* Hack for demo page & live page due to template css on body*/
    .home header.mobile-header, header.mobile-header {
        padding-bottom: 85px;
        background-position: 40% bottom;
        background-size: 124% !important;
    }
}
