#cboxWrapper,.cboxPhoto {
  max-width: none
}

.cboxIframe,.cboxPhoto {
  display: block;
  border: 0
}

#cboxCurrent,#cboxTitle {
  position: absolute;
  color: #949494;
  bottom: 4px
}

#cboxClose:active,#cboxNext:active,#cboxPrevious:active,#cboxSlideshow:active,#colorbox {
  outline: 0
}

#cboxOverlay,#cboxWrapper,#colorbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden
}

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/overlay.png);
  opacity: .9;
  filter: alpha(opacity=90)
}

#cboxBottomLeft,#cboxMiddleLeft {
  clear: left
}

.cw_video_cols,.cw_video_gallery_clear,.cw_video_type_list .cw_video_item {
  clear: both
}

#cboxContent {
  position: relative;
  background: #fff;
  overflow: hidden
}

#cboxTitle {
  margin: 0;
  left: 0;
  text-align: center;
  width: 100%
}

#cboxLoadingGraphic,#cboxLoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.cboxPhoto {
  float: left;
  margin: auto;
  -ms-interpolation-mode: bicubic
}

.cboxIframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

#cboxContent,#cboxLoadedContent,#colorbox {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box
}

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -101px 0 no-repeat
}

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -130px 0 no-repeat
}

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -101px -29px no-repeat
}

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -130px -29px no-repeat
}

#cboxMiddleLeft {
  width: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) left top repeat-y
}

#cboxMiddleRight {
  width: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) right top repeat-y
}

#cboxTopCenter {
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xborder.png.pagespeed.ic.pWAefO-gnF.webp) repeat-x
}

#cboxBottomCenter {
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xborder.png.pagespeed.ic.pWAefO-gnF.webp) 0 -29px repeat-x
}

.cboxIframe {
  background: #fff
}

#cboxError {
  padding: 50px;
  border: 1px solid #ccc
}

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 28px
}

#cboxCurrent {
  left: 58px
}

#cboxLoadingOverlay {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xloading_background.png.pagespeed.ic.mQOzbZgEby.webp) center center no-repeat
}

#cboxLoadingGraphic {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/loading.gif) center center no-repeat
}

#cboxClose,#cboxNext,#cboxPrevious,#cboxSlideshow {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: 0 0
}

#cboxClose,#cboxNext,#cboxPrevious {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px
}

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef
}

#cboxPrevious {
  left: 0;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -75px 0 no-repeat
}

#cboxPrevious:hover {
  background-position: -75px -25px
}

#cboxNext {
  left: 27px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -50px 0 no-repeat
}

#cboxNext:hover {
  background-position: -50px -25px
}

#cboxClose {
  right: 0;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -25px 0 no-repeat
}

#cboxClose:hover {
  background-position: -25px -25px
}

.cboxIE #cboxBottomCenter,.cboxIE #cboxBottomLeft,.cboxIE #cboxBottomRight,.cboxIE #cboxMiddleLeft,.cboxIE #cboxMiddleRight,.cboxIE #cboxTopCenter,.cboxIE #cboxTopLeft,.cboxIE #cboxTopRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF)
}

.cw_video_gallery {
  clear: both;
  width: 100%
}

.cw_video_cols {
  float: left;
  white-space: nowrap
}

.cw_video_cols * {
  white-space: normal
}

.cw_video_item {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/shader.php?shade=white&percent=60);
  border: 1px solid #999;
  float: left;
  list-style: none;
  overflow: hidden
}

.cw_video_item img {
  border: none;
  height: auto;
  padding: 0;
  width: 100%
}

.cw_video_type_list .cw_video_item img {
  float: left
}

.cw_video_type_list .cw_video_item.cw_video_size_small img {
  margin-right: 10px;
  width: 148px
}

.cw_video_type_list .cw_video_item.cw_video_size_medium img {
  margin-right: 10px;
  width: 206px
}

.cw_video_type_list .cw_video_item.cw_video_size_large img {
  margin-right: 10px;
  width: 254px
}

.cw_video_item a {
  text-decoration: none
}

.cw_video_item_title {
  color: #555;
  text-align: center
}

.cw_video_type_list .cw_video_item_title {
  text-align: left
}

.cw_video_size_small {
  height: 180px;
  margin: 10px;
  padding: 10px;
  width: 148px
}

.cw_video_size_small .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 12px;
  line-height: 1.2em
}

.cw_video_type_list .cw_video_size_small {
  height: 111px;
  width: 280px
}

.cw_video_size_medium {
  height: 268px;
  margin: 10px;
  padding: 10px;
  width: 241px
}

.cw_video_size_medium .cw_video_item_title {
  padding: 10px 2px 2px;
  font-size: 14px;
  line-height: 1.4em
}

.cw_video_type_list .cw_video_size_medium .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 14px;
  line-height: 1.4em
}

.cw_video_type_list .cw_video_size_medium {
  height: 156px;
  width: 436px
}

.cw_video_size_large {
  height: 458px;
  margin: 10px;
  padding: 25px;
  width: 470px
}

.cw_video_size_large .cw_video_item_title {
  padding: 15px 2px 2px;
  font-size: 18px;
  line-height: 1.4em
}

.cw_video_type_list .cw_video_size_large .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 16px;
  line-height: 1.4em
}

.cw_video_type_list .cw_video_size_large {
  height: 192px;
  padding: 10px;
  width: 520px
}

.cw_video_description {
  margin: 1em 0
}
