.page-template-page-attorney {

  .content-wrapper {

    article {

      img.image.left.thumbnail {

        @include media('<tablet') {
          display: block;
          max-width: 47%;
          margin: 0 auto;
          float: none;
        }

      }

    }

  }

}