.page-template-template-locations-single-redo {
  .locations-heading {
    padding: 50px 0;

    h1 {
      color: #771F26;
      text-align: center;
      font-weight: bold;
    }

    h2 {
      color: #0a3c67;
      text-align: center;
      font-weight: bold;
    }
  }

  #breadcrumbs {
    margin-top: 0;
    margin-bottom: -59px;
    padding-top: 18px;

    ul {
      position: relative;
      float: left;
      left: 50%;
      padding: 0;
      list-style: none;
      margin-bottom: 0;


      li {
        position: relative;
        float: left;
        right: 50%;
        margin: 0 5px;
      }
    }

  }

  .content-wrapper {
    background: url('/wp-content/themes/cw-theme-two/assets/images/reflection-banner-fade.jpg') no-repeat center top #fff;
    padding-top: 45px;
  }

  .locations-map {
    border: 3px solid #0a3c67;
    position: relative;
    margin-bottom: 40px;
  }

  article {
    .side-address {
      margin-bottom: 0;

      .address-holder {
        //min-height: 300px;
      }

      .map-holder {
        z-index: 9;
        width: 100%;
      }

      h4 {
        text-align: center;
        padding: 10px 0;
        background: rgba(255, 255, 255, .7);
        color: #0a3c67;
      }

      address {
        background: transparent;

        .buttons {
          text-align: center;
          margin-top: 140px;

          .but-directions.lazyloaded {
            background: url('../assets/images/ico-pointer-alt.png') no-repeat 19px 50% #132F51 !important;
            color: #FFF;
            font-weight: bold;
          }

          .but-hours {
            background: url('../images/ico-time.png') no-repeat 12px 50% #132F51;
            color: #FFF;
            font-weight: bold;
          }
        }
      }
    }

    .address {
      background: transparent;
      padding-right: 0;
      position: relative;
      z-index: 99;
    }


  }

  .content-wrapper aside {
    padding-top: 0;
  }
}

@media(max-width: 767px){
  article .side-address .map-holder {
    height: 100%;
    position: absolute;
  }
}
@media(min-width: 768px) {
  .page-template-template-locations-single-redo {
    article {
      .address {
        height: 300px;
      }

      address {
        .buttons {
          margin-top: 140px;
        }
      }
    }
  }
}