.archive.post-type-archive-wpseo_locations {

  article {

    .side-address {

      h3 {
        font-weight: 400;
        line-height: 1;
        padding: 15px 0 14px 0;
        text-align: center;
        margin-bottom: 0px;
        text-transform: none;
        color: #0c4a7e;
        font-size: 27px;
      }

      h4 {
        color: #314657;
        font-size: 21px;
        font-weight: 700;
        line-height: 1.05;
        margin-bottom: 5px;
        text-align: left;
      }

    }

  }

}

