.page-template-page-practice-areas-clean .page-intro {
  font-size: 20px;
}

.practice-area-listing-title {
  text-align: center;
  font-weight: bold;
  margin-top: 15px;
}

.page-template-page-practice-areas-clean article h1 {
  font-weight: 100 !important;
  font-size: 56px !important;
}

.practice-listing-container {
  height: 310px;
  padding: 10px;
}

.additional-practice-areas h3 {
  margin: 60px 0 30px;
}

.practice-area-lists {
  border-left: 2px solid #771F26;
}

.practice-area-category {
  margin: 20px 0;
}

.page-template-page-practice-areas-clean .page-main-content h1 {
  text-align: center;
}

.practice-listing-container .img-container {
  background: #112e50;
  border-radius: 120px;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  padding: 15px;
  transition: all .3s;
}

.page-template-template-locations .practice-listing-container .img-container {
  background: #d6d6d6;
}

.practice-listing-container .img-container:hover {
  box-shadow: 0 0 20px #112e50;
  transform: rotate(-5deg);
}

.practice-listing-container img {
  margin: 0 auto;
}