// general rules for some easier to deal with columns on this page
.col-half {
  position: relative;
  width: 50%;
  float: left;
}

.relative {
  position: relative !important;
}

.practice-area-main {

  .practice-area-list {
    background: #f2f2f2;
    height: 650px;
    padding: 40px 5px;
    text-align: left;

    ul {
      max-width: 320px;
      margin: 0 auto;
      padding: 15px 0;

      li {
        margin: 15px 0;

        a {
          padding: 15px;
          color: #0a3c67;
          font-weight: bold;
          font-size: 18px;
          font-family: Montserrat, sans-serif;
        }
      }
    }
  }

  .practice-area-shader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    padding: 15px 25px;
    background: rgba(22, 47, 80, .8);
  }

  .practice-area-main-background {
    background-color: #4f6176;
    background-size: cover;

    background-repeat: no-repeat;
    height: 650px;
    padding: 15px 25px;

    .red-box {
      color: #FFF;
      background: #8D2931;
      width: 600px;
      position: absolute;
      top: 280px;
      left: -150px;
      padding: 50px;
      box-shadow: 0 0 15px rgba(25, 25, 25, .4);
      border-radius: 2px;

      h2 {
        font-family: 'Playfair Display', serif;
        font-size: 33px;
      }

      .content {
        color: #f5f2f2;
        font-size: 16px;
      }
    }
  }
}

@import '../components/block-dropdowns';

@media(max-width: 768px) {
  .col-half {
    width: 100% !important;
    float: none !important;
  }


  .practice-area-main {
    .practice-area-list {
      height: auto;
    }
  }

  .practice-area-main-background {
    height: auto !important;
    padding: 0 !important;
  }

  .practice-area-shader {
    height: auto !important;
  }

  .red-box {
    position: relative !important;
    width: 100% !important;
    left: 0 !important;
    top: 0 !important;
    margin: 0 auto;
    text-align: center;
    padding: 15px !important;
  }

}