.search-results {

  #wrapper {

    > header {
      background: none!important;

      #welcome {
        height: 435px;

        .left {
          float: left;
          width: 100%;
          display: none;

            .inner {
              position: absolute;
              bottom: -415px;
              max-width: 705px;
              width: 100%;
            }

        }

        .right {
          top: 30px;
          float: right;
          position: absolute;
          right: 0;
        }

        @extend %clearfix;

      }

    }

  }

}