.block-article.blog-item {

  .preview {

    h2 {
      font-family: Montserrat;
      font-size: 31px;
      font-weight: 500;
      line-height: 43px;
      color: #000;
    }

    h3 {
      color: #000000;
      font-family: Montserrat;
      font-size: 27px;
      font-weight: 400;
      line-height: 37px;
    }

    p {
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
    }

  }

}

.blog {

  .block-article.blog-item {

    .preview {

      p {

        a {
          display: none;
        }

      }

    }

  }

}

.qa_faqs-template-default,
.search-results {

  .block-article.blog-item {

    .meta {
      display: none;
    }

  }

}

