


.about-us {
  section {
    background: #F2F2F2;
    padding: 50px 25px;
    position: relative;

    h2 {
      font-size: 30px;
      font-family: "Playfair Display", serif;
      font-weight: bold;
      text-align: center;
      color: #153050;
    }
  }

  .main-banner-section {
    background-size: cover;
    background-position: center 20%;
    height: 700px;
    padding: 50px 0;

    .cta-main-left {
      background: rgba(21, 48, 80, .9);
      padding: 60px 75px;
      margin-top: 150px;
      width: 50%;

      h1 {
        color: #FFF;
        font-size: 49px;
        font-family: "Playfair Display", serif;
        margin-bottom: 35px
      }


      h5 {
        font-size: 16px;
        color: #FFF;
        font-weight: bold;
        font-family: Montserrat, sans-serif;
      }

      .page-section-links {
        color: #FFF;

        h5 {
          margin-bottom: 5px;
        }

        a {
          color: #FFF;
          margin: 0 5px;
          font-size: 16px;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .meet-the-law {
    .prev {
      position: absolute;
      left: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }

    .next {
      position: absolute;
      right: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }
  }

  .legal-team .team-info-container {
    opacity: 1;
  }

  .meet-our-legal-staff {
    padding-bottom: 100px;
    position: relative;

    .prev {
      position: absolute;
      left: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }

    .next {
      position: absolute;
      right: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }

    .glide-staff .glide-slide-container {
      width: 241px;
      height: 295px;
    }
  }

  .about-us-content-blocks {
    background: #FFF;
    color: #000;
    padding: 0;

    .left-video {
      float: left;
      width: 50%;
      height: 600px;
    }

    .left-image {
      float: left;
      width: 50%;
      height: 675px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    .right-content {
      float: left;
      width: 50%;
      padding: 35px 50px 35px;
      background: #FFF;

      h2 {
        color: #FFF;
        background: #153050;
        text-align: left;
        padding: 20px;
        margin-bottom: 25px;
      }

      .content {
        padding-bottom: 35px;
      }
    }
  }

  .our-case-results {
    .results-boxes {
      max-width: 1100px;
      margin: 0 auto;

      .results-box {
        display: block;
        float: left;
        width: 330px;
        max-width: 100%;
        margin: 25px 15px;
        text-align: center;
        box-shadow: 0 1px 9px rgba(2, 2, 2, .6);

        .results-top {
          width: 330px;
          max-width: 100%;
          height: 190px;
          position: relative;

          .results-shader {
            width: 100%;
            height: 190px;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s;
            background: rgba(21, 48, 80, .7);

            h3 {
              font-family: "Playfair Display", serif;
              font-weight: bold;
              font-size: 32px;
              margin-top: 75px;
              color: #fff;
              padding: 0 5px;
            }
          }

          .results-shader:hover {
            background: transparent;
          }
        }

        .results-bottom {
          padding: 25px;

          h3 {
            font-weight: bold;
            color: #153050;
            font-size: 20px;
          }

          a {
            background: #952A32;
            padding: 10px;
            color: #FFF;
            font-size: 14px;
          }
        }

      }
    }
  }

  .what-clients-say {
    background: #FFF;
    color: #000;
    position: relative;

    .read-all-reviews {
      margin: 25px auto 0;
      background: #952A32;
      padding: 10px;
      color: #FFF;
      font-size: 14px;
      display: block;
      text-align: center;
      width: 300px;
    }

    .glide-slide-container {
      width: auto;
      height: auto;
    }

    .client-info-container {
      padding: 35px;
      box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
      margin: 25px;
    }

    .client-name {
      font-weight: bold;
    }

    .prev {
      position: absolute;
      left: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }

    .next {
      position: absolute;
      right: 0;
      top: 40%;
      background: #153050;
      color: #FFF;
      font-size: 20px;
    }
  }

  .in-community {
    height: 600px;
    position: relative;
    background-size: cover;
    background-position: center 70%;

    .content-right {
      position: absolute;
      right: 0;
      top: 150px;
      width: 50%;

      .inner-container {
        background: rgba(21, 48, 80, .9);
        padding: 50px 100px;
        color: #FFF;

        h2 {
          color: #FFF;
          font-size: 44px;
          text-align: left;
        }

        .content {
          font-size: 16px;

          p {
            line-height: 30px;
          }

          a {
            color: #FFF;
            font-weight: bold;
          }

          a:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }


  /* Glider */
  .glide-slide-container {
    width: 240px;
    height: 360px;
    position: relative;
    background-repeat: no-repeat;
    margin: 0 auto;

    img {
      margin: 0 auto;
      display: block;
    }
  }

  .glide-staff {
    .glide-slide-container {
      width: 270px;
      height: 332px;
      position: relative;
      background-repeat: no-repeat;
      margin: 0 auto;
    }

    .glide__slides {
      height: 300px;
    }

  }


  @media(max-width: 991px) {
    .main-banner-section {
      .cta-main-left {
        width: 70%;
      }
    }

    .about-us-content-blocks {

      .left-video {
        display: none;
        float: none;
        width: 100%;
        height: auto;
        padding: 15px;
      }

      .left-image {
        float: none;
        display: none;
      }

      .right-content {
        float: none;
        width: 100%;
        padding: 0;

        .content {
          padding: 0 15px 35px;
        }
      }
    }

    .our-case-results {
      .results-boxes {
        .results-box {
          float: none;
          margin: 15px auto;
        }
      }
    }

    .in-community {
      .content-right {
        width: 70%;


        .inner-container {
          h2 {
            font-size: 36px;
          }
        }
      }
    }

    .next, .prev {
      width: 50% !important;;
      background: #952A32 !important;;
      top: initial !important;
      position: relative !important;
      float: left;
      color: #FFF;
    }
  }

  @media(max-width: 767px) {
    h2 {
      text-align: center !important;
    }



    .main-banner-section {
      .cta-main-left {
        width: 100%;
        padding: 24px 15px;

        h1 {
          font-size: 36px;
        }
      }
    }

    .in-community {
      padding: 0;

      .content-right {
        width: 100%;
        position: relative;
        top: initial;
        right: initial;
        padding-top: 50px;

        .inner-container {
          padding: 45px 15px;

          h2 {
            font-size: 32px;
          }
        }
      }
    }

    .what-clients-say {
      padding: 15px 0;
    }

    .glide__slides {
      margin-bottom: 0;
      height: 360px;
    }
    .meet-the-law {
      padding: 50px 0;
    }
    .meet-our-legal-staff {
      padding: 0 0 55px;
    }


    .glide-staff {
      .glide__slides {
        height: 300px;
      }
    }
  }
}



@import '../components/legal-team.scss';
