.page-template-template-attorney-bio {
  h1, h2, h3, h4 {
    font-family: "Playfair Display", "sans-serif";
  }

  .main-banner-section {
    h1, h2, h3, h4, h5, h6 {





      color: #FFF;
    }

    .content {
      color: #FFF;
    }
  }

  .meet-the-law {
    h1, h2, h3, h4, h5, h6 {
      text-align: initial;
      background: #153050;
      color: #FFF;
      padding: 15px;
    }
  }

  .attorney-credientials {
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;

    .creds-inner {
      background: rgba(21, 48, 80, .8);
      margin-top: 50px;
      padding: 50px;
      color: #fff;
      border-radius: 5px;

      h1, h2, h3, h4, h5, h6 {
        color: #FFF;
        text-align: left;
      }

      ul {
        li {
          list-style-type: disc;
        }
      }
    }
  }

  .form-box-container {

    padding: 60px;
  }


  .contact-form {
    padding: 150px 0;
  }
}

.attorney-video {
  .video-frame {
    margin: 0 auto;
    max-width: 990px;
    display: block;
    padding: 50px;

    iframe {
      width: 100%;
    }
  }

  .meet-our-legal-staff {
    .glide-staff {
      max-width: 1400px;
      margin: 0 auto;
    }
  }
}

.section-white {
  background-color: #FFF !important;
}

.lawyers-trust {
  padding: 60px 15px;

  .trust-badge {
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
    padding: 30px;
    height: 225px;

    img {
      margin: 0 auto
    }

    .badge-title {
      margin: 10px 0;
      text-align: center;
      color: #153050;
      font-weight: bold;
      font-size: 24px;
    }
  }
}

@media(max-width: 991px) {
  .meet-our-legal-staff {
    .glide__arrows {
      max-width: 240px;
      margin: 0 auto;
    }
  }
  .legal-team {
    .glide__arrows {
      max-width: 240px;
      margin: 0 auto;
    }
  }
}