$blue: #153050;
$red: #8D2931;
.page-template-template-case-results {
  font-family: 'Montserrat', 'Serif';

  h2 {
    font-family: 'Playfair Display', 'Serif';
  }

  h3 {
    color: $blue;
    font-weight: bold;
    font-family: 'Montserrat', 'Serif';
  }

  .case-results-header {
    min-height: 420px;
    background-size: cover;
    background-position: center center;
    position: relative;

    .header-left {
      position: absolute;
      left: 0;
      bottom: 150px;
      width: 50%;
      padding: 80px;
      background: $blue;
      font-size: 20px;

      h2 {
        color: #FFF !important;
        font-weight: bold;
        font-size: 34px;
      }
    }
  }

  .featured-settlement-section-title {
    margin: 30px 20px;
    font-weight: bold;
    color: $blue;
    font-size: 34px;
  }

  .case-results-main {
    padding: 0 25px;
    margin: 50px auto 0;
    max-width: 1500px;

    .featured-settlements {
      background: $blue;
      padding: 40px;
      margin: 25px 0;

      .settlement-title {
        h3 {
          color: #FFF;
          font-weight: bold;
        }
      }

      .settlement-year {
        h5 {
          color: #FFF;
        }
      }

      .settlement-amount {
        position: absolute;
        right: -10px;
        background: $red;
        color: #FFF;
        padding: 12px;
        font-weight: bold;
      }

      .content {
        color: #FFF;
      }
    }

    .settlements-main {
      padding: 40px;

      .settlements {
        border-bottom: 2px solid $blue;
        padding: 40px 0;

        h3 {
          font-weight: bold;
          color: $blue;
        }

        .content {
          color: $blue;
        }
      }
    }
  }

  .sidebar-forms {

    h3 {
      color: $blue;
      padding: 10px 0 20px;
    }

    .select-settlement-year {

    }

    .field {
      margin: 20px 0;
    }

    .btn {
      display: block;
      width: 100%;
      margin-top: 15px;
      padding: 15px 45px;
      background: $red;
      color: #FFF;
      font-weight: bold;
    }

    .filter-results {
      background: #CED5DC;
      padding: 50px;
      margin: 25px 0;
      box-shadow: 0 0 10px #dddd;

      .filter-fields {
        select {
          font-weight: bold;
          color: $blue;
          padding: 15px;
          border: 1px solid $blue;
          width: 100%;
          display: block;
        }
      }
    }

    .site-search-form {
      padding: 50px;
      margin: 25px 0;
      box-shadow: 0 0 10px #dddd;
      #search {
        box-shadow: 0 0 9px #eaeaea;
      }
    }

    .contact-dark-blue {
      padding: 50px;
      margin: 25px 0;
      background: $blue;
      box-shadow: 0 0 10px #dddd;

      h3 {
        color: #FFF !important;
      }

      p {
        color: #FFF;
      }
      input,textarea {
        border: 1px solid #ddd;
        padding: 15px;
        margin: 15px 0;
        color: $blue;
      }

      .wpcf7-submit {
        display: block;
        width: 100%;
        margin-top: 15px;
        padding: 15px 45px;
        background: $red;
        color: #FFF;
        font-weight: bold;
      }
    }


  }


  @media(max-width: 991px) {
    .page-template-template-community-involvement {
      .header-left {
        position: relative;
        width: 100%;
        left: initial;
        top: initial;
        bottom: initial;
        text-align: center;

      }
    }
  }

  @media(min-width: 992px) {
    .sidebar-forms {
      padding-left: 50px;
    }
  }
}
