.page-template-template-community-involvement {
  color: #162F50;
  a {
    font-weight: bold;
  }

  h1, h2, h3 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  h4, h5 {
    font-family: 'Montserrat', 'Serif';
    font-weight: bold;
  }

  h4 {
    a {
      color: #153050;
    }

    a:hover, a:focus {
      color: #153050;
    }
  }

  .post-image {
    margin-bottom: 25px;

    img {
      width: 100% !important;
    }
  }

  .read-more {
    margin-top: 20px;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
  }

  .read-more a, .read-more a:hover, .read-more a:visited {
    color: #782027;
  }
}

.community-content {
  margin: 25px 0 40px;
}


.community-involvement-header {
  background-size: cover;
  background-position: center bottom;
  height: 550px;
  position: relative;

  .header-left {

    position: absolute;
    left: 0;
    bottom: 100px;
    width: 50%;
    padding: 80px;
    background: #782027;
    color: #FFF;
    font-size: 20px;
  }
}

.grey-nav-thick {
  background: #F2F2F2;
  text-align: center;
  padding: 25px 0;

  ul {
    margin-bottom: 0;

    li {

      margin: 0 50px;
      list-style: none;
      display: inline-block;
      padding: 10px;
      font-weight: bold;
    }
  }

  a, a:hover {
    color: #153050
  }
}

.organization-block {
  margin: 50px 0 75px;
  box-shadow: 0 0 15px 15px rgba(0, 0, 0, .1);
  padding: 50px;


  .organization-info {
    color: #153050;

    a {
      color: #782027;
    }

    a:hover, a:visited {
      color: #782027;
    }

  }

  .organization-logo {

  }
}

.inner-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.miller-community, .upcoming-events, .recent-events, .organizations-we-support, .community-involvement-form {
  margin: 75px 0;

  h2 {
    font-size: 38px;
  }
}


.community-container {
  box-shadow: 0 0 15px rgba(50, 50, 50, .3);
  color: #162F50;
}

.community-box {
  padding: 25px;

  h4 {
    font-weight: bold;
  }
}

.community-involvement-form {
  padding: 75px 0 150px;
  margin-bottom: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  .community-content {
    color: #FFF;
    text-align: center;
  }
}

.community-form {
  background: #FFF;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px;
  color: #162F50;
  max-width: 700px;
  margin: 0 auto;

  h3 {
    text-align: center;
    color: #162F50;

  }

  label {
    text-align: left;
    color: #162F50;
  }

  input, textarea {
    padding: 25px;
    border: 2px solid #162F50;
    width: 100%;
  }

  .wpcf7-submit {
    color: #FFF;
    font-weight: bold;
    background: #782027;
    padding: 25px;
    text-align: center;
    width: 300px;
    margin-top: 25px;
    border-color: #631b22;
  }

}

@media(max-width: 991px) {
  .page-template-template-community-involvement {
    .post-image {
      img {
        width: auto !important;
      }
    }
  }

  .community-involvement-header {
    height: auto;
    text-align: center;
    padding-top: 200px;

    .header-left {
      position: relative;
      width: 100%;
      left: initial;
      top: initial;
      bottom: initial;
      text-align: center;

    }
  }
}

@media(max-width: 762px) {
  .miller-community, .upcoming-events, .recent-events, .organizations-we-support, .community-involvement-form {
    text-align: center;
  }
}