.main-communities-served {
  padding: 50px;
  h2 {
    font-family: 'Playfair Display', serif;
  }

  .location-box {
    position: relative;
    width: 496px;
    height: 240px;
    max-width: 100%;
    margin: 0 0 20px;
    background-size: cover;
    background-position: center center;

    a {
      color: #FFF;
      //margin-top: 40px;
      text-align: center;
    }

    h4 {
      position: relative;
      z-index: 99;
      padding-top: 100px;
      font-weight: bold;
    }

    h5 {
      color: #FFF;
      position: relative;
      z-index: 99;
      font-weight: bold;
    }


    .location-overlay {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 100%;
      height: 240px;
      background: rgba(21, 48, 80, .8);
      transition: .4s all;
    }

  }



  .location-overlay:hover {
    //background: transparent;
  }

  .counties-key {
    a {
      color: #000;
      font-weight: bold;
      display: block;
      margin: 25px 0;
    }

    a:hover {
      color: #000;
      text-decoration: underline;
    }
  }


}

.counties-repeatable-sections {
  padding: 20px 0;

  .panel-collapse {
    background-position: center top;
    background-repeat: no-repeat;

    h3 {
      color: #153050;
      font-weight: bold;
    }

    .city-practice-areas {
      border-bottom: 1.5px solid #952A32;
      border-top: 1.5px solid #952A32;


      .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border: 0 transparent !important;
        padding-top: 10px;
      }

      .panel {
        background-color: transparent !important;
        border: none !important;
      }

      .panel-group {
        margin-bottom: 0 !important;
      }

      .panel-heading {
        padding-left: 50px;
        padding-top: 35px;
        text-align: center;
        color: #fff;
        background-color: transparent !important;
      }

      h4.panel-title {
        text-align: left;

        a {
          font-weight: bold;
          text-align: left;
          color: #952A32;
          font-size: 22px;
        }

        .glyphicon {
          background: #782027;
          border-radius: 5px;
          color: #fff;
          padding: 8px;
          font-size: 18px;
          float: right;
        }

      }
    }


    .practice-listing {
      border-bottom: 1.5px solid #952A32;

      .practice-areas {
        margin: 0;
        padding: 0 0 0 50px;
        li {
          margin: 0;
          padding: 5px;

          a {
            font-weight: 700;
            font-size: 17px;
          }
        }
      }
    }
  }

  .county-listing {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 35px 15px;

    .cities {
      margin-top: 25px;
    }

    @media(max-width: 768px) {
      .county-main-image {
        margin-bottom: 15px;
      }
    }
  }
}



.page-template-template-communities-we-serve .block-dropdowns .panel-body {
    padding: 0 !important;
  }


@media(max-width: 768px) {
  .main-communities-served {
    .location-box {
        margin: 0 auto 20px;
      }
    }

  .center-mobile {
    text-align: center;
  }

  .main-communities-served {
    padding: 50px 0 0;
  }
}

@import '../components/block-dropdowns';

