.container-lg {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.wpcf7-response-output {
  text-align: center;
  padding: 5px;
  transition: all .3s;
}
.wpcf7-response-output.wpcf7-validation-errors, .wpcf7-response-output.wpcf7-mail-sent-ok {
  background: #fff;
}

.wpcf7-mail-sent-ok {
  color: green;
}

.wpcf7-validation-errors {
  color: #952a32;
}

.page-template-template-contact-us section {
  padding: 40px 0;
  background: #F6F6F8;

  h2 {
    color: #153050;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-weight: bold;
    margin-bottom: 60px

  }


}


.contact-us-main-banner {
  height: 650px;
  background-size: cover !important;
  background-position: center bottom !important;

}

.how-contact {
  background: #FFF !important;

  .box-container {
    box-shadow: 0 0 3px rgba(0, 0, 0, .8);
    padding: 25px;
    background: #FFF;
    text-align: center;
    max-width: 350px;
    margin: 10px auto;


    h3 {
      color: #153050;
      text-align: center;
      font-family: "Playfair Display", serif;
      font-weight: bold;
    }

    img {
      margin: 20px auto;
      display: block;
      max-width: 65px;
    }

    p {
      color: #000;
      text-align: center;
    }

    .btn-red {
      margin-top: 25px;
      background: #952A32;
      color: #FFF;
      text-align: center;
      font-weight: bold;
    }
  }
}

.our-locations {

  .box-holder.right {
    .map-box {
      right: -100px !important;

    }
  }

  .box-holder.left {
    .map-box {
      left: -100px !important;
    }
  }

  .box-holder {
    position: relative;
    width: 45%;
    height: 400px;
    float: left;
    margin-bottom: 125px;
  }


  .map-box {
    width: 100%;
    height: 100%;
    border: 35px solid #FFF;
    padding: 50px;
    position: absolute;
    right: -100px;
    top: -50px;
    z-index: 9;
  }

  .locations-info-box {
    width: 55%;
    float: left;
    padding: 100px 15px 15px 130px;
    background: #153050;
    position: relative;
    height: 450px;

    .office-info-title {
      font-weight: bold;
      margin-right: 25px;
      padding-right: 25px;
      text-transform: uppercase;
      color: #FFF;
    }

    .office-info {
      color: #FFF;
    }


    .location-header {
      //position: absolute;
      //top: -25px;
      //right: -50px;
      //width: 100%;
      //height: 100%;
      h3 {
        background: #782027;
        text-align: center;
        font-weight: bold;
        padding: 25px;
        color: #FFF;
        position: absolute;
        top: -25px;
        right: -50px;
        width: 80%;
      }
    }

    .get-directions {
      text-align: center;
      font-weight: bold;
      margin-top: 50px;

      a {
        color: #952A32;
      }
    }
  }

  .locations-info-box.left {
    padding: 100px 130px 15px 45px !important;

    h3 {
      left: -50px;
    }
  }

  .locations-info-box.right {
    padding: 100px 15px 15px 130px !important;

    h3 {
      right: -50px;
    }
  }

  .locations-container {
    margin-top: 90px;
  }
}

.dark-blue-bg {
  background: #153050;
}

.contact-form {
  background-size: cover !important;
  background-position: center top !important;
  background-repeat: no-repeat;

  .form-box-container {
    background: #153050;
    padding: 50px;
    max-width: 800px;
    margin: 0 auto;

    h2 {
      font-size: 40px;
      color: #FFF;
      text-align: center;
      font-weight: bold;
      font-family: "Playfair Display", 'serif';

    }

    p {
      color: #FFF;
      text-align: center;

    }
  }

  input {
    border: none;
    padding: 10px;
    color: #153050;
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
  }

  textarea {
    border: none;
    padding: 10px;
    color: #153050;
    margin: 10px auto;
    width: 100%;
    border-radius: 5px;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #969696;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #969696;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #969696;
  }

  .wpcf7-submit {
    margin-top: 25px;
    background: #952A32;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: auto !important;
  }
}

.ask-a-question {
  padding: 40px 0;
  background: #F6F6F8 !important;

  .question-input {
    margin: 0 auto;
    display: block;
    width: 691px;
  }

  h2 {
    text-align: center;
    margin-bottom: 15px !important;
  }

  p {
    text-align: center;
  }

  input {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 2px solid #ddd;
  }

  label {
    color: #152f50;
  }

  .wpcf7-submit {
    margin-top: 25px;
    background: #952A32;
    color: #FFF;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    width: auto !important;
  }

  .user-question-response {
    width: 600px;
    //box-shadow: 0 0 3px 2px rgba(50, 50, 50, .1);

  }

  .input-group-btn {
    background: none !important;
    padding: 0 !important;
    border: none !important
  }

  .btn-user-response {
    background: #952a32 !important;
    color: #FFF;
    font-weight: bold;
  }


}








@media(max-width: 767px) {
  .contact-us-main-banner {
    height: 350px !important;
    background-position: 80% bottom !important;
  }

  .our-locations {
    margin: 15px auto;

    .box-holder {
      width: 100%;
      float: none;
      display: none;

      .map-box {
        display: none;
      }
    }

    .locations-info-box.right, .locations-info-box.left {
      padding: 25px !important;
    }

    .locations-info-box {
      width: 100% !important;
      float: none !important;
      padding: 25px !important;

      h3 {
        position: relative !important;
        top: initial !important;
        left: initial !important;
        right: initial !important;
        width: initial !important;
      }

      .map-box-mobile {
        display: block;
        margin: 0 auto;
        width: 100%;
      }
    }


    .box-holder.right {
      .map-box {
        right: initial !important;
      }
    }

    .box-holder.left {
      .map-box {
        left: initial !important;
      }
    }

    .box-holder {
      position: relative !important;
      width: 100% !important;
      //height: 400px;
      float: initial !important;
      margin-bottom: 0 !important;
    }


    .map-box {
      width: 100% !important;
      height: 100% !important;
      border: 35px solid #FFF;
      padding: 50px;
      position: relative !important;
      right: initial !important;
      top: initial !important;
    }
  }
  .container-lg {
    width: 100%;
  }

  .ask-a-question {
    .user-question-response {
      width: 250px !important;
    }
  }
  .ask-a-question {
    .question-input {
      width: 327px !important;
    }
  }
}

.marg-top-15 {
  margin-top: 15px;
}