html {
  scroll-behavior: smooth;
}

body {
  //transition: background-color .5s;
}

body.noscroll {
  //position: fixed;
  overflow: hidden;
}



.education-page-content {
  #tap-buttons {
    display: none !important;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999999;
    top: 0;
    right: 0;
    background: rgba(10, 63, 97, .6);
    overflow-x: hidden;
    //transition: all 0.5s;
    padding-top: 60px;

    .category-container {
      float: left;
      width: 1200px;
    }


    .sidebar-nav-category {
      text-decoration: none;
      font-size: 25px;
      display: block;
      //transition: 0.3s;
      text-align: center;
      background: transparent no-repeat center center;
      background-size: cover;
      float: left;
      width: 300px;
      height: 200px;
      color: #FFF;
      padding: 15px;


      a {
        width: 300px;
        height: 200px;
        display: block;
        margin: 0 auto;
        color: #FFF;
        transition: all .5s;
        padding: 15px;
      }

      h4 {
        margin-top: 90px;
        font-weight: bold;

      }
    }

    .sidebar-container {
      margin: 0 auto;
      display: block;


      .sidebar-categories {
        width: 1200px;
        margin: 0 auto;
      }

      @media(max-width: 899px) {
        .sidebar-categories {
          width: 100%;
        }


        .sidebar-nav-category {
          width: 50%;

          a {
            width: 100% !important;
          }
        }

        .category-container {
          width: 100%;
        }
      }

      @media(min-width: 1300px) {
        .sidebar-categories {
          width: 1300px;
        }
      }

      //@media(min-width: 1200px) and (max-width: 1299px) {
      //  .sidebar-categories {
      //    width: 1200px;
      //  }
      //}

      @media(min-width: 900px) and (max-width: 1299px) {
        .close-tab {
          position: relative;
          right: -20px;
        }

        .sidebar-categories {
          width: 900px;
        }

        .sidebar-nav-category {
          width: 200px;
          height: 200px;

          a {
            width: 200px;
            height: 200px;
          }
        }

        .category-container {
          width: 800px;
        }
      }
    }

    .close-tab {
      float: left;
      width: 100px;
      background: #FFF;
      position: relative;
      right: -20px;
      top: 319px;

      button {
        width: 400px;
        display: block;
        text-align: center;
        padding: 15px 60px;
        background: #FFF;
        color: #0a3c67;
        font-weight: bold;
        font-family: "Playfair Display", serif;
      }
    }
  }

  #main-content {
    //transition: margin-left .5s;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  }

  .education-quick-links {
    width: 200px;
    position: fixed;
    right: -70px;
    top: 50%;
    z-index: 9999;

    button {
      display: block;
      text-align: center;
      padding: 15px 30px;
      background: #FFF;
      color: #0a3c67;
      font-weight: bold;
      font-family: 'Playfair Display', serif;
    }
  }

  .featured {
    padding: 15px 0;

    .sub-title {
      color: #FFF;
      margin-top: -45px;
      font-weight: bold;
    }

    .post-title {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
    }

    .post-description {
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      color: #153050;
    }

    .post-timestamp {
      padding-top: 40px;
      display: inline-block;
    }

    .owl-buttons {
      display: none;
    }

    .owl-nav {
      margin-top: 50px;
      text-align: center;

      .next {
        display: inline-block;
        margin-left: 25px;
        max-width: 60px;

        img {
          cursor: pointer;
          width: 100%;
        }
      }

      .prev {
        display: inline-block;
        margin-right: 25px;
        max-width: 60px;

        img {
          cursor: pointer;
          width: 100%;
        }
      }
    }

    .featured-video {
      margin-top: -150px;

      iframe {
        max-width: 100%;
      }
    }

    #featured-posts {
      padding-top: 40px;
    }
  }

  .education-section {
    color: #0a3f61;
    padding: 100px 0;
    background-position: center;
    background-size: cover;

    h3 {
      font-weight: bold;
      font-family: 'Playfair Display', serif;
    }

    h4 {
      font-weight: bold;
    }

    .education-category {

    }

    .sub-title {
      color: #782027;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
      margin-bottom: 5px;
      font-size: 16px;
    }

    .title {
      font-family: 'Playfair Display', serif;
      color: #0a3c67;
      font-weight: bold;
      font-size: 60px;
    }

    .education_info {
      max-width: 450px;
      font-size: 14px;
      color: #0a3c67;
      font-family: Montserrat, sans-serif;
    }

    .education-post-title {
      font-family: 'Playfair Display', serif;
    }

    .education-post-description {

    }

    .helpful-terms {
      color: #0a3f61;

      h4 {
      }

      .term {
        p {
          font-size: 14px;
        }
      }
    }

    .have-a-question {
      margin-top: 50px;

      h4 {
        font-family: 'Playfair Display', serif;
      }

      p {
        font-size: 14px;
      }

      a {
        font-size: 16px;
      }
    }

    .glossary-link {
      text-transform: uppercase;
      text-decoration: underline;
      color: #0a3f61;
      font-weight: bold;
      margin-top: 15px;
      font-size: 14px;
    }

    .more-posts {
      a {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        padding: 15px;
        display: block;
        background: #093c67;
        color: #FFF;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        margin-top: 55px;
      }
    }
  }

  .color-dark-blue {
    color: #153050 !important;
  }

  .category-posts {
    padding: 15px 0;

    .post-thumbnail {
      margin: 0 auto;
    }

    .post-container {
      padding: 0 15px 0 20px;

      .post-title {
        margin-bottom: 5px;
        font-weight: bold;
        font-family: 'Playfair Display', serif;
        font-size: 16px;

      }

      .post-description {
        font-size: 14px;
      }
    }
  }

  @media(max-width: 991px) {
    .featured {
      .sub-title {
        color: #0a3f61;
        margin-top: 15px;
        text-align: center;
      }

      #featured-posts {
        padding-top: 0;
      }

      .owl-nav {
        margin-top: 15px;
      }

      .featured-video {
        margin-top: 25px;

        iframe {
          margin: 0 auto;
          display: block;
        }
      }
    }
    .education-section {
      padding: 50px 0;

      .title {
        text-align: center;
        font-size: 40px;
      }

      h4 {
        text-align: center;
        font-size: 40px;
      }
    }

    .education_info {
      text-align: center;
      max-width: 100%;
    }


    .post-container {
      margin-top: 15px;
    }
  }

  @media(max-width: 767px) {
    .have-a-question {
      text-align: center;
    }

    .category-posts .post {
      padding: 0;
    }

    .education_info {
      margin: 0 auto;
    }
  }
}

@media(max-width: 899px) {
  .education-page-content {
    .sidenav {
      .rotate {
        transform: none !important;
        -webkit-transform: none !important;;
        -moz-transform: none !important;;
        -ms-transform: none !important;;
      }

      .close-tab {
        width: 100%;
        float: none;
        clear: both;
        background: none;
        top: 0;
        right: 0;
        text-align: center;

        button {
          margin: 0 auto;
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.page-template-template-education-center {
  #breadcrumbs {
    display: none;
  }

  #awards {
    display: none !important;
  }
}

.rotate {
  transform: rotate(-90deg);

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);
}

/* Search Form Bar */
/* Used on Multiple Pages */
.education-form-search {
  .form-search {
    border-radius: 0;
    height: 68px !important;
    width: 535px;
  }

  .input-group-btn {
    background: #0a3f61;
    border: 1px solid #0a3f61;
    height: 68px !important;
    width: auto;

    .btn {
      background: #0a3f61;
    }

    .search-btn {
      display: none;
      position: relative;
      top: 7px;
      padding: 5px;
      font-weight: bold;
    }

    .glyphicon {
      top: 0;
      padding: 15px;
    }
  }
}


@media(max-width: 600px) {
  .education-form-search {
    .form-search {
      width: 100%;
      float: none !important;
    }

    .input-group-btn {
      border-radius: 5px;
      float: none !important;
      display: block;
      margin: 0 auto;
      width: 200px !important;
      text-align: center;

      .search-btn {
        display: inline-block !important;
      }
    }
  }
}


@media(max-width: 991px) {
  .education-form-search {
    .form-search {
      width: 400px;
    }

    .input-group-btn {
      width: 56px;
    }

    .input-group {
      margin: 0 auto;
      //width: 300px;
    }

    .input-group-btn .glyphicon {
      top: 12px;
      padding: 5px;
    }
  }
}
/* End Search Form Bar */


/* Main Banner Section */
/* Used on multiple pages */
.main-banner-section {
  background: #0a3c67;
  padding: 150px 0;
  background-position: center;
  background-size: cover;

  h1 {
    font-family: 'Playfair Display', serif;
    color: #FFF;
    font-size: 80px;
    font-weight: bold;

  }
}

@media(max-width: 991px) {
  .main-banner-section {
    padding: 60px 0;

    h1 {
      text-align: center;
      font-size: 40px;
    }
  }
}