/* Variables */
/* Additional Mixins */

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-display: swap;
  font-weight: bold;

}

@font-face {
  font-family: 'Playfair Display';
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("ttf");
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("ttf");
  font-display: swap;
  font-weight: bold;
}



body {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.1s linear;
}

section {
  position: relative;
}

.page-template-template-wide-home.admin-bar .site-header-dark-blue {
  top: unset !important;
}

.page-template-template-wide-home {
  background: #F2F2F2;

  .site-header-dark-blue {
    position: absolute;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5998774509803921) 24%, rgba(255, 255, 255, 0) 100%);

    //background: #153050;

    .btn-blue {
      color: #FFF;
      font-weight: bold;
      background: transparent !important;
      border: 1px solid #FFF;
    }

    .btn-white {
      color: #FFF;
      font-weight: bold;
      background: #952A32 !important;
      border: 1px solid #952A32 !important;

    }
  }

  .site-header-fixed #wrapper {
    padding-top: 0 !important;
  }

}

.site-header-dark-blue .navbar-toggle .glyphicon {
  top: 2px;
  right: -2px;
  font-size: 18px
}

.site-header-dark-blue .navbar-collapse {
  clear: both;
  border-top: none;
  box-shadow: none
}

.site-header-dark-blue #main-navigation .site-logo {
  margin: 0 auto
}

.site-header-dark-blue .header-right-buttons {
  margin-top: 15px
}

.site-header-dark-blue .header-right-buttons .btn {
  padding: 7px 25px
}

.main-cta {
  width: 100%;
  height: 1000px;
  background-size: cover;
}

.cta-main-left {
  float: left;
  width: 40%;
  padding-top: 750px;

  .award-icons {
    padding: 0 30px;
  }
}

.cta-main-right {
  float: right;
  margin-top: 450px;
  width: 60%;
  background: rgba(21, 48, 80, .8);
  color: #FFF;
  font-family: Montserrat, sans-serif;

  a {
    color: #FFF;
  }


  h1 {
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    font-weight: bold;
  }

  .inner-container {
    padding: 95px 35px 95px 75px;


    .btn-set {
      margin-top: 15px;

      .btn {
        padding: 19px;
        width: 290px;
        font-size: 22px;
        color: #FFF;
        height: 69px;
      }

      .btn-transparent {
        margin-left: 15px;
      }
    }
  }
}


/* Global Buttons */
.btn-red {
  background: #952A32 !important;
  border: 1px solid #952A32;
  color: #FFF !important;
}

.btn-transparent {
  background: transparent !important;
  border: 1px solid #FFF;
}


/* Repeat Sections */
.repeat-section-block {
  position: relative;
  height: 1000px;
  background-size: cover;

  .side-block {
    position: absolute;
    width: 50%;
    //height: 400px;
    padding: 100px;
    background: rgba(21, 48, 80, .8);
    top: 400px;
    color: #FFF;

    .inner-container {
      //padding: 100px;
    }

    .title {
      font-family: "Playfair Display", serif;
      font-size: 45px;
      font-weight: bold;
    }

    .content {
      font-family: Montserrat, sans-serif;
      font-size: 19px;
    }

    .learn-more {
      a {
        color: #FFF;
        text-decoration: underline;

      }

      a:hover {
        color: #FFF;
      }
    }


    .content {

    }
  }

  .right {
    right: 0;
    text-align: right;
  }

  .left {
    left: 0;
    text-align: left;
  }

  .back-to-top {
    position: absolute;
    bottom: 25px;
    right: 50px;
    font-family: 'Playfair Display', serif;

    a {
      color: #FFF;
    }

    a:hover {
      color: #FFF;
    }

    span {
      padding: 10px;
      background: rgba(50, 50, 50, .5);

    }
  }

  .next-section {
    position: absolute;
    bottom: 0;
    right: 50%;
    left: 50%;

    a {
      color: #FFF;
    }

    span {
      background: rgba(50, 50, 50, .5);
      padding: 15px;
      font-size: 24px;
    }

  }

  .more-link {
    a {
      color: #FFF;
      margin-top: 15px;
      text-decoration: underline;
      display: block;
    }
  }
}

/* END Repeat Sections */


/* What We Handle */
.what-we-handle {
  padding: 70px 50px;

  .glide-practice-areas {
    position: relative;
  }

  h3 {
    font-family: 'Playfair Display', serif;
    color: #153050;
    font-size: 42px;
    font-weight: bold;
  }

  h5 {
    font-family: Montserrat, sans-serif;
    color: #153050;
    font-size: 24px;
  }

  .practice-area-container {
    transition: all .5s;
    margin: 0 auto;
    display: block;
  }

  .practice-listing-container {
    background-size: cover;
    width: 400px;
    height: 290px;
    float: left;
    position: relative;
    padding: 25px 10px;
    text-align: center;
  }

  .what-we-handle-info-container {
    width: 100%;
    height: 290px;
    position: absolute;
    top: 0;
    left: 0;
    //opacity: 0;
    transition: all .5s;
    background: rgba(21, 48, 80, .8);


    .practice-area-listing-title {
      margin-top: 100px;
      color: #FFF;
      font-size: 20px;
      padding: 0 5px;
    }

    .practice-area-listing-learn-more {
      margin: 15px auto 0;
      display: block;
      color: #FFF;
      opacity: 0;
      transition: all .4s;

      button {
        padding: 10px 25px;
        font-family: Montserrat, sans-serif;
        font-size: 17px;
        font-weight: bold;
      }
    }

    .practice-area-listing-learn-more button:hover {
      color: #FFF;
      text-decoration: underline;
    }
  }

  .visible-block {
    .what-we-handle-info-container {
      //opacity: 1;
      background: rgba(67, 109, 159, .5);
    }

    .practice-area-listing-learn-more {
      opacity: 1;
    }
  }
}

/** Link Directory **/
.link-directory {
  padding: 25px 0;
  background: #FFF;

  ul {
    margin: 0;
    transition: all .3s;
    text-align: center;

    li {
      display: inline;
      padding: 15px 10px;
      font-weight: bold;
      font-size: 16px;
      margin: 0 5px;

      a {
        color: #153050;
        font-weight:bold;
      }
    }
  }
}

.dynamic-border-bar {
  transition: all .3s;
  width: 0;
  height: 2px;
  margin-top: 20px;
  display: block;
  background: #952A32;
}

/* Link slider*/

.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}


.scroll-container {
  width: 600px;
  overflow: hidden;


  ul {

    white-space: nowrap;
    transition: all ease 750ms;
    position: relative;
  }

  ul li {

    display: inline-block;

    //background: green;

  }

  ul li a {

    padding: 10px;
    display: block;
    font-weight: bold;
    text-decoration: none;

  }

  ul li.active {

    //background: blue;

  }
}


/* Example wrapper */
.wrap {
  position: relative;
  margin: 3em 0;
}

/* Frame */
.frame {
  height: 250px;
  line-height: 250px;
  overflow: hidden;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 50px;

    li {
      //float: left;
      font-size: 15px;
      //width: 227px;
      width: auto;
      height: 100%;
      margin: 0 15px 0 0;
      padding: 0;
      background: #333;
      color: #ddd;
      text-align: center;
      cursor: pointer;

      display: inline;

    }
  }
}


.frame.minimal-nav {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  line-height: 50px;

  ul {
    li {
      background: transparent;
      height: 50px !important;

      a {
        color: #153050;
      }

      a:hover {
        color: #153050;
        text-decoration: underline;
      }
    }

    li.active {
      color: #000;
      background: transparent;
    }
  }
}


.frame ul li.active {
  color: #fff;
  background: #a03232;
}

/* Scrollbar */
.minimal-nav-container {
  padding: 0 15px;
  position: relative;
}

.scrollbar {
  margin: 25px 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 3px;
  background: #952A32;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .2);
}

.pages li:hover {
  background: #aaa;
}

.pages li.active {
  background: #666;
}

/* Controls */
.controls {
  margin: 25px 0;
  text-align: center;
}

.next {

  position: absolute;
  right: -10px;
  top: 65px;
  border: none;
  background: transparent;
}

.prev {

  position: absolute;
  left: -10px;
  top: 65px;
  border: none;
  background: transparent;
}

/* One Item Per Frame example*/
.oneperframe {
  height: 300px;
  line-height: 300px;
}

.oneperframe ul li {
  width: 1140px;
}

.oneperframe ul li.active {
  background: #333;
}

/* Crazy example */
.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}


/* End Link Slider */
/** END Link Directory **/


/* Glide Slider */
.glide__slides {
  height: 500px;
  margin-bottom: 0;
}

.glide__slide {
  background-size: cover;
  position: relative;
}

.glide-slide-overlay {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: 5;
  background: transparent;
  transition: all .5s;
}


.glide__arrow.next {
  right: -10px;
}

.glide__arrow.prev {
  left: -10px;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.5em 0px;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.5em;
  opacity: 1;
  cursor: pointer;
  transform: translateY(-50%);
  line-height: 1;
  padding: 9px 12px;
  transition: opacity 150ms ease 0s, border 300ms ease-in-out 0s;
  background: rgba(25, 25, 25, .6);
  border: none;
  font-size: 20px;

  span {
    font-size: 28px;
  }
}

.glide-slide-container {
  transition: all .3s;
  opacity: 0;
  position: relative;
  z-index: 9;
  color: #FFF;
  text-align: center;
  padding: 100px 30px 50px;

  .glide-title {
    h2 {
      font-weight: bold;
      font-family: "Playfair Display", sans-serif;
    }
  }

  .glide-content {
    font-family: Montserrat, sans-serif;
    font-size: 18px;
  }
}

.glide__slide--active {
  .glide-slide-overlay {
    background: rgba(21, 48, 80, .8);
  }

  .glide-slide-container {
    opacity: 1;
  }
}

footer {
  margin-top: 0 !important;
}

#videomodal iframe {
  max-width: 100%;
}

/* End What We Handle */

.client-stories {
  clear: both;
  padding: 70px 0;
}

/* Testimonial Block */
.testimonial {
  .left-block {
    height: 750px;
    float: left;
    width: 45%;
    background-position: center top;
    background-size: cover;
  }

  .right-block {
    height: 750px;
    float: left;
    width: 55%;
    background: #FFF;
    text-align: right;
    padding: 70px 65px;


    h2 {
      color: #0a3c67;
      font-weight: bold;
      font-family: "Playfair Display", 'sans-serif';
    }

    .content {
      font-family: Montserrat, sans-serif
    }

    .testimonial-box {
      text-align: left;
      background: #8D2931;
      padding: 75px;
      margin-left: -175px;

      .content {
        font-size: 30px;
        color: #FFF;
        font-family: "Playfair Display", 'sans-serif';

        a {
          color: #FFF;
          text-decoration: underline;
        }

        a:hover {
          color: #FFF;
        }
      }

      .stars {
        margin-bottom: 25px;
      }
    }
  }
}

.cta-sub {
  margin-top: 15px;
  font-size: 26px;
  text-align: center;

  a {
    color: #FFF;
    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
  }

  a:hover {
    text-decoration: none !important;
  }

}


/* END Testimonial Block */
@media(min-width: 1600px) {
  .practice-area-container {
    width: 1600px;
  }
}

@media(min-width: 1200px) {
  .minimal-nav-container {
    width: 1200px !important;
  }
}

@media(min-width: 1200px) and (max-width: 1599px) {

  .practice-listing-container {
    width: 300px;
  }

  .practice-area-container {
    width: 1200px;
  }
}

@media(max-width: 1199px) {
  .practice-area-container {
    width: 600px;
  }

  .what-we-handle .practice-listing-container {
    width: 300px;
  }

  .testimonial {
    .right-block {
      .testimonial-box {
        .content {
          font-size: 23px;
        }
      }
    }
  }
}


@media(max-width: 992px) {
  .main-cta {
    background-position: center bottom !important;

  }
  .what-we-handle {
    padding: 70px 0 !important;

    .glide__slides {
      height: 300px;
    }

    .glide-slide-overlay {
      height: 300px;
    }
  }

  .glide-practice-areas {
    .glide-content {
      a.btn-link {
        padding: 15px 35px;
        font-size: 18px;
        color: #FFF;
      }

      a.btn-link:active {
        color: #FFF;
      }
    }
  }
}

@media(min-width: 768px) and (max-width: 1300px) {
  .main-cta {
    padding-top: 500px;
  }

  .cta-main-left {
    display: none;
  }
  .cta-main-right {
    clear: both;
    width: 700px;
    text-align: center;
    margin-top: 0;

    .inner-container {
      padding: 50px;
    }

    h1 {
      font-size: 46px;
    }
  }

  .repeat-section-block {
    height: 800px;
  }

  .side-block {
    padding: 25px !important;
    width: 700px !important;
  }
}

@media(max-width: 767px) {
  .main-cta {
    padding: 300px 15px 0;
    //height: 450px;
    position: relative;
  }

  .cta-main-left {
    display: none;
  }

  .cta-main-right {
    width: auto;
    height: auto;
    margin: 0 auto;
    float: none;
    display: block;
    background: #153050;
    text-align: center;


    .inner-container {
      padding: 30px 15px;

      .btn-transparent {
        margin: 10px auto 0 !important;
        font-size: 18px;
        height: auto;
        padding: 15px;
        max-width: 100%;
      }
    }

    h1 {
      font-size: 24px;
      font-weight: normal;
    }

    .btn-red {
      display: none;
    }
  }

  .what-we-handle {
    //padding: 230px 0 20px !important;
  }

  .repeat-section-block {
    height: 600px;

    .title {
      font-size: 35px !important;
    }

    .content {
      font-size: 18px !important;
    }

    .side-block {
      width: 100% !important;
      text-align: center !important;
      position: absolute !important;
      bottom: 100px !important;
      top: 0;
      height: 600px;
      padding: 100px 15px 50px !important;

    }

    .side-block.shade {
      top: 0;
      height: 600px;
      background: rgba(255, 245, 245, .7);
      color: #153050;

      .more-link {
        a {
          color: #153050;
          margin-top: 15px;
          text-decoration: underline;
          display: block;
        }

        a:hover {
          color: #153050;
        }
      }

    }

  }

  .practice-area-container {
    max-width: 100%;
    width: 100% !important;
  }

  .practice-listing-container {
    width: 50% !important;
  }

  .link-directory {
    display: none;
  }

  .next-section {
    display: none;
  }

  .back-to-top {
    background: #952A32;
    width: 140px;
    padding: 10px;
    right: 50%;
    left: 50%;
    bottom: 0 !important;
    margin-left: -70px;

    span {
      padding: 0 !important;
      background: transparent !important;
    }
  }


  .testimonial {
    .left-block {
      display: none;
      height: 300px;
      float: none;
      clear: both;
      width: 100%;
      background-position: center top;
      background-size: cover;
    }

    .right-block {
      height: auto;
      float: none;
      clear: both;
      width: 100%;
      background: #FFF;
      text-align: center !important;
      padding: 50px 0;

      h2 {
        text-align: center;
      }

      .testimonial-box {
        text-align: center;
        padding: 15px;
        margin-left: 0 !important;

        .content {
          font-size: 17px;

        }

        .stars img {
          display: block;
          margin: 0 auto 25px;
        }
      }
    }
  }
}

.clearfix {
  clear: both;
  visibility: hidden;
  height: 0;
  width: 0;
  line-height: 0;
}

.clear {
  clear: both;
  visibility: hidden;
  height: 0;
  width: 0;
  line-height: 0;
}

@media screen and (max-width: 991px) {
  .main-cta {
    background-color: #153050;
    width: auto;
    height: 610px !important;
    position: relative;
    //padding: 300px 0px 0px 0px !important;
    padding: 0 !important;
    //margin-top: 170px;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center!important;
  }

  .page-template-template-wide-home .site-header-dark-blue {
    position: relative !important;
    background: #162f50;
  }

  .cta-main-right {
    position: absolute;
    bottom: 0;
    margin: 0 0 !important;
    height: auto !important;
    width: 100% !important;
    min-width: 300px;
    padding: 0 20px !important;
    color: #fff;
    font-family: Montserrat, sans-serif;
  }

  .navbar-toggle {
    display: block !important;
  }

  #main-navbar.navbar-collapse.collapse {
    display: none !important;
  }

  #main-navbar.navbar-collapse.collapse.in {
    display: block !important;
  }

  .what-we-handle {
    position: static !important;
  }
}

@media screen and (min-width: 992px) and (max-width: 1034px) {
  .navbar-toggle {
    display: none !important;
  }
  #main-navbar.navbar-collapse.collapse {
    display: block !important;
  }
  .site-header-dark-blue #main-navigation li {
    list-style: none;
    font-size: 14px !important;
    text-align: center;
  }
}

@media screen and (min-width: 1035px) {
  #main-navbar.navbar-collapse.collapse {
    display: block !important;
  }
  #main-navbar.navbar-collapse.collapse li {
    display: inline-block !important;
  }
  .navbar-toggle {
    display: none;
  }
  .site-header-dark-blue #main-navigation li {
    display: inline-block !important;
    font-weight: 700;

  }
  .navbar-header {
    float: none
  }
  .navbar-left, .navbar-right {
    float: none !important
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px
  }
  .navbar-nav > li {
    float: none
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px
  }
  .collapse.in {
    display: block !important
  }
}

@media screen and (min-width: 992px) {
  .main-cta {
    //margin-top: 100px !important;
    background-position: center top !important;
  }
  .site-header-dark-blue #main-navigation li:last-of-type {
    padding: 7px 0px 10px 7px;
  }
  .site-header-dark-blue .col-md-7 {
    margin-top: 10px;
  }
}

@media(max-width: 768px) {
  .main-cta {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center !important;
    padding: 0 !important;
  }


}

//@media(max-width: 515px) {
//  .main-cta {
//    //height: 395px !important;
//  }
//
//  .cta-main-right {
//    bottom: -190px !important;
//  }
//}



@import '../components/legal-team.scss';

