.page-template-template-home-reflection {
  h2 {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 1px 1px 0 rgba(25, 25, 25, .6);
  }

  .main-cta.lazyloaded {
    background: url('../assets/images/reflection-banner.jpg') no-repeat center top #FFF;

  }
  .main-cta {
    padding: 25px 15px;
    color: #0a3c67;
    background: #FFF;

    h1 {
      color: #0a3c67;
      font-weight: bold;
      font-size: 46px;
    }

    h2 {
      font-weight: normal;
      text-shadow: none;
      font-size: 26px;
    }

    h2, h3 {
      color: #0a3c67;
    }

    hr {
      background: #771F26;
      padding: 2px;
      width: 100%;
    }

    iframe {
      max-width: 100%;
      padding: 0 15px;
    }
  }

  .main-practice-areas {
    padding: 75px 15px 45px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #132f51 5%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #132f51 5%);
    background: linear-gradient(to bottom, #ffffff 0%, #132f51 5%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#132f51', GradientType=0);

    h2 {
      color: #FFF;
    }

    @media(min-width: 992px) {
      .col-sm-2 {
        width: 20%;
      }
    }

    .practice-area-listing-title {
      color: #FFF;
    }

    .practice-listing-container {
      padding: 0;

      .img-container {
        background: #FFF;
        border-radius: 150px;
        width: auto;
        height: auto;
        max-width: 160px;
        max-height: 160px;
      }
    }

  }

  .mission {
    padding: 75px 15px;

    background: url('../assets/images/team-bg.png') no-repeat top center #771F26;

    h2 {
      color: #FFF;
    }

    .mission-block {
      background: url('../assets/images/block.png') no-repeat center center transparent;
      text-align: center;
      color: #FFF;
      position: relative;
      height: 321px;
      max-width: 502px;
      margin: 15px auto;
      transition: all .5s;

      h2 {
        padding-top: 160px;
      }

    }

    .mission-block:hover {
      background: rgba(0,0,0,.5);
      border: 4px solid #FFF;
    }
  }

  .meet-our-team {
    border-bottom: 1px solid #FFF;
    padding: 25px 15px;
    background: #771F26;
    text-align: center;
    color: #FFF;

    img {
      padding: 25px;
      margin: 0 auto;
    }

    h2 {
    }


    h3 {
      font-weight: bold;
    }

    h4 {
      font-style: italic;
    }

    p {
      font-size: 24px;
    }

    a {
      color: #FFF;
      font-weight: bold;
    }

  }

  .testimonials {
    padding: 75px 15px;
    color: #FFF;
    background: #771F26;

    h2 {
      color: #FFF;
    }

    .quote-block img {
      float: none;
      margin: 25px auto;
    }

    .review-image {
      border-radius: 50px;
    }
  }

  .whats-new {
    padding: 25px 15px;
    background: url('../assets/images/team-bg.png') no-repeat center center #FFF;

    .atlanta-banner {
      max-width: 600px;
    }

    h2 {
      color: #0a3c67;
    }

    h3 {
      color: #0a3c67;
      font-weight: bold;
      font-size:22px;
      text-align: center;
    }

    h4 {
      text-align: center;

      a {
        color: #0a3c67;
        font-weight: bold;
        font-size:22px;
      }
    }
    h5 {
      color: #000;
      text-align: center;
      border-bottom: 1px solid #0a3c67;
    }

    .box {
      background: #FFF;
      padding: 20px;
      border-radius: 15px;
      margin-bottom: 15px;
    }

    .col-sm-6 {
      padding: 50px 15px
    }

    .from-blog-outer, .videos-outer, .in-community-outer, .case-results-outer {
      //height: 450px;
    }

    .from-blog-outer {
      background: #66CCCC;
      padding: 10px
    }

    .from-blog {
      padding: 20px;
      background: #66CCCC;
      border: 2px solid #FFF;
    }

    .in-community-outer {
      background: #7E92A4;
      padding: 10px
    }

    .in-community {
      padding: 20px;
      background: #7E92A4;
      border: 2px solid #FFF;

    }

    .videos-outer {
      background: #C1272D;
      padding: 10px
    }

    .videos {
      padding: 20px;
      background: #C1272D;
      border: 2px solid #FFF;

      h3 {
        color: #FFF;
     }

    }

    .case-results-outer {
      background: #132F51;
      padding: 10px
    }

    .case-results {
      padding: 20px;
      background: #132F51;
      border: 2px solid #FFF;

      h3 {
        color: #FFF;
      }

      .box {
        h4 {
          color: #C1272D;
          text-align: right;
          font-weight: normal;
          font-size: 36px;
        }

        p {
          color: #132F51;
          text-align: right;
        }
      }
    }


    .btn {
      border-radius: 25px;
      text-align: center;
      width: 100%;
      padding: 10px;
    }
  }

  .practice-listing-container .img-container {
    background: #FFF;
  }

  .video-data {
    .video-title {
      padding: 5px;
    }

    img {
      border-radius: 15px;
    }
  }
}

@media(max-width: 991px) {
  .page-template-template-home-reflection {
    .main-practice-areas {
      .practice-listing-container {
        padding: 5px;
      }
    }
  }
}


// Dark Blue Button - global
.btn-dark-blue {
  padding: 10px;
  border-radius: 10px;
  background: #496075;
  border: 1px solid #FFF;
  background: -moz-linear-gradient(top, #496075 0%, #163253 100%);
  background: -webkit-linear-gradient(top, #496075 0%, #163253 100%);
  background: linear-gradient(to bottom, #496075 0%, #163253 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e92a4', endColorstr='#163253', GradientType=0);
  color: #69C8C9;
}

.btn-dark-blue:hover {
  color: #FFF;
}

.btn-dark-red {
  padding: 10px;
  border-radius: 10px;
  background: #c1272d;
  background: -moz-linear-gradient(top, #c1272d 1%, #771f26 60%);
  background: -webkit-linear-gradient(top, #c1272d 1%, #771f26 60%);
  background: linear-gradient(to bottom, #c1272d 1%, #771f26 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c1272d', endColorstr='#771f26', GradientType=0);
  color: #FFF;
  border: 1px solid #000;
}

.btn-dark-red:hover {
  color: #FFF;
}

.btn-light-blue {
  color: #66cccb;
  border: 1px solid #FFF;
  padding: 10px;
}

.btn-white {
  background: #FFF;
  font-weight: bold;
  padding: 10px;
}

.text-underline {
  text-decoration: underline !important;
}