.page-template-template-education-center {
  #breadcrumbs {
    display: none;
  }

  .education-quick-links {
    width: 200px;
    position: fixed;
    right: -76px;
    z-index: 99;
    text-align: center;
    padding: 10px 5px;
    background: #FFF;
    color: #0a3c67;
  }

  .main-education-banner-section {
    background: #0a3c67;
    padding: 100px 0;

    h1 {
      font-family: 'Playfair Display', serif;
      color: #FFF;
      font-size: 80px;
      font-weight: bold;

    }
  }

  .featured {
    padding: 15px 0;

    .sub-title {
      color: #FFF;
      margin-top: -40px;
    }

    .post-title {
      font-family: 'Playfair Display', serif;
      font-weight: bold;
    }

    .post-description {
      font-family: 'Playfair Display', serif;
      font-size: 14px;
      color: #0a3c67;
    }

    .owl-buttons {
      display: none;
    }

    .owl-nav {
      margin-top: 30px;
      text-align: center;

      .next {
        display: inline-block;
        margin-right: 15px;

        img {
          cursor: pointer;
        }
      }

      .prev {
        display: inline-block;
        margin-left: 15px;

        img {
          cursor: pointer;
        }
      }
    }
  }


  .education-section {
    color: #0a3f61;
    padding: 50px 0;

    h3 {
      font-weight: bold;
      font-family: 'Playfair Display', serif;
    }

    h4 {
      font-weight: bold;
    }

    .education-category {

    }

    .sub-title {
      color: #782027;
      font-weight: bold;
      font-family: Montserrat, sans-serif;
    }

    .title {
      font-family: 'Playfair Display', serif;
      color: #0a3c67;
      font-weight: bold;
      font-size: 60px;
    }

    .education_info {
      max-width: 450px;
      font-size: 14px;
      color: #0a3c67;
      font-family: Montserrat, sans-serif;
    }

    .education-post-title {
      font-family: 'Playfair Display', serif;
    }

    .education-post-description {

    }

    .helpful-terms {
      color: #0a3f61;

      h4 {
      }
    }

    .have-a-question {
      margin-top: 50px;

      h4 {
        font-family: 'Playfair Display', serif;
      }

      p {
        font-size: 14px;
      }

      a {
        font-size: 16px;
      }
    }

    .more-terms {
      a {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase;
        padding: 15px;
        display: block;
        background: #093c67;
        color: #FFF;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        margin-top: 55px;
      }
    }
  }
}

.rotate {
  transform: rotate(-90deg);
  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}