#wrapper {
  transition: all .1s;
}

.other-info {
  margin: 20px 0;
  box-shadow: 0 0 8px rgba(150, 150, 150, .3);
  padding: 25px;

  h3 {
    color: #FFF;

  }

  ul {
    li {
      a {
        text-decoration: underline;
      }
    }
  }
}

.faq-section {
  clear: both;
}

#faq-list {
  .panel-heading {
    background: #0a3f61;
    text-align: left;
  }

  .panel-title {
    a {
      color: #FFF;
    }

    a:hover {
      color: #FFF;
    }

    i {
      color: #FFF;
    }
  }

  .more-less {
    float: right;
    color: #212121;
  }
}

.ask-a-question {
  background: #FFF !important;

  .container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  }

  .question-input {
    max-width: 100%;
  }
}

.contact-form {
  clear: both;
  //padding-left: 15px;

  .form-box-container {
    padding: 20px;
  }
}

.quick-link-block {
  h4 {
    color: #FFF;
  }
}

.get-in-touch, .related-topics {
  margin: 20px 0;
  padding: 25px;
  color: #FFF;
  background: #FFF;
  box-shadow: 0 0 8px rgba(150, 150, 150, .3);

  h3 {
    color: #000;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 14px;
    margin: 15px 0 !important;

    a {
      text-decoration: underline;
    }

    a, a:hover, a:focus {
      color: #000;
    }


  }

  .img-icon {
    max-width: 25px;
    display: inline-block;
    margin-right: 5px;
  }
}


.page-template-template-location-practice-area {
  .main-banner {
    background-size: cover;
    position: relative;
    background-position: 50%;
    padding: 50px 0;

    h1 {
      font-family: "Playfair Display", "serif";
      font-size: 40px;
    }

    .bg-shader {
      background: rgba(0, 0, 0, .6);
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
    }

    .content-box {
      float: right;
      //margin: 50px 0;
      background: rgba(22, 47, 80, 0.91);
      color: #FFF;
      width: 45%;
      padding: 50px;
      z-index: 2;
      position: relative;

      p {

      }
    }

    .btn-red {
      background: #952A32;
      padding: 15px;
      color: #FFF;
      display: block;
      font-size: 18px;
    }

    .btn-transparent {
      color: #FFF;
      padding: 10px;
      border-color: #FFF;
      display: block;
      font-size: 18px;
    }

    .btn-transparent:hover, .btn-transparent:focus {
      color: #FFF;
    }
  }

  @media(min-width: 992px) {
    .quick-link-block {
      padding-bottom: 200px;
    }
  }

  .quick-link-block.affix {
    top: 180px;
    max-width: 14.866667%;
    overflow-x: scroll;
    max-height: 100%;
    padding-bottom: 200px;
  }

  .quick-link-block.add-affix-right.affix {
    max-width: 23%;
  }

  h4 {
    font-family: "Playfair Display", "serif";
    font-weight: bold;
    font-size: 23px;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      margin: 3px 0;
      text-align: left;


      a {
        color: #0a3c67;
      }

      a:hover {
        color: #0a3c67;
      }
    }
  }


  .sub-title {
    color: #0a3c67;
    font-weight: bold;
    font-size: 35px;
    margin-top: 50px;
  }

  .bottom-border {
    margin: 5px auto 0;
    display: block;
    width: 50%;
    max-width: 250px;
    border-top: 2px solid #952A32;
  }

  .main-content {
    color: #153050;
    padding: 10px;

    ul, ol {
      background: #F2F2F2;
      padding: 10px 30px;
      margin: 40px 0 30px;
      list-style: none;

      li {
        padding-left: 20px;
        margin: 20px 0;
        font-size: 14px;
        position: relative;
      }
    }


    p {
      color: #153050;
    }

    h2 {
      font-family: "Playfair Display", "serif";
      color: #952A32;
      font-weight: bold;
      //font-size: 36px;
      font-size: 2em;
      line-height: 1.5em;
      margin: 40px 0 1em;
    }

    h2:first-of-type {
      margin-top: 0;
    }

    h3 {
      font-family: "Montserrat-SemiBold", "serif";
      color: #153050;
      margin: 40px 0 15px;
      font-weight: bold;
    }

    img {
      max-width: 100%;
    }

    a {
      text-decoration: underline;
    }
  }

  .why-choose {
    box-shadow: 0 0 25px 13px rgba(125, 125, 125, .1);
    margin: 50px 0 100px;

    .why-choose-banner {
      width: 100%;
      min-height: 300px;
      background-repeat: no-repeat;
      background-position: top left;
      //background-size: cover;
    }

    .content {
      padding: 50px 10px;

      h2 {
        font-family: "Playfair Display", "serif";
        font-weight: bold;
        color: #952A32;

        span {
          font-family: "Playfair Display", "serif";
          font-weight: bold;
        }
      }
    }

    ul {
      li {
        list-style-type: disc;
        list-style-position: inside;
      }
    }
  }


  .panel-heading {
    background: #000;
    text-align: center;
  }

  .container-sidebars {
    padding: 0 25px;
  }

  #videomodal {
    z-index: 99999;
    top: 100px;

    iframe {
      display: block;
      margin: 0 auto;
    }
  }

  .modal-content {
    background-color: #162f50;
  }

  .modal-footer {
    .btn {
      margin: 0 auto;
      display: block;
    }
  }

  @media(max-width: 992px) {
    .main-banner {
      float: none !important;
      width: 100%;
      margin: 0 auto;


      .content-box {
        float: none !important;
        width: 100% !important;

        .btn {
          margin: 5px auto;
        }
      }
    }

    .quick-link-block.add-affix-right.affix {
      position: relative !important;
      width: 100% !important;
      max-width: 100% !important;
      top: 0 !important;
    }
  }

  @media(max-width: 767px) {
    .main-banner {
      .content-box {
        text-align: center;
        margin: 0 !important;

        h1 {
          text-align: center;
        }


      }
    }
    .why-choose {
      margin: 50px 0;
      min-height: auto !important;

      .why-choose-banner {
        display: none;
        background-position: center top;
        background-size: cover;
      }
    }
  }

  .container-sidebars {
    padding: 0 10px;
  }

  .main-content {
    ol li, ul li {
      padding-left: 45px;
    }
  }

  .main-content {
    ul, ol {
      counter-reset: list_counter;
      margin: 40px -20px 30px;
    }

    ul > li:before, ol > li:before {
      counter-increment: list_counter;
      content: counter(list_counter);
      color: #ffffff;
      display: inline-block;
      position: absolute;
      top: 0;
      left: -20px;
      text-align: center;
      background-color: #771f26;
      border-radius: 20px;
      height: 25px;
      width: 25px;
      line-height: 25px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2px;
    }

    @media (max-width: 767px) {
      ul, ol {
        padding: 10px 15px;
      }

      ul > li:before, ol > li:before {
        left: 0;
      }
    }
  }

}


.link-blocks {
  transition: all .3s;
  background: #153050;
  padding: 20px 15px 25px;

  ul {
    li {
      margin: 20px 0;
      font-size: 14px;

      a {
        color: #FFF;

        .glyphicon {
          font-size: 10px;
        }
      }

      a:hover {
        color: #FFF !important;
      }
    }
  }
}