.category {
  .subscribe-box {
    .subscribe-btn {
      background: transparent;
      border: none;
      color: #FFF;
      font-size: 18px !important;
      margin-top: 5px;
    }
  }
}

.post-categories-page {
  .main-banner-duel-section {
    color: #FFF;

    h1 {
      font-family: "Playfair Display", serif;
      color: #fff;
      font-size: 80px;
      font-weight: 700;
    }


    .left-banner-block {
      color: #FFF;
      background-position: center top;
      float: left;
      width: 70%;

      .block-container {
        padding: 150px 50px
      }

    }

    .right-banner-block {
      float: left;
      width: 30%;
      position: relative;

      .block-container {
        padding: 50px 30px;
      }
    }


    .subscribe-box {
      .form-search {
        margin-left: 0;
        width: 450px;
      }

      .input-group-btn {
        background: #782027;
        border: none;
        padding: 10px 15px;
        font-weight: bold;
        font-size: 16px;

        .btn {
          background: none;
          margin-top: 10px;
        }
      }

      .subscribe-btn {
      }
    }

    @media(min-width: 992px) {
      .right-banner-block, .left-banner-block {
        height: 585px;
      }

      .right-banner-block {
        max-width: 600px;
        overflow: hidden;
      }

      .overlay-container {
        background: rgba(0, 0, 0, .5);
        height: 367px;
        margin: 0 -30px;
        max-height: 367px;
        width: 100%;
        position: absolute;

        span {
          text-align: center;
          position: absolute;
          top: 50%;
        }
      }

      .featured-media-container {
        //height: 367px;
        margin: 0 -30px;
        //max-height: 367px;
      }

      .category-featured-media {
        //margin: 0 -30px;
        //bottom: 0;
        //position: absolute;
        width: 100%;
        max-height: 367px;
        height: 367px;
        background-size: cover;

        img {
          max-height: 360px;
          position: relative;
          z-index: -1;
        }
      }
    }

    @media(max-width: 991px) {
      .subscribe-box .input-group-btn {
        width: auto;
      }

      h1 {
        font-size: 60px;
      }

      .left-banner-block {
        float: none;
        width: 100%;
        padding: 25px;
      }
      .right-banner-block {
        text-align: center;
        float: none;
        width: 100%;
        height: auto;
        min-height: auto;
      }

      .category-featured-media {
        max-width: 350px;
        margin: 0 auto;
      }


      .block-container {
        padding: 75px 10px;
      }
    }
  }


  .post-categories {
    padding: 25px 0;

    .category-information-action {
      box-shadow: 0 0 3px #666;

      .image-background {
        background: #0a3f61;
        padding: 25px 5px;
        height: 146px;
        transition: all .5s;

        img {
          text-align: center;
          margin: 0 auto;
        }
      }

      h5 {
        color: #153050;
        text-align: center;
        padding: 15px 5px;
        font-weight: bold;
      }
    }

    .category-information-dropdown {

      .inner-information {
        padding: 70px 0;
        background: #142f51;
        color: #fff;
        margin-bottom: 25px;
      }

      .category-post-block {
        padding: 25px;
      }

      h4 {
        font-weight: bold;
        font-family: Montserrat, sans-serif;
        margin-bottom: 15px;
      }

      .content {
        font-family: "Times New Roman", sans-serif;
        font-size: 14px;
      }

      a.read-more {
        text-decoration: underline;
        color: #FFF;
        font-size: 14px;
      }
    }


  }

  .legal-terms-block {
    color: #FFF;
    background: #153050;
    padding: 50px 0;
    font-family: "Playfair Display", sans-serif;
    font-size: 14px;

    .btn-full-glossary {
      padding: 15px;
      font-size: 18px;
      font-family: Montserrat, sans-serif;
      text-align: center;
      font-weight: 600 !important;
      letter-spacing: 1px;
    }
  }

}

@media(min-width: 768px) {

  .category-information-action.item-inactive .image-background {
    background: #CCC !important;
  }

  .category-information-action.item-inactive h5 {
    color: #CCC !important;
  }
  #post-category-dropdowns.category-panels-active {
    .category-information-action.item-inactive .image-background {
      background: #CCC !important;
    }

    .category-information-action.item-inactive h5 {
      color: #CCC !important;
    }
  }
}

@media(max-width: 767px) {
  .site-header-dark-blue .navbar-toggle {
    margin: 13px auto 0 !important;
  }

  .subscribe-box {
    .form-search {
      width: 100% !important;
      display: block;
    }

    .input-group-btn {
      margin-top: 15px;
    }
  }
  .category-information-dropdown.collapse.in {
    display: none !important;
  }

  .category-information-dropdown.mobile.hidden {
    display: block !important;
  }

  .main-banner-duel-section .left-banner-block .block-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}