.post-categories-page {
  .post-categories {

  }

  .featured-post-block {
    background: #FFF;
    padding-bottom: 25px;

    h3 {
      font-family: "Playfair Display", sans-serif;
      color: #0a3f61;
      font-weight: bold;
      font-size: 20px;
    }

    h4 {
      font-family: Montserrat, sans-serif;
      font-weight: bold;
      font-size: 14px;
      color: #0a3f61;
    }

    .category-content {
      color: #0a3f61;
      font-size: 14px;
    }
  }

  .helpful-terms {
    background: #0a3f61;

  }
}

@media (min-width: 1200px) {
  .post-categories-page .container {
    width: 90%;
  }
}
