.search-results-header {
  padding-top: 100px;
  padding-bottom: 50px;

  h1, h2 {
    font-family: "Playfair Display", Serif;
    color: #153050;
  }

  .search-query-result {

  }

  .search-query-result-count {
    color: #777777;
    font-size: 12px;
  }

  #new-search {
    text-align: right;
  }

  #btn-new-search {
    border: 3px solid #0a3f61;
    padding: 25px 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    background: transparent;
    color: #0a3f61;
  }

  #search-form {
    padding: 20px 0;
    transition: all .5s;
    opacity: 1;
    display: block;
    height: auto;
    width: 100%;

    #search {
      height: 49px;
    }
  }

  .input-group-btn {
    float: none;
    height: auto;
    background: #162f50;
    border: 1px solid #162f50;

    button {
      background: transparent !important;
      border: none !important;
      color: #fff !important;
    }
  }

  .bottom-border {
    border-bottom: 3px solid #0a3f61;
    padding-bottom: 40px;
  }
}

.form-hidden {
  height: 0 !important;
  padding: 0 !important;
  opacity: 0 !important;
  transition: all .3s;
}

.search-result {
  margin: 30px auto 60px;
  //max-width: 900px;
  box-shadow: 0 0 11px #d2cdcd;

  .search-results-container {
    padding: 50px;


    .search-result-title {
      font-weight: bold;
      color: #0a3f61;
    }

    .result-category {
      padding: 5px 10px;
      margin: 0 0 20px;
      text-align: center;
      font-size: 0.6em;

      a {
        color: #FFF;
      }

      a:hover, a:visited {
        color: #FFF;
      }
    }

    .result-content {
      color: #0a3f61;
      font-size: .8em;
    }

    .result-questions-answered {
      margin: 20px 0;

      .question-title {
        font-weight: bold;
        color: #0a3f61;
        font-family: "Playfair Display", serif;

        h3 {
          font-weight: bold;
          font-size: 1em;
          margin-bottom: 5px;
        }
      }

      .question-sub-title {
        color: #777777;
        font-size: 12px;
        font-style: italic;
      }


      ul.questions {
        margin: 20px 0;
        padding: 0 20px;
        counter-reset: list_counter;

        li {
          font-size: .7em;
          text-decoration: underline;
          color: #0a3f61;
          padding: 0 0 0 20px;
          margin: 15px 0;
          counter-increment: li;
          position: relative;

          a {
            color: #0a3f61;
          }
        }

        > li:before {
          counter-increment: list_counter;
          content: counter(list_counter) '.';
          color: #ffffff;
          display: inline-block;
          position: absolute;
          top: 0;
          left: -20px;
          text-align: center;
          background-color: #952A32;
          border-radius: 30px;
          height: 30px;
          width: 30px;
          line-height: 30px;
          font-size: 12px;
          font-weight: 700;
          letter-spacing: 0.2px;
        }
      }
    }
  }

  .search-result-footer {
    a {
      transition: all .4s;
      text-align: center;
      font-weight: bold;
      width: 50%;
      display: inline-block;
      padding: 25px;
      border: 2px solid #0a3f61;
      float: left;
    }

    a.left {
      background: #0a3f61;
      color: #FFF;
    }

    a.left:hover, a.left:focus {
      background: lighten(#0a3f61, 10%);
      color: #FFF;
    }

    a.right {
      background: #FFF;
    }

    a.right:hover, a.right:focus {
      background: #771f26;
      color: #FFF;
    }
  }
}

#search {
  font-style: italic;
}

.pagination {
  display: block;
  text-align: center;

  .prev, .next {
    display: none
  }

  a, span {
    padding: 10px;
    border: 1px solid #0a3f61;
    background: #0a3f61;
    color: #FFF;
    font-weight: bold;
  }

  .current, .dots {
    background: #FFF;
    color: #0a3f61;
  }
}

.contact-form {
  padding: 60px 0;
}

.search-results {
  .ask-a-question {
    background: #f6f6f8 !important;
  }

  h2 {
    color: #153050;
    font-family: "Playfair Display", serif;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
  }
}

@media(max-width: 767px) {
  .search-query-result {
    text-align: center;
  }

  .new-search {
    margin: 20px 0;
  }
  .search-result {

    .search-result-container {
      text-align: center;
    }

    .search-result-footer {
      a {
        width: 100%;
      }

      a.left {
        background: #0a3f61;
        color: #FFF;
      }
    }
  }
  #new-search {
    text-align: center !important;
  }
}