@font-face {
  font-family: 'miller-text';
  src: url('../assets/fonts/miller-text-regular.otf');
}

.color-yellow {
  color: #FFFF6E;
}

.legal-guides-arrow-block {
  background: #153050;
  color: #FFF;
  padding: 5px 20px;
  position: relative;
  text-align: center;
  display: inline-block;
  font-size: 14px;
}

.top-title {
  margin-bottom: 50px;
  //width: 60%;
  //margin-left: 20%;
  //float: left;
  padding: 25px;
  border-bottom: 5px solid #153050;

  .breadcrumbs {
    transition: all .3s;
    color: #777777;
    font-family: "Montserrat", serif;
    font-size: 14px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 25px;

    a {
      color: #777777;
    }

    a:hover, a:visited {
      color: #999999;
    }

  }
}

#share {
  text-align: right;

  .jssocials-share {
    padding: 10px 13px;
    display: inline-block;
    color: #777777;
  }
}

#pointer, .pointer {
  border: solid 10px transparent;
  border-right-color: #153050;
  position: absolute;
  margin: -20px 0 0 0;
  right: -15px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.right-sidebar {
  .quick-link-block {

    .learn-more-buttons {
      background: #d9d9d9;
      padding: 20px;
      color: #000;
      text-align: center;
      margin-bottom: 30px;

      h1,h2,h3,h4 {
        font-weight: bold;
        font-family: "Playfair Display",serif;
      }

      p {
        font-family: "Playfair Display",serif;
      }

      a {
        display: block;
        padding: 15px;
        background: #ffc001;
        color: #000;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        width: 100%;
        border: 2px solid #0a3f61;
        border-radius: 5px;
      }
    }
    .contact-form {
      h2 {
        font-size: 26px;
      }
    }
  }
}

.single-article-template {
  padding: 0;

  .content-wrapper {
    padding-top: 0;
  }

  .contact-form {
    .wpcf7-submit {
      width: 100% !important;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background-color: #A83A43;
      margin-top: 0;
    }
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 42px;
    line-height: 50px;
    border-bottom: none;
    font-weight: bold;
    color: #153050;
    margin-bottom: 35px;
  }

  .sidebar-toggle {
    .glyphicon-chevron-right {
      transition: all .5s;
      transform: rotate(90deg);
    }
  }


  .sidebar-toggle.collapsed {
    .glyphicon-chevron-right {
      transform: rotate(0deg);
    }
  }

  .article-main-content {
    padding: 15px;
  }

  /* Full Width Container*/
  @media (min-width: 1200px) {

  }

  .content-wrapper article {
    width: auto;
  }

  article {
    color: #153050;
    font-family: Montserrat, sans-serif;
    font-size: 16px;

    p {
      font-size: 18px;
      color: #153050;
    }


    h1 {
      font-family: "Playfair Display", serif;
      font-size: 42px;
      line-height: 50px;
      border-bottom: none;
    }

    h2 {
      font-family: "Playfair Display", "serif";
      color: #952A32;
      font-weight: bold;
      font-size: 36px;
      line-height: 52px;
      margin: 40px 0 15px;
    }

    h2:first-of-type {
      margin-top: 0;
    }

    h3 {
      font-family: "Montserrat-SemiBold", "serif";
      color: #153050;
      margin: 40px 0 15px;
      font-weight: bold;
    }

    h4 {
      color: #153050;
      font-family: "Playfair Display", serif;
    }

    h5 {
      color: #153050;
      font-family: "Playfair Display", serif;
    }

    img {
      max-width: 100%;
    }

    a {
      text-decoration: underline;
    }
  }

  #blog-sidebar {
    background: #153050;
    padding: 20px 15px 25px;
    width: inherit;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
  }

  .quick-links-sidebar {
    float: left;
  }

  .wpcf7-submit {
    display: block;
    width: 100% !important;
    padding: 25px 5px;
  }

  .main-content {
    color: #153050;
    padding: 10px;

    ul, ol {
      background: #F2F2F2;
      padding: 10px 30px;
      margin: 40px 0 30px;
      list-style: none;

      li {
        padding-left: 20px;
        margin: 20px 0;
        font-size: 14px;
        position: relative;
      }
    }


    p {
      color: #153050;
    }

    h2 {
      font-family: "Playfair Display", "serif";
      color: #952A32;
      font-weight: bold;
      font-size: 36px;
      line-height: 52px;
      margin: 40px 0 15px;
    }

    h2:first-of-type {
      margin-top: 0;
    }

    h3 {
      font-family: "Montserrat-SemiBold", "serif";
      color: #153050;
      margin: 40px 0 15px;
      font-weight: bold;
    }

    img {
      max-width: 100%;
    }

    a {
      text-decoration: underline;
    }


    ul, ol {
      counter-reset: list_counter;
    }

    ul > li:before, ol > li:before {
      counter-increment: list_counter;
      content: counter(list_counter);
      color: #ffffff;
      display: inline-block;
      position: absolute;
      top: 0;
      left: -20px;
      text-align: center;
      background-color: #952A32;
      border-radius: 20px;
      height: 25px;
      width: 25px;
      line-height: 25px;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: 0.2px;
    }


    @media (max-width: 767px) {
      ul > li:before, ol > li:before {
        left: 0;
      }
    }
  }


  @media(min-width: 992px) {
    #share {
      margin-bottom: 15px;
    }
    .container {
      width: 95%;
    }

    .quick-links-sidebar {
      width: 20%;

      .article-quick-links {
        padding-right: 30px;
      }
    }

    .article-main-content {
      //width: 60% !important;
      margin-left: 20%;
    }

    .right-sidebar {
      width: 20%;
      margin-left: 80%;
      margin-top: -30px;
      padding-left: 15px;

      .quick-link-block {

        .contact-form {
          padding-left: 0;
        }
      }


    }

    .main-full-width {
      width: 100% !important;
      margin: 0 auto !important;
    }


    #blog-sidebar.collapse {
      display: block !important;
    }

    .fixed-sidebar {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 999;
      height: 100%;
      max-width: 278px;
    }
  }

  @media(max-width: 1199px) {

  }
  @media(max-width: 991px) {
    .link-sidebar {
      width: 100%;

      .quick-links-sidebar {
        clear: both;
        float: none;
        max-width: 700px;
        margin: 0 auto 20px;
        position: relative !important
      }
    }

    .article-main-content {
      //width: 60% !important;
      margin: 0 auto !important;
      width: 100%;
      text-align: center;
    }

    .right-sidebar {
      clear: both;
    }

    .top-title {
      //width: 100%;
      //margin-left: 0;
    }

    .sidebar-opener {
      box-shadow: 0 0 5px rgba(0, 0, 0, .3);
      position: relative;
    }
    .breadcrumbs {
      margin-top: 20px;
    }
  }

  @media(min-width: 1200px) {
    .fixed-sidebar {
      max-width: 350px;
    }
  }

  @media(max-width: 1400px) {
    .contact-form {
      clear: both;
    }

    .article-main-content {
      width: 80%;
    }

    .right-sidebar {
      margin: 0 auto;
      width: auto;
      clear: both;
    }
  }

  @media(min-width: 1401px) {
    .contact-form {
      clear: none !important;
    }
    .article-main-content {
      width: 60% !important;
    }

  }
}


@media(max-width: 767px) {
  #share {
    text-align: center !important;
  }

  .single-article-template {
    padding: 0;

    .article-main-content {
      width: 100%;
    }

    .content-wrapper {
      padding-top: 0 !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .top-title {
      text-align: center;

      .breadrumbs {
        text-align: center;
      }

      .col-xs-4 {
        margin: 0 auto;
        width: 100%;
      }
    }

    .get-in-touch {
      text-align: center;
    }
  }
}

