iframe {
  max-width: 100%;
}
.color-white {
  color: #FFF !important;
}

.bold {
  font-weight: bold !important;
}

.back-to-top {
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-family: 'Playfair Display', serif;

  a {
    color: #FFF;
  }

  a:hover {
    color: #FFF;
  }

  span {
    padding: 10px;
    background: rgba(50, 50, 50, .5);

  }
}

@media(max-width: 767px) {
  .back-to-top {
    background: #952A32;
    width: 140px;
    padding: 10px;
    right: 50%;
    left: 50%;
    bottom: 0 !important;
    margin-left: -70px;

    span {
      padding: 0 !important;
      background: transparent !important;
    }
  }
}