

header.site-header {
  background: url('../assets/images/header-city-bg.jpg') center top no-repeat #FFF;
  background-size: cover;

  .contact-now-cta {
    color: #132F51;
    font-size: 18px;
    text-align: center;
    margin-top: 75px;

    .phone-number {
      font-size: 50px;
      font-weight: bold;
    }

    .call-cta {
      font-weight: bold;
    }
  }

  .header-box {
    background: rgba(250, 250, 250, .7);
    padding: 10px;
    border-radius: 20px;
    color: #132F51;

    .header-info p {
      font-size: 16px;
      color: #132F51;
    }
  }

  .btn {
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin: 5px auto;
  }

  //.header-img-container {
  //  position: relative;
  //  min-height: 356px;
  //
  //  img {
  //    position:absolute;
  //    bottom: 0
  //  }
  //}
  .btn-dark {
    padding: 10px;
    border-radius: 10px;
    background: #163253;
    border: 1px solid #FFF;
    //background: -moz-linear-gradient(top, #496075 0%, #163253 100%);
    //background: -webkit-linear-gradient(top, #496075 0%, #163253 100%);
    //background: linear-gradient(to bottom, #496075 0%, #163253 100%);
    //filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e92a4', endColorstr='#163253', GradientType=0);
    color: #FFF;
    transition: all .4s;
  }

  .btn-dark:hover {
    background: #496075;

  }
}

.navigator {
  background: #153253 !important;
}

@media(min-width: 992px) {
  .header-img-container {
    position: relative;
    min-height: 300px;

    img {
      position: absolute;
      bottom: 0
    }
  }
}

@media(max-width: 991px) {
  .header-right-buttons {
    .btn {
      margin: 5px;
    }
  }
}
