.page-template-template-home-reflection {
  h2 {
    font-weight: bold;
    font-size: 38px;
    text-shadow: 1px 1px 0 rgba(25,25,25, .6);
  }

  .main-cta {
    padding: 25px 15px;
    color: #0a3c67;
    background: url('../assets/images/reflection-banner.jpg') no-repeat center top #FFF;

    h1 {
      color: #0a3c67;
      font-weight: bold;
      font-size: 46px;
    }

    h2 {
      font-weight: normal;
      text-shadow: none;
      font-size: 26px;
    }

    h2, h3 {
      color: #0a3c67;
    }

    hr {
      background: #771F26;
      padding: 2px;
      width: 100%;
    }

    iframe {
      max-width: 100%;
      padding: 0 15px;
    }
  }

  .main-practice-areas {
    padding: 75px 15px 15px;
    background: #ffffff;
    background: -moz-linear-gradient(top,  #ffffff 0%, #132f51 5%);
    background: -webkit-linear-gradient(top,  #ffffff 0%,#132f51 5%);
    background: linear-gradient(to bottom,  #ffffff 0%,#132f51 5%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#132f51',GradientType=0 );

    h2 {
      color: #FFF;
    }

    @media(min-width: 992px) {
      .col-sm-2 {
        width: 20%;
      }
    }

    .practice-area-listing-title {
      color: #FFF;
    }

    .practice-listing-container {
      padding: 0;

      .img-container {
        background: #FFF;
        border-radius: 150px;
        width: auto;
        height: auto;
        max-width: 160px;
        max-height: 160px;
      }
    }

  }

  .mission {
    padding: 25px 15px;

    background: url('../assets/images/team-bg.png') no-repeat top center #771F26;

    h2 {
      color: #FFF;
    }

    .mission-block {
      background: url('../assets/images/block.png') no-repeat center center transparent;
      text-align: center;
      color: #FFF;
      position: relative;
      min-height: 350px;
      background-size: contain;
      max-width: 500px;
      margin: 0 auto;

      h2 {
        padding-top: 175px;
      }
    }
  }

  .meet-our-team {
    padding: 25px 15px;

    background: #771F26;

    h2 {
      color: #FFF;
    }
  }

  .testimonials {
    padding: 25px 15px;

    background: #771F26;

    h2 {
      color: #FFF;
    }
  }

  .whats-new {
    padding: 25px 15px;

    h2 {
      color: #0a3c67;
    }
  }

  .practice-listing-container .img-container {
    background: #FFF;
  }
}

@media(max-width: 991px) {
  .page-template-template-home-reflection {
    .main-practice-areas {
      .practice-listing-container {
        padding: 5px;
      }
    }
  }
}


// Dark Blue Button - global
.btn-dark-blue {
  padding: 12px;
  border-radius: 10px;
  background: #496075;
  background: -moz-linear-gradient(top, #496075 0%, #163253 100%);
  background: -webkit-linear-gradient(top, #496075 0%, #163253 100%);
  background: linear-gradient(to bottom, #496075 0%, #163253 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e92a4', endColorstr='#163253', GradientType=0);
  color: #69C8C9;
}

.btn-dark-red {
  padding: 12px;
  border-radius: 10px;
  background: #496075;
  background: -moz-linear-gradient(top, #496075 0%, #163253 100%);
  background: -webkit-linear-gradient(top, #496075 0%, #163253 100%);
  background: linear-gradient(to bottom, #496075 0%, #163253 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7e92a4', endColorstr='#163253', GradientType=0);
  color: #69C8C9;
}