/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: 'FontAwesome';
  src: url("../../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-lg {
  font-size: 1.33333333em;
  line-height: .75em;
  vertical-align: -15%; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-fw {
  width: 1.28571429em;
  text-align: center; }

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none; }

.fa-ul > li {
  position: relative; }

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: .14285714em;
  text-align: center; }

.fa-li.fa-lg {
  left: -1.85714286em; }

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right {
  margin-left: .3em; }

.pull-right {
  float: right; }

.pull-left {
  float: left; }

.fa.pull-left {
  margin-right: .3em; }

.fa.pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  filter: none; }

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

.fa-glass:before {
  content: "\f000"; }

.fa-music:before {
  content: "\f001"; }

.fa-search:before {
  content: "\f002"; }

.fa-envelope-o:before {
  content: "\f003"; }

.fa-heart:before {
  content: "\f004"; }

.fa-star:before {
  content: "\f005"; }

.fa-star-o:before {
  content: "\f006"; }

.fa-user:before {
  content: "\f007"; }

.fa-film:before {
  content: "\f008"; }

.fa-th-large:before {
  content: "\f009"; }

.fa-th:before {
  content: "\f00a"; }

.fa-th-list:before {
  content: "\f00b"; }

.fa-check:before {
  content: "\f00c"; }

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "\f00d"; }

.fa-search-plus:before {
  content: "\f00e"; }

.fa-search-minus:before {
  content: "\f010"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-signal:before {
  content: "\f012"; }

.fa-gear:before, .fa-cog:before {
  content: "\f013"; }

.fa-trash-o:before {
  content: "\f014"; }

.fa-home:before {
  content: "\f015"; }

.fa-file-o:before {
  content: "\f016"; }

.fa-clock-o:before {
  content: "\f017"; }

.fa-road:before {
  content: "\f018"; }

.fa-download:before {
  content: "\f019"; }

.fa-arrow-circle-o-down:before {
  content: "\f01a"; }

.fa-arrow-circle-o-up:before {
  content: "\f01b"; }

.fa-inbox:before {
  content: "\f01c"; }

.fa-play-circle-o:before {
  content: "\f01d"; }

.fa-rotate-right:before, .fa-repeat:before {
  content: "\f01e"; }

.fa-refresh:before {
  content: "\f021"; }

.fa-list-alt:before {
  content: "\f022"; }

.fa-lock:before {
  content: "\f023"; }

.fa-flag:before {
  content: "\f024"; }

.fa-headphones:before {
  content: "\f025"; }

.fa-volume-off:before {
  content: "\f026"; }

.fa-volume-down:before {
  content: "\f027"; }

.fa-volume-up:before {
  content: "\f028"; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-barcode:before {
  content: "\f02a"; }

.fa-tag:before {
  content: "\f02b"; }

.fa-tags:before {
  content: "\f02c"; }

.fa-book:before {
  content: "\f02d"; }

.fa-bookmark:before {
  content: "\f02e"; }

.fa-print:before {
  content: "\f02f"; }

.fa-camera:before {
  content: "\f030"; }

.fa-font:before {
  content: "\f031"; }

.fa-bold:before {
  content: "\f032"; }

.fa-italic:before {
  content: "\f033"; }

.fa-text-height:before {
  content: "\f034"; }

.fa-text-width:before {
  content: "\f035"; }

.fa-align-left:before {
  content: "\f036"; }

.fa-align-center:before {
  content: "\f037"; }

.fa-align-right:before {
  content: "\f038"; }

.fa-align-justify:before {
  content: "\f039"; }

.fa-list:before {
  content: "\f03a"; }

.fa-dedent:before, .fa-outdent:before {
  content: "\f03b"; }

.fa-indent:before {
  content: "\f03c"; }

.fa-video-camera:before {
  content: "\f03d"; }

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "\f03e"; }

.fa-pencil:before {
  content: "\f040"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-adjust:before {
  content: "\f042"; }

.fa-tint:before {
  content: "\f043"; }

.fa-edit:before, .fa-pencil-square-o:before {
  content: "\f044"; }

.fa-share-square-o:before {
  content: "\f045"; }

.fa-check-square-o:before {
  content: "\f046"; }

.fa-arrows:before {
  content: "\f047"; }

.fa-step-backward:before {
  content: "\f048"; }

.fa-fast-backward:before {
  content: "\f049"; }

.fa-backward:before {
  content: "\f04a"; }

.fa-play:before {
  content: "\f04b"; }

.fa-pause:before {
  content: "\f04c"; }

.fa-stop:before {
  content: "\f04d"; }

.fa-forward:before {
  content: "\f04e"; }

.fa-fast-forward:before {
  content: "\f050"; }

.fa-step-forward:before {
  content: "\f051"; }

.fa-eject:before {
  content: "\f052"; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-plus-circle:before {
  content: "\f055"; }

.fa-minus-circle:before {
  content: "\f056"; }

.fa-times-circle:before {
  content: "\f057"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-question-circle:before {
  content: "\f059"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-crosshairs:before {
  content: "\f05b"; }

.fa-times-circle-o:before {
  content: "\f05c"; }

.fa-check-circle-o:before {
  content: "\f05d"; }

.fa-ban:before {
  content: "\f05e"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-arrow-right:before {
  content: "\f061"; }

.fa-arrow-up:before {
  content: "\f062"; }

.fa-arrow-down:before {
  content: "\f063"; }

.fa-mail-forward:before, .fa-share:before {
  content: "\f064"; }

.fa-expand:before {
  content: "\f065"; }

.fa-compress:before {
  content: "\f066"; }

.fa-plus:before {
  content: "\f067"; }

.fa-minus:before {
  content: "\f068"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-exclamation-circle:before {
  content: "\f06a"; }

.fa-gift:before {
  content: "\f06b"; }

.fa-leaf:before {
  content: "\f06c"; }

.fa-fire:before {
  content: "\f06d"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-eye-slash:before {
  content: "\f070"; }

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "\f071"; }

.fa-plane:before {
  content: "\f072"; }

.fa-calendar:before {
  content: "\f073"; }

.fa-random:before {
  content: "\f074"; }

.fa-comment:before {
  content: "\f075"; }

.fa-magnet:before {
  content: "\f076"; }

.fa-chevron-up:before {
  content: "\f077"; }

.fa-chevron-down:before {
  content: "\f078"; }

.fa-retweet:before {
  content: "\f079"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-folder:before {
  content: "\f07b"; }

.fa-folder-open:before {
  content: "\f07c"; }

.fa-arrows-v:before {
  content: "\f07d"; }

.fa-arrows-h:before {
  content: "\f07e"; }

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "\f080"; }

.fa-twitter-square:before {
  content: "\f081"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-camera-retro:before {
  content: "\f083"; }

.fa-key:before {
  content: "\f084"; }

.fa-gears:before, .fa-cogs:before {
  content: "\f085"; }

.fa-comments:before {
  content: "\f086"; }

.fa-thumbs-o-up:before {
  content: "\f087"; }

.fa-thumbs-o-down:before {
  content: "\f088"; }

.fa-star-half:before {
  content: "\f089"; }

.fa-heart-o:before {
  content: "\f08a"; }

.fa-sign-out:before {
  content: "\f08b"; }

.fa-linkedin-square:before {
  content: "\f08c"; }

.fa-thumb-tack:before {
  content: "\f08d"; }

.fa-external-link:before {
  content: "\f08e"; }

.fa-sign-in:before {
  content: "\f090"; }

.fa-trophy:before {
  content: "\f091"; }

.fa-github-square:before {
  content: "\f092"; }

.fa-upload:before {
  content: "\f093"; }

.fa-lemon-o:before {
  content: "\f094"; }

.fa-phone:before {
  content: "\f095"; }

.fa-square-o:before {
  content: "\f096"; }

.fa-bookmark-o:before {
  content: "\f097"; }

.fa-phone-square:before {
  content: "\f098"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-facebook-f:before, .fa-facebook:before {
  content: "\f09a"; }

.fa-github:before {
  content: "\f09b"; }

.fa-unlock:before {
  content: "\f09c"; }

.fa-credit-card:before {
  content: "\f09d"; }

.fa-feed:before, .fa-rss:before {
  content: "\f09e"; }

.fa-hdd-o:before {
  content: "\f0a0"; }

.fa-bullhorn:before {
  content: "\f0a1"; }

.fa-bell:before {
  content: "\f0f3"; }

.fa-certificate:before {
  content: "\f0a3"; }

.fa-hand-o-right:before {
  content: "\f0a4"; }

.fa-hand-o-left:before {
  content: "\f0a5"; }

.fa-hand-o-up:before {
  content: "\f0a6"; }

.fa-hand-o-down:before {
  content: "\f0a7"; }

.fa-arrow-circle-left:before {
  content: "\f0a8"; }

.fa-arrow-circle-right:before {
  content: "\f0a9"; }

.fa-arrow-circle-up:before {
  content: "\f0aa"; }

.fa-arrow-circle-down:before {
  content: "\f0ab"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-wrench:before {
  content: "\f0ad"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-briefcase:before {
  content: "\f0b1"; }

.fa-arrows-alt:before {
  content: "\f0b2"; }

.fa-group:before, .fa-users:before {
  content: "\f0c0"; }

.fa-chain:before, .fa-link:before {
  content: "\f0c1"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-flask:before {
  content: "\f0c3"; }

.fa-cut:before, .fa-scissors:before {
  content: "\f0c4"; }

.fa-copy:before, .fa-files-o:before {
  content: "\f0c5"; }

.fa-paperclip:before {
  content: "\f0c6"; }

.fa-save:before, .fa-floppy-o:before {
  content: "\f0c7"; }

.fa-square:before {
  content: "\f0c8"; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "\f0c9"; }

.fa-list-ul:before {
  content: "\f0ca"; }

.fa-list-ol:before {
  content: "\f0cb"; }

.fa-strikethrough:before {
  content: "\f0cc"; }

.fa-underline:before {
  content: "\f0cd"; }

.fa-table:before {
  content: "\f0ce"; }

.fa-magic:before {
  content: "\f0d0"; }

.fa-truck:before {
  content: "\f0d1"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-pinterest-square:before {
  content: "\f0d3"; }

.fa-google-plus-square:before {
  content: "\f0d4"; }

.fa-google-plus:before {
  content: "\f0d5"; }

.fa-money:before {
  content: "\f0d6"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-unsorted:before, .fa-sort:before {
  content: "\f0dc"; }

.fa-sort-down:before, .fa-sort-desc:before {
  content: "\f0dd"; }

.fa-sort-up:before, .fa-sort-asc:before {
  content: "\f0de"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-linkedin:before {
  content: "\f0e1"; }

.fa-rotate-left:before, .fa-undo:before {
  content: "\f0e2"; }

.fa-legal:before, .fa-gavel:before {
  content: "\f0e3"; }

.fa-dashboard:before, .fa-tachometer:before {
  content: "\f0e4"; }

.fa-comment-o:before {
  content: "\f0e5"; }

.fa-comments-o:before {
  content: "\f0e6"; }

.fa-flash:before, .fa-bolt:before {
  content: "\f0e7"; }

.fa-sitemap:before {
  content: "\f0e8"; }

.fa-umbrella:before {
  content: "\f0e9"; }

.fa-paste:before, .fa-clipboard:before {
  content: "\f0ea"; }

.fa-lightbulb-o:before {
  content: "\f0eb"; }

.fa-exchange:before {
  content: "\f0ec"; }

.fa-cloud-download:before {
  content: "\f0ed"; }

.fa-cloud-upload:before {
  content: "\f0ee"; }

.fa-user-md:before {
  content: "\f0f0"; }

.fa-stethoscope:before {
  content: "\f0f1"; }

.fa-suitcase:before {
  content: "\f0f2"; }

.fa-bell-o:before {
  content: "\f0a2"; }

.fa-coffee:before {
  content: "\f0f4"; }

.fa-cutlery:before {
  content: "\f0f5"; }

.fa-file-text-o:before {
  content: "\f0f6"; }

.fa-building-o:before {
  content: "\f0f7"; }

.fa-hospital-o:before {
  content: "\f0f8"; }

.fa-ambulance:before {
  content: "\f0f9"; }

.fa-medkit:before {
  content: "\f0fa"; }

.fa-fighter-jet:before {
  content: "\f0fb"; }

.fa-beer:before {
  content: "\f0fc"; }

.fa-h-square:before {
  content: "\f0fd"; }

.fa-plus-square:before {
  content: "\f0fe"; }

.fa-angle-double-left:before {
  content: "\f100"; }

.fa-angle-double-right:before {
  content: "\f101"; }

.fa-angle-double-up:before {
  content: "\f102"; }

.fa-angle-double-down:before {
  content: "\f103"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-up:before {
  content: "\f106"; }

.fa-angle-down:before {
  content: "\f107"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-tablet:before {
  content: "\f10a"; }

.fa-mobile-phone:before, .fa-mobile:before {
  content: "\f10b"; }

.fa-circle-o:before {
  content: "\f10c"; }

.fa-quote-left:before {
  content: "\f10d"; }

.fa-quote-right:before {
  content: "\f10e"; }

.fa-spinner:before {
  content: "\f110"; }

.fa-circle:before {
  content: "\f111"; }

.fa-mail-reply:before, .fa-reply:before {
  content: "\f112"; }

.fa-github-alt:before {
  content: "\f113"; }

.fa-folder-o:before {
  content: "\f114"; }

.fa-folder-open-o:before {
  content: "\f115"; }

.fa-smile-o:before {
  content: "\f118"; }

.fa-frown-o:before {
  content: "\f119"; }

.fa-meh-o:before {
  content: "\f11a"; }

.fa-gamepad:before {
  content: "\f11b"; }

.fa-keyboard-o:before {
  content: "\f11c"; }

.fa-flag-o:before {
  content: "\f11d"; }

.fa-flag-checkered:before {
  content: "\f11e"; }

.fa-terminal:before {
  content: "\f120"; }

.fa-code:before {
  content: "\f121"; }

.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "\f122"; }

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "\f123"; }

.fa-location-arrow:before {
  content: "\f124"; }

.fa-crop:before {
  content: "\f125"; }

.fa-code-fork:before {
  content: "\f126"; }

.fa-unlink:before, .fa-chain-broken:before {
  content: "\f127"; }

.fa-question:before {
  content: "\f128"; }

.fa-info:before {
  content: "\f129"; }

.fa-exclamation:before {
  content: "\f12a"; }

.fa-superscript:before {
  content: "\f12b"; }

.fa-subscript:before {
  content: "\f12c"; }

.fa-eraser:before {
  content: "\f12d"; }

.fa-puzzle-piece:before {
  content: "\f12e"; }

.fa-microphone:before {
  content: "\f130"; }

.fa-microphone-slash:before {
  content: "\f131"; }

.fa-shield:before {
  content: "\f132"; }

.fa-calendar-o:before {
  content: "\f133"; }

.fa-fire-extinguisher:before {
  content: "\f134"; }

.fa-rocket:before {
  content: "\f135"; }

.fa-maxcdn:before {
  content: "\f136"; }

.fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-chevron-circle-up:before {
  content: "\f139"; }

.fa-chevron-circle-down:before {
  content: "\f13a"; }

.fa-html5:before {
  content: "\f13b"; }

.fa-css3:before {
  content: "\f13c"; }

.fa-anchor:before {
  content: "\f13d"; }

.fa-unlock-alt:before {
  content: "\f13e"; }

.fa-bullseye:before {
  content: "\f140"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-ellipsis-v:before {
  content: "\f142"; }

.fa-rss-square:before {
  content: "\f143"; }

.fa-play-circle:before {
  content: "\f144"; }

.fa-ticket:before {
  content: "\f145"; }

.fa-minus-square:before {
  content: "\f146"; }

.fa-minus-square-o:before {
  content: "\f147"; }

.fa-level-up:before {
  content: "\f148"; }

.fa-level-down:before {
  content: "\f149"; }

.fa-check-square:before {
  content: "\f14a"; }

.fa-pencil-square:before {
  content: "\f14b"; }

.fa-external-link-square:before {
  content: "\f14c"; }

.fa-share-square:before {
  content: "\f14d"; }

.fa-compass:before {
  content: "\f14e"; }

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "\f150"; }

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "\f151"; }

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "\f152"; }

.fa-euro:before, .fa-eur:before {
  content: "\f153"; }

.fa-gbp:before {
  content: "\f154"; }

.fa-dollar:before, .fa-usd:before {
  content: "\f155"; }

.fa-rupee:before, .fa-inr:before {
  content: "\f156"; }

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "\f157"; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "\f158"; }

.fa-won:before, .fa-krw:before {
  content: "\f159"; }

.fa-bitcoin:before, .fa-btc:before {
  content: "\f15a"; }

.fa-file:before {
  content: "\f15b"; }

.fa-file-text:before {
  content: "\f15c"; }

.fa-sort-alpha-asc:before {
  content: "\f15d"; }

.fa-sort-alpha-desc:before {
  content: "\f15e"; }

.fa-sort-amount-asc:before {
  content: "\f160"; }

.fa-sort-amount-desc:before {
  content: "\f161"; }

.fa-sort-numeric-asc:before {
  content: "\f162"; }

.fa-sort-numeric-desc:before {
  content: "\f163"; }

.fa-thumbs-up:before {
  content: "\f164"; }

.fa-thumbs-down:before {
  content: "\f165"; }

.fa-youtube-square:before {
  content: "\f166"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-xing:before {
  content: "\f168"; }

.fa-xing-square:before {
  content: "\f169"; }

.fa-youtube-play:before {
  content: "\f16a"; }

.fa-dropbox:before {
  content: "\f16b"; }

.fa-stack-overflow:before {
  content: "\f16c"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-flickr:before {
  content: "\f16e"; }

.fa-adn:before {
  content: "\f170"; }

.fa-bitbucket:before {
  content: "\f171"; }

.fa-bitbucket-square:before {
  content: "\f172"; }

.fa-tumblr:before {
  content: "\f173"; }

.fa-tumblr-square:before {
  content: "\f174"; }

.fa-long-arrow-down:before {
  content: "\f175"; }

.fa-long-arrow-up:before {
  content: "\f176"; }

.fa-long-arrow-left:before {
  content: "\f177"; }

.fa-long-arrow-right:before {
  content: "\f178"; }

.fa-apple:before {
  content: "\f179"; }

.fa-windows:before {
  content: "\f17a"; }

.fa-android:before {
  content: "\f17b"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-skype:before {
  content: "\f17e"; }

.fa-foursquare:before {
  content: "\f180"; }

.fa-trello:before {
  content: "\f181"; }

.fa-female:before {
  content: "\f182"; }

.fa-male:before {
  content: "\f183"; }

.fa-gittip:before, .fa-gratipay:before {
  content: "\f184"; }

.fa-sun-o:before {
  content: "\f185"; }

.fa-moon-o:before {
  content: "\f186"; }

.fa-archive:before {
  content: "\f187"; }

.fa-bug:before {
  content: "\f188"; }

.fa-vk:before {
  content: "\f189"; }

.fa-weibo:before {
  content: "\f18a"; }

.fa-renren:before {
  content: "\f18b"; }

.fa-pagelines:before {
  content: "\f18c"; }

.fa-stack-exchange:before {
  content: "\f18d"; }

.fa-arrow-circle-o-right:before {
  content: "\f18e"; }

.fa-arrow-circle-o-left:before {
  content: "\f190"; }

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "\f191"; }

.fa-dot-circle-o:before {
  content: "\f192"; }

.fa-wheelchair:before {
  content: "\f193"; }

.fa-vimeo-square:before {
  content: "\f194"; }

.fa-turkish-lira:before, .fa-try:before {
  content: "\f195"; }

.fa-plus-square-o:before {
  content: "\f196"; }

.fa-space-shuttle:before {
  content: "\f197"; }

.fa-slack:before {
  content: "\f198"; }

.fa-envelope-square:before {
  content: "\f199"; }

.fa-wordpress:before {
  content: "\f19a"; }

.fa-openid:before {
  content: "\f19b"; }

.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "\f19c"; }

.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "\f19d"; }

.fa-yahoo:before {
  content: "\f19e"; }

.fa-google:before {
  content: "\f1a0"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-square:before {
  content: "\f1a2"; }

.fa-stumbleupon-circle:before {
  content: "\f1a3"; }

.fa-stumbleupon:before {
  content: "\f1a4"; }

.fa-delicious:before {
  content: "\f1a5"; }

.fa-digg:before {
  content: "\f1a6"; }

.fa-pied-piper-pp:before {
  content: "\f1a7"; }

.fa-pied-piper-alt:before {
  content: "\f1a8"; }

.fa-drupal:before {
  content: "\f1a9"; }

.fa-joomla:before {
  content: "\f1aa"; }

.fa-language:before {
  content: "\f1ab"; }

.fa-fax:before {
  content: "\f1ac"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-child:before {
  content: "\f1ae"; }

.fa-paw:before {
  content: "\f1b0"; }

.fa-spoon:before {
  content: "\f1b1"; }

.fa-cube:before {
  content: "\f1b2"; }

.fa-cubes:before {
  content: "\f1b3"; }

.fa-behance:before {
  content: "\f1b4"; }

.fa-behance-square:before {
  content: "\f1b5"; }

.fa-steam:before {
  content: "\f1b6"; }

.fa-steam-square:before {
  content: "\f1b7"; }

.fa-recycle:before {
  content: "\f1b8"; }

.fa-automobile:before, .fa-car:before {
  content: "\f1b9"; }

.fa-cab:before, .fa-taxi:before {
  content: "\f1ba"; }

.fa-tree:before {
  content: "\f1bb"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-deviantart:before {
  content: "\f1bd"; }

.fa-soundcloud:before {
  content: "\f1be"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-file-pdf-o:before {
  content: "\f1c1"; }

.fa-file-word-o:before {
  content: "\f1c2"; }

.fa-file-excel-o:before {
  content: "\f1c3"; }

.fa-file-powerpoint-o:before {
  content: "\f1c4"; }

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "\f1c5"; }

.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "\f1c6"; }

.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "\f1c7"; }

.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "\f1c8"; }

.fa-file-code-o:before {
  content: "\f1c9"; }

.fa-vine:before {
  content: "\f1ca"; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-jsfiddle:before {
  content: "\f1cc"; }

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "\f1cd"; }

.fa-circle-o-notch:before {
  content: "\f1ce"; }

.fa-ra:before, .fa-resistance:before, .fa-rebel:before {
  content: "\f1d0"; }

.fa-ge:before, .fa-empire:before {
  content: "\f1d1"; }

.fa-git-square:before {
  content: "\f1d2"; }

.fa-git:before {
  content: "\f1d3"; }

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  content: "\f1d4"; }

.fa-tencent-weibo:before {
  content: "\f1d5"; }

.fa-qq:before {
  content: "\f1d6"; }

.fa-wechat:before, .fa-weixin:before {
  content: "\f1d7"; }

.fa-send:before, .fa-paper-plane:before {
  content: "\f1d8"; }

.fa-send-o:before, .fa-paper-plane-o:before {
  content: "\f1d9"; }

.fa-history:before {
  content: "\f1da"; }

.fa-circle-thin:before {
  content: "\f1db"; }

.fa-header:before {
  content: "\f1dc"; }

.fa-paragraph:before {
  content: "\f1dd"; }

.fa-sliders:before {
  content: "\f1de"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-share-alt-square:before {
  content: "\f1e1"; }

.fa-bomb:before {
  content: "\f1e2"; }

.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "\f1e3"; }

.fa-tty:before {
  content: "\f1e4"; }

.fa-binoculars:before {
  content: "\f1e5"; }

.fa-plug:before {
  content: "\f1e6"; }

.fa-slideshare:before {
  content: "\f1e7"; }

.fa-twitch:before {
  content: "\f1e8"; }

.fa-yelp:before {
  content: "\f1e9"; }

.fa-newspaper-o:before {
  content: "\f1ea"; }

.fa-wifi:before {
  content: "\f1eb"; }

.fa-calculator:before {
  content: "\f1ec"; }

.fa-paypal:before {
  content: "\f1ed"; }

.fa-google-wallet:before {
  content: "\f1ee"; }

.fa-cc-visa:before {
  content: "\f1f0"; }

.fa-cc-mastercard:before {
  content: "\f1f1"; }

.fa-cc-discover:before {
  content: "\f1f2"; }

.fa-cc-amex:before {
  content: "\f1f3"; }

.fa-cc-paypal:before {
  content: "\f1f4"; }

.fa-cc-stripe:before {
  content: "\f1f5"; }

.fa-bell-slash:before {
  content: "\f1f6"; }

.fa-bell-slash-o:before {
  content: "\f1f7"; }

.fa-trash:before {
  content: "\f1f8"; }

.fa-copyright:before {
  content: "\f1f9"; }

.fa-at:before {
  content: "\f1fa"; }

.fa-eyedropper:before {
  content: "\f1fb"; }

.fa-paint-brush:before {
  content: "\f1fc"; }

.fa-birthday-cake:before {
  content: "\f1fd"; }

.fa-area-chart:before {
  content: "\f1fe"; }

.fa-pie-chart:before {
  content: "\f200"; }

.fa-line-chart:before {
  content: "\f201"; }

.fa-lastfm:before {
  content: "\f202"; }

.fa-lastfm-square:before {
  content: "\f203"; }

.fa-toggle-off:before {
  content: "\f204"; }

.fa-toggle-on:before {
  content: "\f205"; }

.fa-bicycle:before {
  content: "\f206"; }

.fa-bus:before {
  content: "\f207"; }

.fa-ioxhost:before {
  content: "\f208"; }

.fa-angellist:before {
  content: "\f209"; }

.fa-cc:before {
  content: "\f20a"; }

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "\f20b"; }

.fa-meanpath:before {
  content: "\f20c"; }

.fa-buysellads:before {
  content: "\f20d"; }

.fa-connectdevelop:before {
  content: "\f20e"; }

.fa-dashcube:before {
  content: "\f210"; }

.fa-forumbee:before {
  content: "\f211"; }

.fa-leanpub:before {
  content: "\f212"; }

.fa-sellsy:before {
  content: "\f213"; }

.fa-shirtsinbulk:before {
  content: "\f214"; }

.fa-simplybuilt:before {
  content: "\f215"; }

.fa-skyatlas:before {
  content: "\f216"; }

.fa-cart-plus:before {
  content: "\f217"; }

.fa-cart-arrow-down:before {
  content: "\f218"; }

.fa-diamond:before {
  content: "\f219"; }

.fa-ship:before {
  content: "\f21a"; }

.fa-user-secret:before {
  content: "\f21b"; }

.fa-motorcycle:before {
  content: "\f21c"; }

.fa-street-view:before {
  content: "\f21d"; }

.fa-heartbeat:before {
  content: "\f21e"; }

.fa-venus:before {
  content: "\f221"; }

.fa-mars:before {
  content: "\f222"; }

.fa-mercury:before {
  content: "\f223"; }

.fa-intersex:before, .fa-transgender:before {
  content: "\f224"; }

.fa-transgender-alt:before {
  content: "\f225"; }

.fa-venus-double:before {
  content: "\f226"; }

.fa-mars-double:before {
  content: "\f227"; }

.fa-venus-mars:before {
  content: "\f228"; }

.fa-mars-stroke:before {
  content: "\f229"; }

.fa-mars-stroke-v:before {
  content: "\f22a"; }

.fa-mars-stroke-h:before {
  content: "\f22b"; }

.fa-neuter:before {
  content: "\f22c"; }

.fa-genderless:before {
  content: "\f22d"; }

.fa-facebook-official:before {
  content: "\f230"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-whatsapp:before {
  content: "\f232"; }

.fa-server:before {
  content: "\f233"; }

.fa-user-plus:before {
  content: "\f234"; }

.fa-user-times:before {
  content: "\f235"; }

.fa-hotel:before, .fa-bed:before {
  content: "\f236"; }

.fa-viacoin:before {
  content: "\f237"; }

.fa-train:before {
  content: "\f238"; }

.fa-subway:before {
  content: "\f239"; }

.fa-medium:before {
  content: "\f23a"; }

.fa-yc:before, .fa-y-combinator:before {
  content: "\f23b"; }

.fa-optin-monster:before {
  content: "\f23c"; }

.fa-opencart:before {
  content: "\f23d"; }

.fa-expeditedssl:before {
  content: "\f23e"; }

.fa-battery-4:before, .fa-battery:before, .fa-battery-full:before {
  content: "\f240"; }

.fa-battery-3:before, .fa-battery-three-quarters:before {
  content: "\f241"; }

.fa-battery-2:before, .fa-battery-half:before {
  content: "\f242"; }

.fa-battery-1:before, .fa-battery-quarter:before {
  content: "\f243"; }

.fa-battery-0:before, .fa-battery-empty:before {
  content: "\f244"; }

.fa-mouse-pointer:before {
  content: "\f245"; }

.fa-i-cursor:before {
  content: "\f246"; }

.fa-object-group:before {
  content: "\f247"; }

.fa-object-ungroup:before {
  content: "\f248"; }

.fa-sticky-note:before {
  content: "\f249"; }

.fa-sticky-note-o:before {
  content: "\f24a"; }

.fa-cc-jcb:before {
  content: "\f24b"; }

.fa-cc-diners-club:before {
  content: "\f24c"; }

.fa-clone:before {
  content: "\f24d"; }

.fa-balance-scale:before {
  content: "\f24e"; }

.fa-hourglass-o:before {
  content: "\f250"; }

.fa-hourglass-1:before, .fa-hourglass-start:before {
  content: "\f251"; }

.fa-hourglass-2:before, .fa-hourglass-half:before {
  content: "\f252"; }

.fa-hourglass-3:before, .fa-hourglass-end:before {
  content: "\f253"; }

.fa-hourglass:before {
  content: "\f254"; }

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
  content: "\f255"; }

.fa-hand-stop-o:before, .fa-hand-paper-o:before {
  content: "\f256"; }

.fa-hand-scissors-o:before {
  content: "\f257"; }

.fa-hand-lizard-o:before {
  content: "\f258"; }

.fa-hand-spock-o:before {
  content: "\f259"; }

.fa-hand-pointer-o:before {
  content: "\f25a"; }

.fa-hand-peace-o:before {
  content: "\f25b"; }

.fa-trademark:before {
  content: "\f25c"; }

.fa-registered:before {
  content: "\f25d"; }

.fa-creative-commons:before {
  content: "\f25e"; }

.fa-gg:before {
  content: "\f260"; }

.fa-gg-circle:before {
  content: "\f261"; }

.fa-tripadvisor:before {
  content: "\f262"; }

.fa-odnoklassniki:before {
  content: "\f263"; }

.fa-odnoklassniki-square:before {
  content: "\f264"; }

.fa-get-pocket:before {
  content: "\f265"; }

.fa-wikipedia-w:before {
  content: "\f266"; }

.fa-safari:before {
  content: "\f267"; }

.fa-chrome:before {
  content: "\f268"; }

.fa-firefox:before {
  content: "\f269"; }

.fa-opera:before {
  content: "\f26a"; }

.fa-internet-explorer:before {
  content: "\f26b"; }

.fa-tv:before, .fa-television:before {
  content: "\f26c"; }

.fa-contao:before {
  content: "\f26d"; }

.fa-500px:before {
  content: "\f26e"; }

.fa-amazon:before {
  content: "\f270"; }

.fa-calendar-plus-o:before {
  content: "\f271"; }

.fa-calendar-minus-o:before {
  content: "\f272"; }

.fa-calendar-times-o:before {
  content: "\f273"; }

.fa-calendar-check-o:before {
  content: "\f274"; }

.fa-industry:before {
  content: "\f275"; }

.fa-map-pin:before {
  content: "\f276"; }

.fa-map-signs:before {
  content: "\f277"; }

.fa-map-o:before {
  content: "\f278"; }

.fa-map:before {
  content: "\f279"; }

.fa-commenting:before {
  content: "\f27a"; }

.fa-commenting-o:before {
  content: "\f27b"; }

.fa-houzz:before {
  content: "\f27c"; }

.fa-vimeo:before {
  content: "\f27d"; }

.fa-black-tie:before {
  content: "\f27e"; }

.fa-fonticons:before {
  content: "\f280"; }

.fa-reddit-alien:before {
  content: "\f281"; }

.fa-edge:before {
  content: "\f282"; }

.fa-credit-card-alt:before {
  content: "\f283"; }

.fa-codiepie:before {
  content: "\f284"; }

.fa-modx:before {
  content: "\f285"; }

.fa-fort-awesome:before {
  content: "\f286"; }

.fa-usb:before {
  content: "\f287"; }

.fa-product-hunt:before {
  content: "\f288"; }

.fa-mixcloud:before {
  content: "\f289"; }

.fa-scribd:before {
  content: "\f28a"; }

.fa-pause-circle:before {
  content: "\f28b"; }

.fa-pause-circle-o:before {
  content: "\f28c"; }

.fa-stop-circle:before {
  content: "\f28d"; }

.fa-stop-circle-o:before {
  content: "\f28e"; }

.fa-shopping-bag:before {
  content: "\f290"; }

.fa-shopping-basket:before {
  content: "\f291"; }

.fa-hashtag:before {
  content: "\f292"; }

.fa-bluetooth:before {
  content: "\f293"; }

.fa-bluetooth-b:before {
  content: "\f294"; }

.fa-percent:before {
  content: "\f295"; }

.fa-gitlab:before {
  content: "\f296"; }

.fa-wpbeginner:before {
  content: "\f297"; }

.fa-wpforms:before {
  content: "\f298"; }

.fa-envira:before {
  content: "\f299"; }

.fa-universal-access:before {
  content: "\f29a"; }

.fa-wheelchair-alt:before {
  content: "\f29b"; }

.fa-question-circle-o:before {
  content: "\f29c"; }

.fa-blind:before {
  content: "\f29d"; }

.fa-audio-description:before {
  content: "\f29e"; }

.fa-volume-control-phone:before {
  content: "\f2a0"; }

.fa-braille:before {
  content: "\f2a1"; }

.fa-assistive-listening-systems:before {
  content: "\f2a2"; }

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before {
  content: "\f2a3"; }

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before {
  content: "\f2a4"; }

.fa-glide:before {
  content: "\f2a5"; }

.fa-glide-g:before {
  content: "\f2a6"; }

.fa-signing:before, .fa-sign-language:before {
  content: "\f2a7"; }

.fa-low-vision:before {
  content: "\f2a8"; }

.fa-viadeo:before {
  content: "\f2a9"; }

.fa-viadeo-square:before {
  content: "\f2aa"; }

.fa-snapchat:before {
  content: "\f2ab"; }

.fa-snapchat-ghost:before {
  content: "\f2ac"; }

.fa-snapchat-square:before {
  content: "\f2ad"; }

.fa-pied-piper:before {
  content: "\f2ae"; }

.fa-first-order:before {
  content: "\f2b0"; }

.fa-yoast:before {
  content: "\f2b1"; }

.fa-themeisle:before {
  content: "\f2b2"; }

.fa-google-plus-circle:before, .fa-google-plus-official:before {
  content: "\f2b3"; }

.fa-fa:before, .fa-font-awesome:before {
  content: "\f2b4"; }

.fa-handshake-o:before {
  content: "\f2b5"; }

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-envelope-open-o:before {
  content: "\f2b7"; }

.fa-linode:before {
  content: "\f2b8"; }

.fa-address-book:before {
  content: "\f2b9"; }

.fa-address-book-o:before {
  content: "\f2ba"; }

.fa-vcard:before, .fa-address-card:before {
  content: "\f2bb"; }

.fa-vcard-o:before, .fa-address-card-o:before {
  content: "\f2bc"; }

.fa-user-circle:before {
  content: "\f2bd"; }

.fa-user-circle-o:before {
  content: "\f2be"; }

.fa-user-o:before {
  content: "\f2c0"; }

.fa-id-badge:before {
  content: "\f2c1"; }

.fa-drivers-license:before, .fa-id-card:before {
  content: "\f2c2"; }

.fa-drivers-license-o:before, .fa-id-card-o:before {
  content: "\f2c3"; }

.fa-quora:before {
  content: "\f2c4"; }

.fa-free-code-camp:before {
  content: "\f2c5"; }

.fa-telegram:before {
  content: "\f2c6"; }

.fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before {
  content: "\f2c7"; }

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before {
  content: "\f2c8"; }

.fa-thermometer-2:before, .fa-thermometer-half:before {
  content: "\f2c9"; }

.fa-thermometer-1:before, .fa-thermometer-quarter:before {
  content: "\f2ca"; }

.fa-thermometer-0:before, .fa-thermometer-empty:before {
  content: "\f2cb"; }

.fa-shower:before {
  content: "\f2cc"; }

.fa-bathtub:before, .fa-s15:before, .fa-bath:before {
  content: "\f2cd"; }

.fa-podcast:before {
  content: "\f2ce"; }

.fa-window-maximize:before {
  content: "\f2d0"; }

.fa-window-minimize:before {
  content: "\f2d1"; }

.fa-window-restore:before {
  content: "\f2d2"; }

.fa-times-rectangle:before, .fa-window-close:before {
  content: "\f2d3"; }

.fa-times-rectangle-o:before, .fa-window-close-o:before {
  content: "\f2d4"; }

.fa-bandcamp:before {
  content: "\f2d5"; }

.fa-grav:before {
  content: "\f2d6"; }

.fa-etsy:before {
  content: "\f2d7"; }

.fa-imdb:before {
  content: "\f2d8"; }

.fa-ravelry:before {
  content: "\f2d9"; }

.fa-eercast:before {
  content: "\f2da"; }

.fa-microchip:before {
  content: "\f2db"; }

.fa-snowflake-o:before {
  content: "\f2dc"; }

.fa-superpowers:before {
  content: "\f2dd"; }

.fa-wpexplorer:before {
  content: "\f2de"; }

.fa-meetup:before {
  content: "\f2e0"; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }

.slick-list:focus {
  outline: none; }

.slick-list.dragging {
  cursor: pointer;
  cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }

.slick-track:before,
.slick-track:after {
  display: table;
  content: ''; }

.slick-track:after {
  clear: both; }

.slick-loading .slick-track {
  visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }

[dir='rtl'] .slick-slide {
  float: right; }

.slick-slide img {
  display: block; }

.slick-slide.slick-loading img {
  display: none; }

.slick-slide.dragging img {
  pointer-events: none; }

.slick-initialized .slick-slide {
  display: block; }

.slick-loading .slick-slide {
  visibility: hidden; }

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Clearfix */
.clearfix {
  display: block;
  zoom: 1; }
  .clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden; }

.grid, .col-wrap, .home #we-believe .left .inner .inner-content .col-wrap, .home #we-believe, .search-results #wrapper > header #welcome {
  display: block;
  zoom: 1; }
  .grid:after, .col-wrap:after, .home #we-believe .left .inner .inner-content .col-wrap:after, .home #we-believe:after, .search-results #wrapper > header #welcome:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden; }

svg * {
  transition: all 0.2s ease; }

.ellipsis {
  white-space: nowrap;
  /* 1 */
  text-overflow: ellipsis;
  /* 2 */
  overflow: hidden; }

/* ---------- Removing The Dotted Outline ---------- */
input::-moz-focus-inner {
  border: 0; }

button:hover, button:active, button:focus,
a:hover, a:active, a:focus,
input:hover, input:active, input:focus,
select:hover, select:active, select:focus,
textarea:hover, textarea:active, textarea:focus {
  outline: none;
  -moz-outline-style: none; }

a {
  text-decoration: none; }
  a:hover, a:focus, a:active {
    text-decoration: none; }

input, textarea {
  border: none; }

.txt {
  font-size: 0 !important;
  line-height: 0;
  outline: medium none;
  overflow: hidden;
  text-indent: -9999px !important; }

.clear {
  clear: both;
  visibility: hidden;
  height: 0;
  width: 0;
  line-height: 0; }

/* Variables */
/* Additional Mixins */
body {
  color: #000000;
  font-size: 20px;
  line-height: 1.6;
  width: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif; }

svg:not(:root) {
  overflow: visible !important; }

.indention {
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px; }

a {
  transition: all 0.1s linear; }

b, strong {
  font-weight: bold; }

ul li {
  list-style: none; }

.grid .item {
  float: left; }

.col-wrap .col {
  float: left; }

.skiplink {
  position: absolute;
  left: -99999px; }

.container, .container-fluid {
  position: relative; }

@media (max-width: 767px) {
  body {
    font-size: 18px;
    line-height: 1.4;
    padding-top: 0; } }
#welcome.type-3 .left h2 span {
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 52px;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: 300; }
  #welcome.type-3 .left h2 span strong {
    font-weight: 700; }
  @media (max-width: 767px) {
    #welcome.type-3 .left h2 span {
      font-size: 36px; } }
#welcome.type-3 .left h3 {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
  color: #ffffff;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 400; }

#welcome .inner {
  position: absolute;
  bottom: 30px;
  width: 100%; }

header h2,
header h3 {
  font-family: "Montserrat", sans-serif; }

#ssbp-ellipsis-div {
  display: none; }

.block-go .btn-go-url {
  background-color: #ffb800;
  color: #000000;
  font-size: 21px;
  font-weight: 700;
  text-transform: uppercase; }
  .block-go .btn-go-url:hover {
    background-color: #ffdd84; }

.col ol {
  margin-bottom: 25px;
  clear: both;
  list-style: none;
  padding: 0; }
  .col ol > li {
    position: relative;
    padding: 14px 18px 14px 56px;
    counter-increment: li;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    list-style: none; }
    @media (max-width: 767px) {
      .col ol > li {
        padding: 14px 10px 14px 44px; } }
    .col ol > li:before {
      content: counter(li);
      color: #ffffff;
      display: inline-block;
      position: absolute;
      top: 19px;
      left: 12px;
      text-align: center;
      background-color: #ffb800;
      border-radius: 50%;
      height: 25px;
      width: 25px;
      line-height: 25px;
      font-weight: 600;
      font-family: Montserrat;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 0.2px; }
      @media (max-width: 767px) {
        .col ol > li:before {
          left: 0; } }

#home-team .col ol li {
  color: white; }

@media (max-width: 767px) {
  .page-template:not(.home) .content-wrapper {
    padding-top: 20px; } }
.page-template:not(.home) .content-wrapper.wide aside {
  padding-top: 30px; }

.featured-wrap {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px; }
  @media (max-width: 767px) {
    .featured-wrap {
      float: none;
      margin: 20px auto;
      text-align: center; }
      .featured-wrap img {
        display: inline-block;
        height: auto;
        max-width: 100%; } }

.content-wrapper article img.image.left.thumbnail {
  margin-right: 20px;
  margin-bottom: 20px;
  max-width: 300px;
  height: auto;
  float: left;
  top: 8px; }
  @media (max-width: 767px) {
    .content-wrapper article img.image.left.thumbnail {
      margin: 0 auto;
      display: block;
      float: none;
      height: auto;
      max-width: 100%; } }
@media (max-width: 767px) {
  .content-wrapper article img.image.left {
    margin: 0 auto 20px;
    display: block;
    float: none;
    height: auto;
    max-width: 100%; } }
.content-wrapper article ul li {
  margin-bottom: 20px;
  padding-left: 60px;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px; }

article > h1 {
  color: #4c6083;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: 500;
  line-height: 60px;
  text-transform: uppercase; }
  article > h1 span {
    line-height: 37px; }
  @media (max-width: 767px) {
    article > h1 {
      font-size: 30px;
      line-height: 35px;
      padding: 15px 0; } }

header {
  background-position: 50% 25%; }

#results .result-list .inner-wrap {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  left: -3px; }
  #results .result-list .inner-wrap p {
    color: #87a5bd;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
    max-width: 155px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat; }
#results .slider-wrapper #slider-results .owl-item:nth-child(3) .inner-wrap,
#results .slider-wrapper #slider-results .owl-item:nth-child(4) .inner-wrap {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  left: -3px; }
  #results .slider-wrapper #slider-results .owl-item:nth-child(3) .inner-wrap p,
  #results .slider-wrapper #slider-results .owl-item:nth-child(4) .inner-wrap p {
    color: #87a5bd;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
    max-width: 115px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat; }

.custom-aside {
  top: -270px; }
  .page-id-2104 .custom-aside, .page-id-195 .custom-aside {
    top: -304px; }
  @media (max-width: 1199px) {
    .custom-aside {
      top: -302px; } }
  @media (max-width: 991px) {
    .custom-aside {
      top: 0; } }

.btn-load-more-ajax {
  text-align: center; }
  .btn-load-more-ajax .next-posts-link {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center; }

@media (min-width: 768px) and (max-width: 991px) {
  #awards .owl-prev {
    left: 5px; }
  #awards .owl-next {
    right: 5px; } }
.former-link {
  text-align: center;
  color: #000;
  background: #FFF;
  padding: 15px;
  font-size: 12px;
  border: 4px solid #f1f1f1;
  margin-bottom: 15px; }

.but-see-all {
  text-decoration: none;
  color: #000000;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 300;
  border-radius: 29px;
  border: 1px solid #ededed;
  background-color: #ffffff; }

@media (max-width: 767px) {
  .next-posts-link {
    display: block; } }
.page-template-page-attorney .accordion-generic .accordion-opened {
  display: block !important; }
  .page-template-page-attorney .accordion-generic .accordion-opened a span {
    display: none; }

.breadcrumb a {
  float: left;
  display: inline-block; }
.breadcrumb span {
  display: inline-block; }

@media (max-width: 767px) {
  #breadcrumbs {
    display: none; } }

.faq-catname {
  display: none; }

.qa-faqs {
  padding-top: 30px;
  margin-bottom: 10px; }
  .qa-faqs #qaplus_searchform {
    display: none; }
  .qa-faqs .qa-faq {
    margin-bottom: 10px; }
    .qa-faqs .qa-faq h3 {
      margin: 0;
      padding: 0;
      background-color: #f0f2f4; }
    .qa-faqs .qa-faq .qa-faq-anchor {
      background-color: #f0f2f4;
      display: block;
      padding: 24px 113px 24px 90px;
      color: #000000;
      font-size: 26px;
      font-weight: 500;
      line-height: 34px;
      background: url("../../images/icon-accordion-plus.svg") no-repeat scroll 30px 28px #f2f2f2;
      background-size: 30px 31px; }
      .qa-faqs .qa-faq .qa-faq-anchor.active {
        background: url("../../images/icon-accordion-minus.svg") no-repeat scroll 30px 28px #0c1930;
        background-size: 30px 31px;
        color: #ffffff; }
      @media (max-width: 767px) {
        .qa-faqs .qa-faq .qa-faq-anchor {
          text-transform: none;
          padding: 24px 15px 24px 70px;
          background: url("../../images/icon-accordion-plus.svg") no-repeat scroll 15px 28px #f2f2f2;
          background-size: 30px 31px; }
          .qa-faqs .qa-faq .qa-faq-anchor.active {
            background: url("../../images/icon-accordion-minus.svg") no-repeat scroll 15px 28px #0c1930;
            background-size: 30px 31px; } }
    .qa-faqs .qa-faq .qa-faq-answer {
      padding: 0;
      padding-top: 15px; }
      .qa-faqs .qa-faq .qa-faq-answer p:last-of-type {
        margin-bottom: 15px; }
      .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap {
        padding-bottom: 10px; }
        .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap p.cta-call {
          padding-top: 0;
          color: #000000;
          font-size: 21px;
          font-weight: 400;
          text-transform: uppercase; }
          .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap p.cta-call a {
            display: block; }
        .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap a.btn-std {
          color: #9e0606;
          font-size: 30px;
          font-weight: 700;
          display: inline-block;
          text-align: center;
          padding-left: 40px;
          padding-right: 40px; }
          @media (max-width: 767px) {
            .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap a.btn-std {
              display: block;
              padding-left: 12px;
              padding-right: 12px; }
              .qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap a.btn-std span {
                font-size: 20px;
                padding-right: 20px; } }
    .qa-faqs .qa-faq .qa-faq-title.open + .qa-faq-answer {
      display: block !important; }

.form.form-wide {
  box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
  border: 4px solid #f1f1f1;
  background-color: rgba(70, 87, 118, 0.9); }
  .form.form-wide.custom-form {
    padding: 15px 20px 25px; }
  .form.form-wide form.header-form h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0 10px; }
  .form.form-wide form.header-form input,
  .form.form-wide form.header-form textarea {
    color: #76787b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300; }
  .form.form-wide form.header-form .but-form {
    background-color: #ffb800;
    text-decoration: none;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 60px;
    height: 60px;
    display: block; }
    .form.form-wide form.header-form .but-form:hover {
      background-color: #ffdd84; }
    @media (max-width: 767px) {
      .form.form-wide form.header-form .but-form {
        line-height: 24px;
        height: auto;
        display: block;
        padding: 12px 0; } }
  .form.form-wide form.header-form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #9e2f33;
    font-size: 16px;
    font-weight: 700; }
  .form.form-wide form .row .col-xs-1, .form.form-wide form .row .col-sm-1, .form.form-wide form .row .col-md-1, .form.form-wide form .row .col-lg-1, .form.form-wide form .row .col-xs-2, .form.form-wide form .row .col-sm-2, .form.form-wide form .row .col-md-2, .form.form-wide form .row .col-lg-2, .form.form-wide form .row .col-xs-3, .form.form-wide form .row .col-sm-3, .form.form-wide form .row .col-md-3, .form.form-wide form .row .col-lg-3, .form.form-wide form .row .col-xs-4, .form.form-wide form .row .col-sm-4, .form.form-wide form .row .col-md-4, .form.form-wide form .row .col-lg-4, .form.form-wide form .row .col-xs-5, .form.form-wide form .row .col-sm-5, .form.form-wide form .row .col-md-5, .form.form-wide form .row .col-lg-5, .form.form-wide form .row .col-xs-6, .form.form-wide form .row .col-sm-6, .form.form-wide form .row .col-md-6, .form.form-wide form .row .col-lg-6, .form.form-wide form .row .col-xs-7, .form.form-wide form .row .col-sm-7, .form.form-wide form .row .col-md-7, .form.form-wide form .row .col-lg-7, .form.form-wide form .row .col-xs-8, .form.form-wide form .row .col-sm-8, .form.form-wide form .row .col-md-8, .form.form-wide form .row .col-lg-8, .form.form-wide form .row .col-xs-9, .form.form-wide form .row .col-sm-9, .form.form-wide form .row .col-md-9, .form.form-wide form .row .col-lg-9, .form.form-wide form .row .col-xs-10, .form.form-wide form .row .col-sm-10, .form.form-wide form .row .col-md-10, .form.form-wide form .row .col-lg-10, .form.form-wide form .row .col-xs-11, .form.form-wide form .row .col-sm-11, .form.form-wide form .row .col-md-11, .form.form-wide form .row .col-lg-11, .form.form-wide form .row .col-xs-12, .form.form-wide form .row .col-sm-12, .form.form-wide form .row .col-md-12, .form.form-wide form .row .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px; }

#awards-list {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #awards-list li {
    display: inline-block; }

.topline {
  padding: 0;
  height: 132px;
  border-bottom: 1px solid #c5c5c5; }
@media (min-width: 768px) and (max-width: 991px) {
  .topline {
    height: 160px; } }

  .topline .topline-logo {
    padding-top: 26px;
    float: left; }
    .topline .topline-logo .logo {
      padding: 0; }
      @media (max-width: 767px) {
        .topline .topline-logo .logo {
          display: block;
          margin-top: 22px; } }
  .topline .contacts {
    text-align: center;
    float: right;
    line-height: 1;
    position: relative;
    padding: 0 160px 0 0;
    top: 20px; }
@media (min-width: 768px) and (max-width: 991px) {
  .topline .contacts {
    top: 0;
    padding: 10px; } }

    .topline .contacts > span {
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      padding-left: 4px; }
    .topline .contacts > b {
      color: #e2544d;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      text-align: left; }
    .topline .contacts .callback a {
      color: #70b8bf;
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      border-top-color: #b2c2d1;
      border-bottom-color: #b2c2d1;
      padding: 3px 0; }
    .topline .contacts .button {
      top: 30px; }
      .topline .contacts .button .but {
        background: #e3e3e3;
        color: #70b8bf;
        font-size: 14px;
        font-weight: 400;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        height: 36px;
        line-height: 36px;
        padding: 0 22px; }
        .topline .contacts .button .but:hover {
          background: #70b8bf;
          color: #ffffff; }

#wrapper > header {
  background-size: cover !important; }
  #wrapper > header .inner h2 span {
    font-size: 52px;
    font-weight: 300;
    font-family: Montserrat; }
    @media (max-width: 767px) {
      #wrapper > header .inner h2 span {
        font-size: 36px; } }
    #wrapper > header .inner h2 span strong {
      font-weight: 800; }
  #wrapper > header .inner h3 {
    font-size: 21px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: none; }
  #wrapper > header .form {
    width: 400px;
    height: 487px;
    box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
    border: 4px solid #f1f1f1;
    background-color: rgba(70, 87, 118, 0.9);
    padding: 24px; }
    #wrapper > header .form .header-form h3 {
      color: #ffffff;
      font-size: 25px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 5px 0 10px; }
    #wrapper > header .form .header-form input,
    #wrapper > header .form .header-form textarea {
      color: #76787b;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300; }
    #wrapper > header .form .header-form .but-form {
      background-color: #ffb800;
      text-decoration: none;
      color: #000000;
      font-family: Montserrat;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.1px;
      line-height: 60px;
      height: 60px;
      display: block; }
      #wrapper > header .form .header-form .but-form:hover {
        background-color: #ffdd84; }
    #wrapper > header .form .header-form .required span {
      position: absolute;
      text-transform: uppercase;
      right: 10px;
      top: 0;
      height: 59px;
      line-height: 63px;
      color: #9e2f33;
      font-size: 16px;
      font-weight: 700; }
  #wrapper > header #welcome .left .inner {
    position: absolute;
    bottom: 35px;
    max-width: 717px;
    width: 100%; }
@media (min-width: 768px) and (max-width: 991px) {
  .home #wrapper > header #welcome .left .inner {
    bottom: -115px; } }

    @media (max-width: 479px) {
      .home #wrapper > header #welcome .left .inner {
        bottom: -10px; } }
    #wrapper > header #welcome .left .inner p {
      text-align: right;
      padding-right: 25px; }
      @media (max-width: 991px) {
        #wrapper > header #welcome .left .inner p {
          display: none; } }
      #wrapper > header #welcome .left .inner p img {
        position: static;
        top: 0;
        display: inline-block;
        transform: translate(0);
        margin-bottom: 10px; }
  #wrapper > header #welcome .right {
    top: 30px; }
  #wrapper > header #welcome .welcome-bar {
    background: rgba(238, 247, 255, 0.9);
    height: 190px;
    display: block;
    width: 100%;
    position: relative;
    bottom: 190px;
    padding-top: 40px; }
    @media (max-width: 991px) {
      #wrapper > header #welcome .welcome-bar {
        display: none; } }
    #wrapper > header #welcome .welcome-bar blockquote {
      padding: 0;
      margin: 0;
      border: none;
      max-width: 515px;
      text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
      color: #4c6083;
      font-family: Montserrat;
      font-size: 23px;
      font-weight: 600;
      line-height: 34px;
      padding-bottom: 7px; }
    #wrapper > header #welcome .welcome-bar cite {
      padding-top: 50px;
      color: #4c6083;
      font-size: 19px;
      font-weight: 700;
      line-height: 36px;
      font-style: normal; }
@media (min-width: 768px) and (max-width: 991px) {
  .home #wrapper > header {
    background-position: -340px 0; } }

@media (min-width: 768px) {
  .navigator {
    width: 100%;
    height: 64px;
    background-color: #17a5ae;
    z-index: 99; } }
  @media screen and (min-width: 768px) and (max-width: 767px) {
    .navigator {
      position: absolute;
      top: 0;
      left: 0;
      height: auto; } }
@media (min-width: 768px) {
    .navigator .menu-main {
      position: relative;
      top: 0; } }
@media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
  .navigator .menu-main {
    top: 0; } }

@media (min-width: 768px) {
    .navigator #nav {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .navigator #nav > li.menu-item {
        float: none; }
        .navigator #nav > li.menu-item > a {
          height: 64px;
          overflow: hidden;
          color: #ffffff;
          font-family: "Montserrat", sans-serif;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 0; } }
@media (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
  .navigator #nav > li.menu-item > a {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    padding-top: 12px;
    max-width: 90px; } }

@media (min-width: 768px) {
          .navigator #nav > li.menu-item > a:hover {
            background: none;
            color: #ffb800; }
          .navigator #nav > li.menu-item > a.menu-home span {
            height: 64px;
            width: 48px;
            display: block;
            background: url("../../images/ico-home.png") no-repeat 50% 50%; }
        .navigator #nav > li.menu-item:first-child > a span {
          height: 64px;
          width: 48px;
          display: block;
          background: url("../../images/ico-home.png") no-repeat 50% 50%; }
        .navigator #nav > li.menu-item.menu-item-has-children > a {
          position: relative;
          padding-right: 5px;
          overflow: visible; } }
        @media (min-width: 768px) and (max-width: 1199px) {
          .navigator #nav > li.menu-item.menu-item-has-children > a {
            padding-right: 15px; } }
@media (min-width: 768px) {
          .navigator #nav > li.menu-item.menu-item-has-children > a:after {
            content: "\f0d7";
            display: block;
            font-family: FontAwesome;
            position: absolute;
            right: -10px;
            padding-right: 0px;
            font-size: 12px;
            color: #4c6083;
            z-index: 10;
            top: 0; } }
          @media (min-width: 768px) and (max-width: 1199px) {
            .navigator #nav > li.menu-item.menu-item-has-children > a:after {
              right: 4px;
              top: 9px; } }
      @media (min-width: 768px) and (max-width: 1199px) {
        .navigator #nav > li.menu-item.menu-item-has-children > ul.sub-menu {
          left: -130px; }
        .navigator #nav > li.menu-item.menu-item-has-children:nth-child(2) > ul.sub-menu {
          left: -30px; } }
@media (min-width: 768px) {
        .navigator #nav > li.menu-item.current_page_item > a {
          color: #ffb800; }
        .navigator #nav > li.menu-item:hover, .navigator #nav > li.menu-item.current-menu-ancestor, .navigator #nav > li.menu-item.current-menu-parent, .navigator #nav > li.menu-item.current-menu-item {
          background-color: transparent;
          color: #fff; }

  .navigator #nav > li:hover,
  .navigator #nav > li.current-menu-ancestor,
  .navigator #nav > li.current-menu-parent,
  .navigator #nav > li.current-menu-item {
    background: none; }
    .navigator #nav > li:hover:first-of-type,
    .navigator #nav > li.current-menu-ancestor:first-of-type,
    .navigator #nav > li.current-menu-parent:first-of-type,
    .navigator #nav > li.current-menu-item:first-of-type {
      background: transparent; }
  .navigator #nav ul.sub-menu li.current-menu-item a {
    color: #fff !important;
    background: url("../../images/arrow-right-sm-blue-light.png") no-repeat 17px; } }
@media (max-width: 767px) {
  .fixed-menu li a {
    color: #1a1a1a;
    font-family: Montserrat;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03px; }
  .fixed-menu .but-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 54px;
    padding: 14px 10px 10px;
    background: #4c6083; }
    .fixed-menu .but-mobile span {
      border-radius: 0; }

  #tap-buttons .tap-but {
    text-transform: uppercase;
    background: #9c2e31;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 4px 20px;
    font-size: 14px; } }
@media (max-width: 767px) {
  html #wpadminbar {
    display: none !important; }

  .open-menu .fixed-menu {
    left: -80% !important; }
  .open-menu .navigator {
    right: 0 !important; }
    .open-menu .navigator .menu-main {
      position: fixed !important;
      top: 0 !important;
      bottom: 0 !important;
      right: 0 !important;
      left: 20% !important;
      z-index: 9999;
      margin: 0;
      display: block;
      width: 80%;
      float: none; }

  .fixed-menu {
    left: 0 !important; }

  .navigator {
    right: -80% !important;
    left: -100% important; } }
aside .blog-item .blog-inner .preview a {
  display: none; }
aside .block.block-other-areas ul li a {
  padding-left: 0;
  line-height: 36px;
  color: #000;
  background: no-repeat 0 50%; }
aside .block.block-quotes p {
  text-align: left;
  margin-bottom: 4px;
  font-size: 26px;
  color: #0c4a7e;
  font-weight: 400;
  line-height: 1.3; }
aside .block.widget_categories {
  background-color: #eee; }
  aside .block.widget_categories h3 {
    background: white;
    padding-bottom: 30px; }
  aside .block.widget_categories.block-body {
    padding: 28px 28px 15px 28px;
    background-color: #EEE; }
  aside .block.widget_categories ul {
    list-style: none;
    padding: 28px 28px 15px 28px; }
    aside .block.widget_categories ul li {
      margin-bottom: 13px;
      width: 100%; }
      aside .block.widget_categories ul li a {
        background: #fafafa url("../../images/arrow-right-gray-md.png") no-repeat scroll 95% 50%;
        background-color: rgba(255, 255, 255, 0.7);
        color: #000;
        font-size: 20px;
        font-weight: 400;
        display: block;
        text-decoration: none;
        line-height: 1.2;
        padding: 17px 35px 18px 25px;
        transition: background-color 0.5s ease; }
        aside .block.widget_categories ul li a:hover {
          color: #da0028; }
aside .block.verdicts-slider ul li p {
  text-align: center;
  display: block;
  color: #9E2F33;
  font-size: 39px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0;
  padding: 0; }
aside .form {
  width: 400px;
  height: 487px;
  box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
  border: 4px solid #f1f1f1;
  background-color: rgba(70, 87, 118, 0.9);
  padding: 24px;
  margin-top: 0; }
  @media (max-width: 1199px) {
    aside .form {
      margin: 0 auto 40px; } }
  @media (max-width: 767px) {
    aside .form {
      width: 100%;
      height: auto; } }
  aside .form .header-form h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0 10px; }
  aside .form .header-form input,
  aside .form .header-form textarea {
    color: #76787b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300; }
  aside .form .header-form .but-form {
    background-color: #ffb800;
    text-decoration: none;
    color: #000000;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 60px;
    height: 60px;
    display: block; }
    @media (max-width: 767px) {
      aside .form .header-form .but-form {
        line-height: 24px;
        height: auto;
        display: block;
        padding: 12px 0; } }
    aside .form .header-form .but-form:hover {
      background-color: #ffdd84; }
  aside .form .header-form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #9e2f33;
    font-size: 16px;
    font-weight: 700; }
@media (max-width: 767px) {
  aside .block-where-begin {
    margin-bottom: 40px; } }
@media (max-width: 767px) {
  aside .block-where-begin .buttons .but {
    margin-bottom: 15px; } }
@media (min-width: 768px) and (max-width: 991px) {
  aside .block.meet-attoneys .block-body {
    text-align: center;
    margin: 0;
    padding-bottom: 10px; }
    aside .block.meet-attoneys .block-body .attorney-item {
      position: relative;
      width: 47%;
      margin: 0 10px;
      float: none;
      max-width: 170px;
      display: inline-block; } }

@media (max-width: 767px) {
  aside .block.accordion-generic {
    padding-top: 40px; } }

#sub-contacts {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  position: relative;
  z-index: 11; }
  #sub-contacts .logo {
    margin-top: 27px;
    display: inline-block; }
  #sub-contacts .socials {
    text-align: center;
    padding-top: 29px; }
    #sub-contacts .socials .social span {
      background-color: #4d6184;
      line-height: 32px; }
@media (min-width: 992px) and (max-width: 1199px) {
  #sub-contacts .socials {
    text-align: center;
    padding-top: 29px;
    position: relative;
    left: 50px; } }

  #sub-contacts .contacts {
    text-align: center;
    float: right;
    line-height: 1;
    position: relative;
    padding: 0 135px 0 0;
    top: 0; }
@media (min-width: 992px) and (max-width: 1199px) {
  #sub-contacts .contacts {
    padding: 0;
    padding-right: 30px;
    float: right; } }

@media (min-width: 768px) and (max-width: 991px) {
  #sub-contacts .contacts {
    padding: 0;
    float: none; } }

    @media (max-width: 767px) {
      #sub-contacts .contacts {
        text-align: center;
        float: none;
        line-height: 1;
        position: relative;
        padding: 0;
        top: 0;
        clear: both;
        max-width: 190px;
        margin: 0 auto;
        margin-top: 0px; } }
    #sub-contacts .contacts > span {
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      text-align: center;
      padding-left: 4px; }
      @media (max-width: 767px) {
        #sub-contacts .contacts > span {
          text-align: center; } }
    #sub-contacts .contacts > b {
      color: #4d6184;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700; }
    #sub-contacts .contacts .callback a {
      color: #70b8bf;
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase;
      border-top-color: #b2c2d1;
      border-bottom-color: #b2c2d1;
      padding: 3px 0; }
    #sub-contacts .contacts .button {
      top: 30px; }
      @media (max-width: 767px) {
        #sub-contacts .contacts .button {
          margin-bottom: 20px; } }
      #sub-contacts .contacts .button .but {
        background: #ffb800;
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        height: 36px;
        line-height: 36px;
        padding: 0 22px; }
        #sub-contacts .contacts .button .but:hover {
          background: #ffdd84; }

#contacts {
  position: relative;
  padding: 90px 0 115px; }
  @media (min-width: 1200px) {
    #contacts {
      height: 490px; } }
  #contacts .footer-accordion address p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
    #contacts .footer-accordion address p b {
      font-size: 19px;
      font-weight: 700;
      line-height: 25px; }
  #contacts .accordion.style-blue-1 dt.accordion-opened {
    background-color: #4d6184; }
    #contacts .accordion.style-blue-1 dt.accordion-opened a {
      font-family: Montserrat;
      font-size: 22px;
      font-weight: 300;
      letter-spacing: 0.22px;
      padding-right: 30px; }
  #contacts .accordion.style-blue-1 dd.footer-accordion {
    padding: 15px 25px 30px 25px; }
    #contacts .accordion.style-blue-1 dd.footer-accordion p {
      margin-bottom: 20px;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      line-height: 24px; }
      #contacts .accordion.style-blue-1 dd.footer-accordion p b {
        color: #000000;
        font-size: 19px;
        font-weight: 700; }

footer .navigation {
  background: #4d6184; }
@media (min-width: 992px) and (max-width: 1199px) {
  footer .navigation li {
    margin: 0 19px; } }

  footer .navigation li a {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px; }
@media (min-width: 992px) and (max-width: 1199px) {
  footer .navigation li a {
    font-size: 14px; } }

footer .copyright {
  background: #fff;
  padding: 25px 0; }
  footer .copyright .pull-left {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300; }
  footer .copyright .pull-right {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300; }
    footer .copyright .pull-right a.stamp {
      color: #a2a2a2;
      font-size: 14px;
      font-weight: 300; }

@media (max-width: 499px) {
  .home header {
    background-position: -120px 0; } }
.home #we-believe {
  background: #4c6083;
  padding-top: 70px;
  padding-bottom: 70px; }
  .home #we-believe .left {
    max-width: 610px;
    float: left; }
    @media (max-width: 1199px) {
      .home #we-believe .left {
        float: none;
        max-width: none; } }
    .home #we-believe .left .inner {
      padding: 0;
      margin: 0; }
      .home #we-believe .left .inner h2 {
        color: #ffffff;
        font-size: 18px;
        font-size: 38px;
        font-weight: 700;
        margin-bottom: 20px; }
        .home #we-believe .left .inner h2:first-of-type {
          margin-bottom: 0; }
      .home #we-believe .left .inner p {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px; }
      .home #we-believe .left .inner .inner-content {
        margin-bottom: 35px; }
        .home #we-believe .left .inner .inner-content .col-wrap .col-left {
          width: calc(130px);
          float: left; }
          .home #we-believe .left .inner .inner-content .col-wrap .col-left img {
            position: relative;
            top: 35px; }
        .home #we-believe .left .inner .inner-content .col-wrap .col-right {
          width: calc(100% - 130px);
          float: left; }
          .home #we-believe .left .inner .inner-content .col-wrap .col-right h5 {
            color: #ffffff;
            font-size: 18px;
            font-weight: 700;
            line-height: 32px;
            margin-bottom: 0;
            font-family: Montserrat; }
          .home #we-believe .left .inner .inner-content .col-wrap .col-right p {
            color: #ffffff;
            font-size: 18px;
            font-weight: 300;
            line-height: 32px;
            margin-bottom: 0;
            font-family: Montserrat; }
          .home #we-believe .left .inner .inner-content .col-wrap .col-right a {
            font-size: 18px;
            color: #ffc224;
            font-weight: 300;
            line-height: 32px;
            text-decoration: underline;
            font-family: Montserrat; }
  .home #we-believe .right {
    float: right;
    max-width: 470px; }
    @media (max-width: 1199px) {
      .home #we-believe .right {
        float: none;
        max-width: none; } }
    .home #we-believe .right .inner {
      padding: 0;
      margin: 0; }
      .home #we-believe .right .inner .inner-wrap {
        padding: 45px; }
        @media (max-width: 767px) {
          .home #we-believe .right .inner .inner-wrap {
            padding: 10px; } }
        .home #we-believe .right .inner .inner-wrap ul li {
          color: #76787b;
          font-family: Montserrat;
          font-size: 19px;
          line-height: 26px;
          font-weight: 300; }
  .home #we-believe .full-width {
    clear: both; }
    @media (max-width: 767px) {
      .home #we-believe .full-width {
        padding-top: 25px; } }
    .home #we-believe .full-width #video_play {
      float: left;
      margin: 0;
      padding: 0;
      margin-right: 29px;
      position: relative;
      top: 9px; }
      @media (max-width: 767px) {
        .home #we-believe .full-width #video_play {
          float: none;
          margin: 0;
          padding: 0;
          position: relative;
          top: 9px;
          margin: 0 auto;
          margin-bottom: 20px;
          display: block;
          max-width: 308px; } }
    .home #we-believe .full-width h2 {
      color: white; }
    .home #we-believe .full-width p {
      color: white; }

#results .result-list li {
  padding-top: 43px; }
  #results .result-list li p.r_title + p {
    display: none; }
  #results .result-list li:first-of-type {
    color: #4d6184;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 30px; }
  #results .result-list li:nth-child(4) .inner-wrap p, #results .result-list li:nth-child(5) .inner-wrap p {
    max-width: 115px; }
  #results .result-list li:last-of-type {
    padding-top: 12px; }
    #results .result-list li:last-of-type a div {
      color: #6f879c;
      font-size: 24px;
      font-weight: 400;
      line-height: 26px;
      height: 139px;
      position: relative;
      left: -3px; }
      #results .result-list li:last-of-type a div img {
        margin-top: 14px; }
#results ul.result-first li {
  color: #4d6184;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  padding-top: 30px; }
#results ul.result-last li a div {
  color: #6f879c;
  font-size: 24px;
  font-weight: 400; }
  #results ul.result-last li a div img {
    margin-left: 10px; }

.cw_video_description {
  display: none; }

#how-help h2 {
  color: #4d6184;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 28px; }
#how-help .row-1 {
  margin-bottom: 55px; }
  #how-help .row-1 .col.left {
    max-width: 620px; }
@media (min-width: 768px) and (max-width: 991px) {
  #how-help .row-1 .col.left {
    max-width: none; } }

    #how-help .row-1 .col.left p {
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px; }
  #how-help .row-1 .col.right label {
    display: block;
    font-style: normal;
    line-height: 40px;
    color: #000000;
    font-size: 27px;
    font-weight: 400;
    padding-bottom: 5px; }
#how-help .row-2 {
  margin: 0;
  margin-bottom: 30px; }
  #how-help .row-2 .col .item {
    margin-bottom: 35px; }
    #how-help .row-2 .col .item header {
      padding: 30px 0 20px;
      height: 176px;
      text-align: center;
      background-size: cover !important;
      background-repeat: no-repeat;
      background-position: 0; }
      #how-help .row-2 .col .item header label {
        color: #d7eafa;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
        display: block;
        max-width: 263px;
        margin: 0 auto;
        display: block; }
        @media (max-width: 991px) {
          #how-help .row-2 .col .item header label {
            font-size: 18px; } }
    #how-help .row-2 .col .item .content p {
      color: #000000;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 300;
      line-height: 25px; }
    #how-help .row-2 .col .item .content a {
      color: #4b4b4b;
      font-size: 15px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.15px; }
#how-help .row-4 p {
  color: #000000;
  font-family: Montserrat;
  font-size: 23px;
  font-weight: 300;
  line-height: 30px;
  padding: 0 10px; }
  #how-help .row-4 p a {
    color: #4d6184;
    font-weight: 700;
    text-decoration: underline; }

#awards h3 {
  color: #adb6ba;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  padding-bottom: 15px; }

#home-team {
  padding-bottom: 49px;
  padding-top: 70px; }
  #home-team .container .row > h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 65px;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 27px; }
    @media (max-width: 767px) {
      #home-team .container .row > h2 {
        font-size: 37px;
        line-height: 47px; } }
  #home-team .container .row .text-center > h3 {
    color: #7d96aa;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 3.45px;
    display: inline-block;
    position: relative; }
    #home-team .container .row .text-center > h3:before {
      height: 1px;
      display: block;
      width: 122px;
      content: '';
      background: #7e9eab;
      top: 17px;
      left: -135px;
      position: absolute; }
    #home-team .container .row .text-center > h3:after {
      height: 1px;
      display: block;
      width: 122px;
      content: '';
      background: #7e9eab;
      top: 17px;
      right: -135px;
      position: absolute; }
  #home-team .container p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px; }
  #home-team .container .col.left h3 {
    color: white;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0;
    text-transform: none;
    margin-bottom: 20px;
    letter-spacing: 0; }
  #home-team .container .col.left ul li {
    color: #000;
    padding-left: 30px;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
    background-position: 0 7px; }
  #home-team .container .col.right .block-quote p {
    color: #a0b7df;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    text-align: left; }
    #home-team .container .col.right .block-quote p i {
      color: #ffffff;
      font-size: 19px;
      font-weight: 700;
      line-height: 41px;
      text-align: left;
      font-style: normal; }
  #home-team .container .row-meet h2 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 25px; }
  @media (min-width: 992px) {
    #home-team .container .row-meet .owl-carousel .owl-wrapper {
      text-align: center; } }
  @media (min-width: 992px) {
    #home-team .container .row-meet .owl-carousel .owl-wrapper .owl-item {
      display: inline-block;
      float: none; } }
  #home-team .container .row-meet .owl-carousel .owl-wrapper .owl-item a figcaption {
    color: #ffffff;
    font-weight: 400;
    text-transform: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 35px; }
  #home-team .container .but-see-all {
    margin-top: 25px; }
    @media (max-width: 767px) {
      #home-team .container .but-see-all {
        font-size: 19px; } }
  #home-team .container .row-5 {
    padding-top: 45px; }
    #home-team .container .row-5 p {
      color: #ffffff;
      font-family: Montserrat;
      font-size: 23px;
      line-height: 30px;
      font-weight: 300; }
      #home-team .container .row-5 p strong {
        font-weight: 700; }
      #home-team .container .row-5 p a {
        color: #d7eafa;
        font-weight: 700; }

#home-team .row-meet ul {
  padding: 0;
  margin: 0; }

#community {
  margin-bottom: 40px; }
  #community .content h2 {
    color: #4d6184;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px; }
  #community .content p {
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left; }
  #community .content a {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px; }

.block-article.blog-item .preview h2 {
  font-family: Montserrat;
  font-size: 31px;
  font-weight: 500;
  line-height: 43px;
  color: #000; }
.block-article.blog-item .preview h3 {
  color: #000000;
  font-family: Montserrat;
  font-size: 27px;
  font-weight: 400;
  line-height: 37px; }
.block-article.blog-item .preview p {
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 300;
  line-height: 32px; }

.blog .block-article.blog-item .preview p a {
  display: none; }

.qa_faqs-template-default .block-article.blog-item .meta,
.search-results .block-article.blog-item .meta {
  display: none; }

.search-results #wrapper > header {
  background: none !important; }
  .search-results #wrapper > header #welcome {
    height: 435px; }
    .search-results #wrapper > header #welcome .left {
      float: left;
      width: 100%;
      display: none; }
      .search-results #wrapper > header #welcome .left .inner {
        position: absolute;
        bottom: -415px;
        max-width: 705px;
        width: 100%; }
    .search-results #wrapper > header #welcome .right {
      top: 30px;
      float: right;
      position: absolute;
      right: 0; }

.archive.post-type-archive-wpseo_locations article .side-address h3 {
  font-weight: 400;
  line-height: 1;
  padding: 15px 0 14px 0;
  text-align: center;
  margin-bottom: 0px;
  text-transform: none;
  color: #0c4a7e;
  font-size: 27px; }
.archive.post-type-archive-wpseo_locations article .side-address h4 {
  color: #314657;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.05;
  margin-bottom: 5px;
  text-align: left; }

.archive.category #welcome,
.search.search-results #welcome {
  display: none !important; }

.page-template-page-practice-areas #breadcrumbs + .content-wrapper.wide {
  padding-top: 50px; }

.page-template-page-about #home-team {
  margin-bottom: 50px; }

#cboxWrapper, .cboxPhoto {
  max-width: none; }

.cboxIframe, .cboxPhoto {
  display: block;
  border: 0; }

#cboxCurrent, #cboxTitle {
  position: absolute;
  color: #949494;
  bottom: 4px; }

#cboxClose:active, #cboxNext:active, #cboxPrevious:active, #cboxSlideshow:active, #colorbox {
  outline: 0; }

#cboxOverlay, #cboxWrapper, #colorbox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden; }

#cboxOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/overlay.png);
  opacity: .9;
  filter: alpha(opacity=90); }

#cboxBottomLeft, #cboxMiddleLeft {
  clear: left; }

.cw_video_cols, .cw_video_gallery_clear, .cw_video_type_list .cw_video_item {
  clear: both; }

#cboxContent {
  position: relative;
  background: #fff;
  overflow: hidden; }

#cboxTitle {
  margin: 0;
  left: 0;
  text-align: center;
  width: 100%; }

#cboxLoadingGraphic, #cboxLoadingOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.cboxPhoto {
  float: left;
  margin: auto;
  -ms-interpolation-mode: bicubic; }

.cboxIframe {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0; }

#cboxContent, #cboxLoadedContent, #colorbox {
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; }

#cboxTopLeft {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -101px 0 no-repeat; }

#cboxTopRight {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -130px 0 no-repeat; }

#cboxBottomLeft {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -101px -29px no-repeat; }

#cboxBottomRight {
  width: 21px;
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -130px -29px no-repeat; }

#cboxMiddleLeft {
  width: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) left top repeat-y; }

#cboxMiddleRight {
  width: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) right top repeat-y; }

#cboxTopCenter {
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xborder.png.pagespeed.ic.pWAefO-gnF.webp) repeat-x; }

#cboxBottomCenter {
  height: 21px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xborder.png.pagespeed.ic.pWAefO-gnF.webp) 0 -29px repeat-x; }

.cboxIframe {
  background: #fff; }

#cboxError {
  padding: 50px;
  border: 1px solid #ccc; }

#cboxLoadedContent {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 28px; }

#cboxCurrent {
  left: 58px; }

#cboxLoadingOverlay {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xloading_background.png.pagespeed.ic.mQOzbZgEby.webp) center center no-repeat; }

#cboxLoadingGraphic {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/loading.gif) center center no-repeat; }

#cboxClose, #cboxNext, #cboxPrevious, #cboxSlideshow {
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: visible;
  width: auto;
  background: 0 0; }

#cboxClose, #cboxNext, #cboxPrevious {
  position: absolute;
  bottom: 0;
  width: 25px;
  height: 25px;
  text-indent: -9999px; }

#cboxSlideshow {
  position: absolute;
  bottom: 4px;
  right: 30px;
  color: #0092ef; }

#cboxPrevious {
  left: 0;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -75px 0 no-repeat; }

#cboxPrevious:hover {
  background-position: -75px -25px; }

#cboxNext {
  left: 27px;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -50px 0 no-repeat; }

#cboxNext:hover {
  background-position: -50px -25px; }

#cboxClose {
  right: 0;
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/images/xcontrols.png.pagespeed.ic.PvwwJdsI-n.webp) -25px 0 no-repeat; }

#cboxClose:hover {
  background-position: -25px -25px; }

.cboxIE #cboxBottomCenter, .cboxIE #cboxBottomLeft, .cboxIE #cboxBottomRight, .cboxIE #cboxMiddleLeft, .cboxIE #cboxMiddleRight, .cboxIE #cboxTopCenter, .cboxIE #cboxTopLeft, .cboxIE #cboxTopRight {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF); }

.cw_video_gallery {
  clear: both;
  width: 100%; }

.cw_video_cols {
  float: left;
  white-space: nowrap; }

.cw_video_cols * {
  white-space: normal; }

.cw_video_item {
  background: url(https://atlantaadvocate.com/wp-content/plugins/cw-video/shader.php?shade=white&percent=60);
  border: 1px solid #999;
  float: left;
  list-style: none;
  overflow: hidden; }

.cw_video_item img {
  border: none;
  height: auto;
  padding: 0;
  width: 100%; }

.cw_video_type_list .cw_video_item img {
  float: left; }

.cw_video_type_list .cw_video_item.cw_video_size_small img {
  margin-right: 10px;
  width: 148px; }

.cw_video_type_list .cw_video_item.cw_video_size_medium img {
  margin-right: 10px;
  width: 206px; }

.cw_video_type_list .cw_video_item.cw_video_size_large img {
  margin-right: 10px;
  width: 254px; }

.cw_video_item a {
  text-decoration: none; }

.cw_video_item_title {
  color: #555;
  text-align: center; }

.cw_video_type_list .cw_video_item_title {
  text-align: left; }

.cw_video_size_small {
  height: 180px;
  margin: 10px;
  padding: 10px;
  width: 148px; }

.cw_video_size_small .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 12px;
  line-height: 1.2em; }

.cw_video_type_list .cw_video_size_small {
  height: 111px;
  width: 280px; }

.cw_video_size_medium {
  height: 268px;
  margin: 10px;
  padding: 10px;
  width: 241px; }

.cw_video_size_medium .cw_video_item_title {
  padding: 10px 2px 2px;
  font-size: 14px;
  line-height: 1.4em; }

.cw_video_type_list .cw_video_size_medium .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 14px;
  line-height: 1.4em; }

.cw_video_type_list .cw_video_size_medium {
  height: 156px;
  width: 436px; }

.cw_video_size_large {
  height: 458px;
  margin: 10px;
  padding: 25px;
  width: 470px; }

.cw_video_size_large .cw_video_item_title {
  padding: 15px 2px 2px;
  font-size: 18px;
  line-height: 1.4em; }

.cw_video_type_list .cw_video_size_large .cw_video_item_title {
  padding: 5px 2px 2px;
  font-size: 16px;
  line-height: 1.4em; }

.cw_video_type_list .cw_video_size_large {
  height: 192px;
  padding: 10px;
  width: 520px; }

.cw_video_description {
  margin: 1em 0; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

.qa-faqs .left-half, .qa-faqs .right-half {
  float: left;
  width: 45%; }

.qa-faqs .right-half {
  margin-left: 5%; }

.qa-category {
  margin-bottom: 30px; }

.collapsible .qa-faq-answer {
  display: none; }

.open .qa-faq-answer {
  display: block; }

.qa-show-more {
  display: block;
  margin: 10px 0 0;
  font-size: 80%; }

#qaplus_searchform {
  margin-bottom: 20px; }

.qaplus_search {
  width: 50%;
  margin: 0 10px 0 0; }

/*# sourceMappingURL=theme.css.map */
