.chartist-tooltip {
  position: absolute;
  display: inline-block;
  opacity: 0;
  min-width: 5em;
  padding: .5em;
  background: #5e5e5e;
  color: #fff;
  font-family: 'gotham-medium',Helvetica,Arial,sans-serif;
  text-align: center;
  pointer-events: none;
  z-index: 1;
  -webkit-transition: opacity .2s linear;
  -moz-transition: opacity .2s linear;
  -o-transition: opacity .2s linear;
  transition: opacity .2s linear; 
}
  
.chartist-tooltip:before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #5e5e5e; 
}
    
.chartist-tooltip.tooltip-show {
    opacity: 1; 
}

.chartist-tooltip-meta {
	font-size: 14px;
}