.material-switch > input[type="checkbox"] {
    display: none;
}
.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}
.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position: absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
.ready {
    font-size: 1.5em;
}
.ui-progressbar-value {
    background: #0e97c4;
}
.progressbar-container {
    position: relative;
    width: 100%;
}
.progressbar-bar {
    height: 25px;
    margin: 10px 0;
    border-radius: 7px;
}
.progressbar-label {
    position: absolute;
    top: 2px;
    left: 45%;
    z-index: 2;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 40px!important;
}

.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 40px!important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 40px!important;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 40px!important;
}
.ui-widget-header {
    border: none!important;
    background: #d9534f!important;
    color: #8ed2e9!important;
    font-weight: bold!important;
}
.ui-progressbar {
    height: 4em!important;
}
.progressbar-label {
    top: 18px!important;
    color: #FFF!IMPORTANT;
    font-weight: bold;
    display: none !important; /* TURNING THIS OFF FOR THIS ASSET */
}
.lawsuit-gauge .panel {
    margin-top:  50px!important;
    border: none!important;
}
.panel-default>.panel-heading {
    border: none!important;
}
.list-group-item { 
    border: 1px dashed #ddd;
}
.ui-widget-content {
    background: #0e97c4!important;
}
.ui-widget.ui-widget-content {
    border: 10px solid #d4d4d4!important;
}