/* Variables */
/* Placeholders */
h1, h2, h3, h4, h5 {
  font-family:gotham-medium;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5 {
  text-transform: uppercase;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #777;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #777;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #777;
}

header .border, .stat-vs-claim .border--gray, .lawsuit-gauge .border--gray {
  height: 10px;
  width: 25%;
  margin-bottom: 30px;
}

.intro, .lawsuit-gauge, .highlighted-stat, .stat-vs-claim, .additional-stat, .resources, .donate .donate-text {
  margin: 0 auto;
  padding: 120px 0;
}

header, .profile .first-profile .profile-pic, .profile .second-row .second-profile .profile-pic, .profile .second-row .third-profile .profile-pic, .donate {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

header .header-btn, .resources .resource-box .resource-btn, .donate .donate-text .donate-btn {
  border-radius: 0;
  letter-spacing: 5px;
  color: #FFF;
}

.profile .first-profile .btn, .profile .second-row .second-profile .btn, .profile .second-row .third-profile .profile-text .btn {
  padding: 10px 30px;
  border: 3px solid;
  border-radius: 0;
  letter-spacing: 3px;
  background: none;
}

/* Mixins */
/* Custom */
h1 {
  font-size: 60px;
  font-family:gotham-bold;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 26px;
}

h5 {
  font-size: 24px;
}

body,
li {
  font-size: 18px;
  line-height: 36px;
  color: #5e5e5e;
  font-family:gotham-book;
}

.veteran-icon {
  padding-bottom: 20px;
}

header {
  background-image: url("../images/header-bg.jpg") !important;
  height: 738px;
  color: #FFF;
}

header .header-text {
  padding-top: 170px;
}

header h1,
header h2 {
  font-weight: bold;
}

header h1 {
  margin: 0;
}

header h1 span {
    color: #fa7d7f;
}

header h2 {
  margin: 0 0 20px;
}

header .border {
  background: #FFF;
  margin: 0 auto 30px;
  
}

header p {
  font-size: 23px;
  letter-spacing: 2px;
  margin-top: 60px;
}

header p strong {
	display: block;
	font-weight: 700;
}

header .header-btn:hover {
  background: #dd5c42;
  color: #FFF;
  opacity: 1;
}

header .wc-arrow {
  bottom: -35px;
  left: 0;
  line-height: 1px;
  padding: 0 20px;
  position: absolute;
  width: 100%;
  z-index: 3;
}

header .wc-arrow .wc-arrow__link {
  display: inline-block;
  font-size: 26px;
}

header .wc-arrow .wc-arrow__link,
header .wc-arrow .wc-arrow__link:hover,
header .wc-arrow .wc-arrow__link:focus {
  color: #fff;
}

header .wc-arrow--floating .wc-arrow__link {
  -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  -o-animation: floating-arrow 1.6s infinite ease-in-out 0s;
  animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

header .wc-section__container {
  padding: 0;
  position: relative;
  z-index: 3;
}

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes floating-arrow {
  from {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  65% {
    -webkit-transform: translateY(11px);
    transform: translateY(11px);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.intro {
  padding: 80px 0;
  background: #f4f4f4;
}

.intro .container {
  padding-top: 0;
}

.intro .calc-box {
	background: #fff;
	margin-top: 40px;
	padding: 20px;
}

.intro .calc-box h5 {
	color: #0e97c4;
}




/* MAP */

.story-map .container {
  padding-top: 0;
}

.story-map .story-map-content {
  background: #bababa;
  min-height: 690px;
}

#map .leaflet-bottom.leaflet-left {
	width: 100%;
}

#map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control {
	background: rgba(255,255,255,0.8);
	margin: 0;
	width: 100%;
}

#map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .left-pane {
	width: 22%;
	padding: 20px;
	float: left;
}

#map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .right-pane {
	width: 78%;
	padding: 25px 20px 0;
	float: right;
}

.leaflet-control-attribution.leaflet-control {
	display: none;
}

.leaflet-attribution {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
	color: #cad2d3;
}

.leaflet-attribution a {
	color: #cad2d3;
}

.totals-overlay .totals-txt {
	font-size:17px;
	letter-spacing: 0.7px;
}

.totals-overlay .totals-txt .total-crashes {
	color: #0e97c4;
}

.totals-overlay .totals-txt .total-fatalities {
	color: #b94e4e;
	margin-bottom: 3px;
}

.totals-overlay .totals-disclaimer {
	font-style: italic;
}

.ct-chart-line .ct-point {
	cursor: pointer !important;
}

/* END MAP */



strong.question-label {
	color:#0e97c4; 
	padding-right:3px;
}


.lawsuit-gauge h3, .lawsuit-gauge p{
    text-align: center;
}

.lawsuit-gauge .border--gray {
    margin: 40px auto 80px;
    background: #b94e4e!important;
}

.highlighted-stat {
    background: url('../images/highlighted-stats-bg-dark.jpg') center bottom no-repeat;
    background-size: cover;
    min-height: 468px;
	padding-bottom: 20px;
	padding-top: 70px;
}

.highlighted-stat h3 {
    color: #b94e4e;
    font-size: 45px;
    font-family:gotham-bold;
}

.highlighted-stat h5 {
	margin-bottom: 0;
	margin-top: 50px;
}

.year-nav {
	width: 100%;
	list-style: none;
	margin: 20px 0 0;
	padding: 0;
}
.year-nav li {
	display: inline-block;
}
.year-nav li a {
    color: #fff;
    display: block;
    float: left;
    font-family: gotham-bold;
    font-size: 27px;
    padding: 6px 10px;
	background: #b6c4c6;
}
.year-nav li a:hover, 
.year-nav li a.selected {
	background: #80a4af;
	text-decoration: none;
}

.stat-vs-claim .border--gray, .lawsuit-gauge .border--gray{
    background: #cecece;
}

.stat-vs-claim {
	padding-bottom: 80px;
}

.stat-vs-claim h3 {
  font-family:gotham-book;
}

.statclaim1 {
    margin-left: 5%;
    width: 30%;
}
.statclaim2 {
	width: 20%
}
.statclaim3 {
	width: 40%;
}

.statclaim1 ul, .statclaim3 ul {
    padding: 0;
    margin: 0;
}

.statclaim1 li, .statclaim3 li {
    list-style: none;
    padding-left: 40px;
}

.statclaim1 li {
     background: url('../images/stat-check.png') left 4% no-repeat;
}

.statclaim3 li {
     background: url('../images/stat-check1.png') left 4% no-repeat;
}

.statclaim2 img {
    margin: 0 auto;
}

.statclaim3 {
    margin-right: 5%;
}

.additional-stat {
    background: #dcf2fb;
}

.additional-stat .row {
    margin-bottom: 40px;
}

.additional-stat h3 {
    color: #1190c3;
    font-family: gotham-book;
    text-align: right;
    font-size: 26px;
    letter-spacing: 2px;
}

.additional-stat .col-md-offset-1 {
    margin-left: 5.33333333%;
}

.donate .donate-text {
  background: #dcf2fb;
}

.case-form {
	margin-bottom: 20px;
}
.case-form input {
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    color: #000
}
.case-form textarea {
	border:1px solid #ddd;
    margin-bottom: 16px;
    padding: 8px;
    width: 100%;
    height: 100px;
    color: #000
}

.resources .container, .donate .donate-text .container {
  padding-top: 0;
}

.narrative h3, .resources h3, .donate .donate-text h3 {
  padding-bottom: 30px;
}

.donate .donate-text h3 {
	font-size: 36px;
	line-height: 40px;
}

.resources {
  background: #FFF;
  text-align: center;
}

.resources .resource-box {
  border-top: 15px solid #163152;
  width: 25%;
  margin-top: 40px;
  margin-left: 6%;
  background: #3d90b1;
  padding: 50px 30px;
}

.resources .resource-box:last-child {
	padding-bottom: 0;
}

.resources .resource-box .resource-icon {
  width: 35%;
  margin: 0 auto;
}

.resources .resource-box .resource-text {
  padding: 20px 10px;
  color: #FFF;
  line-height: 26px;
}

.resources .resource-box h5 {
    font-family: gotham-bold;
}

.donate {
  background-image: url("../images/cta-bg-opt.jpg");
}

.donate .donate-text {
  background: #FFF;
  padding: 80px 50px 50px 50px;
  float: none;
  margin: 70px auto;
  text-align: center;
}

.donate .donate-text p {
	line-height: 29px;
	padding-top: 20px;
}

.donate .donate-text .donate-btn {
  background: #c0381d;
  margin: 10px 0 0;
  border: none;
  padding: 20px 50px;
  font-size: 20px;
}

.donate .donate-text .donate-btn:hover {
  background: #dd5c42;
  border: none;
  color: #FFF;
  opacity: 1;
}

.links {
  padding: 70px 0;
}

.links h4 {
  padding-bottom: 20px;
}

.links .link-text-block {
  padding-bottom: 20px;
}

footer {
  background: #f4f4f4;
  padding: 10px 0;
  margin: 0 auto;
  text-align: center;
}

footer p small {
  font-size: 80%;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
  position: fixed;
  z-index: 10001;
  right: 20px;
  bottom: 20px;
  background: #b94e4e url("../images/up-arrow.png") no-repeat center 43%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

a:hover.back-to-top {
  background-color: #000;
}

.animate-hidden {
  opacity: 0;
}

.animate-visible {
  opacity: 1;
}

#ssbp-ellipsis-div,
#ssbp-email-div {
  display:none;
}

/**handles:ssbp_styles**/
@font-face{
  font-family:'ssbp';
  src:url('/wp-content/plugins/simple-share-buttons-plus/sharebuttons/assets/fonts/ssbp.eot?1xwfh1');
src:url('/wp-content/plugins/simple-share-buttons-plus/sharebuttons/assets/fonts/ssbp.eot?#iefix1xwfh1') format('embedded-opentype'),
url('/wp-content/plugins/simple-share-buttons-plus/sharebuttons/assets/fonts/ssbp.woff?1xwfh1') format('woff'),
url('/wp-content/plugins/simple-share-buttons-plus/sharebuttons/assets/fonts/ssbp.ttf?1xwfh1') format('truetype'),
url('/wp-content/plugins/simple-share-buttons-plus/sharebuttons/assets/fonts/ssbp.svg?1xwfh1#ssbp') format('svg');
font-weight:normal;
font-style:normal;
-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@keyframes spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.ssbp-spinner:before{font-family:'ssbp';content:"\e614"}.ssbp-spinner{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}.ssbp-btn:before,.ssbp-toggle-switch:before{display:inline-block;font-family:'ssbp';speak:none;font-size:24px;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none}.ssbp-arrow-right:before{content:"\e612"}.ssbp-arrow-left:before{content:"\e613"}.ssbp-arrow-down:before{content:"\e619"}.ssbp-arrow-up:before{content:"\e61a"}.ssbp-chevron-down:before,.ssbp-toggle-switch:before{content:"\e618"}.ssbp-chevron-up:before,.ssbp--state-hidden .ssbp-toggle-switch:before{content:"\e615"}.ssbp-chevron-right:before,.ssbp--fixed-right .ssbp-toggle-switch:before,.ssbp--state-hidden.ssbp--fixed-left .ssbp-toggle-switch:before{content:"\e616"}.ssbp-chevron-left:before,.ssbp--fixed-left .ssbp-toggle-switch:before,.ssbp--state-hidden.ssbp--fixed-right .ssbp-toggle-switch:before{content:"\e617"}.ssbp-simplesharebuttons:before{content:"\e611"}.ssbp-yummly:before{content:"\e60b"}.ssbp-whatsapp:before{content:"\e60f"}.ssbp-diggit:before{content:"\e60c"}.ssbp-buffer:before{content:"\e60d"}.ssbp-close:before{content:"\e614"}.ssbp-twitter:before{content:"\e605"}.ssbp-reddit:before{content:"\e606"}.ssbp-flattr:before{content:"\e607"}.ssbp-tumblr:before{content:"\e608"}.ssbp-linkedin:before{content:"\e609"}.ssbp-google:before{content:"\e60a"}.ssbp-xing:before{content:"\e610"}.ssbp-facebook:before{content:"\e60e"}.ssbp-facebook_save:before{content:"\e900"}.ssbp-facebook-messenger:before{content:"\e611"}.ssbp-vk:before{content:"\e600"}.ssbp-stumbleupon:before{content:"\e601"}.ssbp-print:before{content:"\e602"}.ssbp-pinterest:before{content:"\e603"}.ssbp-email:before{content:"\e604"}.ssbp-ellipsis:before{content:"\e612"}.ssbp-x:before{content:"\e613"}@media print{.ssbp-wrap{display:none !important}}@media only screen and (min-width:481px){.ssbp-li--whatsapp,.ssbp-li--facebook-messenger{display:none !important}}.ssbp-wrap *,.ssbp-wrap *:before,.ssbp-wrap *:after{box-sizing:border-box}.ssbp-input-url-div,.ssbp-total-shares,.ssbp-each-share,.ssbp-toggle-switch,.ssbp-text{display:none}.ssbp-wrap{position:relative;display:inline-block;padding:0px;font-size:0;color:#272727}.ssbp-wrap.ssbp--centred{display:block;text-align:center}.ssbp-wrap.ssbp--aligned-right{display:block;text-align:right}.ssbp-wrap.ssbp--aligned-right .ssbp-container{display:inline-block}.ssbp-wrap .ssbp-container,.ssbp-wrap .ssbp-toggle-switch{font-size:16px}.ssbp-wrap .ssbp-list{list-style:none;display:inline-block;vertical-align:middle;margin:0;padding:0}.ssbp-wrap .ssbp-list li{position:relative;display:inline-block;vertical-align:top}.ssbp-wrap .ssbp-list li:first-of-type{margin-left:0}.ssbp-wrap .ssbp-btn{display:inline-block;text-align:center;text-decoration:none;font-family:sans-serif}.ssbp-wrap.ssbp--stacked .ssbp-list li,.ssbp-wrap.ssbp--fixed-left .ssbp-list li,.ssbp-wrap.ssbp--fixed-right .ssbp-list li{display:block;margin-top:6px;margin-left:0 !important;margin-right:0 !important}.ssbp-wrap.ssbp--stacked .ssbp-list li:first-of-type,.ssbp-wrap.ssbp--fixed-left .ssbp-list li:first-of-type,.ssbp-wrap.ssbp--fixed-right .ssbp-list li:first-of-type{margin-top:0}.ssbp-wrap[class*="ssbp--fixed"]{position:fixed;z-index:99999}.ssbp-wrap[class*="ssbp--fixed"] .ssbp-container{-webkit-transition:.25s;transition:.25s}.ssbp-wrap.ssbp--fixed-top,.ssbp-wrap.ssbp--fixed-bottom{left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.ssbp-wrap.ssbp--fixed-left,.ssbp-wrap.ssbp--fixed-right{top:25%}.ssbp-wrap.ssbp--fixed-top{top:0}.ssbp-wrap.ssbp--fixed-bottom{bottom:0}.ssbp-wrap.ssbp--fixed-left{left:0}.ssbp-wrap.ssbp--fixed-right{right:0}.ssbp-wrap[data-ssbp-counts="true"] .ssbp-each-share{display:block;pointer-events:none}.ssbp-wrap[data-ssbp-total-counts="true"] .ssbp-total-shares{display:inline-block;padding:0 .5em;text-align:center;font-size:14px;line-height:2}.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-left .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-right .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--stacked .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-left .ssbp-total-shares,.ssbp-wrap[data-ssbp-total-counts="true"].ssbp--fixed-right .ssbp-total-shares{display:block;padding:0}.ssbp-toggle-switch{position:absolute;padding:0;border:0;background:transparent;text-align:center;cursor:pointer;-webkit-transition:.25s;transition:.25s;display:none}.ssbp-toggle-switch:active,.ssbp-toggle-switch:hover,.ssbp-toggle-switch:focus{padding:0;border:0}.ssbp--fixed-left .ssbp-toggle-switch,.ssbp--fixed-right .ssbp-toggle-switch{left:0;bottom:100%;width:100%}.ssbp--fixed-top .ssbp-toggle-switch,.ssbp--fixed-bottom .ssbp-toggle-switch{left:100%;bottom:0;height:100%}.ssbp--show-toggle.ssbp--fixed-top .ssbp-toggle-switch:before{-webkit-transform:rotate(90deg);transform:rotate(90deg)}.ssbp--show-toggle.ssbp--fixed-bottom .ssbp-toggle-switch:before{-webkit-transform:rotate(-90deg);transform:rotate(-90deg)}.ssbp--show-toggle.ssbp--fixed-right .ssbp-toggle-switch:before{-webkit-transform:rotate(180deg);transform:rotate(180deg)}.ssbp--state-hidden .ssbp-each-share{opacity:0}.ssbp--state-hidden .ssbp-container{}.ssbp--state-hidden.ssbp--fixed-top .ssbp-container{-webkit-transform:translateY(-100%);transform:translateY(-100%)}.ssbp--state-hidden.ssbp--fixed-bottom .ssbp-container{-webkit-transform:translateY(100%);transform:translateY(100%)}.ssbp--state-hidden.ssbp--fixed-left .ssbp-container{-webkit-transform:translateX(-100%);transform:translateX(-100%)}.ssbp--state-hidden.ssbp--fixed-right .ssbp-container{-webkit-transform:translateX(100%);transform:translateX(100%)}.ssbp--theme-2 .ssbp-toggle-switch{background:#4C4C4C;background:rgba(39,39,39,0.8);border-radius:0;color:#fff}.ssbp--theme-2 .ssbp-toggle-switch:active,.ssbp--theme-2 .ssbp-toggle-switch:hover,.ssbp--theme-2 .ssbp-toggle-switch:focus{background:#4C4C4C;background:rgba(39,39,39,0.9)}.ssbp--theme-2.ssbp--centred .ssbp-list{display:table;table-layout:fixed;width:100%}.ssbp--theme-2.ssbp--centred .ssbp-list li{display:inline-block !important;margin:0 0 !important;display:table-cell !important;width:auto;height:auto}.ssbp--theme-2.ssbp--centred .ssbp-btn{display:block;width:auto}.ssbp--theme-2 .ssbp-list li{overflow:hidden;margin:0 !important}.ssbp--theme-2 .ssbp-btn{width:3em;height:3em;line-height:3em;position:relative;color:#fff;-webkit-transition:.25s;transition:.25s;border-bottom:0}.ssbp--theme-2 .ssbp-btn:before{-webkit-transition:.25s;transition:.25s}.ssbp--theme-2 .ssbp-btn+.ssbp-each-share{position:absolute;z-index:10;bottom:0;left:0;right:0;-webkit-transform:translateY(0);transform:translateY(0);-webkit-transition:.25s;transition:.25s}.ssbp--theme-2 .ssbp-btn:hover,.ssbp--theme-2 .ssbp-btn:focus,.ssbp--theme-2 .ssbp-btn:active,.ssbp--theme-2 .ssbp-btn:visited{z-index:10;color:#fff}.ssbp--theme-2 .ssbp-btn:hover:before,.ssbp--theme-2 .ssbp-btn:focus:before,.ssbp--theme-2 .ssbp-btn:active:before,.ssbp--theme-2 .ssbp-btn:visited:before{-webkit-transform:none !important;transform:none !important}.ssbp--theme-2 .ssbp-btn:hover+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:focus+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:active+.ssbp-each-share,.ssbp--theme-2 .ssbp-btn:visited+.ssbp-each-share{-webkit-transform:translateY(100%);transform:translateY(100%)}.ssbp--theme-2 .ssbp-btn:active{-webkit-transform:scale(1.2);transform:scale(1.2)}.ssbp--theme-2[data-ssbp-counts="true"] .ssbp-btn:before{-webkit-transform:translateY(-0.25em) scale(0.75);transform:translateY(-0.25em) scale(0.75)}.ssbp--theme-2 .ssbp-buffer{background-color:#272727}.ssbp--theme-2 .ssbp-buffer:hover,.ssbp--theme-2 .ssbp-buffer:focus,.ssbp--theme-2 .ssbp-buffer:active{background-color:#0e0e0e}.ssbp--theme-2 .ssbp-diggit{background-color:#14589E}.ssbp--theme-2 .ssbp-diggit:hover,.ssbp--theme-2 .ssbp-diggit:focus,.ssbp--theme-2 .ssbp-diggit:active{background-color:#0e3f71}.ssbp--theme-2 .ssbp-email{background-color:#787878}.ssbp--theme-2 .ssbp-email:hover,.ssbp--theme-2 .ssbp-email:focus,.ssbp--theme-2 .ssbp-email:active{background-color:#5f5f5f}.ssbp--theme-2 .ssbp-ellipsis{background-color:#4582EC}.ssbp--theme-2 .ssbp-ellipsis:hover,.ssbp--theme-2 .ssbp-ellipsis:focus,.ssbp--theme-2 .ssbp-ellipsis:active{background-color:#1863e6}.ssbp--theme-2 .ssbp-facebook{background-color:#3b5998}.ssbp--theme-2 .ssbp-facebook:hover,.ssbp--theme-2 .ssbp-facebook:focus,.ssbp--theme-2 .ssbp-facebook:active{background-color:#2d4373}.ssbp--theme-2 .ssbp-facebook_save{background-color:#3b5998}.ssbp--theme-2 .ssbp-facebook_save:hover,.ssbp--theme-2 .ssbp-facebook_save:focus,.ssbp--theme-2 .ssbp-facebook_save:active{background-color:#2d4373}.ssbp--theme-2 .ssbp-facebook-messenger{background-color:#0084FF}.ssbp--theme-2 .ssbp-facebook-messenger:hover,.ssbp--theme-2 .ssbp-facebook-messenger:focus,.ssbp--theme-2 .ssbp-facebook-messenger:active{background-color:#006acc}.ssbp--theme-2 .ssbp-flattr{background-color:#f67C1A}.ssbp--theme-2 .ssbp-flattr:hover,.ssbp--theme-2 .ssbp-flattr:focus,.ssbp--theme-2 .ssbp-flattr:active{background-color:#d56308}.ssbp--theme-2 .ssbp-google{background-color:#DC4E41}.ssbp--theme-2 .ssbp-google:hover,.ssbp--theme-2 .ssbp-google:focus,.ssbp--theme-2 .ssbp-google:active{background-color:#c63224}.ssbp--theme-2 .ssbp-linkedin{background-color:#007bb6}.ssbp--theme-2 .ssbp-linkedin:hover,.ssbp--theme-2 .ssbp-linkedin:focus,.ssbp--theme-2 .ssbp-linkedin:active{background-color:#005983}.ssbp--theme-2 .ssbp-pinterest{background-color:#ce1a19}.ssbp--theme-2 .ssbp-pinterest:hover,.ssbp--theme-2 .ssbp-pinterest:focus,.ssbp--theme-2 .ssbp-pinterest:active{background-color:#a11413}.ssbp--theme-2 .ssbp-print{background-color:#1F6B43}.ssbp--theme-2 .ssbp-print:hover,.ssbp--theme-2 .ssbp-print:focus,.ssbp--theme-2 .ssbp-print:active{background-color:#14432a}.ssbp--theme-2 .ssbp-reddit{background-color:#FF4500}.ssbp--theme-2 .ssbp-reddit:hover,.ssbp--theme-2 .ssbp-reddit:focus,.ssbp--theme-2 .ssbp-reddit:active{background-color:#cc3700}.ssbp--theme-2 .ssbp-simplesharebuttons{background-color:#4582ec}.ssbp--theme-2 .ssbp-simplesharebuttons:hover,.ssbp--theme-2 .ssbp-simplesharebuttons:focus,.ssbp--theme-2 .ssbp-simplesharebuttons:active{background-color:#1863e6}.ssbp--theme-2 .ssbp-stumbleupon{background-color:#EB4924}.ssbp--theme-2 .ssbp-stumbleupon:hover,.ssbp--theme-2 .ssbp-stumbleupon:focus,.ssbp--theme-2 .ssbp-stumbleupon:active{background-color:#ca3412}.ssbp--theme-2 .ssbp-tumblr{background-color:#2C4762}.ssbp--theme-2 .ssbp-tumblr:hover,.ssbp--theme-2 .ssbp-tumblr:focus,.ssbp--theme-2 .ssbp-tumblr:active{background-color:#1c2e3f}.ssbp--theme-2 .ssbp-twitter{background-color:#00a9f1}.ssbp--theme-2 .ssbp-twitter:hover,.ssbp--theme-2 .ssbp-twitter:focus,.ssbp--theme-2 .ssbp-twitter:active{background-color:#0085be}.ssbp--theme-2 .ssbp-vk{background-color:#45668E}.ssbp--theme-2 .ssbp-vk:hover,.ssbp--theme-2 .ssbp-vk:focus,.ssbp--theme-2 .ssbp-vk:active{background-color:#344d6c}.ssbp--theme-2 .ssbp-whatsapp{background-color:#34AF23}.ssbp--theme-2 .ssbp-whatsapp:hover,.ssbp--theme-2 .ssbp-whatsapp:focus,.ssbp--theme-2 .ssbp-whatsapp:active{background-color:#27851b}.ssbp--theme-2 .ssbp-yummly{background-color:#E16120}.ssbp--theme-2 .ssbp-yummly:hover,.ssbp--theme-2 .ssbp-yummly:focus,.ssbp--theme-2 .ssbp-yummly:active{background-color:#b64d18}.ssbp--theme-2 .ssbp-xing{background-color:#026466}.ssbp--theme-2 .ssbp-xing:hover,.ssbp--theme-2 .ssbp-xing:focus,.ssbp--theme-2 .ssbp-xing:active{background-color:#013334}.ssbp--theme-2 .ssbp-each-share{padding:2px;background-color:rgba(0,0,0,0.1);font-size:10px;text-align:center;color:#FFF}@-webkit-keyframes spin{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(360deg)}}@keyframes spin{from{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.ssbp-spinner:before{font-family:'ssbp';content:"\e614"}.ssbp-spinner{-webkit-animation:spin 2s infinite linear;animation:spin 2s infinite linear;display:inline-block}.ssbp-btn:before,.ssbp-toggle-switch:before{display:inline-block;font-family:'ssbp';speak:none;font-size:24px;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none}.ssbp-arrow-right:before{content:"\e612"}.ssbp-arrow-left:before{content:"\e613"}.ssbp-arrow-down:before{content:"\e619"}.ssbp-arrow-up:before{content:"\e61a"}.ssbp-chevron-down:before{content:"\e618"}.ssbp-chevron-up:before{content:"\e615"}.ssbp-chevron-right:before{content:"\e616"}.ssbp-chevron-left:before{content:"\e617"}.ssbp-simplesharebuttons:before{content:"\e611"}.ssbp-yummly:before{content:"\e60b"}.ssbp-whatsapp:before{content:"\e60f"}.ssbp-diggit:before{content:"\e60c"}.ssbp-buffer:before{content:"\e60d"}.ssbp-close:before{content:"\e614"}.ssbp-twitter:before{content:"\e605"}.ssbp-reddit:before{content:"\e606"}.ssbp-flattr:before{content:"\e607"}.ssbp-tumblr:before{content:"\e608"}.ssbp-linkedin:before{content:"\e609"}.ssbp-google:before{content:"\e60a"}.ssbp-xing:before{content:"\e610"}.ssbp-facebook:before{content:"\e60e"}.ssbp-facebook_save:before{content:"\e900"}.ssbp-facebook-messenger:before{content:"\e611"}.ssbp-vk:before{content:"\e600"}.ssbp-stumbleupon:before{content:"\e601"}.ssbp-print:before{content:"\e602"}.ssbp-pinterest:before{content:"\e603"}.ssbp-email:before{content:"\e604"}.ssbp-ellipsis:before{content:"\e612"}.ssbp-x:before{content:"\e613"}@media only screen and (max-width:480px){.ssbp-container{-webkit-transition:.25s;transition:.25s}.ssbp-wrap[data-ssbp-responsive="true"]{position:fixed;top:auto;right:0;bottom:0;left:0;z-index:12;text-align:center;-webkit-transform:none;transform:none}[data-ssbp-responsive="true"][data-ssbp-toggle="true"]{padding-right:24px}[data-ssbp-responsive="true"][data-ssbp-toggle="true"] .ssbp-toggle-switch{display:inline-block;left:auto;top:0;right:0;bottom:0;width:auto;height:auto;background:rgba(255,255,255,0.66);color:#4C4C4C}[data-ssbp-responsive="true"][data-ssbp-toggle="true"] .ssbp-toggle-switch:before{content:"\e618"}[data-ssbp-responsive="true"][data-ssbp-toggle="true"].ssbp--state-hidden .ssbp-toggle-switch:before{content:"\e615"}[data-ssbp-responsive="true"] .ssbp-list{display:table;table-layout:fixed;width:100%}[data-ssbp-responsive="true"] .ssbp-list li{display:inline-block !important;margin:0 12px !important;display:table-cell !important;width:auto;height:auto}[data-ssbp-responsive="true"] .ssbp-btn{display:block;width:auto}[data-ssbp-responsive="true"].ssbp--state-hidden .ssbp-container{-webkit-transform:translateY(100%);transform:translateY(100%)}[data-ssbp-responsive="true"].ssbp--theme-1 .ssbp-btn,[data-ssbp-responsive="true"].ssbp--theme-4 .ssbp-btn,[data-ssbp-responsive="true"].ssbp--theme-6 .ssbp-btn{display:inline-block;width:3em}[data-ssbp-responsive="true"].ssbp--theme-1 .ssbp-each-share,[data-ssbp-responsive="true"].ssbp--theme-4 .ssbp-each-share,[data-ssbp-responsive="true"].ssbp--theme-6 .ssbp-each-share{left:50%;right:auto;margin-left:12px}[data-ssbp-responsive="true"].ssbp--theme-2 .ssbp-btn{width:inherit}[data-ssbp-responsive="true"].ssbp--theme-1,[data-ssbp-responsive="true"].ssbp--theme-4,[data-ssbp-responsive="true"].ssbp--theme-6,[data-ssbp-responsive="true"].ssbp--theme-8{padding:12px}[data-ssbp-responsive="true"].ssbp--theme-1[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-4[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-6[data-ssbp-toggle="true"],[data-ssbp-responsive="true"].ssbp--theme-8[data-ssbp-toggle="true"]{padding-right:36px}[data-ssbp-responsive="true"].ssbp--theme-1.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-4.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-6.ssbp--state-hidden .ssbp-container,[data-ssbp-responsive="true"].ssbp--theme-8.ssbp--state-hidden .ssbp-container{margin-bottom:-12px}[data-ssbp-responsive="true"].ssbp--theme-7 .ssbp-text{display:block}[data-ssbp-responsive="true"].ssbp--theme-8 .ssbp-btn{display:inline-block;width:4em}}@media screen and (min-width:481px){.ssbp-set--one .ssbp-toggle-switch{ display:none!important;}}.ssbp-share-text{font-weight:normal;margin:0 0 10px 0;font-size:20px;}
