@media (min-width: 1280px) and (max-width: 1920px) {
    .col-sm-offset-3 {
        margin: 0!important;
    }
    .statclaim3 {
        margin-right: 0!important;
        margin-left: 0!important;
    }  
}
@media (max-width: 1280px) {
    .back-to-top {
	    display: none !important;
    }
    header .wc-arrow {
        bottom: -40px;
    }
    h1 {
        font-size: 50px;
    }
    .statclaim1,
    .statclaim2,
    .statclaim3 {
        width: 100%!important;
    }
    .statclaim1 {
        margin-left: calc!important;
    }
    .statclaim3,
    .statclaim1 {
        margin-right: 0!important;
        margin-left: 8.33333333%!important;
    }
    .statclaim2 {
        margin-left: 0!important;
    }
    .case-form {
	    padding: 0 10px;
    }
    #map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .left-pane {
	    width: 30%;
    } 
    #map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .right-pane {
	    width: 70%;
    }
}
@media (max-width: 1024px) {
    header .header-text {
        padding-top: 150px;
    }
     .statclaim1 {
        padding-bottom: 30px;
    }
    .statclaim3 {
        padding-top: 30px; 
    }
}
@media (max-width: 980px) {
    header {
        height: 500px;
        background-size: cover!important;
    }
    header .header-text {
        padding-top: 50px;
        text-align: center;
    }
    h1 {
        font-size: 55px;
    }
    h2 {
        font-size: 45px;
    }
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 30px;
    }
    h5 {
        font-size: 25px;
    }
    header p {
        font-size: 22px;
        letter-spacing: 2px;
        width: auto;
    }
    header .border {
        margin: 0 auto 30px;
    }
    .second-col-intro {
        padding-top: 30px;
    }
    .additional-stat h3,
    .additional-stat p {
        text-align: center;
    }
    .statclaim1,
    .statclaim2,
    .statclaim3 {
        width: auto;
    }
    .additional-stat .col-md-offset-1 {
        margin-left: auto;
    }
}
@media (max-width: 800px) {
    h1 {
        font-size: 42px;
        line-height: 46px;
    }
    header .header-text {
        padding-top: 50px;
    }
    header h3 {
        font-size: 25px;
    }
    header p {
        font-size: 18px;
    }
    .intro,
    .narrative,
    .resources,
    .donate .donate-text {
        padding: 80px 0;
    }
    .story-map .story-map-content {
        min-height: 500px;
    }
    body,
    li {
        font-size: 16px!important;
        line-height: 26px!important;
    }
    .donate .donate-text {
        padding-left: 40px;
        padding-right: 40px;
    }
    .links {
        padding: 40px 0;
    }
    .statclaim1,
    .statclaim2,
    .statclaim3 {
        width: auto;
        margin: 0!important;
    }
    .statclaim1 h3,
    .statclaim3 h3 {
        text-align: center;
        margin: 0 auto;
    }
    statclaim1 .border--gray,
    statclaim3 .border--gray,
    .stat-vs-claim .border--gray {
        margin: 30px auto!important;
        text-align: center!important;
    }
    .statclaim1 li,
    .statclaim3 li {
        padding-bottom: 10px;
    }
    .statclaim1 {
        padding-bottom: 30px;
    }
    .statclaim3 {
        padding-top: 30px;
    }
    .additional-stat .col-md-offset-1 {
        margin: auto;
    }
    .intro,
    .lawsuit-gauge,
    .highlighted-stat,
    .stat-vs-claim,
    .additional-stat,
    .resources,
    .donate .donate-text {
        margin: 0 auto;
        padding: 90px 0;
    }
    .statclaim2 img {
        margin: 0 auto;
        width: 50%;
    }
    .statclaim2 {
        margin-left: auto!important;
    }
}

/*@media (min-width: 900px) {
    .col-sm-offset-3, .col-sm-offset-1 {
        margin-left: 0!important;
    }
}*/

@media (max-width: 768px) {
    .donate {
        background-image: url("../images/cta-bg-opt.jpg");
        padding: 50px 0;
    }
    .donate .donate-text {
        padding: 50px 30px;
    }
}
@media (max-width: 767px) {
    header {
        height: 650px!important;
        background-size: cover !important;
    }
    #map-intro {
	    padding-bottom: 30px;
    }
    .resources .resource-box {
        border: none;
        width: 100%;
        margin: 0;
        margin-top: 0;
    }
    .resources .resource-box:last-child {
	    padding-bottom: 30px;
    }
    .resources .resource-box .resource-icon {
        width: auto;
    }
    .resources .resource-box .resource-text {
        padding: 20px 20px;
    }
    header .wc-arrow {
        bottom: -70px;
    }
    #map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .left-pane {
	    width: 100%;
	    float: none;
	    padding-bottom: 10px;
    } 
    #map .leaflet-bottom.leaflet-left .totals-overlay.leaflet-control .right-pane {
	    width: 100%;
	    float: none;
	    padding-top: 10px;
    }
    .resources h2 {
	    font-size: 33px;
    }    
}
@media (max-width: 500px) {
    header {
        height: 700px!important;
        background-size: cover !important;
    }
    header .header-btn {
        padding: 20px 30px;
        font-size: 20px;
    }
    .cities h3 {
        padding-top: 20px;
    }
    header .wc-arrow {
        bottom: -30px;
    }
    .highlighted-stat h3 {
        font-size: 28px;
    }
}
@media (max-width: 480px) {
	.btns-social .ssbp--theme-2.ssbp--centred .ssbp-list li {
		display: table-cell !important;
	}
}
@media (max-width: 380px) {
    header {
        height: 780px!important;
        background-size: cover !important;
    }
    .resources .resource-box {
        border: 1px solid #b0b0b0;
        padding-bottom: 20px;
    }
}
@media (max-width: 320px) {
    header p,
    body,
    li {
        font-size: 14px!important;
        line-height: 24px!important;
    }
    .intro,
    .lawsuit-gauge,
    .highlighted-stat,
    .stat-vs-claim,
    .additional-stat,
    .resources,
    .donate .donate-text {
        margin: 0 auto;
        padding: 70px 0;
    }
}
