#welcome {
    position: relative;
    height: 654px;
}

#welcome .left .content .inner {
    bottom: 0;
    top: 58px;
    max-width: 576px !important;
    width: 100%;
}

#welcome.type-2 .inner h2 {
    font-size: 30px;
    color: #183251;
    text-shadow: none;
    text-transform: initial;
    line-height: 32px;
}

.form-info {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: justify;
    font-family: Montserrat,sans-serif !important;
}

.main-form-container {
    background: #7E92A4;
    padding: 0;
}

.right-car-accident .form {
    width: 360px;
    position: absolute;
    right: 70px;
    top: 0;
    box-shadow: 3px 8px 3px 2px rgba(0, 1, 1, .13);
}

.form {
    padding: 15px;
    border: none;
    background: #7E92A4;
}

.header-form {
    background: #cdd5db;
    padding: 20px 10px;
    border-radius: 15px;
}

.header-form button, .form form .but-form {
    font-family: Montserrat,sans-serif !important;
    border-radius: 5px;
    font-size: 18px !important;
    line-height: 59px !important;
    height: 59px !important;
}

.form input, .header-search input {
    height: 38px !important;
    font-size: 15px !important;
    padding: 0 10px !important;
    border-radius: 5px 0 0 5px;
    font-family: Montserrat,sans-serif !important;
}

.form textarea {
    height: 100px;
    font-size: 15px !important;
    padding: 10px !important;
    border-radius: 5px 0 0 5px;
    font-family: Montserrat,sans-serif !important;
}

.form .form-box span {
    height: 39px;
    line-height: 39px;
}

.form form h3 {
    color: #033051;
    font-family: Montserrat, sans-serif;
    font-size: 23px;
}

.form h3 .bold {
    font-weight: bold;
}

.form h3 .light {
    font-weight: lighter;

}

.form h3 span {
    color: #033051;
    display: inline;
    font-family: Montserrat;
}

.form small {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

.form .wpcf7-not-valid {
    border-color: #8a1112;
    border-width: 2px;
}

.screen-reader-response, .wpcf7-response-output, .wpcf7-not-valid-tip {
    display: none !important;
}

.wpcf7-response-output {
    display: block !important;
    font-size: 14px;
    color: green;
    margin-top: 5px;
}


@media(max-width: 1499px) {
    .page-template-template-test-home #welcome {
        background-position: 50% 19% !important;
        background-size: unset !important;
    }


}

@media (max-width: 991px) {
    #welcome .left .content .inner {
        max-width: none !important;
        text-align: center;
    }

    #welcome .left .content .inner h1, #welcome .left .content .inner h2 {
        font-size: 26px;
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .right-car-accident .form {
        right: 25%;
        top: 130px;
    }

    #welcome {
        height: 767px;
    }
}

@media (max-width: 767px) {
    #welcome .left .content .inner {
        /*margin: 0 auto;*/
        /*position: relative;*/
        /*width: 425px;*/
    }

    #welcome .content {
        width: 100%;
    }

    .right-car-accident {
        display: none;
    }

    #welcome .container .left .content .inner h1, #welcome .container .left .content .inner h2 {
        background: rgba(15, 15, 15, .7);
        border-radius: 25px;
        display: inline-block;
        padding: 15px;
        color: #fff;
        margin-top: 10px;
    }
}

@media (min-width: 555px) and (max-width: 990px) {
    #form {

    }
}

