#sub-contacts {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
  border: 1px solid #d9d9d9;
  background-color: #ffffff;
  position: relative;
  z-index: 11;

  .logo {
    margin-top: 27px;
    display: inline-block;
  }

  .socials {
    text-align: center;
    padding-top: 29px;

    .social {

      span {
        background-color: #4d6184;
        line-height: 32px;
      }

    }

    @include media('>=desktop', '<widescreen') {
      text-align: center;
      padding-top: 29px;
      position: relative;
      left: 50px;
    }

  }

  .contacts {
    text-align: center;
    float: right;
    line-height: 1;
    position: relative;
    padding: 0 135px 0 0;
    top: 0;

    @include media('>=desktop', '<widescreen') {
      padding: 0;
      padding-right: 30px;
      float: right;
    }

    @include media('>=tablet', '<desktop') {
      padding: 0;
      float: none;
    }

    @include media('<tablet') {
      text-align: center;
      float: none;
      line-height: 1;
      position: relative;
      padding: 0;
      top: 0;
      clear: both;
      max-width: 190px;
      margin: 0 auto;
      margin-top: 0px;
    }

    > span {
      color: #000000;
      font-size: 21px;
      font-weight: 700;
      text-align: center;
      padding-left: 4px;

      @include media('<tablet') {
        text-align: center;
      }

    }

    > b {
      color: #4d6184;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
    }

    .callback {

      a {
        color: #70b8bf;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border-top-color: #b2c2d1;
        border-bottom-color: #b2c2d1;
        padding: 3px 0;
      }

    }

    .button {
      top: 30px;

      @include media('<tablet') {
        margin-bottom: 20px;
      }

      .but {
        background: #ffb800;
        color: #000000;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        height: 36px;
        line-height: 36px;
        padding: 0 22px;

        &:hover {
          background: #ffdd84;
        }

      }

    }

  }

}

#contacts {
  position: relative;
  padding: 90px 0 115px;

  @include media('>=widescreen') {
    height: 490px;
  }

  .footer-accordion {

    address {

      p {

        b {
          font-size: 19px;
          font-weight: 700;
          line-height: 25px;
        }

        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
      }

    }

  }

  .accordion.style-blue-1 {

    dt.accordion-opened {
      background-color: #4d6184;

      a {
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 300;
        letter-spacing: 0.22px;
        padding-right: 30px;
      }

    }

    dd.footer-accordion {
      padding: 15px 25px 30px 25px;

      p {
        margin-bottom: 20px;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;

        b {
          color: #000000;
          font-size: 19px;
          font-weight: 700;
        }

      }

    }

  }

}

footer {

  .navigation {
    background: #4d6184;

    li {

      @include media('>=desktop', '<widescreen') {
        margin: 0 19px;
      }

      a {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.3px;

        @include media('>=desktop', '<widescreen') {
          font-size: 14px;
        }

      }

    }

  }

  .copyright {
    background: #fff;
    padding: 25px 0;

    .pull-left {
      color: #a2a2a2;
      font-size: 14px;
      font-weight: 300;
    }

    .pull-right {
      color: #a2a2a2;
      font-size: 14px;
      font-weight: 300;

      a.stamp {
        color: #a2a2a2;
        font-size: 14px;
        font-weight: 300;
      }

    }

  }

}