.topline {
  padding: 0;
  height: 132px;
  border-bottom: 1px solid #c5c5c5;

  @include media('>=tablet', '<desktop') {
    height: 160px;
  }

  .topline-logo {
    padding-top: 26px;
    float: left;

    .logo {
      padding: 0;

      @include media('<tablet') {
        display: block;
        margin-top: 22px;
      }

    }

  }

  .contacts {
    text-align: center;
    float: right;
    line-height: 1;
    position: relative;
    padding: 0 160px 0 0;
    top: 20px;

    @include media('>=tablet', '<desktop') {
      top: 0;
      padding: 10px;
    }

    > span {
      color: #000000;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      padding-left: 4px;
    }

    > b {
      color: #e2544d;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      text-align: left;
    }

    .callback {

      a {
        color: #70b8bf;
        font-size: 13px;
        font-weight: 700;
        text-transform: uppercase;
        border-top-color: #b2c2d1;
        border-bottom-color: #b2c2d1;
        padding: 3px 0;
      }

    }

    .button {
      top: 30px;

      .but {
        background: #e3e3e3;
        color: #70b8bf;
        font-size: 14px;
        font-weight: 400;
        font-family: $font-default;
        text-transform: uppercase;
        letter-spacing: 0.32px;
        height: 36px;
        line-height: 36px;
        padding: 0 22px;

        &:hover {
          background: #70b8bf;
          color: $white;
        }

      }

    }

  }

}

#wrapper {

  > header {
    background-size: cover!important;

    .inner {

      h2 {

        span {
          font-size: 52px;
          font-weight: 300;
          font-family: Montserrat;

          @include media('<tablet') {
            font-size: 36px;
          }

          strong {
            font-weight: 800;
          }

        }

      }

      h3 {
        font-size: 21px;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
        color: #ffffff;
        font-family: Montserrat;
        font-weight: 400;
        text-transform: none;
      }

    }

    .form {
      width: 400px;
      height: 487px;
      box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
      border: 4px solid #f1f1f1;
      background-color: rgba(#465776, 0.9);
      padding: 24px;

      .header-form {

        h3 {
          color: #ffffff;
          font-size: 25px;
          font-weight: 700;
          text-transform: uppercase;
          padding: 5px 0 10px;
        }

        input,
        textarea {
          color: #76787b;
          font-family: Montserrat;
          font-size: 18px;
          font-weight: 300;
        }

        .but-form {
          background-color: $yellow;
          text-decoration: none;
          color: #000000;
          font-family: Montserrat;
          font-size: 20px;
          font-weight: 700;
          text-transform: uppercase;
          letter-spacing: 0.1px;
          line-height: 60px;
          height: 60px;
          display: block;

          &:hover {
            background-color: #ffdd84;
          }

        }

        .required span {
          position: absolute;
          text-transform: uppercase;
          right: 10px;
          top: 0;
          height: 59px;
          line-height: 63px;
          color: #9e2f33;
          font-size: 16px;
          font-weight: 700;
        }

      }

    }

    #welcome {

      .left {

        .inner {
          position: absolute;
          bottom: 35px;
          max-width: 717px;
          width: 100%;

          @include media('>=tablet','<desktop') {
            .home & {
              bottom: -115px;
            }
          }

          @include media('<480px') {
            .home & {
              bottom: -10px;
            }
          }

          p {
            text-align: right;
            padding-right: 25px;

            @include media('<desktop') {
               display: none;
            }

            img {
              position: static;
              top: 0;
              display: inline-block;
              transform: translate(0);
              margin-bottom: 10px;
            }

          }

        }

      }

      .right {
        top: 59px;
      }

      .welcome-bar {
        background: rgba(#eef7ff, 0.90);
        height: 190px;
        display: block;
        width: 100%;
        position: relative;
        bottom: 190px;
        padding-top: 40px;

        @include media('<desktop') {
           display: none;
        }

        blockquote {
          padding: 0;
          margin: 0;
          border: none;
          max-width: 515px;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
          color: #4c6083;
          font-family: Montserrat;
          font-size: 23px;
          font-weight: 600;
          line-height: 34px;
          padding-bottom: 7px;
        }

        cite {
          padding-top: 50px;
          color: #4c6083;
          font-size: 19px;
          font-weight: 700;
          line-height: 36px;
          font-style: normal;
        }

      }

    }

    .home & {

        @include media('>=tablet','<desktop') {
          background-position: -340px 0;
        }

    }

  }

}

