@include media('>=tablet') {

  .navigator {
      width: 100%;
      height: 64px;
      background-color: #17a5ae;
      z-index: 99;

      @media screen and (max-width: 767px) {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
      }
    .menu-main {
      position: relative;
      top: 0;

      @include media('>=tablet', '<desktop') {
        top: 0;
      }

    }

    #nav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      > li.menu-item {
        float: none;

        > a {
          height: 64px;
          overflow: hidden;
          color: $white;
          font-family: $font-default;
          font-size: 16px;
          text-transform: uppercase;
          font-weight: 700;
          padding: 0;

          @include media('>=tablet', '<widescreen') {
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            padding-top: 12px;
            max-width: 90px;
          }

          &:hover {
            background: none;
            color: $yellow;
          }

          &.menu-home {

            span {
              height: 64px;
              width: 48px;
              display: block;
              background: url("../../images/ico-home.png") no-repeat 50% 50%;
            }
          }

        }

        &:first-child {
          > a {
            span {
              height: 64px;
              width: 48px;
              display: block;
              background: url("../../images/ico-home.png") no-repeat 50% 50%;
            }
          }
        }

        &.menu-item-has-children {

          > a {
            position: relative;
            padding-right: 5px;
            overflow: visible;

            @include media('<widescreen') {
              padding-right: 15px;
            }

            &:after {
              content: "\f0d7";
              display: block;
              font-family: FontAwesome;
              position: absolute;
              right: -10px;
              padding-right: 0px;
              font-size: 12px;
              color: #4c6083;
              z-index: 10;
              top: 0;

              @include media('<widescreen') {
                right: 4px;
                top: 9px;
              }

            }

          }

          @include media('<widescreen') {

            > ul.sub-menu {
              left: -130px;
            }

            &:nth-child(2) {

              > ul.sub-menu {
                left: -30px;
              }

            }

          }

        }

        &.current_page_item {

          > a {
            color: $yellow;
          }

        }

        &:hover, &.current-menu-ancestor, &.current-menu-parent, &.current-menu-item {
          background-color: transparent;
          color: #fff;
        }       
      }

    }

  }

  .navigator {

    #nav {

      > li:hover,
      > li.current-menu-ancestor,
      > li.current-menu-parent,
      > li.current-menu-item {
        background: none;

        &:first-of-type {
          background: transparent;
        }

      }

      ul.sub-menu {

        li.current-menu-item {

          a {
            color: #fff !important;
            background: url("../../images/arrow-right-sm-blue-light.png") no-repeat 17px
          }

        }

      }

    }

  }

}

@include media('<tablet') {

  .fixed-menu {

    li a {
      color: #1a1a1a;
      font-family: Montserrat;
      font-size: 17px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.03px;
    }

    .but-mobile {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 54px;
      padding: 14px 10px 10px;
      background: #4c6083;

      span {
        border-radius: 0;
      }

    }

  }

  #tap-buttons {
    .tap-but {
      text-transform: uppercase;
      background: #9c2e31;
      border: 2px solid #fff;
      color: #fff;
      border-radius: 50px;
      padding: 4px 20px;
      font-size: 14px;
    }
  }

}

@include media('<tablet') {

  html #wpadminbar {
    display: none!important;
  }

  .open-menu {

    .fixed-menu {
      left: -80%!important;
    }

    .navigator {
      right: 0!important;

      .menu-main {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 20%!important;
        z-index: 9999;
        margin: 0;
        display: block;
        width: 80%;
        float: none;
      }

    }

  }

  .fixed-menu {
    left: 0!important;
  }

  .navigator {
    right: -80%!important;
    left: -100%important;
  }

}