aside {

  .blog-item {

    .blog-inner {

      .preview {

        a {
          display: none;
        }

      }

    }

  }

  .block.block-other-areas ul li a {
    padding-left: 0;
    line-height: 36px;
    color: #000;
    background: no-repeat 0 50%;
  }

  .block.block-quotes {

    p {
      text-align: left;
      margin-bottom: 4px;
      font-size: 26px;
      color: #0c4a7e;
      font-weight: 400;
      line-height: 1.3;
    }

  }

  .block {

    &.widget_categories {
      background-color: #eee;

      h3 {
        background: white;
        padding-bottom: 30px;
      }

      &.block-body {
        padding: 28px 28px 15px 28px;
        background-color: #EEE;
      }

      ul {
        list-style: none;
        padding: 28px 28px 15px 28px;

        li {
          margin-bottom: 13px;
          width: 100%;

          a {
            background: #fafafa url("../../images/arrow-right-gray-md.png") no-repeat scroll 95% 50%;
            background-color: rgba(255, 255, 255, 0.7);
            color: #000;
            font-size: 20px;
            font-weight: 400;
            display: block;
            text-decoration: none;
            line-height: 1.2;
            padding: 17px 35px 18px 25px;
            transition: background-color 0.5s ease;

            &:hover {
              color: $red;
            }

          }

        }

      }

    }

    &.verdicts-slider {

      ul {

        li {

          p {
            text-align: center;
            display: block;
            color: #9E2F33;
            font-size: 39px;
            font-weight: 400;
            text-transform: uppercase;
            font-weight: 700;
            margin: 0;
            padding: 0;
          }

        }

      }

    }

  }

  .form {
    width: 400px;
    height: 487px;
    box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
    border: 4px solid #f1f1f1;
    background-color: rgba(#465776, 0.9);
    padding: 24px;
    margin-top: 0;

    @include media('<widescreen') {
      margin: 0 auto 40px;
    }

    @include media('<tablet') {
      width: 100%;
      height: auto;
    }

    .header-form {

      h3 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 0 10px;
      }

      input,
      textarea {
        color: #76787b;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
      }

      .but-form {
        background-color: $yellow;
        text-decoration: none;
        color: #000000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        line-height: 60px;
        height: 60px;
        display: block;

        @include media('<tablet') {
            line-height: 24px;
            height: auto;
            display: block;
            padding: 12px 0;
        }

        &:hover {
          background-color: #ffdd84;
        }

      }

      .required span {
        position: absolute;
        text-transform: uppercase;
        right: 10px;
        top: 0;
        height: 59px;
        line-height: 63px;
        color: #9e2f33;
        font-size: 16px;
        font-weight: 700;
      }

    }

  }

  .block-where-begin {

    @include media('<tablet') {
       margin-bottom: 40px;
    }

    .buttons {

      .but {

        @include media('<tablet') {
          margin-bottom: 15px;
        }

      }

    }

  }

  .block.meet-attoneys {

    @include media('>=tablet','<desktop') {

      .block-body {
        text-align: center;
        margin: 0;
        padding-bottom: 10px;

        .attorney-item {
          position: relative;
          width: 47%;
          margin: 0 10px;
          float: none;
          max-width: 170px;
          display: inline-block;
        }

      }

    }

  }

  @include media('<tablet') {

    .block.accordion-generic {
      padding-top: 40px;
    }

  }

}