#welcome {

  .inner {
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

}

header h2,
header h3 {
  font-family: $font-default;
}

#ssbp-ellipsis-div {
  display: none;
}

.block-go {

  .btn-go-url {
    background-color: $yellow;
    color: #000000;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;

    &:hover {
      background-color: #ffdd84;
    }

  }

}

.col {

  ol {
    margin-bottom: 25px;
    clear: both;
    list-style: none;
    padding: 0;

    > li {
      position: relative;
      padding: 14px 18px 14px 56px;
      counter-increment: li;
      color: #000000;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 300;
      line-height: 32px;
      list-style: none;

      @include media('<tablet') {
        padding: 14px 10px 14px 44px;
      }

      &:before {
        content: counter(li);
        color: $white;
        display: inline-block;
        position: absolute;
        top: 19px;
        left: 12px;
        text-align: center;
        background-color: #ffb800;
        border-radius: 50%;
        height: 25px;
        width: 25px;
        line-height: 25px;
        font-weight: 600;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.2px;

        @include media('<tablet') {
          left: 0;
        }

      }

    }

  }

}

#home-team {

  .col {

    ol {

      li {
        color: white;
      }

    }

  }

}

.page-template:not(.home) {

  .content-wrapper {

    @include media('<tablet') {
      padding-top: 20px;
    }

    &.wide {

      aside {
        padding-top: 30px;
      }

    }

  }

}

.featured-wrap {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

  @include media('<tablet') {
    float: none;
    margin: 20px auto;
    text-align: center;

    img {
      display: inline-block;
      height: auto;
      max-width: 100%;
    }

  }

}



.content-wrapper {

  article {

    img.image.left.thumbnail {
      margin-right: 20px;
      margin-bottom: 20px;
      max-width: 300px;
      height: auto;
      float: left;
      top: 8px;

      @include media('<tablet') {
        margin: 0 auto;
        display: block;
        float: none;
        height: auto;
        max-width: 100%;
      }

    }

    img.image.left {

      @include media('<tablet') {
          margin: 0 auto 20px;
          display: block;
          float: none;
          height: auto;
          max-width: 100%;
      }

    }

    ul {

      li {
        margin-bottom: 20px;
        padding-left: 60px;
        color: #000000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        line-height: 32px;
      }

    }

  }

}

article {

  > h1 {
    color: #4c6083;
    font-family: Montserrat;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;

    span {
      line-height: 37px;
    }

    @include media('<tablet') {
      font-size: 30px;
      line-height: 35px;
      padding: 15px 0;
    }

  }

}

header {
  background-position: 50% 25%;
}

#results {

  .result-list {

    .inner-wrap {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      left: -3px;

      p {
        color: #87a5bd;
        font-size: 13px;
        letter-spacing: 0.5px;
        line-height: 24px;
        max-width: 155px;
        margin: 0 auto;
        text-align: center;
        font-family: Montserrat;
      }

    }

  }

  .slider-wrapper {

   #slider-results {

     .owl-item:nth-child(3),
     .owl-item:nth-child(4) {

       .inner-wrap {
         top: 50%;
         position: relative;
         transform: translateY(-50%);
         left: -3px;

         p {
           color: #87a5bd;
           font-size: 13px;
           letter-spacing: 0.5px;
           line-height: 24px;
           max-width: 115px;
           margin: 0 auto;
           text-align: center;
           font-family: Montserrat;
         }

       }

     }



   }

  }

}



.custom-aside {
  top: -270px;

  .page-id-2104 &,
  .page-id-195 &
  {
    top: -304px;
  }

  @include media('<widescreen') {
    top: -302px;
  }

  @include media('<desktop') {
     top: 0;
  }

}

.btn-load-more-ajax {
  text-align: center;

  .next-posts-link {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
  }

}

@include media('>=tablet','<desktop') {

  #awards {

    .owl-prev {
      left: 5px;
    }

    .owl-next {
      right: 5px;
    }

  }


}

.former-link {
  text-align: center;
  color: #000;
  background: #FFF;
  padding: 15px;
  font-size: 12px;
  border: 4px solid #f1f1f1;
  margin-bottom: 15px;
}
