/* Enter Your Custom CSS Here */
aside .block.form {
    margin-top: 0;
}

#wrapper #sub-contacts .contacts span {
    font-size: 21px;
    margin: 0 auto;
    text-align: center;
}

#wrapper #sub-contacts .sub-sub-text {
    display: block !important;
    color: #183251;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    /*margin-top: 10px;*/
}

#sub-contacts .container {
    max-width: 1250px;
    width: 100%;
}



.brucelogoimg {
    max-width: 350px;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.page-id-4619 #prepared-resources .placeholder .item .carbluecontent h3 {
    position: inherit;
}

.footersubtext img {
    max-width: 100%;
}

/*#sub-contacts .col:first-of-type {*/
/*width: 35%;*/
/*}*/
#sub-contacts .col:last-of-type {
    padding-top: 33px;
}

.motheader {
    font-size: 30px;
    text-align: center;
    padding: 30px;
}

.block.meet-attoneys h3 {
    color: #fff;
    text-align: center;
    padding: 18px;
    display: none;
}

.postlistingcarul .postlistingcar li a {
    font-size: 17px;
    font-weight: bold;
}

.redsectioncar .ultop li, .redsectioncar .uldown li {
    padding: 0 !important;
    font-size: 24px;
}

ul.postlistingcar.left, ul.postlistingcar.right {
    max-width: 600px;
    width: 100%;
    float: left;
    padding: 0 10px;
    color: #fff;
}

.redsectioncar ul li {
    background: none !important;
}

ul.uldown {
    margin: 0 auto;
    max-width: 850px;
    text-align: center;
}

li.dotsadots {
    margin: 0 auto !important;
    font-size: 30px !important;
    padding: 0 !important;
    text-align: center !important;
    width: 20px;
}

.page-id-4619 .placeholder .item .button {
    display: none;
}

.carbluecontent {
    padding-bottom: 18px;
}

.home #wrapper > header #welcome .left .inner {
    top: 0;
}

.home #welcome .container .left .content .inner h1 span strong {
    font-size: 30px;
    color: #183251;
}

.home #welcome .container .left .content .inner h1 span {
    font-size: 30px;
    color: #183251;
    text-shadow: none;
    text-transform: initial;
    line-height: 32px;
}

.home #welcome .container .left .content .inner h3 {
    font-size: 26px;
    margin-top: 20px;
}

.home header section#quote-top {
    display: none;
}

/*#welcome .left h1 strong {
    font-size: 30px !important;
}
#welcome .left h1, #welcome .left h3 {
    padding: 0 10px;
    background-image: linear-gradient(to right, #792221 , #9e4342, #f6dac7);
    margin-bottom: 0 !important;
    padding-bottom: 10px;
}*/

.home .sixright h2:before {
    width: 100% !important;
    height: 2px !important;
}

ul.collisionlist li {
    font-weight: 600 !important;
}

ul.collisionlist {
    width: 100%;
    display: inline-block;
}

.page-id-4619 .block.verdicts-slider h3 {
    text-align: center;
    color: #fff;
    padding-top: 35px;
}

.page-id-4619 aside .block.meet-attoneys .block-body {

    padding: 0;

}

.page-id-4619 .block.blog-item {
    overflow: visible;
}

/*.page-id-4619 aside .clearfix:before, aside .clearfix:after {*/
/*    border-top: 2px solid #9e2833;*/
/*    width: 50%;*/
/*    margin: 0 auto;*/
/*    visibility: visible;*/
/*}*/

.divfaq {
    padding-bottom: 35px;
}

.page-id-4619 .clearfix:after {
    padding-bottom: 35px;
}

.page-id-4619 .block.verdicts-slider {
    background-color: #0a3f61;
}

.page-id-4619 .block.verdicts-slider span.categories {
    color: #fff;
    font-weight: normal;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.page-id-4619 aside .block.verdicts-slider ul .owl-wrapper-outer {
    padding: 25px 0;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.page-id-4619 aside .block.verdicts-slider ul li p {
    color: #fff;
}

.page-id-4619 aside .block.verdicts-slider .block-body {
    background: #0a3f61;
    padding: 0 25px;
}

@media (max-width: 1199px) and (min-width: 767px) {
    #quote-top p {
        max-width: 530px;
        width: 90%;
    }

    /*.page-id-4619 .right-car-accident {*/
    /*    display: block !important;*/
    /*    float: right;*/
    /*    position: absolute;*/
    /*    top: 350px !important;*/
    /*    right: 10px !important;*/
    /*    max-width: 400px;*/
    /*}*/

    #welcome .inner {
        position: absolute;
        bottom: 30px;
        width: 45%;
        padding-left: 35px;
    }

}

/*@media (max-width: 1400px) and (min-width: 1350px) {*/
/*    .page-id-4619 #wrapper .right-car-accident {*/
/*        display: block !important;*/
/*        float: right;*/
/*        position: absolute;*/
/*        top: 200px;*/
/*        right: 100px;*/
/*        max-width: 400px;*/
/*    }*/
/*}*/

@media (max-width: 1370px) and (min-width: 1366px) {
    .page-id-4619 .page-inner-area #wrapper .right-car-accident {
        right: 87px;
    }
}

@media (max-width: 1500px) and (min-width: 1300px) {
    .page-id-4619 #wrapper .lowercontainer h2:before {
        background: #c4d0da;
        content: "";
        display: block;
        height: 1.09px;
        position: relative;
        right: 90%;
        top: 25px;
    }

    .page-id-4619 #wrapper .lowercontainer h2:after {
        background: #c4d0da;
        content: "";
        display: inherit;
        height: 1.09px;
        position: relative;
        left: 90%;
        top: -20px;
    }

}

@media (max-width: 1290px) and (min-width: 1201px) {
    .page-id-4619 #wrapper .lowercontainer h2:before {
        background: #c4d0da;
        content: "";
        display: block;
        height: 1.09px;
        position: relative;
        right: 95%;
        top: 25px;
    }

    .page-id-4619 #wrapper .lowercontainer h2:after {
        background: #c4d0da;
        content: "";
        display: inherit;
        height: 1.09px;
        position: relative;
        left: 95%;
        top: -20px;
    }

}

@media (max-width: 1199px) and (min-width: 768px) {
    .navigator #nav > li.menu-item.menu-item-has-children > ul.sub-menu {
        left: -50px;
    }
}


@media (min-width: 1200px) {
    #contacts {
        height: 530px;
        padding-top: 40px;


    }


}

/*@media (min-width: 1350px) {*/
/*    .page-id-4619 #wrapper .right-car-accident {*/
/*        display: block !important;*/
/*        float: right;*/
/*        position: absolute;*/
/*        top: 200px;*/
/*        right: 250px;*/
/*        max-width: 400px;*/
/*    }*/
/*}*/

@media (max-width: 1299px) {
    .visible-xs.text-center {
        display: none !important;
    }

    .sectwocontainer.left p {
        text-align: center;
        margin: 0 auto;
    }

    .home #we-believe .right {
        float: none !important;
        max-width: 990px !important;
        position: relative !important;
        right: 0;
        padding-right: 0 !Important;
        width: 100%;
        margin: 0 auto !important;
        display: grid !important;
    }

    .home #we-believe .left {
        float: none !important;
        width: 100% !important;
        display: grid;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 1199px) {
    .navigator .container {
        width: 100%;
        padding: 0 20px;
    }

    .topline {
        height: 180px !important;
    }

    #wrapper .topline .contacts .pnum {
        font-size: .8em;
    }

    #wrapper .topline .contacts {
        max-width: 100% !important;
        width: 35% !important;
        float: left;
    }

    .logowrap, .extraimg {
        width: 25% !important;
        float: left;
    }

    li#menu-item-599 {
        width: 7%;
    }

    #nav li a {
        font-size: .7em !important;
    }

    li#menu-item-41831 {
        width: 9%;
    }

    li#menu-item-10028 {
        width: 20%;
    }

}

@media (max-width: 767px) {
    .home #welcome .container .left .content .inner h1 span {
        background: rgba(15, 15, 15, .7);
        border-radius: 25px;
        display: inline-block;
        padding: 25px;
        color: #FFF;
    }

    .home #welcome .container .left .content .inner h1 span strong {
        color: #FFF;
    }

    .page-id-4619 #welcome {
        height: 240px !important;
        background: url(../images/shadow-home.png) repeat-x left bottom;
        background-position: 100% 167%;
    }

    .page-id-4619 #welcome .container .content .inner {
        width: 100%;
        top: 0;
    }

    /*.page-id-4619 #prepared-resources h2:before,   .page-id-4619 #prepared-resources h2:left {*/
    .page-id-4619 #prepared-resources h2:before {
        display: none !important;
    }

    /*.page-id-4619 #wrapper .right-car-accident {*/
    /*    display: none !important;*/
    /*}*/

    .extraimg {
        width: 50% !important;
    }

    #tap-buttons .tap-but {
        text-transform: uppercase;
        background: #9c2e31;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50px;
        padding: 4px 17px;
        font-size: 13px !important;
    }
}

@media (max-width: 991px) {
    .page-id-4619 .redsectioncar h2:before, .page-id-4619 .redsectioncar h2:after {
        display: none !important;
    }

    .postlistingcarul {
        max-width: 600px;
        width: 100%;
        margin: 0 auto;
    }

    #sub-contacts .col:first-of-type {
        width: 35%;
        margin: auto;
    }

    #welcome .left .content .inner {
        top: 0 !important;
    }

    .page .visible-xs {
        position: relative;
    }

    #tap-buttons {
        background: #87a6bf;
        text-align: center;
        padding: 20px;
        width: 100% !important;
        top: 0 !important;
    }

    .navigator #nav li a {
        font-size: .8em !important;
    }

    .navigator #nav li ul a {
        width: 310px;
        color: #0c4a7e;
        text-transform: none;
        font-size: 17px;
        font-weight: 400;
        padding: 0 10px 0 38px;
        line-height: 49px;
        background: url(//atlantaadvocate.com/wp-content/themes/cw-theme-two/css/../images/arrow-right-sm-blue.png) no-repeat 17px 50%;
        text-align: center;
    }

    .navigator #nav > li.menu-item.menu-item-has-children {
        width: 100%;
    }

    .navigator #nav > li.menu-item.menu-item-has-children > a {
        text-align: center;
    }

    .container {
        width: 100%;
        padding-top: 30px;
    }

    #wrapper .topline .contacts .pnum {
        font-size: .7em;
    }

    .topline {
        height: 220px !important;
        padding-top: 0;
    }

    .fixed-menu {
        left: 0 !important;
    }

    .visible-xs {
        display: block !important;
        z-index: 1000;
    }

    .container {
        padding: 0 10px;
    }

    .navigator {
        right: -80% !important;
        left: -100% !important;
    }

    .container {
        padding: 0 10px;
    }

    .navigator .menu-main {
        position: fixed !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: auto !important;
        z-index: 100;
        margin: 0 -80% 0 0;
        display: block;
        width: 80% !important;
        overflow: auto;
        background: #0c4a7e !important;
        float: none;
        -webkit-transition: none;
        -moz-transition: none;
        -ms-transition: none;
        -o-transition: none;
        transition: none;
        -webkit-transform: translateZ(1px);
        transform: translateZ(1px);
        -moz-transform: translateZ(1px);
        -o-transform: translateZ(1px);
        -ms-transform: translateZ(1px);
    }

    .navigator .menu-main > #nav {
        display: block;
        float: none !important;
    }

    .navigator .menu-main > #nav > li:first-child {
        width: auto;
    }

    .navigator .menu-main > #nav > li {
        margin: 0;
        float: none;
        display: block;
        font-size: 15px;
        line-height: 19px;
        padding: 0;
        height: auto;
        border-top: 1px solid rgba(255, 255, 255, .3);
        text-align: left;
    }

    .navigator .menu-main > #nav > li:first-child a {
        background-image: none;
        height: auto;
        float: none !important;
        width: auto !important;
        display: block;
        text-indent: 0;
        margin: 0;
        padding: 10px;
    }

    .navigator .menu-main > #nav > li:hover > a, .navigator .menu-main > #nav > li.current-menu-ancestor > a, .navigator .menu-main > #nav > li.current-menu-parent > a, .navigator .menu-main > #nav > li.current-menu-item > a {
        background: #0a3c67;
        color: #fff;
    }

    .navigator .menu-main > #nav > li > a {
        background-image: none;
        color: #d0e7fc;
        padding: 10px;
        line-height: 1;
        width: 100% !important;
    }

    .navigator #nav > li > a {
        height: auto;
    }

}

.customimgcaracident img {
    width: 100%;
}

.page-id-4619 .customimgcaracident {
    display: block !Important;
}

/* car accident */
.faqdivsection a {
    color: #fff;
}

div#topfaq {
    position: absolute;
    width: 500px;
    height: 400px;
    top: -500px;
    left: 0;
    right: 0;
}

ul.postlistingcar a, ul.postlistingcar li {
    color: #fff !important;
    text-decoration: underline;
    font-size: 14px;
}

ul.postlistingcar.left, ul.postlistingcar.right {
    width: 100%;
    float: left;
    color: #fff;
}

.listtop ul li a {
    text-decoration: underline;
    color: #fff;
}

.listtop ul li {
    display: inline-block;
    color: #fff !important;
}

.listtop ul {
    text-align: center;
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 0 !important;
}

.secondcontainer h3 {
    color: #fff;
    font-size: 39px;
    text-align: center;
}

.secondcontainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.page-id-4619 .lowercontainer .content-wrapper article {
    width: 100%;
    padding-left: 10px;
    position: relative;
    float: left;
}

.redsectioncar h2 {
    font-family: inherit;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 57px;
}

.page-id-4619 .lowercontainer h2:before {
    background: #c4d0da;
    content: "";
    display: block;
    height: 1.09px;
    position: relative;
    right: 81%;
    top: 25px;
}

.page-id-4619 .lowercontainer h2:after {
    background: #c4d0da;
    content: "";
    display: inherit;
    height: 1.09px;
    position: relative;
    left: 81%;
    top: -20px;
}

.page-id-4619 .lowercontainer {
    background-image: url(https://atlantaadvocate.com/wp-content/uploads/2018/02/Red-Books_110618.png);
    background-size: cover;
    padding-top: 60px;
}

.page-id-4619 .lowercontainer .container {
    width: 100%;
}

.asidelower {
    display: none;
}

.page-id-4619 #prepared-resources {
    padding-bottom: 75px;
    margin-bottom: 0 !important;
}

.page-id-4619 #prepared-resources .item.col-2, .page-id-4619 #prepared-resources .item.col-3 {
    display: none;
}

.linkhome {
    float: left;
    position: relative;
    left: -47px;
    right: 0;
    top: 27px;
}

.page-id-4619 #prepared-resources .placeholder .item .carbluecontent h3 {
    color: #fff;
    display: block !important;
    padding: 35px 0;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.casedivider {
    width: 100%;
    height: 1px;
    background: #c4d0da;
}

.faqdivsection ul li {
    list-style: disc;
    padding: 10px 0;
}

#prepared-resources .faqdivsection {
    max-width: 1200px;
    margin: 0 auto;
}

#prepared-resources .placeholder .item h3 {
    color: #000;
    display: none;
}

.page-id-4619 #prepared-resources h2:after {
    background: #c4d0da;
    content: "";
    display: block;
    height: 1.09px;
    position: relative;
    left: 55%;
    top: -10px;
}

.page-id-4619 #prepared-resources h2:before {
    background: #c4d0da;
    content: "";
    display: block;
    height: 2.09px;
    position: relative;
    right: 55%;
    top: 18px;
}

.page-id-4619 #prepared-resources h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 45px;
    font-weight: 600;
    line-height: 28px;
    padding: 0 45px;
    margin-bottom: 0;
    color: #fff;
}

.page-id-4619 #prepared-resources .container {
    width: 100%;
}

.page-id-4619 .page-inner-area #wrapper section#prepared-resources {
    background: url(https://atlantaadvocate.com/wp-content/uploads/2018/02/Blue-Bruce_110618.png);
    background-size: cover;
}

.page-id-4619.page-id-4619 #prepared-resources .placeholder .item {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    padding: 0;
    margin-bottom: 0;
}

.page-id-4619 .containecarblue .carbluecontent {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* car accident end */
aside section.widget.media_image-2.widget_media_image {
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

aside section.widget.media_image-2.widget_media_image img {
    width: 100%;
}

.page-id-4619 .customimgcaracident {
    display: none;
}

.page-id-4619 #welcome .container .content .inner {
    top: 95px;
}

/*.page-id-4619 .right-car-accident {*/
/*    display: block !important;*/
/*    float: right;*/
/*    position: absolute;*/
/*    top: 200px;*/
/*    right: 95px;*/
/*    max-width: 400px;*/
/*}*/

.page-id-4619 #welcome .container .left .content .inner h3 {
    font-size: 28px;
    padding-top: 15px;
}

.page-id-4619 .block.form {
    display: none;
}

.page-id-4619 #welcome .left .content .inner {
    bottom: 0;
    top: 58px;
    max-width: 576px !important;
    width: 100%;
}

.page-id-4619 div#form {
    float: right;
}

.page-id-4619 #welcome {
    height: 550px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .page-id-4619 #welcome {
        height: auto;
    }
}

.page-id-4619 #welcome .inner h2 span, .page-id-4619 #welcome .inner h2 strong {
    color: #183251;
    font-size: 30px;
    text-shadow: none !important;
    text-transform: initial;
    line-height: 40px;
}

.page-id-4966 .container img.thumbnail.image.left, .page-id-4975 .container img.thumbnail.image.left, .page-id-4959 .container img.thumbnail.image.left {
    display: none;
}

#how-help .container .belowseven h2 {
    font-size: 40px !important;
    color: #133d49 !important;
}

.storelocatormap {
    margin-top: -36px;
}

div#wpsl-gmap {
    height: 500px !important;
}

div#wpsl-result-list {
    float: left;
}

.extraabout span {
    font-weight: bold;
    color: #163152;
}

.wpsl-search.wpsl-clearfix {
    max-width: 33%;
    width: 100%;
    float: left;
}

.extraabout a {
    padding: 10px;
    font-weight: bold;
    text-decoration: underline;
}

.extraabout {
    background-color: #e3e2e3;
    border: 5px solid #f1f1f1;
    padding: 10px;
    text-align: center;
    position: relative;
    top: -20px;
}

#sub-contacts .contacts {
    padding: 0;
}

.topline .logo img {
    max-width: 220px;
    width: 100%;
    padding-top: 10px;
}

.topline .topline-logo {
    padding-top: 0 !important;
    float: left;
}

#menu-item-37052 a {
    color: #792221 !important;
}

.extraimg a {
    color: #0001ac;
    font-weight: bold;
    display: inline-block;
}

.navigator #nav > li.menu-item.menu-item-has-children > a {
    position: relative;
    overflow: visible;
    font-size: 17px;
}

.home .owl-wrapper {
    /*max-width: 950px;*/
    width: 100%;
    margin: 0 auto;
}

.block.meet-attoneys h3 {
    color: #fff;
    text-align: center;
    padding: 18px;
}

.extraimg img {
    width: 100%;
}

.extraimg {
    max-width: 373px;
    width: 100%;
    float: left;
    padding-top: 30px;
    margin-left: 75px;
    text-align: center;
}

.attorney-item a {
    color: #fff;
}

.attorney-item {
    max-width: 300px;
    width: 100%;
    float: left;
    text-align: center;
    color: #fff;
}

.block.meet-attoneys {
    background-color: #163a58;
    padding: 40px;
    float: left;
}

.hidden-xs.text-center {
    display: none;
}

.belowseven {
    text-align: center;
}

.post-template-default.single-post img.thumbnail.image.left {
    display: none;
}

.sectionfivediv {
    padding-top: 75px !important;
}

.sectionsixdiv {
    padding: 35px;
}

.space {
    padding: 15px;
}

.sectionfourdiv h2 {
    text-align: center !important;
    margin: 0 auto !important;
    max-width: 800px;
    width: 100%;
    float: none;
    display: block !important;
    margin-bottom: 35px !important;
}

#we-believe .container {
    padding-bottom: 35px;
}

.home #we-believe .left {
    max-width: 700px;
    width: 100%;
    float: left;
}

#we-believe .row {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

section#how-help {
    padding-top: 0;
    margin-top: -5px;
}

.sectionthreediv h2 {
    text-align: center !important;
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    font-family: "Roboto Condensed", sans-serif !important;
    font-size: 38px !important;
    margin-bottom: 35px !important;
}

.sectionthreediv b, .sectionthreediv p {
    color: #fff;
}

.sixright p {
    width: 100%;
    float: left;
    margin-top: 35px;
}

.h-line {
    overflow: hidden;
    text-align: center;
    display: none !important;
}

.pnum {
    padding-left: 10px;
    padding-bottom: 10px;
}

#how-help .sectionthreediv h2:before, #how-help .sectionthreediv h2:after {
    display: none !important;
}

.sixcitycont .sixleft ul li, .sixcitycont .sixright ul li {
    text-align: left !important;
}

.fivecontact h3 {
    font-size: 35px;
}

.sectionfivediv p {
    margin-bottom: 75px;
}

.sectionfivediv h2 {
    margin-bottom: 40px !important;
}

.sixright li strong, .sixright p {
    font-size: 20px;
}

.sixleft ul li span {
    font-weight: 700 !important;
    font-size: 20px;
}

.leftlist {
    margin-top: 35px;
}

.sixright h2 {
    margin-bottom: 0 !important;
}

.sixleft ul {
    max-width: 200px;
    float: left;
    width: 100%;
}

.sixleft h2 {
    margin-bottom: 0 !important;
}

#page-id-4619 .content-wrapper article ul li {
    list-style: disc;
    background: none !important;
    margin-bottom: 20px;
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    padding-left: 0;
}

.sixcitycont {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}

article p {
    font-size: 20px;
    max-width: none;
}

.sectionsixdiv {
    padding-top: 0;
}

li.conttexthree a {
    color: #0001ac;
    text-decoration: underline;
}

.page-id-4619 article h1 {
    font-size: 36px;
}

.contacts span {
    padding-left: 5px;
}

.borderline {
    border-top: .5px solid #c4d0da;
    padding-bottom: 25px;
}

.fourlinksection {
    padding: 0 65px;
}

.faq-content-full ul li {
    width: 100%;
}

.home p {
    padding-right: 0;
    /*text-align: justify !important;*/
    text-align: left !important;
}

.sectionsixwraptwo {
    width: 100%;
    background-color: #f7f7f7;
    float: left;
    padding-bottom: 50px;
}

.sectionsixwraptwo li span, .sectionsixwraptwo li, .sectionsixwraptwo p, .sectionsixwraptwo h2 {
    color: #fff !important;
}

#how-help .sixright h2:after {
    width: 100%;
}

.sixright ul li {
    max-width: 200px;
    float: left;
    width: 100%;
}

.sixright ul {
    width: 100%;
    margin: 35px auto 0;
    position: relative;
    right: -40px;
    max-width: 440px;
}

.sixright h2:before {
    width: 200% !important;
    height: 2px !important;
}

.sixleft h2:after {
    width: 200% !important;
    height: 2px !important;
}

.sixleft h2:before, .sixright h2:after {
    width: 293% !important;
    height: 2px !important;
}

.sixleft strong, .sixright strong, .sixright span, .sixleft li span, .sixright ul li {
    color: #132f51 !important;
}

.sixleft, .sixright {
    /*max-width: -webkit-fill-available;*/
    width: 50%;
    float: left;
    padding: 50px;
    text-align: center;
    margin: 0 auto;
}

.sixul li:nth-child(1) strong {
    border-left: none;
}

.sixul li strong {
    color: #55171c;
    border-left: 2px solid #132f51;
    padding: 0 15px;
}

.fourlinksection ul li {
    float: left;
    list-style: disc;
    width: 47%;
    padding: 5px 30px 5px 0;
}

#how-help .sectionsixdiv h2:before, #how-help .sectionsixdiv h2:after {

    background: #c4d0da;
    height: 2px;
}


.sixul li strong {
    font-size: 25px;
}

ul.sixul {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.sixul li span {
    color: #132f51;
}

.sixul li {
    display: inline;
}

.fourlinksection {
    width: 100%;
    display: inline-block;
    padding-bottom: 50px;
    border-bottom: 1px solid #c4d0da;
    margin-bottom: 50px;
}


.fivecontact p {
    width: 700px;
    margin: 0 auto;
    color: #fff;
    text-align: center !important;
}

.fivecontact a {
    color: #f9515b;
    text-decoration: underline;
}

.fivecontact {
    background-color: #132f51;
    text-align: center;
    padding: 10px 0;
}

.sectionfivediv h2 {
    text-align: left !important;
}

.fivecontact h3 {
    color: #fff;
    font-size: 30px;
}

.sectionfivediv h2 b {
    color: #fff;
}

.sectionfivediv {
    color: #fff;
    background-size: cover;
    background-position: 42% 100%;
}

.sectionfourdiv, .sectionfivediv, .sectionsixdiv {
    padding: 35px 50px;
}

.spacesection {
    margin-top: 50px;
}

.conttexthree a:hover {
    color: #0c4a7e;
}

.conttexthree a {
    color: #333;
}

#welcome .container .left .content .inner h1 span strong {
    font-size: 34px;
}

#welcome .container .left .content .inner h3 {
    font-size: 20px;
}

li.conttextone {
    width: 22%;
    float: left;
    border-right: 1px solid #333;
}

li.conttextwo {
    width: 33%;
    float: left;
    padding: 0;
}

li.conttexthree {
    width: 38%;
    float: left;
    border-left: 1px solid #333;
    padding-left: 8px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .brucelogoimg {
        max-width: 243px;
    }
}

@media screen and (max-width: 1200px) {
    .page-id-4619 .lowercontainer h2:before {
        right: 96%;

    }

    .page-id-4619 #prepared-resources h2:after {
        left: 62%;
    }

    .page-id-4619 #prepared-resources h2:before {
        right: 62%;
    }

    .page-id-4619 .lowercontainer h2:after {
        left: 96%;
    }

    ul.postlistingcar.left, ul.postlistingcar.right {
        width: 50%;
        float: left;
        color: #fff;
    }
}

@media screen and (min-width: 1300px) {
    div#icontwo {
        position: relative;
        top: -100px;
    }

    div#iconeight {
        position: relative;
        top: -100px;
    }

    div#iconten {
        position: relative;
        top: -100px;
    }

    div#iconnine {
        position: relative;
        top: -100px;
    }

    div#iconfour {
        position: relative;
        top: -100px;
    }

    img.fourlefticon {
        max-width: 50px !important;
        float: left;
        width: 100%;
        margin-left: -62px;
        margin-top: -10px;
    }

    div#iconthree {
        position: relative;
        top: -200px;
    }

    div#iconfive {
        position: relative;
        top: -160px;
    }

    div#iconseven {
        position: relative;
        top: -130px;
    }

    div#iconone {
        position: relative;
        top: -100px;
    }

    div#faqtop {
        position: relative;
        top: -200px;
    }

    .sectionfourdiv, .sectionfivediv {
        padding: 35px 12%;
    }

    .sectionthreediv {
        width: 100%;
        /*background-image: url(https://atlantaadvocate.com/wp-content/uploads/2018/02/NARRATIVE-053-C-blue.jpg);*/
        background-size: cover;
        padding-left: 12%;
        padding-right: 12%;
        display: inline-block;
        padding-bottom: 50px;
    }

    .sectwocontainer.left {
        max-width: 870px;
        display: inline-block;
        padding-left: 12%;
        width: 100%;
    }

    .home #we-believe .left .inner h2 {
        padding-left: 12%;
    }

    .home #we-believe .right {
        float: right;
        max-width: 500px;
        width: 100%;
    }
}

@media (min-width: 992px) {
    .home #we-believe .left .inner p {
        padding-right: 0;
    }
}

@media only screen and (max-width: 980px) {
    /*.page-id-4619 .lowercontainer h2:before, .lowercontainer h2:left  {*/
    .page-id-4619 .lowercontainer h2:before {
        display: none;
    }

    ul.postlistingcar.left, ul.postlistingcar.right {
        width: 100%;
        float: left;
        color: #fff;
        text-align: center;
    }

    .home #we-believe .right {
        float: right;
        /*max-width: 470px;*/
        position: inherit;
        padding-right: 0;
        width: 100% !important;
        max-width: 100% !important;
    }
}

@media only screen and (min-width: 900px) {
    #welcome .left .content .inner {
        top: 253px;
    }
}

@media only screen and (max-width: 500px) {
    #sub-contacts .contacts > b {
        text-align: center;
    }

    li.dotsadots {
        display: none;
    }

    .home header {
        background-position: -0% 0% !important;
    }

    .left h1 span, .left h1 strong, .left h3 strong {
        font-size: 18px !important;
    }

    .page-id-4619 #welcome .row .content {
        width: 100%;
    }

    .page-id-4619 #welcome .inner h2 strong {
        font-size: 20px;
    }

    #welcome .content {
        width: 74%;
        /*float: left;*/
        margin: 0 auto;
        float: none;
    }

    .sixright ul {
        margin: 0 auto !important;
        padding-left: 0;
        padding-top: 10px;
    }

    .item .content {
        margin-top: 10px;
    }

    #how-help .row-2 .col .item header .ico {
        text-align: center;
        height: 75px;
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
    }

    .item h3 {
        position: absolute;
        top: 120px;
        left: 0;
        right: 0;
    }

    .logowrap {
        width: 100% !important;
        margin-top: 50px;
    }

    article h1 {
        text-align: center;
    }

    .page-child .extraimg {
        width: 100% !important;
        float: none;
        padding-top: 100px;
        margin-left: 0;
        text-align: center;
    }

    .brucelogoimg {
        max-width: 350px;
        width: 100%;
        float: none;
        position: relative;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    #welcome .container .left .content .inner h1 span strong {
        font-size: 25px;
    }

    .sixleft ul {
        padding: 0;
        width: 100%;
        text-align: center;
        float: none !important;
        max-width: 100%;
    }

    .home .sixcitycont .sixleft ul li, .home .sixcitycont .sixright ul li {
        text-align: center !important;
    }

    .sixleft, .sixright {
        width: 100%;
        float: left;
        padding: 50px;
        text-align: center;
        margin: 0 auto;
    }

    .fivecontact p {
        width: 100%;
        margin: 0 auto;
        color: #fff;
        text-align: center !important;
        padding: 0 20px;
    }

    .sectionthreediv {
        padding: 0 17px;
    }

    .sectionfourdiv li {
        width: 100% !important;
    }

    .sectionfourdiv {
        padding: 20px 10px;
    }

    .sectionfivediv h2 {
        padding: 0 !important;
        line-height: 33px !important;
        text-align: center !important;
    }

    #how-help h2 b {
        line-height: 50px !important;
    }

    .fourlinksection {
        padding: 0;
    }

    .home #we-believe .left .inner h2 {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .home #we-believe .left {
        width: 100%;
        float: none;
        padding: 0 10px;
    }

    .home iframe {
        width: 100%;
    }

    .blog #wrapper > header {
        width: 100%;
        background-position: 11% 100%;
    }

    #wrapper > header .inner h3 {
        font-size: 19px;
        text-align: center;
    }

    .topline {
        padding: 0;
        height: auto;
        border-bottom: 1px solid #c5c5c5;
        margin-bottom: 100px;
    }

    .topline .topline-logo {
        float: none !important;
        text-align: center;
    }

    .extraimg {
        max-width: 373px;
        width: 100% !important;
        float: none;
        padding-top: 30px;
        margin-left: 0;
        text-align: center;
    }
}

p.pull-right {
    display: none !important;
}

#sub-contacts .contacts .button .but {
    display: none;
}

.topline .contacts > b {
    font-size: 48px;
}

.sectionfivediv {

}

#how-help .hidden-xs.text-center img {
    display: none;
}
#wrapper #sub-contacts .contacts .pnum {
    text-align: center !important;
    font-size: 39px;
    padding-top: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;
}

hr {
    border-top: 1px solid #c7c4c4;
}