#breadcrumbs {
    width: 100%;
    margin-bottom: 45px;
    height: 59px;
    background-color: #f1f1f1;
    -moz-box-shadow: inset 0 -14px 18px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 -14px 18px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 -14px 18px rgba(0, 0, 0, 0.05);
}

.page-template-page-practice-areas #breadcrumbs + .content-wrapper.wide {
    padding-top: 50px;
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    height: auto;
    padding: 0;
}
.breadcrumb ul {
    padding: 10px 0 12px 10px;
    margin: 0;
    list-style: none;
}
.breadcrumb ul li {
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
}
.breadcrumb a {
    vertical-align: middle;
    padding: 0 17px 0 0;
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto";
    margin-right: 11px;
    text-decoration: none;
    background: url("../images/ico-breadcrumbs.png") no-repeat scroll right 50%;
    display: block;
    color: #0c4a7e;
}
.breadcrumb a:hover {
    text-decoration: underline;
}
.breadcrumb span {
    padding: 0;
    display: block;
    font-size: 16px;
    line-height: 1;
    font-family: "Roboto";
    color: #000;
    line-height: 1;
    margin-right: 5px;
    text-decoration: none;
    /**************************************************************************************/
}

#breadcrumbs {
    height: auto;
    min-height: 59px;
}

.breadcrumb a {
    float: left;
    display: inline-block;
}

.breadcrumb span {
    display: inline-block;
}

@media (min-width: 768px) and (max-width: 991px) {
    .breadcrumb span {
        display: inline;
    }
}

@media (min-width: 1200px) {
    .page-template-page-about .breadcrumb span,
    .page-template-page-practice-area-landing .breadcrumb span,
    .page-template-default .breadcrumb span,
    .single-wpseo_locations .breadcrumb span,
    .blog .breadcrumb span,
    .single-post .breadcrumb span,
    .single-qa_faqs .breadcrumb span {
        display: inline;
    }

    .page-template-page-about .breadcrumb ul,
    .page-template-page-practice-area-landing .breadcrumb ul,
    .page-template-default .breadcrumb ul,
    .single-wpseo_locations .breadcrumb ul,
    .blog .breadcrumb ul,
    .single-post .breadcrumb ul,
    .single-qa_faqs .breadcrumb ul {
        padding-right: 400px;
    }
}

@media (max-width: 767px) {
    #breadcrumbs {
        display: none;
    }
}