body {
  transition: background-color 0.5s;
}

body.noscroll {
  position: fixed;
  overflow: hidden;
}

.education-page-content #tap-buttons {
  display: none !important;
}
.education-page-content .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background: #0a3f61;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.education-page-content .sidenav .category-container {
  float: left;
  width: 1200px;
}
.education-page-content .sidenav .sidebar-nav-category {
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
  text-align: center;
  background: transparent no-repeat center center;
  background-size: cover;
  float: left;
  width: 300px;
  height: 200px;
}
.education-page-content .sidenav .sidebar-nav-category a {
  width: 300px;
  height: 200px;
  display: block;
  margin: 0 auto;
  color: #FFF;
  transition: all 0.5s;
  padding: 15px;
}
.education-page-content .sidenav .sidebar-nav-category a h4 {
  margin-top: 90px;
  font-weight: bold;
}
.education-page-content .sidenav .sidebar-nav-category a:hover {
  background: rgba(0, 0, 0, 0.7);
}
.education-page-content .sidenav .sidebar-container {
  margin: 0 auto;
  display: block;
}
.education-page-content .sidenav .sidebar-container .sidebar-categories {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 899px) {
  .education-page-content .sidenav .sidebar-container .sidebar-categories {
    width: 100%;
  }
  .education-page-content .sidenav .sidebar-container .sidebar-nav-category {
    width: 50%;
  }
  .education-page-content .sidenav .sidebar-container .sidebar-nav-category a {
    width: 100% !important;
  }
  .education-page-content .sidenav .sidebar-container .category-container {
    width: 100%;
  }
}
@media (min-width: 1300px) {
  .education-page-content .sidenav .sidebar-container .sidebar-categories {
    width: 1300px;
  }
}
@media (min-width: 900px) and (max-width: 1299px) {
  .education-page-content .sidenav .sidebar-container .close-tab {
    position: relative;
    right: -20px;
  }
  .education-page-content .sidenav .sidebar-container .sidebar-categories {
    width: 900px;
  }
  .education-page-content .sidenav .sidebar-container .sidebar-nav-category {
    width: 200px;
    height: 200px;
  }
  .education-page-content .sidenav .sidebar-container .sidebar-nav-category a {
    width: 200px;
    height: 200px;
  }
  .education-page-content .sidenav .sidebar-container .category-container {
    width: 800px;
  }
}
.education-page-content .sidenav .close-tab {
  float: left;
  width: 100px;
  background: #FFF;
  position: relative;
  right: -20px;
  top: 319px;
}
.education-page-content .sidenav .close-tab button {
  width: 400px;
  display: block;
  text-align: center;
  padding: 15px 60px;
  background: #FFF;
  color: #0a3c67;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.education-page-content #main-content {
  transition: margin-left 0.5s;
}
@media screen and (max-height: 450px) {
  .education-page-content .sidenav {
    padding-top: 15px;
  }
}
.education-page-content #breadcrumbs {
  display: none;
}
.education-page-content #awards {
  display: none !important;
}
.education-page-content .education-form-search .form-search {
  border-radius: 0;
  height: 68px !important;
  width: 535px;
}
.education-page-content .education-form-search .input-group-btn {
  background: #0a3f61;
  border: 1px solid #0a3f61;
  height: 68px !important;
}
.education-page-content .education-form-search .input-group-btn .search-btn {
  display: none;
  position: relative;
  top: 7px;
  padding: 5px;
  font-weight: bold;
}
.education-page-content .education-form-search .input-group-btn .glyphicon {
  top: 3px;
  padding: 15px;
}
.education-page-content .education-quick-links {
  width: 200px;
  position: fixed;
  right: -70px;
  top: 50%;
  z-index: 9999;
}
.education-page-content .education-quick-links button {
  display: block;
  text-align: center;
  padding: 15px 30px;
  background: #FFF;
  color: #0a3c67;
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.education-page-content .main-education-banner-section {
  background: #0a3c67;
  padding: 150px 0;
  background-position: center;
  background-size: cover;
}
.education-page-content .main-education-banner-section h1 {
  font-family: "Playfair Display", serif;
  color: #FFF;
  font-size: 80px;
  font-weight: bold;
}
.education-page-content .featured {
  padding: 15px 0;
}
.education-page-content .featured .sub-title {
  color: #FFF;
  margin-top: -45px;
  font-weight: bold;
}
.education-page-content .featured .post-title {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
.education-page-content .featured .post-description {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  color: #153050;
}
.education-page-content .featured .post-timestamp {
  padding-top: 40px;
  display: inline-block;
}
.education-page-content .featured .owl-buttons {
  display: none;
}
.education-page-content .featured .owl-nav {
  margin-top: 50px;
  text-align: center;
}
.education-page-content .featured .owl-nav .next {
  display: inline-block;
  margin-left: 25px;
  max-width: 60px;
}
.education-page-content .featured .owl-nav .next img {
  cursor: pointer;
  width: 100%;
}
.education-page-content .featured .owl-nav .prev {
  display: inline-block;
  margin-right: 25px;
  max-width: 60px;
}
.education-page-content .featured .owl-nav .prev img {
  cursor: pointer;
  width: 100%;
}
.education-page-content .featured .featured-video {
  margin-top: -150px;
}
.education-page-content .featured .featured-video iframe {
  max-width: 100%;
}
.education-page-content .featured #featured-posts {
  padding-top: 40px;
}
.education-page-content .education-section {
  color: #0a3f61;
  padding: 100px 0;
  background-position: center;
  background-size: cover;
}
.education-page-content .education-section h3 {
  font-weight: bold;
  font-family: "Playfair Display", serif;
}
.education-page-content .education-section h4 {
  font-weight: bold;
}
.education-page-content .education-section .sub-title {
  color: #782027;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  margin-bottom: 5px;
  font-size: 16px;
}
.education-page-content .education-section .title {
  font-family: "Playfair Display", serif;
  color: #0a3c67;
  font-weight: bold;
  font-size: 60px;
}
.education-page-content .education-section .education_info {
  max-width: 450px;
  font-size: 14px;
  color: #0a3c67;
  font-family: Montserrat, sans-serif;
}
.education-page-content .education-section .education-post-title {
  font-family: "Playfair Display", serif;
}
.education-page-content .education-section .helpful-terms {
  color: #0a3f61;
}
.education-page-content .education-section .helpful-terms .term p {
  font-size: 14px;
}
.education-page-content .education-section .have-a-question {
  margin-top: 50px;
}
.education-page-content .education-section .have-a-question h4 {
  font-family: "Playfair Display", serif;
}
.education-page-content .education-section .have-a-question p {
  font-size: 14px;
}
.education-page-content .education-section .have-a-question a {
  font-size: 16px;
}
.education-page-content .education-section .glossary-link {
  text-transform: uppercase;
  text-decoration: underline;
  color: #0a3f61;
  font-weight: bold;
  margin-top: 15px;
  font-size: 14px;
}
.education-page-content .education-section .more-posts a {
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  padding: 15px;
  display: block;
  background: #093c67;
  color: #FFF;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  margin-top: 55px;
}
.education-page-content .color-dark-blue {
  color: #153050 !important;
}
.education-page-content .category-posts {
  padding: 15px 0;
}
.education-page-content .category-posts .post-thumbnail {
  margin: 0 auto;
}
.education-page-content .category-posts .post-container {
  padding: 0 15px 0 20px;
}
.education-page-content .category-posts .post-container .post-title {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: "Playfair Display", serif;
  font-size: 16px;
}
.education-page-content .category-posts .post-container .post-description {
  font-size: 14px;
}
@media (max-width: 991px) {
  .education-page-content .main-education-banner-section {
    padding: 60px 0;
  }
  .education-page-content .main-education-banner-section h1 {
    text-align: center;
    font-size: 40px;
  }
  .education-page-content .featured .sub-title {
    color: #0a3f61;
    margin-top: 15px;
    text-align: center;
  }
  .education-page-content .featured #featured-posts {
    padding-top: 0;
  }
  .education-page-content .featured .owl-nav {
    margin-top: 15px;
  }
  .education-page-content .featured .featured-video {
    margin-top: 25px;
  }
  .education-page-content .featured .featured-video iframe {
    margin: 0 auto;
    display: block;
  }
  .education-page-content .education-section {
    padding: 50px 0;
  }
  .education-page-content .education-section .title {
    text-align: center;
    font-size: 40px;
  }
  .education-page-content .education-section h4 {
    text-align: center;
    font-size: 40px;
  }
  .education-page-content .education_info {
    text-align: center;
    max-width: 100%;
  }
  .education-page-content .form-search {
    width: auto;
  }
  .education-page-content .education-form-search .input-group-btn .glyphicon {
    top: 12px;
    padding: 5px;
  }
  .education-page-content .post-container {
    margin-top: 15px;
  }
}
@media (max-width: 600px) {
  .education-page-content .education-form-search .form-search {
    width: 100%;
    float: none !important;
  }
  .education-page-content .education-form-search .input-group-btn {
    border-radius: 5px;
    float: none !important;
    display: block;
    margin: 0 auto;
    width: 200px !important;
    text-align: center;
  }
  .education-page-content .education-form-search .input-group-btn .search-btn {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .education-page-content .category-posts .post {
    padding: 0;
  }
  .education-page-content .education_info {
    margin: 0 auto;
  }
}

@media (max-width: 991px) {
  .education-form-search .form-search .input-group-btn {
    width: 56px;
  }
}
@media (max-width: 899px) {
  .education-page-content .sidenav .rotate {
    transform: none !important;
    -webkit-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
  }
  .education-page-content .sidenav .close-tab {
    width: 100%;
    float: none;
    clear: both;
    background: none;
    top: 0;
    right: 0;
    text-align: center;
  }
  .education-page-content .sidenav .close-tab button {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}
.rotate {
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);
  /* Firefox */
  -moz-transform: rotate(-90deg);
  /* IE */
  -ms-transform: rotate(-90deg);
}

/*# sourceMappingURL=education-page.css.map */
