.container-small {
    max-width: 900px;
    margin: 0 auto;
}

.common-areas-served {
    padding: 10px 0;
    background: #7E92A4;
    text-align: center;
    color: #FFF;
}

.common-areas-served h2 {
    text-transform: uppercase;
}

.common-areas-served ul li {
    list-style-type: none;
    color: #FFF;
    padding: 10px;
    display: inline-block;

}

.map-section .main-form .header-form {
    background: none;
    padding: 20px 10px 10px;
}

.map-section .main-form textarea, .map-section .main-form input {
    border: 1px solid rgba(3, 48, 81, 0.2);
    background: rgba(250,250,250, .4);
}

.main-form form .but-form {
    background: #771F26;
    border: 1px solid #771F26;
    box-shadow: 0 1px 6px 3px rgba(25,25,25, .3);
    font-weight: bold;
}

.map-section .main-form {
    margin: 0 auto;
    padding: 25px;
    position: relative;
    top: 0;
    right: -110px;
    background: rgba(255,255,255, .8);
    box-shadow: none;
}

.map-section .main-form .main-form-container {
    background: transparent;
}

.map-section .main-form p {
    background: transparent;
}

.map-section .main-form .form-info {
    display: none;
}

.map-section h3 {
    margin-bottom: 10px;
}

.map-section .main-form small {
    margin-bottom: 15px;
    display: block;
}

.map-section .accordion-contacts {
    margin-top: 30px;
}

#ChatDiv, #live_chat_status {
    left: unset !important;
}

@media(min-width: 1200px) {
    .map-section {
        padding: 0 !important;
    }

    .map-section h2 {
        top: -29px !important;
    }

    .map-section .main-form {
    }

    .map-section {
        /*height: 526px !important;*/
        height: auto !important;

    }
}

@media (max-width: 1199px) {
    .map-section .main-form {
        right: 0;
    }
}