.link{
    font-family: Montserrat;
    display: inline;
    text-align: left;
    border: none;
    padding: 0px;
    background-color: transparent;
    color: #0c4a7e;
}
.link:hover{
    color: #0c4aff;
}