.logo {
    height: auto;
}


.navigator #nav>li:first-child>a {
    text-indent: initial;
}

.navigator {
    /*background: #7E92A4;*/
    background: #132F51;
}

#nav li a {
    color: #FFF !important;
}


#nav.menu > li a {
    display: inline-block;
}

.navigator #nav>li.menu-item.menu-item-has-children>a {
    font-size: 16px;
}

#nav.menu > li:last-child:after {
    display: none;
}

.navigator {
    border-bottom: none !important;
}

.navigator #nav>li.menu-item>a {
    font-size: 16px;
}

.color-red {
    color: #C1272D;
}

.main-header {
    padding: 10px 0;
}

.header-right-container {
    width: 500px;
    float: right;
    text-align: center;
    font-family: Montserrat,sans-serif;
    line-height: 1.2;
    height: 114px;
}

.header-right-container .phone-number {
    font-size: 29pt;
    font-weight: bold;
}

.header-right-container .call-cta {
    color: #000;
    font-weight: 600;
    font-size: 12pt
}

.header-right-container .call-cta a {
    text-decoration: underline;
}
.header-right-container button, .search-box button {
    background: transparent;
    border: none;
    color: #FFF;
    transition: all .4s;
}

.search-box button:hover, .header-search button:hover {
    color: #c1272c;
}

.header-search {
    width: 365px;
    margin: 0 auto;
    display: block;
    font-family: Montserrat,sans-serif;
    font-size: 10pt;
}

.header-search form {
    background: none;
    padding: 5px 0;
}

.form-search {
    border-radius: 15px 0 0 15px;
    color: #7d91a5;
    padding: 10px 10px 10px 20px;
    border: 1px solid #7d91a5;
    float: left;
    width: 300px;
    font-size: 14px;

}

.form-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #7d91a5;
    opacity: 1; /* Firefox */
}

.form-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #7d91a5;
}

.form-search::-ms-input-placeholder { /* Microsoft Edge */
    color: #7d91a5;
}

.search-box .input-group {
    margin-top: 10px;
}

.faq-search.search-box .input-group {
    margin-top: 25px;
}

.search-box .form-search {
    width: 300px;
    margin-left: 15px;
    border-radius: 20px 0 0 20px;
}

.input-group-btn {
    float: left;
    background: #7d91a5;
    padding: 9px 6px 6px;
    border-radius: 0 15px 15px 0;
    border: 1px solid #7d91a5;
    height: 38px;
}

.sub-menu li a:after {
    content: "" !important;
}

.default-hero.form-visible #welcome {
    /*height: 618px;*/
    /*height: auto;*/
}

.default-hero #welcome .inner {
    position: relative !important;
    bottom: unset !important;
    margin-top: 25px;
}

@media(min-width:992px) {
    .navigator #nav {
        width: 820px;
        margin: 0 auto;
    }

    .navigator #nav li a:after {
        content: " | ";
        padding-left: 25px;
        color: #FFF;
    }

    .navigator #nav li:last-child :after {
        content: "";
    }
}


@media (min-width: 768px) {
    .navigator #nav>li.menu-item:first-child {
        margin-right: 25px !important;
    }

    .navigator #nav > li.menu-item {
        margin-right: 25px;
    }

    .navigator #nav>li.menu-item {
        max-height: 64px;
    }
}

@media (max-width:991px) {
    .header-right-container {
        width: auto;
        float: none;
        height: auto;
    }

    .logo {
        margin: 0 auto;
        display: block;
    }

    .blog .main-header, .single-post .main-header, .archive .main-header, .single-wpseo_locations .main-header {
        margin-top: 65px;
    }
}

@media(min-width:1200px) {
    .navigator #nav {
        margin: 0 auto;
    }
}