@charset "UTF-8";
@font-face {
  font-family: Montserrat-SemiBold;
  src: url("../fonts/Montserrat-SemiBold.otf");
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Regular.ttf");
}
.site-header-dark-blue #main-navigation li {
  font-family: Montserrat-SemiBold, sans-serif;
  font-weight: bold;
}
.site-header-dark-blue .navbar-toggle {
  color: #FFF;
}

.site-header-navigation {
  clear: both;
}

@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
header.fixed-header {
  width: 100%;
  z-index: 99999;
}

.site-header-dark-blue {
  background: #162F50;
  padding: 15px 0;
  width: 100%;
  z-index: 999;
}
.site-header-dark-blue .btn {
  transition: all 0.5s;
}
.site-header-dark-blue .btn-blue {
  font-size: 16px;
  text-align: center;
  border: 1px solid #FFF;
  color: #FFF;
  background: #162F50;
  padding: 7px 20px;
  display: inline-block;
}
.site-header-dark-blue .btn-blue:hover {
  background: #0a3f61;
  color: #FFF !important;
}
.site-header-dark-blue .btn-white {
  font-size: 16px;
  background: #FFF !important;
  color: #0a3f61;
  text-align: center;
  border: 1px solid #FFF;
  padding: 7px 20px;
  display: inline-block;
}
.site-header-dark-blue .btn-white:hover {
  background: #0a3f61 !important;
  color: #FFF !important;
}
.site-header-dark-blue #main-navigation {
  padding: 0;
  margin-top: 15px;
  margin-bottom: 0;
}
.site-header-dark-blue #main-navigation li {
  list-style: none;
  display: inline-block;
  padding: 7px;
  font-size: 16px;
  text-align: center;
}
.site-header-dark-blue #main-navigation li a {
  color: #FFF;
  transition: all 0.5s;
  border-bottom: 1px solid transparent;
}
.site-header-dark-blue #main-navigation li a:hover, .site-header-dark-blue #main-navigation li a:focus {
  color: #EEE;
  border-bottom: 1px solid #EEE;
  background: transparent !important;
}
.site-header-dark-blue #main-navigation li.open > a {
  background: transparent !important;
}
.site-header-dark-blue #main-navigation .dropdown-menu {
  background: rgba(25, 25, 25, 0.5) !important;
}
.site-header-dark-blue #main-navigation .dropdown-menu > .active > a {
  background-color: transparent !important;
}
.site-header-dark-blue .nav > li > a {
  padding: 0;
}
.site-header-dark-blue .header-left-buttons {
  margin-top: 10px;
  text-align: center;
}
.site-header-dark-blue .header-left-buttons .btn-blue {
  font-size: 12px;
  padding: 7px 30px;
  display: inline-block;
  border-radius: 0;
}
.site-header-dark-blue .header-left-buttons .btn {
  font-weight: bold;
}
.site-header-dark-blue .site-header-news {
  float: left;
  width: 50%;
  background: orange;
  padding: 5px;
  border-radius: 5px;
}
.site-header-dark-blue .site-header-news p {
  font-size: 16px;
  color: #000;
  text-align: center;
  text-shadow: none;
}
.site-header-dark-blue .header-right-buttons {
  text-align: right;
  margin-top: 15px;
  float: right;
}
.site-header-dark-blue .header-right-buttons .btn {
  padding: 7px 35px;
  font-weight: bold;
  border-radius: 0;
}
@media (max-width: 991px) {
  .site-header-dark-blue .navbar-toggle {
    text-align: center;
    margin: 25px auto 0;
    display: block;
    float: none;
    border: 1px solid #FFF;
  }
  .site-header-dark-blue .navbar-toggle .glyphicon {
    top: 2px;
    right: -2px;
    font-size: 18px;
  }
  .site-header-dark-blue .navbar-collapse {
    clear: both;
    border-top: none;
    box-shadow: none;
  }
  .site-header-dark-blue #main-navigation {
    background: rgba(0, 0, 0, 0.4);
  }
  .site-header-dark-blue #main-navigation li {
    display: block !important;
    font-weight: bold;
  }
  .site-header-dark-blue #main-navigation .site-logo {
    margin: 0 auto;
  }
  .site-header-dark-blue .site-header-news {
    float: none !important;
    display: block;
    margin: 0 auto;
    width: 100% !important;
  }
  .site-header-dark-blue .header-right-buttons {
    float: none !important;
    text-align: center;
    margin-top: 15px;
  }
  .site-header-dark-blue .header-right-buttons .btn {
    padding: 7px 25px;
  }
  .site-header-dark-blue .navbar-nav .open .dropdown-menu {
    margin-top: 15px;
  }
}
.site-header-dark-blue .fluid-container-head {
  max-width: 1800px;
  width: 100%;
  margin: 0 auto;
}
.site-header-dark-blue #main-navigation {
  text-align: right;
}
.site-header-dark-blue #main-navigation li {
  padding: 7px 10px;
}

@media (min-width: 992px) {
  .site-header-fixed #wrapper {
    padding-top: 147px;
  }

  .navbar-nav {
    float: right !important;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 115px;
  }
}
@media (max-width: 991px) {
  .site-header-fixed #wrapper {
    padding-top: 197px;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 148px;
  }

  .header-right-buttons .btn {
    margin: 5px;
  }
}
@media (min-width: 767px) {
  .admin-bar .fixed-header {
    top: 32px;
  }
}
@media (max-width: 768px) {
  .site-header-fixed #wrapper {
    padding-top: 248px;
  }

  .admin-bar .site-header-fixed #wrapper {
    padding-top: 267px;
  }

  .header-right-buttons .btn {
    padding: 7px 10px !important;
  }
}
.dark-blue-footer {
  position: relative;
  z-index: 99999;
  background: #162F50 !important;
  padding: 75px 0 !important;
}
.dark-blue-footer .footer-info {
  font-family: "Helvetica Neue", sans-serif;
  color: #FFF;
  margin-top: 30px;
}
.dark-blue-footer .footer-info h5 {
  font-weight: bold;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
}
.dark-blue-footer .footer-info ul {
  padding: 0;
}
.dark-blue-footer .footer-info ul li {
  font-size: 12px;
  font-family: "Helvetica Neue", sans-serif;
  margin: 3px 0;
  list-style-type: none;
}
.dark-blue-footer .footer-info ul li a {
  color: #FFF;
}
.dark-blue-footer .footer-info .socials {
  width: 100%;
  text-align: left;
  padding-top: 0;
}
.dark-blue-footer .footer-info .socials .social span {
  background: #FFF;
  color: #162f50;
}
.dark-blue-footer .footer-info .socials i {
  padding-top: 8px;
}
.dark-blue-footer .footer-info .socials a {
  margin: 0;
}
.dark-blue-footer .footer-copywrite {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  margin-top: 15px;
  color: #FFF;
}
.dark-blue-footer .footer-map-block h4 {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
}
.dark-blue-footer .footer-map-block {
  text-align: center;
}
.dark-blue-footer #contacts {
  padding: 15px 0;
}
@media (max-width: 767px) {
  .dark-blue-footer .footer-info h5 {
    text-align: center;
  }
  .dark-blue-footer .footer-info ul li {
    text-align: center;
  }
  .dark-blue-footer .connect {
    clear: both;
    text-align: center;
  }
  .dark-blue-footer .socials {
    text-align: center !important;
  }
}
.dark-blue-footer #contacts {
  position: relative;
  padding: 60px 0 55px;
}
.dark-blue-footer #contacts .map-home {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.dark-blue-footer #contacts h2 {
  position: absolute;
  top: -27px;
  left: 50%;
  margin-left: -185px;
  width: 370px;
  padding: 17px 0 15px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  color: #0c4a7e;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.dark-blue-footer #contacts .accordion-contacts {
  max-width: 300px;
  border: 1px solid #ddd;
}
.dark-blue-footer #contacts .accordion.style-blue-1 {
  margin: 0;
  position: relative;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt {
  /*border-right: 3px solid $white;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;*/
  border: 3px solid #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 17px 15px 15px 27px;
  background-color: #0c4a7e;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt a {
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 400;
  color: #fff;
  text-transform: none;
  position: relative;
  padding-right: 60px;
  text-decoration: none;
  line-height: 1;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt a:visited, .dark-blue-footer #contacts .accordion.style-blue-1 dt a:focus {
  text-decoration: none;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt a span.lazyloaded {
  background: url("../images/accordion-blue-closed.png") no-repeat;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt a span {
  display: block;
  float: right;
  width: 20px;
  height: 22px;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt.accordion-opened {
  background-color: #0f5a88;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt.accordion-opened a {
  color: #fff;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dt.accordion-opened a span.lazyloaded {
  background: url("../images/accordion-blue-opened.png") no-repeat;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dd {
  border-bottom: 0;
  border-top: 0;
  padding: 25px 25px 20px 25px;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dd p {
  margin-bottom: 10px;
  color: #000;
  font-family: "Roboto";
  line-height: 25px;
  font-weight: 400;
}
.dark-blue-footer #contacts .accordion.style-blue-1 dd p b {
  font-family: "Roboto";
  font-size: 19px;
  font-weight: 400;
}
.dark-blue-footer #contacts .accordion.style-blue-1 ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.dark-blue-footer #contacts .accordion.style-blue-1 ul li {
  line-height: 1.75;
  margin-bottom: 15px;
  /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
  padding-left: 28px;
  color: #000;
  font-size: 17px;
}
.dark-blue-footer #contacts .accordion.style-blue-1 ul li:last-child {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-1 {
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-1 dt {
  border-bottom: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 17px 15px 15px 27px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
.dark-blue-footer #contacts .accordion.style-1 dt:first-child {
  border-top: 0 none;
}
.dark-blue-footer #contacts .accordion.style-1 dt a {
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  text-transform: none;
  position: relative;
  padding-right: 60px;
  text-decoration: none;
  line-height: 1;
}
.dark-blue-footer #contacts .accordion.style-1 dt a:visited, .dark-blue-footer #contacts .accordion.style-1 dt a:focus {
  text-decoration: none;
}
.dark-blue-footer #contacts .accordion.style-1 dt a span {
  display: block;
  float: right;
  width: 33px;
  height: 22px;
  background: url("../images/acc-style1-open.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-1 dt.accordion-opened a span {
  background: url("../images/acc-style1-close.png") no-repeat;
}
.dark-blue-footer #contacts .accordion.style-1 dd {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 15px;
  padding: 0 25px;
}
.dark-blue-footer #contacts .accordion.style-1 dd p {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-1 ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.dark-blue-footer #contacts .accordion.style-1 ul li {
  line-height: 1.75;
  margin-bottom: 15px;
  /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
  padding-left: 28px;
  color: #000;
  font-size: 17px;
}
.dark-blue-footer #contacts .accordion.style-1 ul li:last-child {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-2 {
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-2 dt {
  border-bottom: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 17px 15px 15px 27px;
  background-color: #0c4a7e;
  margin-bottom: 10px;
}
.dark-blue-footer #contacts .accordion.style-2 dt:first-child {
  border-top: 0 none;
}
.dark-blue-footer #contacts .accordion.style-2 dt:hover {
  background-color: #0a3c67;
}
.dark-blue-footer #contacts .accordion.style-2 dt a {
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  text-transform: none;
  position: relative;
  padding-right: 60px;
  text-decoration: none;
  line-height: 1;
}
.dark-blue-footer #contacts .accordion.style-2 dt a:visited, .dark-blue-footer #contacts .accordion.style-2 dt a:focus {
  text-decoration: none;
}
.dark-blue-footer #contacts .accordion.style-2 dt a span {
  display: block;
  float: right;
  width: 33px;
  height: 22px;
  background: url("../images/acc-style2-open.png") no-repeat;
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-2 dt.accordion-opened {
  background-color: #f2f2f2;
}
.dark-blue-footer #contacts .accordion.style-2 dt.accordion-opened a {
  color: #000;
}
.dark-blue-footer #contacts .accordion.style-2 dt.accordion-opened a span {
  background: url("../images/acc-style1-close.png") no-repeat;
}
.dark-blue-footer #contacts .accordion.style-2 dd {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 15px;
  padding: 0 25px;
}
.dark-blue-footer #contacts .accordion.style-2 dd p {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-2 ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.dark-blue-footer #contacts .accordion.style-2 ul li {
  line-height: 1.75;
  margin-bottom: 15px;
  background: rgba(0, 0, 0, 0) url("../images/arrow-dbl-right-blue.png") no-repeat scroll 0 8px;
  padding-left: 28px;
  color: #000;
  font-size: 17px;
}
.dark-blue-footer #contacts .accordion.style-2 ul li:last-child {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-3 {
  margin: 0;
}
.dark-blue-footer #contacts .accordion.style-3 dt {
  border-bottom: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding: 17px 15px 15px 27px;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}
.dark-blue-footer #contacts .accordion.style-3 dt:first-child {
  border-top: 0 none;
}
.dark-blue-footer #contacts .accordion.style-3 dt a {
  display: block;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 20px;
  font-weight: 400;
  font-family: "Roboto";
  color: #000;
  text-transform: none;
  position: relative;
  padding-right: 60px;
  text-decoration: none;
  line-height: 1;
}
.dark-blue-footer #contacts .accordion.style-3 dt a:visited, .dark-blue-footer #contacts .accordion.style-3 dt a:focus {
  text-decoration: none;
}
.dark-blue-footer #contacts .accordion.style-3 dt a span {
  display: block;
  float: right;
  width: 33px;
  height: 22px;
  background: url("../images/acc-style1-open.png") no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  margin: -11px 0 0 0;
}
.dark-blue-footer #contacts .accordion.style-3 dt.accordion-opened a span {
  background: url("../images/acc-style1-close.png") no-repeat;
}
.dark-blue-footer #contacts .accordion.style-3 dd {
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 15px;
  padding: 0 25px;
}
.dark-blue-footer #contacts .accordion.style-3 dd p {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion.style-3 ul {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
}
.dark-blue-footer #contacts .accordion.style-3 ul li {
  line-height: 1.75;
  margin-bottom: 15px;
  /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
  padding-left: 28px;
  color: #000;
  font-size: 17px;
}
.dark-blue-footer #contacts .accordion.style-3 ul li:last-child {
  margin-bottom: 0;
}
.dark-blue-footer #contacts .accordion-generic {
  margin-bottom: 75px;
  /**************************************************************************************/
}
@media screen and (max-width: 767px) {
  .dark-blue-footer #contacts .accordion-generic {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .dark-blue-footer #contacts .accordion-contacts {
    margin: 0;
  }
  .dark-blue-footer .socials {
    padding-top: 0;
  }
}
.dark-blue-footer #contacts address {
  margin-bottom: 0;
}
.dark-blue-footer .socials {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}
.dark-blue-footer .socials a {
  display: inline-block;
  margin: 0 5px;
}
.dark-blue-footer .socials a span {
  display: block;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 20px;
}

.grecaptcha-badge {
  display: none !important;
}

/* Variables */
/* Additional Mixins */
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("ttf");
  font-display: swap;
  font-weight: bold;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-Regular.ttf") format("ttf");
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../assets/fonts/Playfair_Display/static/PlayfairDisplay-SemiBold.ttf") format("ttf");
  font-display: swap;
  font-weight: bold;
}
body {
  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  width: 100%;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  transition: all 0.1s linear;
}

section {
  position: relative;
}

.page-template-template-wide-home.admin-bar .site-header-dark-blue {
  top: unset !important;
}

.page-template-template-wide-home {
  background: #F2F2F2;
}
.page-template-template-wide-home .site-header-dark-blue {
  position: absolute;
  background: black;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.599877451) 24%, rgba(255, 255, 255, 0) 100%);
}
.page-template-template-wide-home .site-header-dark-blue .btn-blue {
  color: #FFF;
  font-weight: bold;
  background: transparent !important;
  border: 1px solid #FFF;
}
.page-template-template-wide-home .site-header-dark-blue .btn-white {
  color: #FFF;
  font-weight: bold;
  background: #952A32 !important;
  border: 1px solid #952A32 !important;
}
.page-template-template-wide-home .site-header-fixed #wrapper {
  padding-top: 0 !important;
}

.site-header-dark-blue .navbar-toggle .glyphicon {
  top: 2px;
  right: -2px;
  font-size: 18px;
}

.site-header-dark-blue .navbar-collapse {
  clear: both;
  border-top: none;
  box-shadow: none;
}

.site-header-dark-blue #main-navigation .site-logo {
  margin: 0 auto;
}

.site-header-dark-blue .header-right-buttons {
  margin-top: 15px;
}

.site-header-dark-blue .header-right-buttons .btn {
  padding: 7px 25px;
}

.main-cta {
  width: 100%;
  height: 1000px;
  background-size: cover;
}

.cta-main-left {
  float: left;
  width: 40%;
  padding-top: 750px;
}
.cta-main-left .award-icons {
  padding: 0 30px;
}

.cta-main-right {
  float: right;
  margin-top: 450px;
  width: 60%;
  background: rgba(21, 48, 80, 0.8);
  color: #FFF;
  font-family: Montserrat, sans-serif;
}
.cta-main-right a {
  color: #FFF;
}
.cta-main-right h1 {
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: bold;
}
.cta-main-right .inner-container {
  padding: 95px 35px 95px 75px;
}
.cta-main-right .inner-container .btn-set {
  margin-top: 15px;
}
.cta-main-right .inner-container .btn-set .btn {
  padding: 19px;
  width: 290px;
  font-size: 22px;
  color: #FFF;
  height: 69px;
}
.cta-main-right .inner-container .btn-set .btn-transparent {
  margin-left: 15px;
}

/* Global Buttons */
.btn-red {
  background: #952A32 !important;
  border: 1px solid #952A32;
  color: #FFF !important;
}

.btn-transparent {
  background: transparent !important;
  border: 1px solid #FFF;
}

/* Repeat Sections */
.repeat-section-block {
  position: relative;
  height: 1000px;
  background-size: cover;
}
.repeat-section-block .side-block {
  position: absolute;
  width: 50%;
  padding: 100px;
  background: rgba(21, 48, 80, 0.8);
  top: 400px;
  color: #FFF;
}
.repeat-section-block .side-block .title {
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: bold;
}
.repeat-section-block .side-block .content {
  font-family: Montserrat, sans-serif;
  font-size: 19px;
}
.repeat-section-block .side-block .learn-more a {
  color: #FFF;
  text-decoration: underline;
}
.repeat-section-block .side-block .learn-more a:hover {
  color: #FFF;
}
.repeat-section-block .right {
  right: 0;
  text-align: right;
}
.repeat-section-block .left {
  left: 0;
  text-align: left;
}
.repeat-section-block .back-to-top {
  position: absolute;
  bottom: 25px;
  right: 50px;
  font-family: "Playfair Display", serif;
}
.repeat-section-block .back-to-top a {
  color: #FFF;
}
.repeat-section-block .back-to-top a:hover {
  color: #FFF;
}
.repeat-section-block .back-to-top span {
  padding: 10px;
  background: rgba(50, 50, 50, 0.5);
}
.repeat-section-block .next-section {
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 50%;
}
.repeat-section-block .next-section a {
  color: #FFF;
}
.repeat-section-block .next-section span {
  background: rgba(50, 50, 50, 0.5);
  padding: 15px;
  font-size: 24px;
}
.repeat-section-block .more-link a {
  color: #FFF;
  margin-top: 15px;
  text-decoration: underline;
  display: block;
}

/* END Repeat Sections */
/* What We Handle */
.what-we-handle {
  padding: 70px 50px;
}
.what-we-handle .glide-practice-areas {
  position: relative;
}
.what-we-handle h3 {
  font-family: "Playfair Display", serif;
  color: #153050;
  font-size: 42px;
  font-weight: bold;
}
.what-we-handle h5 {
  font-family: Montserrat, sans-serif;
  color: #153050;
  font-size: 24px;
}
.what-we-handle .practice-area-container {
  transition: all 0.5s;
  margin: 0 auto;
  display: block;
}
.what-we-handle .practice-listing-container {
  background-size: cover;
  width: 400px;
  height: 290px;
  float: left;
  position: relative;
  padding: 25px 10px;
  text-align: center;
}
.what-we-handle .what-we-handle-info-container {
  width: 100%;
  height: 290px;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.5s;
  background: rgba(21, 48, 80, 0.8);
}
.what-we-handle .what-we-handle-info-container .practice-area-listing-title {
  margin-top: 100px;
  color: #FFF;
  font-size: 20px;
  padding: 0 5px;
}
.what-we-handle .what-we-handle-info-container .practice-area-listing-learn-more {
  margin: 15px auto 0;
  display: block;
  color: #FFF;
  opacity: 0;
  transition: all 0.4s;
}
.what-we-handle .what-we-handle-info-container .practice-area-listing-learn-more button {
  padding: 10px 25px;
  font-family: Montserrat, sans-serif;
  font-size: 17px;
  font-weight: bold;
}
.what-we-handle .what-we-handle-info-container .practice-area-listing-learn-more button:hover {
  color: #FFF;
  text-decoration: underline;
}
.what-we-handle .visible-block .what-we-handle-info-container {
  background: rgba(67, 109, 159, 0.5);
}
.what-we-handle .visible-block .practice-area-listing-learn-more {
  opacity: 1;
}

/** Link Directory **/
.link-directory {
  padding: 25px 0;
  background: #FFF;
}
.link-directory ul {
  margin: 0;
  transition: all 0.3s;
  text-align: center;
}
.link-directory ul li {
  display: inline;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
  margin: 0 5px;
}
.link-directory ul li a {
  color: #153050;
  font-weight: bold;
}

.dynamic-border-bar {
  transition: all 0.3s;
  width: 0;
  height: 2px;
  margin-top: 20px;
  display: block;
  background: #952A32;
}

/* Link slider*/
.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}

.scroll-container {
  width: 600px;
  overflow: hidden;
}
.scroll-container ul {
  white-space: nowrap;
  transition: all ease 750ms;
  position: relative;
}
.scroll-container ul li {
  display: inline-block;
}
.scroll-container ul li a {
  padding: 10px;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
/* Example wrapper */
.wrap {
  position: relative;
  margin: 3em 0;
}

/* Frame */
.frame {
  height: 250px;
  line-height: 250px;
  overflow: hidden;
}
.frame ul {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 50px;
}
.frame ul li {
  font-size: 15px;
  width: auto;
  height: 100%;
  margin: 0 15px 0 0;
  padding: 0;
  background: #333;
  color: #ddd;
  text-align: center;
  cursor: pointer;
  display: inline;
}

.frame.minimal-nav {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
}
.frame.minimal-nav ul li {
  background: transparent;
  height: 50px !important;
}
.frame.minimal-nav ul li a {
  color: #153050;
}
.frame.minimal-nav ul li a:hover {
  color: #153050;
  text-decoration: underline;
}
.frame.minimal-nav ul li.active {
  color: #000;
  background: transparent;
}

.frame ul li.active {
  color: #fff;
  background: #a03232;
}

/* Scrollbar */
.minimal-nav-container {
  padding: 0 15px;
  position: relative;
}

.scrollbar {
  margin: 25px 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 3px;
  background: #952A32;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

/* Pages */
.pages {
  list-style: none;
  margin: 20px 0;
  padding: 0;
  text-align: center;
}

.pages li {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 4px;
  text-indent: -999px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.pages li:hover {
  background: #aaa;
}

.pages li.active {
  background: #666;
}

/* Controls */
.controls {
  margin: 25px 0;
  text-align: center;
}

.next {
  position: absolute;
  right: -10px;
  top: 65px;
  border: none;
  background: transparent;
}

.prev {
  position: absolute;
  left: -10px;
  top: 65px;
  border: none;
  background: transparent;
}

/* One Item Per Frame example*/
.oneperframe {
  height: 300px;
  line-height: 300px;
}

.oneperframe ul li {
  width: 1140px;
}

.oneperframe ul li.active {
  background: #333;
}

/* Crazy example */
.crazy ul li:nth-child(2n) {
  width: 100px;
  margin: 0 4px 0 20px;
}

.crazy ul li:nth-child(3n) {
  width: 300px;
  margin: 0 10px 0 5px;
}

.crazy ul li:nth-child(4n) {
  width: 400px;
  margin: 0 30px 0 2px;
}

/* End Link Slider */
/** END Link Directory **/
/* Glide Slider */
.glide__slides {
  height: 500px;
  margin-bottom: 0;
}

.glide__slide {
  background-size: cover;
  position: relative;
}

.glide-slide-overlay {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  z-index: 5;
  background: transparent;
  transition: all 0.5s;
}

.glide__arrow.next {
  right: -10px;
}

.glide__arrow.prev {
  left: -10px;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.5em 0px;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.5em;
  opacity: 1;
  cursor: pointer;
  transform: translateY(-50%);
  line-height: 1;
  padding: 9px 12px;
  transition: opacity 150ms ease 0s, border 300ms ease-in-out 0s;
  background: rgba(25, 25, 25, 0.6);
  border: none;
  font-size: 20px;
}
.glide__arrow span {
  font-size: 28px;
}

.glide-slide-container {
  transition: all 0.3s;
  opacity: 0;
  position: relative;
  z-index: 9;
  color: #FFF;
  text-align: center;
  padding: 100px 30px 50px;
}
.glide-slide-container .glide-title h2 {
  font-weight: bold;
  font-family: "Playfair Display", sans-serif;
}
.glide-slide-container .glide-content {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
}

.glide__slide--active .glide-slide-overlay {
  background: rgba(21, 48, 80, 0.8);
}
.glide__slide--active .glide-slide-container {
  opacity: 1;
}

footer {
  margin-top: 0 !important;
}

#videomodal iframe {
  max-width: 100%;
}

/* End What We Handle */
.client-stories {
  clear: both;
  padding: 70px 0;
}

/* Testimonial Block */
.testimonial .left-block {
  height: 750px;
  float: left;
  width: 45%;
  background-position: center top;
  background-size: cover;
}
.testimonial .right-block {
  height: 750px;
  float: left;
  width: 55%;
  background: #FFF;
  text-align: right;
  padding: 70px 65px;
}
.testimonial .right-block h2 {
  color: #0a3c67;
  font-weight: bold;
  font-family: "Playfair Display", "sans-serif";
}
.testimonial .right-block .content {
  font-family: Montserrat, sans-serif;
}
.testimonial .right-block .testimonial-box {
  text-align: left;
  background: #8D2931;
  padding: 75px;
  margin-left: -175px;
}
.testimonial .right-block .testimonial-box .content {
  font-size: 30px;
  color: #FFF;
  font-family: "Playfair Display", "sans-serif";
}
.testimonial .right-block .testimonial-box .content a {
  color: #FFF;
  text-decoration: underline;
}
.testimonial .right-block .testimonial-box .content a:hover {
  color: #FFF;
}
.testimonial .right-block .testimonial-box .stars {
  margin-bottom: 25px;
}

.cta-sub {
  margin-top: 15px;
  font-size: 26px;
  text-align: center;
}
.cta-sub a {
  color: #FFF;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}
.cta-sub a:hover {
  text-decoration: none !important;
}

/* END Testimonial Block */
@media (min-width: 1600px) {
  .practice-area-container {
    width: 1600px;
  }
}
@media (min-width: 1200px) {
  .minimal-nav-container {
    width: 1200px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1599px) {
  .practice-listing-container {
    width: 300px;
  }

  .practice-area-container {
    width: 1200px;
  }
}
@media (max-width: 1199px) {
  .practice-area-container {
    width: 600px;
  }

  .what-we-handle .practice-listing-container {
    width: 300px;
  }

  .testimonial .right-block .testimonial-box .content {
    font-size: 23px;
  }
}
@media (max-width: 992px) {
  .main-cta {
    background-position: center bottom !important;
  }

  .what-we-handle {
    padding: 70px 0 !important;
  }
  .what-we-handle .glide__slides {
    height: 300px;
  }
  .what-we-handle .glide-slide-overlay {
    height: 300px;
  }

  .glide-practice-areas .glide-content a.btn-link {
    padding: 15px 35px;
    font-size: 18px;
    color: #FFF;
  }
  .glide-practice-areas .glide-content a.btn-link:active {
    color: #FFF;
  }
}
@media (min-width: 768px) and (max-width: 1300px) {
  .main-cta {
    padding-top: 500px;
  }

  .cta-main-left {
    display: none;
  }

  .cta-main-right {
    clear: both;
    width: 700px;
    text-align: center;
    margin-top: 0;
  }
  .cta-main-right .inner-container {
    padding: 50px;
  }
  .cta-main-right h1 {
    font-size: 46px;
  }

  .repeat-section-block {
    height: 800px;
  }

  .side-block {
    padding: 25px !important;
    width: 700px !important;
  }
}
@media (max-width: 767px) {
  .main-cta {
    padding: 300px 15px 0;
    position: relative;
  }

  .cta-main-left {
    display: none;
  }

  .cta-main-right {
    width: auto;
    height: auto;
    margin: 0 auto;
    float: none;
    display: block;
    background: #153050;
    text-align: center;
  }
  .cta-main-right .inner-container {
    padding: 30px 15px;
  }
  .cta-main-right .inner-container .btn-transparent {
    margin: 10px auto 0 !important;
    font-size: 18px;
    height: auto;
    padding: 15px;
    max-width: 100%;
  }
  .cta-main-right h1 {
    font-size: 24px;
    font-weight: normal;
  }
  .cta-main-right .btn-red {
    display: none;
  }

  .repeat-section-block {
    height: 600px;
  }
  .repeat-section-block .title {
    font-size: 35px !important;
  }
  .repeat-section-block .content {
    font-size: 18px !important;
  }
  .repeat-section-block .side-block {
    width: 100% !important;
    text-align: center !important;
    position: absolute !important;
    bottom: 100px !important;
    top: 0;
    height: 600px;
    padding: 100px 15px 50px !important;
  }
  .repeat-section-block .side-block.shade {
    top: 0;
    height: 600px;
    background: rgba(255, 245, 245, 0.7);
    color: #153050;
  }
  .repeat-section-block .side-block.shade .more-link a {
    color: #153050;
    margin-top: 15px;
    text-decoration: underline;
    display: block;
  }
  .repeat-section-block .side-block.shade .more-link a:hover {
    color: #153050;
  }

  .practice-area-container {
    max-width: 100%;
    width: 100% !important;
  }

  .practice-listing-container {
    width: 50% !important;
  }

  .link-directory {
    display: none;
  }

  .next-section {
    display: none;
  }

  .back-to-top {
    background: #952A32;
    width: 140px;
    padding: 10px;
    right: 50%;
    left: 50%;
    bottom: 0 !important;
    margin-left: -70px;
  }
  .back-to-top span {
    padding: 0 !important;
    background: transparent !important;
  }

  .testimonial .left-block {
    display: none;
    height: 300px;
    float: none;
    clear: both;
    width: 100%;
    background-position: center top;
    background-size: cover;
  }
  .testimonial .right-block {
    height: auto;
    float: none;
    clear: both;
    width: 100%;
    background: #FFF;
    text-align: center !important;
    padding: 50px 0;
  }
  .testimonial .right-block h2 {
    text-align: center;
  }
  .testimonial .right-block .testimonial-box {
    text-align: center;
    padding: 15px;
    margin-left: 0 !important;
  }
  .testimonial .right-block .testimonial-box .content {
    font-size: 17px;
  }
  .testimonial .right-block .testimonial-box .stars img {
    display: block;
    margin: 0 auto 25px;
  }
}
.clearfix {
  clear: both;
  visibility: hidden;
  height: 0;
  width: 0;
  line-height: 0;
}

.clear {
  clear: both;
  visibility: hidden;
  height: 0;
  width: 0;
  line-height: 0;
}

@media screen and (max-width: 991px) {
  .main-cta {
    background-color: #153050;
    width: auto;
    height: 610px !important;
    position: relative;
    padding: 0 !important;
    margin-top: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center !important;
  }

  .page-template-template-wide-home .site-header-dark-blue {
    position: relative !important;
    background: #162f50;
  }

  .cta-main-right {
    position: absolute;
    bottom: 0;
    margin: 0 0 !important;
    height: auto !important;
    width: 100% !important;
    min-width: 300px;
    padding: 0 20px !important;
    color: #fff;
    font-family: Montserrat, sans-serif;
  }

  .navbar-toggle {
    display: block !important;
  }

  #main-navbar.navbar-collapse.collapse {
    display: none !important;
  }

  #main-navbar.navbar-collapse.collapse.in {
    display: block !important;
  }

  .what-we-handle {
    position: static !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1034px) {
  .navbar-toggle {
    display: none !important;
  }

  #main-navbar.navbar-collapse.collapse {
    display: block !important;
  }

  .site-header-dark-blue #main-navigation li {
    list-style: none;
    font-size: 14px !important;
    text-align: center;
  }
}
@media screen and (min-width: 1035px) {
  #main-navbar.navbar-collapse.collapse {
    display: block !important;
  }

  #main-navbar.navbar-collapse.collapse li {
    display: inline-block !important;
  }

  .navbar-toggle {
    display: none;
  }

  .site-header-dark-blue #main-navigation li {
    display: inline-block !important;
    font-weight: 700;
  }

  .navbar-header {
    float: none;
  }

  .navbar-left, .navbar-right {
    float: none !important;
  }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }

  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }

  .navbar-nav > li {
    float: none;
  }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .collapse.in {
    display: block !important;
  }
}
@media screen and (min-width: 992px) {
  .main-cta {
    background-position: center top !important;
  }

  .site-header-dark-blue #main-navigation li:last-of-type {
    padding: 7px 0px 10px 7px;
  }

  .site-header-dark-blue .col-md-7 {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .main-cta {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top center !important;
    padding: 0 !important;
  }
}
/*Legal Team */
.meet-the-law .prev, .meet-the-law .next {
  display: none;
}

.legal-team {
  padding: 50px;
  background: #FFF;
  position: relative;
}
.legal-team h3 {
  font-family: "Playfair Display", serif;
  color: #153050;
  font-size: 42px;
  font-weight: bold;
}
.legal-team h5 {
  font-family: Montserrat, sans-serif;
  color: #153050;
  font-size: 24px;
}
.legal-team .legal-team-member {
  height: 360px;
  width: 240px;
  background-size: cover;
  position: relative;
  display: block;
  margin: 0 auto;
}
.legal-team .team-info-container {
  opacity: 0;
  background: rgba(25, 25, 25, 0.8);
  transition: all 0.5s;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 5px;
}
.legal-team .team-info-container .team-name {
  color: #FFF;
}
.legal-team .team-info-container .team-title {
  color: #FFF;
}
.legal-team .visible-block .team-info-container {
  opacity: 1;
}

@media (max-width: 992px) {
  .legal-team {
    padding: 50px 0;
  }
  .legal-team .glide__slide {
    background-size: auto !important;
    background-position: top center !important;
    background-repeat: no-repeat !important;
    height: 300px;
  }
  .legal-team .legal-team-member {
    height: 240px;
  }
  .legal-team .glide-slide-overlay {
    height: 300px;
  }
  .legal-team .team-info-container {
    opacity: 1;
  }

  .about-us .glide__slides {
    height: 370px;
  }
  .about-us .glide-testimonials .glide__slides {
    height: auto;
  }
  .about-us .glide-slide-container {
    margin: 0 auto;
  }

  .glide__arrows {
    text-align: center;
  }
}
.legal-team .prev {
  position: absolute;
  left: 0;
  top: 40%;
  background: #153050;
  color: #FFF;
  font-size: 20px;
}
.legal-team .next {
  position: absolute;
  right: 0;
  top: 40%;
  background: #153050;
  color: #FFF;
  font-size: 20px;
}

@media (max-width: 991px) {
  .meet-the-law .prev, .meet-the-law .next {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .legal-team {
    padding: 50px 0;
  }
}
/* End Legal Team */
/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: 0.1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: 0.3em;
}

.fa.fa-pull-right {
  margin-left: 0.3em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: 0.3em;
}

.fa.pull-right {
  margin-left: 0.3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.fa-glass:before {
  content: "";
}

.fa-music:before {
  content: "";
}

.fa-search:before {
  content: "";
}

.fa-envelope-o:before {
  content: "";
}

.fa-heart:before {
  content: "";
}

.fa-star:before {
  content: "";
}

.fa-star-o:before {
  content: "";
}

.fa-user:before {
  content: "";
}

.fa-film:before {
  content: "";
}

.fa-th-large:before {
  content: "";
}

.fa-th:before {
  content: "";
}

.fa-th-list:before {
  content: "";
}

.fa-check:before {
  content: "";
}

.fa-remove:before, .fa-close:before, .fa-times:before {
  content: "";
}

.fa-search-plus:before {
  content: "";
}

.fa-search-minus:before {
  content: "";
}

.fa-power-off:before {
  content: "";
}

.fa-signal:before {
  content: "";
}

.fa-gear:before, .fa-cog:before {
  content: "";
}

.fa-trash-o:before {
  content: "";
}

.fa-home:before {
  content: "";
}

.fa-file-o:before {
  content: "";
}

.fa-clock-o:before {
  content: "";
}

.fa-road:before {
  content: "";
}

.fa-download:before {
  content: "";
}

.fa-arrow-circle-o-down:before {
  content: "";
}

.fa-arrow-circle-o-up:before {
  content: "";
}

.fa-inbox:before {
  content: "";
}

.fa-play-circle-o:before {
  content: "";
}

.fa-rotate-right:before, .fa-repeat:before {
  content: "";
}

.fa-refresh:before {
  content: "";
}

.fa-list-alt:before {
  content: "";
}

.fa-lock:before {
  content: "";
}

.fa-flag:before {
  content: "";
}

.fa-headphones:before {
  content: "";
}

.fa-volume-off:before {
  content: "";
}

.fa-volume-down:before {
  content: "";
}

.fa-volume-up:before {
  content: "";
}

.fa-qrcode:before {
  content: "";
}

.fa-barcode:before {
  content: "";
}

.fa-tag:before {
  content: "";
}

.fa-tags:before {
  content: "";
}

.fa-book:before {
  content: "";
}

.fa-bookmark:before {
  content: "";
}

.fa-print:before {
  content: "";
}

.fa-camera:before {
  content: "";
}

.fa-font:before {
  content: "";
}

.fa-bold:before {
  content: "";
}

.fa-italic:before {
  content: "";
}

.fa-text-height:before {
  content: "";
}

.fa-text-width:before {
  content: "";
}

.fa-align-left:before {
  content: "";
}

.fa-align-center:before {
  content: "";
}

.fa-align-right:before {
  content: "";
}

.fa-align-justify:before {
  content: "";
}

.fa-list:before {
  content: "";
}

.fa-dedent:before, .fa-outdent:before {
  content: "";
}

.fa-indent:before {
  content: "";
}

.fa-video-camera:before {
  content: "";
}

.fa-photo:before, .fa-image:before, .fa-picture-o:before {
  content: "";
}

.fa-pencil:before {
  content: "";
}

.fa-map-marker:before {
  content: "";
}

.fa-adjust:before {
  content: "";
}

.fa-tint:before {
  content: "";
}

.fa-edit:before, .fa-pencil-square-o:before {
  content: "";
}

.fa-share-square-o:before {
  content: "";
}

.fa-check-square-o:before {
  content: "";
}

.fa-arrows:before {
  content: "";
}

.fa-step-backward:before {
  content: "";
}

.fa-fast-backward:before {
  content: "";
}

.fa-backward:before {
  content: "";
}

.fa-play:before {
  content: "";
}

.fa-pause:before {
  content: "";
}

.fa-stop:before {
  content: "";
}

.fa-forward:before {
  content: "";
}

.fa-fast-forward:before {
  content: "";
}

.fa-step-forward:before {
  content: "";
}

.fa-eject:before {
  content: "";
}

.fa-chevron-left:before {
  content: "";
}

.fa-chevron-right:before {
  content: "";
}

.fa-plus-circle:before {
  content: "";
}

.fa-minus-circle:before {
  content: "";
}

.fa-times-circle:before {
  content: "";
}

.fa-check-circle:before {
  content: "";
}

.fa-question-circle:before {
  content: "";
}

.fa-info-circle:before {
  content: "";
}

.fa-crosshairs:before {
  content: "";
}

.fa-times-circle-o:before {
  content: "";
}

.fa-check-circle-o:before {
  content: "";
}

.fa-ban:before {
  content: "";
}

.fa-arrow-left:before {
  content: "";
}

.fa-arrow-right:before {
  content: "";
}

.fa-arrow-up:before {
  content: "";
}

.fa-arrow-down:before {
  content: "";
}

.fa-mail-forward:before, .fa-share:before {
  content: "";
}

.fa-expand:before {
  content: "";
}

.fa-compress:before {
  content: "";
}

.fa-plus:before {
  content: "";
}

.fa-minus:before {
  content: "";
}

.fa-asterisk:before {
  content: "";
}

.fa-exclamation-circle:before {
  content: "";
}

.fa-gift:before {
  content: "";
}

.fa-leaf:before {
  content: "";
}

.fa-fire:before {
  content: "";
}

.fa-eye:before {
  content: "";
}

.fa-eye-slash:before {
  content: "";
}

.fa-warning:before, .fa-exclamation-triangle:before {
  content: "";
}

.fa-plane:before {
  content: "";
}

.fa-calendar:before {
  content: "";
}

.fa-random:before {
  content: "";
}

.fa-comment:before {
  content: "";
}

.fa-magnet:before {
  content: "";
}

.fa-chevron-up:before {
  content: "";
}

.fa-chevron-down:before {
  content: "";
}

.fa-retweet:before {
  content: "";
}

.fa-shopping-cart:before {
  content: "";
}

.fa-folder:before {
  content: "";
}

.fa-folder-open:before {
  content: "";
}

.fa-arrows-v:before {
  content: "";
}

.fa-arrows-h:before {
  content: "";
}

.fa-bar-chart-o:before, .fa-bar-chart:before {
  content: "";
}

.fa-twitter-square:before {
  content: "";
}

.fa-facebook-square:before {
  content: "";
}

.fa-camera-retro:before {
  content: "";
}

.fa-key:before {
  content: "";
}

.fa-gears:before, .fa-cogs:before {
  content: "";
}

.fa-comments:before {
  content: "";
}

.fa-thumbs-o-up:before {
  content: "";
}

.fa-thumbs-o-down:before {
  content: "";
}

.fa-star-half:before {
  content: "";
}

.fa-heart-o:before {
  content: "";
}

.fa-sign-out:before {
  content: "";
}

.fa-linkedin-square:before {
  content: "";
}

.fa-thumb-tack:before {
  content: "";
}

.fa-external-link:before {
  content: "";
}

.fa-sign-in:before {
  content: "";
}

.fa-trophy:before {
  content: "";
}

.fa-github-square:before {
  content: "";
}

.fa-upload:before {
  content: "";
}

.fa-lemon-o:before {
  content: "";
}

.fa-phone:before {
  content: "";
}

.fa-square-o:before {
  content: "";
}

.fa-bookmark-o:before {
  content: "";
}

.fa-phone-square:before {
  content: "";
}

.fa-twitter:before {
  content: "";
}

.fa-facebook-f:before, .fa-facebook:before {
  content: "";
}

.fa-github:before {
  content: "";
}

.fa-unlock:before {
  content: "";
}

.fa-credit-card:before {
  content: "";
}

.fa-feed:before, .fa-rss:before {
  content: "";
}

.fa-hdd-o:before {
  content: "";
}

.fa-bullhorn:before {
  content: "";
}

.fa-bell:before {
  content: "";
}

.fa-certificate:before {
  content: "";
}

.fa-hand-o-right:before {
  content: "";
}

.fa-hand-o-left:before {
  content: "";
}

.fa-hand-o-up:before {
  content: "";
}

.fa-hand-o-down:before {
  content: "";
}

.fa-arrow-circle-left:before {
  content: "";
}

.fa-arrow-circle-right:before {
  content: "";
}

.fa-arrow-circle-up:before {
  content: "";
}

.fa-arrow-circle-down:before {
  content: "";
}

.fa-globe:before {
  content: "";
}

.fa-wrench:before {
  content: "";
}

.fa-tasks:before {
  content: "";
}

.fa-filter:before {
  content: "";
}

.fa-briefcase:before {
  content: "";
}

.fa-arrows-alt:before {
  content: "";
}

.fa-group:before, .fa-users:before {
  content: "";
}

.fa-chain:before, .fa-link:before {
  content: "";
}

.fa-cloud:before {
  content: "";
}

.fa-flask:before {
  content: "";
}

.fa-cut:before, .fa-scissors:before {
  content: "";
}

.fa-copy:before, .fa-files-o:before {
  content: "";
}

.fa-paperclip:before {
  content: "";
}

.fa-save:before, .fa-floppy-o:before {
  content: "";
}

.fa-square:before {
  content: "";
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
  content: "";
}

.fa-list-ul:before {
  content: "";
}

.fa-list-ol:before {
  content: "";
}

.fa-strikethrough:before {
  content: "";
}

.fa-underline:before {
  content: "";
}

.fa-table:before {
  content: "";
}

.fa-magic:before {
  content: "";
}

.fa-truck:before {
  content: "";
}

.fa-pinterest:before {
  content: "";
}

.fa-pinterest-square:before {
  content: "";
}

.fa-google-plus-square:before {
  content: "";
}

.fa-google-plus:before {
  content: "";
}

.fa-money:before {
  content: "";
}

.fa-caret-down:before {
  content: "";
}

.fa-caret-up:before {
  content: "";
}

.fa-caret-left:before {
  content: "";
}

.fa-caret-right:before {
  content: "";
}

.fa-columns:before {
  content: "";
}

.fa-unsorted:before, .fa-sort:before {
  content: "";
}

.fa-sort-down:before, .fa-sort-desc:before {
  content: "";
}

.fa-sort-up:before, .fa-sort-asc:before {
  content: "";
}

.fa-envelope:before {
  content: "";
}

.fa-linkedin:before {
  content: "";
}

.fa-rotate-left:before, .fa-undo:before {
  content: "";
}

.fa-legal:before, .fa-gavel:before {
  content: "";
}

.fa-dashboard:before, .fa-tachometer:before {
  content: "";
}

.fa-comment-o:before {
  content: "";
}

.fa-comments-o:before {
  content: "";
}

.fa-flash:before, .fa-bolt:before {
  content: "";
}

.fa-sitemap:before {
  content: "";
}

.fa-umbrella:before {
  content: "";
}

.fa-paste:before, .fa-clipboard:before {
  content: "";
}

.fa-lightbulb-o:before {
  content: "";
}

.fa-exchange:before {
  content: "";
}

.fa-cloud-download:before {
  content: "";
}

.fa-cloud-upload:before {
  content: "";
}

.fa-user-md:before {
  content: "";
}

.fa-stethoscope:before {
  content: "";
}

.fa-suitcase:before {
  content: "";
}

.fa-bell-o:before {
  content: "";
}

.fa-coffee:before {
  content: "";
}

.fa-cutlery:before {
  content: "";
}

.fa-file-text-o:before {
  content: "";
}

.fa-building-o:before {
  content: "";
}

.fa-hospital-o:before {
  content: "";
}

.fa-ambulance:before {
  content: "";
}

.fa-medkit:before {
  content: "";
}

.fa-fighter-jet:before {
  content: "";
}

.fa-beer:before {
  content: "";
}

.fa-h-square:before {
  content: "";
}

.fa-plus-square:before {
  content: "";
}

.fa-angle-double-left:before {
  content: "";
}

.fa-angle-double-right:before {
  content: "";
}

.fa-angle-double-up:before {
  content: "";
}

.fa-angle-double-down:before {
  content: "";
}

.fa-angle-left:before {
  content: "";
}

.fa-angle-right:before {
  content: "";
}

.fa-angle-up:before {
  content: "";
}

.fa-angle-down:before {
  content: "";
}

.fa-desktop:before {
  content: "";
}

.fa-laptop:before {
  content: "";
}

.fa-tablet:before {
  content: "";
}

.fa-mobile-phone:before, .fa-mobile:before {
  content: "";
}

.fa-circle-o:before {
  content: "";
}

.fa-quote-left:before {
  content: "";
}

.fa-quote-right:before {
  content: "";
}

.fa-spinner:before {
  content: "";
}

.fa-circle:before {
  content: "";
}

.fa-mail-reply:before, .fa-reply:before {
  content: "";
}

.fa-github-alt:before {
  content: "";
}

.fa-folder-o:before {
  content: "";
}

.fa-folder-open-o:before {
  content: "";
}

.fa-smile-o:before {
  content: "";
}

.fa-frown-o:before {
  content: "";
}

.fa-meh-o:before {
  content: "";
}

.fa-gamepad:before {
  content: "";
}

.fa-keyboard-o:before {
  content: "";
}

.fa-flag-o:before {
  content: "";
}

.fa-flag-checkered:before {
  content: "";
}

.fa-terminal:before {
  content: "";
}

.fa-code:before {
  content: "";
}

.fa-mail-reply-all:before, .fa-reply-all:before {
  content: "";
}

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before {
  content: "";
}

.fa-location-arrow:before {
  content: "";
}

.fa-crop:before {
  content: "";
}

.fa-code-fork:before {
  content: "";
}

.fa-unlink:before, .fa-chain-broken:before {
  content: "";
}

.fa-question:before {
  content: "";
}

.fa-info:before {
  content: "";
}

.fa-exclamation:before {
  content: "";
}

.fa-superscript:before {
  content: "";
}

.fa-subscript:before {
  content: "";
}

.fa-eraser:before {
  content: "";
}

.fa-puzzle-piece:before {
  content: "";
}

.fa-microphone:before {
  content: "";
}

.fa-microphone-slash:before {
  content: "";
}

.fa-shield:before {
  content: "";
}

.fa-calendar-o:before {
  content: "";
}

.fa-fire-extinguisher:before {
  content: "";
}

.fa-rocket:before {
  content: "";
}

.fa-maxcdn:before {
  content: "";
}

.fa-chevron-circle-left:before {
  content: "";
}

.fa-chevron-circle-right:before {
  content: "";
}

.fa-chevron-circle-up:before {
  content: "";
}

.fa-chevron-circle-down:before {
  content: "";
}

.fa-html5:before {
  content: "";
}

.fa-css3:before {
  content: "";
}

.fa-anchor:before {
  content: "";
}

.fa-unlock-alt:before {
  content: "";
}

.fa-bullseye:before {
  content: "";
}

.fa-ellipsis-h:before {
  content: "";
}

.fa-ellipsis-v:before {
  content: "";
}

.fa-rss-square:before {
  content: "";
}

.fa-play-circle:before {
  content: "";
}

.fa-ticket:before {
  content: "";
}

.fa-minus-square:before {
  content: "";
}

.fa-minus-square-o:before {
  content: "";
}

.fa-level-up:before {
  content: "";
}

.fa-level-down:before {
  content: "";
}

.fa-check-square:before {
  content: "";
}

.fa-pencil-square:before {
  content: "";
}

.fa-external-link-square:before {
  content: "";
}

.fa-share-square:before {
  content: "";
}

.fa-compass:before {
  content: "";
}

.fa-toggle-down:before, .fa-caret-square-o-down:before {
  content: "";
}

.fa-toggle-up:before, .fa-caret-square-o-up:before {
  content: "";
}

.fa-toggle-right:before, .fa-caret-square-o-right:before {
  content: "";
}

.fa-euro:before, .fa-eur:before {
  content: "";
}

.fa-gbp:before {
  content: "";
}

.fa-dollar:before, .fa-usd:before {
  content: "";
}

.fa-rupee:before, .fa-inr:before {
  content: "";
}

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before {
  content: "";
}

.fa-ruble:before, .fa-rouble:before, .fa-rub:before {
  content: "";
}

.fa-won:before, .fa-krw:before {
  content: "";
}

.fa-bitcoin:before, .fa-btc:before {
  content: "";
}

.fa-file:before {
  content: "";
}

.fa-file-text:before {
  content: "";
}

.fa-sort-alpha-asc:before {
  content: "";
}

.fa-sort-alpha-desc:before {
  content: "";
}

.fa-sort-amount-asc:before {
  content: "";
}

.fa-sort-amount-desc:before {
  content: "";
}

.fa-sort-numeric-asc:before {
  content: "";
}

.fa-sort-numeric-desc:before {
  content: "";
}

.fa-thumbs-up:before {
  content: "";
}

.fa-thumbs-down:before {
  content: "";
}

.fa-youtube-square:before {
  content: "";
}

.fa-youtube:before {
  content: "";
}

.fa-xing:before {
  content: "";
}

.fa-xing-square:before {
  content: "";
}

.fa-youtube-play:before {
  content: "";
}

.fa-dropbox:before {
  content: "";
}

.fa-stack-overflow:before {
  content: "";
}

.fa-instagram:before {
  content: "";
}

.fa-flickr:before {
  content: "";
}

.fa-adn:before {
  content: "";
}

.fa-bitbucket:before {
  content: "";
}

.fa-bitbucket-square:before {
  content: "";
}

.fa-tumblr:before {
  content: "";
}

.fa-tumblr-square:before {
  content: "";
}

.fa-long-arrow-down:before {
  content: "";
}

.fa-long-arrow-up:before {
  content: "";
}

.fa-long-arrow-left:before {
  content: "";
}

.fa-long-arrow-right:before {
  content: "";
}

.fa-apple:before {
  content: "";
}

.fa-windows:before {
  content: "";
}

.fa-android:before {
  content: "";
}

.fa-linux:before {
  content: "";
}

.fa-dribbble:before {
  content: "";
}

.fa-skype:before {
  content: "";
}

.fa-foursquare:before {
  content: "";
}

.fa-trello:before {
  content: "";
}

.fa-female:before {
  content: "";
}

.fa-male:before {
  content: "";
}

.fa-gittip:before, .fa-gratipay:before {
  content: "";
}

.fa-sun-o:before {
  content: "";
}

.fa-moon-o:before {
  content: "";
}

.fa-archive:before {
  content: "";
}

.fa-bug:before {
  content: "";
}

.fa-vk:before {
  content: "";
}

.fa-weibo:before {
  content: "";
}

.fa-renren:before {
  content: "";
}

.fa-pagelines:before {
  content: "";
}

.fa-stack-exchange:before {
  content: "";
}

.fa-arrow-circle-o-right:before {
  content: "";
}

.fa-arrow-circle-o-left:before {
  content: "";
}

.fa-toggle-left:before, .fa-caret-square-o-left:before {
  content: "";
}

.fa-dot-circle-o:before {
  content: "";
}

.fa-wheelchair:before {
  content: "";
}

.fa-vimeo-square:before {
  content: "";
}

.fa-turkish-lira:before, .fa-try:before {
  content: "";
}

.fa-plus-square-o:before {
  content: "";
}

.fa-space-shuttle:before {
  content: "";
}

.fa-slack:before {
  content: "";
}

.fa-envelope-square:before {
  content: "";
}

.fa-wordpress:before {
  content: "";
}

.fa-openid:before {
  content: "";
}

.fa-institution:before, .fa-bank:before, .fa-university:before {
  content: "";
}

.fa-mortar-board:before, .fa-graduation-cap:before {
  content: "";
}

.fa-yahoo:before {
  content: "";
}

.fa-google:before {
  content: "";
}

.fa-reddit:before {
  content: "";
}

.fa-reddit-square:before {
  content: "";
}

.fa-stumbleupon-circle:before {
  content: "";
}

.fa-stumbleupon:before {
  content: "";
}

.fa-delicious:before {
  content: "";
}

.fa-digg:before {
  content: "";
}

.fa-pied-piper-pp:before {
  content: "";
}

.fa-pied-piper-alt:before {
  content: "";
}

.fa-drupal:before {
  content: "";
}

.fa-joomla:before {
  content: "";
}

.fa-language:before {
  content: "";
}

.fa-fax:before {
  content: "";
}

.fa-building:before {
  content: "";
}

.fa-child:before {
  content: "";
}

.fa-paw:before {
  content: "";
}

.fa-spoon:before {
  content: "";
}

.fa-cube:before {
  content: "";
}

.fa-cubes:before {
  content: "";
}

.fa-behance:before {
  content: "";
}

.fa-behance-square:before {
  content: "";
}

.fa-steam:before {
  content: "";
}

.fa-steam-square:before {
  content: "";
}

.fa-recycle:before {
  content: "";
}

.fa-automobile:before, .fa-car:before {
  content: "";
}

.fa-cab:before, .fa-taxi:before {
  content: "";
}

.fa-tree:before {
  content: "";
}

.fa-spotify:before {
  content: "";
}

.fa-deviantart:before {
  content: "";
}

.fa-soundcloud:before {
  content: "";
}

.fa-database:before {
  content: "";
}

.fa-file-pdf-o:before {
  content: "";
}

.fa-file-word-o:before {
  content: "";
}

.fa-file-excel-o:before {
  content: "";
}

.fa-file-powerpoint-o:before {
  content: "";
}

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before {
  content: "";
}

.fa-file-zip-o:before, .fa-file-archive-o:before {
  content: "";
}

.fa-file-sound-o:before, .fa-file-audio-o:before {
  content: "";
}

.fa-file-movie-o:before, .fa-file-video-o:before {
  content: "";
}

.fa-file-code-o:before {
  content: "";
}

.fa-vine:before {
  content: "";
}

.fa-codepen:before {
  content: "";
}

.fa-jsfiddle:before {
  content: "";
}

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before {
  content: "";
}

.fa-circle-o-notch:before {
  content: "";
}

.fa-ra:before, .fa-resistance:before, .fa-rebel:before {
  content: "";
}

.fa-ge:before, .fa-empire:before {
  content: "";
}

.fa-git-square:before {
  content: "";
}

.fa-git:before {
  content: "";
}

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before {
  content: "";
}

.fa-tencent-weibo:before {
  content: "";
}

.fa-qq:before {
  content: "";
}

.fa-wechat:before, .fa-weixin:before {
  content: "";
}

.fa-send:before, .fa-paper-plane:before {
  content: "";
}

.fa-send-o:before, .fa-paper-plane-o:before {
  content: "";
}

.fa-history:before {
  content: "";
}

.fa-circle-thin:before {
  content: "";
}

.fa-header:before {
  content: "";
}

.fa-paragraph:before {
  content: "";
}

.fa-sliders:before {
  content: "";
}

.fa-share-alt:before {
  content: "";
}

.fa-share-alt-square:before {
  content: "";
}

.fa-bomb:before {
  content: "";
}

.fa-soccer-ball-o:before, .fa-futbol-o:before {
  content: "";
}

.fa-tty:before {
  content: "";
}

.fa-binoculars:before {
  content: "";
}

.fa-plug:before {
  content: "";
}

.fa-slideshare:before {
  content: "";
}

.fa-twitch:before {
  content: "";
}

.fa-yelp:before {
  content: "";
}

.fa-newspaper-o:before {
  content: "";
}

.fa-wifi:before {
  content: "";
}

.fa-calculator:before {
  content: "";
}

.fa-paypal:before {
  content: "";
}

.fa-google-wallet:before {
  content: "";
}

.fa-cc-visa:before {
  content: "";
}

.fa-cc-mastercard:before {
  content: "";
}

.fa-cc-discover:before {
  content: "";
}

.fa-cc-amex:before {
  content: "";
}

.fa-cc-paypal:before {
  content: "";
}

.fa-cc-stripe:before {
  content: "";
}

.fa-bell-slash:before {
  content: "";
}

.fa-bell-slash-o:before {
  content: "";
}

.fa-trash:before {
  content: "";
}

.fa-copyright:before {
  content: "";
}

.fa-at:before {
  content: "";
}

.fa-eyedropper:before {
  content: "";
}

.fa-paint-brush:before {
  content: "";
}

.fa-birthday-cake:before {
  content: "";
}

.fa-area-chart:before {
  content: "";
}

.fa-pie-chart:before {
  content: "";
}

.fa-line-chart:before {
  content: "";
}

.fa-lastfm:before {
  content: "";
}

.fa-lastfm-square:before {
  content: "";
}

.fa-toggle-off:before {
  content: "";
}

.fa-toggle-on:before {
  content: "";
}

.fa-bicycle:before {
  content: "";
}

.fa-bus:before {
  content: "";
}

.fa-ioxhost:before {
  content: "";
}

.fa-angellist:before {
  content: "";
}

.fa-cc:before {
  content: "";
}

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before {
  content: "";
}

.fa-meanpath:before {
  content: "";
}

.fa-buysellads:before {
  content: "";
}

.fa-connectdevelop:before {
  content: "";
}

.fa-dashcube:before {
  content: "";
}

.fa-forumbee:before {
  content: "";
}

.fa-leanpub:before {
  content: "";
}

.fa-sellsy:before {
  content: "";
}

.fa-shirtsinbulk:before {
  content: "";
}

.fa-simplybuilt:before {
  content: "";
}

.fa-skyatlas:before {
  content: "";
}

.fa-cart-plus:before {
  content: "";
}

.fa-cart-arrow-down:before {
  content: "";
}

.fa-diamond:before {
  content: "";
}

.fa-ship:before {
  content: "";
}

.fa-user-secret:before {
  content: "";
}

.fa-motorcycle:before {
  content: "";
}

.fa-street-view:before {
  content: "";
}

.fa-heartbeat:before {
  content: "";
}

.fa-venus:before {
  content: "";
}

.fa-mars:before {
  content: "";
}

.fa-mercury:before {
  content: "";
}

.fa-intersex:before, .fa-transgender:before {
  content: "";
}

.fa-transgender-alt:before {
  content: "";
}

.fa-venus-double:before {
  content: "";
}

.fa-mars-double:before {
  content: "";
}

.fa-venus-mars:before {
  content: "";
}

.fa-mars-stroke:before {
  content: "";
}

.fa-mars-stroke-v:before {
  content: "";
}

.fa-mars-stroke-h:before {
  content: "";
}

.fa-neuter:before {
  content: "";
}

.fa-genderless:before {
  content: "";
}

.fa-facebook-official:before {
  content: "";
}

.fa-pinterest-p:before {
  content: "";
}

.fa-whatsapp:before {
  content: "";
}

.fa-server:before {
  content: "";
}

.fa-user-plus:before {
  content: "";
}

.fa-user-times:before {
  content: "";
}

.fa-hotel:before, .fa-bed:before {
  content: "";
}

.fa-viacoin:before {
  content: "";
}

.fa-train:before {
  content: "";
}

.fa-subway:before {
  content: "";
}

.fa-medium:before {
  content: "";
}

.fa-yc:before, .fa-y-combinator:before {
  content: "";
}

.fa-optin-monster:before {
  content: "";
}

.fa-opencart:before {
  content: "";
}

.fa-expeditedssl:before {
  content: "";
}

.fa-battery-4:before, .fa-battery:before, .fa-battery-full:before {
  content: "";
}

.fa-battery-3:before, .fa-battery-three-quarters:before {
  content: "";
}

.fa-battery-2:before, .fa-battery-half:before {
  content: "";
}

.fa-battery-1:before, .fa-battery-quarter:before {
  content: "";
}

.fa-battery-0:before, .fa-battery-empty:before {
  content: "";
}

.fa-mouse-pointer:before {
  content: "";
}

.fa-i-cursor:before {
  content: "";
}

.fa-object-group:before {
  content: "";
}

.fa-object-ungroup:before {
  content: "";
}

.fa-sticky-note:before {
  content: "";
}

.fa-sticky-note-o:before {
  content: "";
}

.fa-cc-jcb:before {
  content: "";
}

.fa-cc-diners-club:before {
  content: "";
}

.fa-clone:before {
  content: "";
}

.fa-balance-scale:before {
  content: "";
}

.fa-hourglass-o:before {
  content: "";
}

.fa-hourglass-1:before, .fa-hourglass-start:before {
  content: "";
}

.fa-hourglass-2:before, .fa-hourglass-half:before {
  content: "";
}

.fa-hourglass-3:before, .fa-hourglass-end:before {
  content: "";
}

.fa-hourglass:before {
  content: "";
}

.fa-hand-grab-o:before, .fa-hand-rock-o:before {
  content: "";
}

.fa-hand-stop-o:before, .fa-hand-paper-o:before {
  content: "";
}

.fa-hand-scissors-o:before {
  content: "";
}

.fa-hand-lizard-o:before {
  content: "";
}

.fa-hand-spock-o:before {
  content: "";
}

.fa-hand-pointer-o:before {
  content: "";
}

.fa-hand-peace-o:before {
  content: "";
}

.fa-trademark:before {
  content: "";
}

.fa-registered:before {
  content: "";
}

.fa-creative-commons:before {
  content: "";
}

.fa-gg:before {
  content: "";
}

.fa-gg-circle:before {
  content: "";
}

.fa-tripadvisor:before {
  content: "";
}

.fa-odnoklassniki:before {
  content: "";
}

.fa-odnoklassniki-square:before {
  content: "";
}

.fa-get-pocket:before {
  content: "";
}

.fa-wikipedia-w:before {
  content: "";
}

.fa-safari:before {
  content: "";
}

.fa-chrome:before {
  content: "";
}

.fa-firefox:before {
  content: "";
}

.fa-opera:before {
  content: "";
}

.fa-internet-explorer:before {
  content: "";
}

.fa-tv:before, .fa-television:before {
  content: "";
}

.fa-contao:before {
  content: "";
}

.fa-500px:before {
  content: "";
}

.fa-amazon:before {
  content: "";
}

.fa-calendar-plus-o:before {
  content: "";
}

.fa-calendar-minus-o:before {
  content: "";
}

.fa-calendar-times-o:before {
  content: "";
}

.fa-calendar-check-o:before {
  content: "";
}

.fa-industry:before {
  content: "";
}

.fa-map-pin:before {
  content: "";
}

.fa-map-signs:before {
  content: "";
}

.fa-map-o:before {
  content: "";
}

.fa-map:before {
  content: "";
}

.fa-commenting:before {
  content: "";
}

.fa-commenting-o:before {
  content: "";
}

.fa-houzz:before {
  content: "";
}

.fa-vimeo:before {
  content: "";
}

.fa-black-tie:before {
  content: "";
}

.fa-fonticons:before {
  content: "";
}

.fa-reddit-alien:before {
  content: "";
}

.fa-edge:before {
  content: "";
}

.fa-credit-card-alt:before {
  content: "";
}

.fa-codiepie:before {
  content: "";
}

.fa-modx:before {
  content: "";
}

.fa-fort-awesome:before {
  content: "";
}

.fa-usb:before {
  content: "";
}

.fa-product-hunt:before {
  content: "";
}

.fa-mixcloud:before {
  content: "";
}

.fa-scribd:before {
  content: "";
}

.fa-pause-circle:before {
  content: "";
}

.fa-pause-circle-o:before {
  content: "";
}

.fa-stop-circle:before {
  content: "";
}

.fa-stop-circle-o:before {
  content: "";
}

.fa-shopping-bag:before {
  content: "";
}

.fa-shopping-basket:before {
  content: "";
}

.fa-hashtag:before {
  content: "";
}

.fa-bluetooth:before {
  content: "";
}

.fa-bluetooth-b:before {
  content: "";
}

.fa-percent:before {
  content: "";
}

.fa-gitlab:before {
  content: "";
}

.fa-wpbeginner:before {
  content: "";
}

.fa-wpforms:before {
  content: "";
}

.fa-envira:before {
  content: "";
}

.fa-universal-access:before {
  content: "";
}

.fa-wheelchair-alt:before {
  content: "";
}

.fa-question-circle-o:before {
  content: "";
}

.fa-blind:before {
  content: "";
}

.fa-audio-description:before {
  content: "";
}

.fa-volume-control-phone:before {
  content: "";
}

.fa-braille:before {
  content: "";
}

.fa-assistive-listening-systems:before {
  content: "";
}

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before {
  content: "";
}

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before {
  content: "";
}

.fa-glide:before {
  content: "";
}

.fa-glide-g:before {
  content: "";
}

.fa-signing:before, .fa-sign-language:before {
  content: "";
}

.fa-low-vision:before {
  content: "";
}

.fa-viadeo:before {
  content: "";
}

.fa-viadeo-square:before {
  content: "";
}

.fa-snapchat:before {
  content: "";
}

.fa-snapchat-ghost:before {
  content: "";
}

.fa-snapchat-square:before {
  content: "";
}

.fa-pied-piper:before {
  content: "";
}

.fa-first-order:before {
  content: "";
}

.fa-yoast:before {
  content: "";
}

.fa-themeisle:before {
  content: "";
}

.fa-google-plus-circle:before, .fa-google-plus-official:before {
  content: "";
}

.fa-fa:before, .fa-font-awesome:before {
  content: "";
}

.fa-handshake-o:before {
  content: "";
}

.fa-envelope-open:before {
  content: "";
}

.fa-envelope-open-o:before {
  content: "";
}

.fa-linode:before {
  content: "";
}

.fa-address-book:before {
  content: "";
}

.fa-address-book-o:before {
  content: "";
}

.fa-vcard:before, .fa-address-card:before {
  content: "";
}

.fa-vcard-o:before, .fa-address-card-o:before {
  content: "";
}

.fa-user-circle:before {
  content: "";
}

.fa-user-circle-o:before {
  content: "";
}

.fa-user-o:before {
  content: "";
}

.fa-id-badge:before {
  content: "";
}

.fa-drivers-license:before, .fa-id-card:before {
  content: "";
}

.fa-drivers-license-o:before, .fa-id-card-o:before {
  content: "";
}

.fa-quora:before {
  content: "";
}

.fa-free-code-camp:before {
  content: "";
}

.fa-telegram:before {
  content: "";
}

.fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before {
  content: "";
}

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before {
  content: "";
}

.fa-thermometer-2:before, .fa-thermometer-half:before {
  content: "";
}

.fa-thermometer-1:before, .fa-thermometer-quarter:before {
  content: "";
}

.fa-thermometer-0:before, .fa-thermometer-empty:before {
  content: "";
}

.fa-shower:before {
  content: "";
}

.fa-bathtub:before, .fa-s15:before, .fa-bath:before {
  content: "";
}

.fa-podcast:before {
  content: "";
}

.fa-window-maximize:before {
  content: "";
}

.fa-window-minimize:before {
  content: "";
}

.fa-window-restore:before {
  content: "";
}

.fa-times-rectangle:before, .fa-window-close:before {
  content: "";
}

.fa-times-rectangle-o:before, .fa-window-close-o:before {
  content: "";
}

.fa-bandcamp:before {
  content: "";
}

.fa-grav:before {
  content: "";
}

.fa-etsy:before {
  content: "";
}

.fa-imdb:before {
  content: "";
}

.fa-ravelry:before {
  content: "";
}

.fa-eercast:before {
  content: "";
}

.fa-microchip:before {
  content: "";
}

.fa-snowflake-o:before {
  content: "";
}

.fa-superpowers:before {
  content: "";
}

.fa-wpexplorer:before {
  content: "";
}

.fa-meetup:before {
  content: "";
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

#fd-chat .fd-header span {
  opacity: 0;
  transition: all 0.3s;
}
#fd-chat .fd-header span small {
  font-size: 0.7em;
  display: block;
}

/*# sourceMappingURL=home-wide.css.map */
