.full-height {
    height: 100%;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* Clearfix */
.clearfix {
    display: block;
    zoom: 1;
}

.clearfix:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

.grid, .col-wrap, .home #we-believe .left .inner .inner-content .col-wrap, .home #we-believe, .search-results #wrapper > header #welcome {
    display: block;
    zoom: 1;
}

.grid:after, .col-wrap:after, .home #we-believe .left .inner .inner-content .col-wrap:after, .home #we-believe:after, .search-results #wrapper > header #welcome:after {
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    clear: both;
    visibility: hidden;
}

svg * {
    transition: all 0.2s ease;
}

.ellipsis {
    white-space: nowrap;
    /* 1 */
    text-overflow: ellipsis;
    /* 2 */
    overflow: hidden;
}

/* ---------- Removing The Dotted Outline ---------- */
input::-moz-focus-inner {
    border: 0;
}

button:hover, button:active, button:focus,
a:hover, a:active, a:focus,
input:hover, input:active, input:focus,
select:hover, select:active, select:focus,
textarea:hover, textarea:active, textarea:focus {
    outline: none;
    -moz-outline-style: none;
}

a {
    text-decoration: none;
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

input, textarea {
    border: none;
}

.txt {
    font-size: 0 !important;
    line-height: 0;
    outline: medium none;
    overflow: hidden;
    text-indent: -9999px !important;
}

.clear {
    clear: both;
    visibility: hidden;
    height: 0;
    width: 0;
    line-height: 0;
}

/* Variables */
/* Additional Mixins */
body {
    color: #000000;
    font-size: 18px;
    line-height: 1.6;
    width: 100%;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

svg:not(:root) {
    overflow: visible !important;
}

.indention {
    display: block;
    height: 0;
    width: 0;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

a {
    transition: all 0.1s linear;
}

b, strong {
    font-weight: bold;
}

ul li {
    list-style: none;
}

.grid .item {
    float: left;
}

.col-wrap .col {
    float: left;
}

.skiplink {
    position: absolute;
    left: -99999px;
}

.container, .container-fluid {
    position: relative;
}

@media (max-width: 767px) {
    body {
        font-size: 18px;
        line-height: 1.4;
        padding-top: 0;
    }
}

#welcome.type-3 .left h2 span {
    font-weight: 400;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 52px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 300;
}

#welcome.type-3 .left h2 span strong {
    font-weight: 700;
}

@media (max-width: 767px) {
    #welcome.type-3 .left h2 span strong {
        font-size: 24px;
    }
}

@media (max-width: 767px) {
    #welcome.type-3 .left h2 span {
        font-size: 30px;
    }
}

#welcome.type-3 .left h3 {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
    color: #ffffff;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 400;
}

#welcome .inner {
    position: absolute;
    bottom: 30px;
    width: 100%;
}

@media (max-width: 767px) {
    #welcome .inner {
        bottom: 0;
    }
}

header h2,
header h3 {
    font-family: "Montserrat", sans-serif;
}

#ssbp-ellipsis-div {
    display: none;
}

.block-go .btn-go-url {
    background-color: #792221;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 46px;
}

.block-go .btn-go-url:hover {
    background-color: #9e5050;
}

.col ol {
    margin-bottom: 25px;
    clear: both;
    list-style: none;
    padding: 0;
}

.col ol > li {
    position: relative;
    padding: 14px 18px 14px 56px;
    counter-increment: li;
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    list-style: none;
}

@media (max-width: 767px) {
    .col ol > li {
        padding: 14px 10px 14px 44px;
    }
}

.col ol > li:before {
    content: counter(li);
    color: #ffffff;
    display: inline-block;
    position: absolute;
    top: 19px;
    left: 12px;
    text-align: center;
    background-color: #ffb800;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    line-height: 25px;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

@media (max-width: 767px) {
    .col ol > li:before {
        left: 0;
    }
}

#home-team .col ol li {
    color: white;
}

@media (max-width: 767px) {
    .page-template:not(.home) .content-wrapper {
        padding-top: 20px;
    }
}

.featured-wrap {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width: 767px) {
    .featured-wrap {
        float: none;
        margin: 20px auto;
        text-align: center;
    }

    .featured-wrap img {
        display: inline-block;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .content-wrapper article img.aligncenter,
    .content-wrapper article img {
        margin: 0 auto !important;
        display: block;
        float: none;
        height: auto;
        max-width: 100%;
    }
}

.content-wrapper article img.image.left.thumbnail {
    margin-right: 20px;
    margin-bottom: 15px;
    max-width: 300px;
    height: auto;
    float: left;
    top: 8px;
}

@media (max-width: 767px) {
    .content-wrapper article img.image.left.thumbnail {
        margin: 0 auto;
        display: block;
        float: none;
        height: auto;
        max-width: 100%;
    }
}

@media (max-width: 767px) {
    .content-wrapper article img.image.left {
        margin: 0 auto 20px;
        display: block;
        float: none;
        height: auto;
        max-width: 100%;
    }
}

.content-wrapper article ul li {
    margin-bottom: 20px;
    padding-left: 60px;
    color: rgb(10, 63, 97);
    font-family: miller-text, serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 32px;
    background-image: url("../assets/images/arrow-right-red-circle-sm.png");
}

article p {
    font-size: 18px;
    max-width: none;
}

article p a {
    color: #183251;
}

article > h2 {
    color: #586a7a;
    font-size: 38px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 48px;
}

@media screen and (max-width: 767px) {
    article > h2 {
        font-size: 34px;
        line-height: 38px;
    }
}

article > h3 {
    color: #000;
    font-size: 27px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 37px;
}

article > h1 {
    color: #183251;
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
    text-transform: none;
}

article > h1 span {
    line-height: 37px;
}

@media (max-width: 767px) {
    article > h1 {
        font-size: 30px;
        line-height: 35px;
        padding: 15px 0;
    }
}

header {
    background-position: 50% 25%;
}

@media (min-width: 992px) {
    #results .result-list li {
        border-right: 1px solid #cfd8e1;
    }
}

@media (max-width: 767px) {
    #results .result-list li h3 {
        font-size: 27px;
        font-family: "Montserrat", sans-serif;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    #results .result-list li h3 {
        font-family: "Montserrat", sans-serif;
    }
}

#results .result-list .inner-wrap {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (min-width: 992px) {
    #results .result-list .inner-wrap {
        width: 173px;
        left: -12px;
    }
}

#results .result-list .inner-wrap p {
    color: #91adc3;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 0 auto;
    font-weight: 700;
    text-align: center !important;
    font-family: "Montserrat", sans-serif;
}


#results .result-list .inner-wrap p span {
    display: block;
    font-size: 13px;
    color: #76787b;
}

#results .slider-wrapper #slider-results .owl-item:nth-child(3) .inner-wrap,
#results .slider-wrapper #slider-results .owl-item:nth-child(4) .inner-wrap {
    top: 50%;
    position: relative;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: -3px;
}

#results .slider-wrapper #slider-results .owl-item:nth-child(3) .inner-wrap p,
#results .slider-wrapper #slider-results .owl-item:nth-child(4) .inner-wrap p {
    color: #87a5bd;
    font-size: 13px;
    letter-spacing: 0.5px;
    line-height: 24px;
    margin: 0 auto;
    text-align: center;
    font-family: Montserrat;
}

.custom-aside {
    top: -270px;
}

.page-id-2104 .custom-aside,
.page-id-195 .custom-aside {
    top: -304px;
}

#results .result-list .inner-wrap h3 {
    font: 20px Roboto;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 1199px) {
    .custom-aside {
        top: -302px;
    }

    #results .result-list .inner-wrap h3 {
        margin-top: 75px;
    }
}



.btn-load-more-ajax {
    text-align: center;
}

.btn-load-more-ajax .next-posts-link {
    display: inline-block;
    margin-bottom: 30px;
    text-align: center;
    background-color: #792221;
    font-family: "Roboto Condensed", sans-serif;
    border-radius: 9999px;
}

.btn-load-more-ajax .next-posts-link:hover {
    background-color: #9e5050;
}

@media (min-width: 768px) and (max-width: 991px) {
    #awards .owl-prev {
        left: 5px;
    }

    #awards .owl-next {
        right: 5px;
    }
}

.client-say-block h3 {
    color: #000;
    font-size: 27px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
    line-height: 37px;
}

.page-template-page-practice-area-landing #prepared-resources {
    padding-bottom: 40px;
}

@media screen and (min-width: 992px) {
    .page-template-page-practice-area-landing #prepared-resources {
        padding-bottom: 75px;
        margin-bottom: 60px;
    }
}

#prepared-resources .placeholder .item ol li::before {
    background-color: #792221;
}

#prepared-resources .placeholder .item h3 {
    color: #000000;
}

@media screen and (max-width: 991px) {
    #prepared-resources .placeholder .item:first-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    #prepared-resources .placeholder .item:first-of-type .button {
        display: none;
    }
}

@media screen and (max-width: 991px) {
    #prepared-resources .placeholder .item.col-3, #prepared-resources .placeholder .item.col-2 {
        padding-bottom: 0;
    }
}

#prepared-resources .placeholder .item .qa-faq-title {
    padding: 0 !important;
}

@media screen and (max-width: 991px) {
    #prepared-resources .placeholder .item .qa-category {
        margin-bottom: 0;
    }
}

#prepared-resources .placeholder .item .button a {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    font-family: "Roboto Condensed", sans-serif;
    background: url("../assets/images/arrow-more.png") no-repeat 100% 50%;
}

@media (min-width: 768px) and (max-width: 991px) {
    #prepared-resources .placeholder .item .cw_video_single {
        margin: 0 auto;
        display: block;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #prepared-resources .placeholder .item .cw_video_single {
        width: 100%;
    }
}

@media (max-width: 767px) {
    #prepared-resources .placeholder .item .cw_video_single {
        width: 100%;
    }
}

#prepared-resources .have-question p {
    color: #000000;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 10px;
}

#prepared-resources .have-question p strong {
    color: #a01a1a;
}

#prepared-resources .have-question p a {
    color: #0c4a7e;
    text-decoration: underline;
    font-weight: 700;
}

#prepared-resources h2 {
    color: #586a7a;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 45px;
    margin-bottom: 75px;
    /*&:before {
        background: #c4d0da;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 400%;
        right: 100%;
      }

      &:after {
        background: #c4d0da;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        top: 50%;
        width: 400%;
        left: 100%;
      }*/
}

@media (max-width: 767px) {
    #prepared-resources h2 {
        margin-bottom: 35px;
        font-size: 24px;
    }
}

.quote-block .client {
    color: #183251;
}

.result-block span {
    color: #183251;
}

@media screen and (max-width: 767px) {
    article .side-address address {
        padding-left: 15px;
        padding-right: 15px;
    }
}

article .side-address address .buttons .but-directions.lazyloaded {
    background: url("../assets/images/ico-pointer-alt.png") no-repeat 19px 50% #fff !important;
}

.ssbp-list li {
    padding-left: 0px !important;
    background-image: none !important;
}

.blog-item .but {
    font-weight: 700;
}

#meet-location ul li a figcaption span {
    text-transform: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 35px;
    font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 767px) {
    #meet-location ul li a img {
        margin-left: auto;
        margin-right: auto;
    }
}

.sitemap-container ul {
    margin-bottom: 0 !important;
    padding-top: 12px !important;
}

@media (max-width: 991px) {
    .custom-aside {
        top: 0;
    }

    #home-team .row-meet ul {
        width: 936px
    }

    #slider-team .owl-prev,
    #slider-team .owl-next {
        top: 35%;
    }
}

@media (min-width: 992px) {
    #slider-team .owl-prev,
    #slider-team .owl-next {
        top: 36%;
    }
}

@media (min-width: 992px) {
    #slider-team {
        padding: 0 20px !important;
    }
}

.content-wrapper article ol li {
    font-size: 18px;
    line-height: 1.6;
}

#video_play iframe {
    border: none;
}

@media (max-width: 767px) {
    .quote-block.no-image .quote-text {
        margin-left: 0;
    }
}

.but-see-all {
    text-decoration: none;
    color: #000000;
    font-family: Montserrat;
    font-size: 21px;
    font-weight: 300;
    border-radius: 29px;
    border: 1px solid #ededed;
    background-color: #ffffff;
    line-height: 26px;
    padding: 17px 80px 15px 45px;
    display: inline-block;
    position: relative;
}

@media (max-width: 767px) {
    .next-posts-link {
        display: block;
    }
}

.but {
    background-color: #792221;
}

.but:hover {
    background-color: #9e5050;
}

.but.but-direction.lazyloaded {
    background: url("../assets/images/ico-pointer-alt.png") no-repeat 19px 50% #fff;
}

.but.but-direction {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    color: #0c4a7e;
    letter-spacing: 0;
}

.page-template-page-attorney .accordion-generic .accordion-opened {
    display: block !important;
}

.page-template-page-attorney .accordion-generic .accordion-opened a span {
    display: none;
}



.faq-catname {
    display: none;
}

.qa-faqs {
    padding-top: 30px;
    margin-bottom: 10px;
}

.qa-faqs #qaplus_searchform {
    display: none;
}

.qa-faqs .qa-faq {
    margin-bottom: 10px;
}

.qa-faqs .qa-faq h3 {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.qa-faqs .qa-faq .qa-faq-anchor {
    background-color: #f2f2f2;
    display: block;
    padding: 24px 70px 24px 24px;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    line-height: 23px;
    font-family: "Montserrat", sans-serif;
    background: url("../assets/images/acc-style1-open.png") no-repeat scroll 97% 28px #f2f2f2;
    /*@include media('<tablet') {
          text-transform: none;
          padding: 24px 38px 24px 24px;
          //background: url("../assets/images/icon-accordion-plus.svg") no-repeat scroll 15px 28px #f2f2f2;
          //background-size: 30px 31px;

          &.active {
            //background: url("../assets/images/icon-accordion-minus.svg") no-repeat scroll 15px 28px #0c1930;
            //background-size: 30px 31px;
          }

        }*/
}

.qa-faqs .qa-faq .qa-faq-anchor.active {
    background: url("../assets/images/acc-style1-close.png") no-repeat scroll 97% 28px #f2f2f2;
}

.qa-faqs .qa-faq .qa-faq-answer {
    padding: 0;
    padding-top: 15px;
    padding-left: 24px;
}

.qa-faqs .qa-faq .qa-faq-answer p {
    font-family: "Montserrat", sans-serif;
}

.qa-faqs .qa-faq .qa-faq-answer p:last-of-type {
    margin-bottom: 15px;
}

.qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap {
    padding-bottom: 10px;
}

.qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap p.cta-call {
    padding-top: 0;
    color: #000000;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
}

.qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap p.cta-call a {
    display: block;
}

.qa-faqs .qa-faq .qa-faq-answer .btns-cta-wrap a.btn-std {
    color: #9e0606;
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    /*@include media('<tablet') {
              display: block;
              padding-left: 12px;
              padding-right: 12px;

              span {
                font-size: 20px;
                padding-right: 20px;
              }

            }*/
}

.qa-faqs .qa-faq .qa-faq-title.open + .qa-faq-answer {
    display: block !important;
}

.qa-faqs .qa-faq .qa-faq-answer {
    display: none;
}

.form.form-wide {
    box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
    border: 4px solid #f1f1f1;
    background-color: rgba(70, 87, 118, 0.9);
}

@media screen and (max-width: 767px) {
    .form.form-wide {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.form.form-wide.custom-form {
    padding: 15px 20px 25px;
}

.form.form-wide form.header-form h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0 10px;
}

.form.form-wide form.header-form input,
.form.form-wide form.header-form textarea {
    color: #76787b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

@media screen and (max-width: 767px) {
    .form.form-wide form.header-form input,
    .form.form-wide form.header-form textarea {
        font-size: 14px;
    }
}

.form.form-wide form.header-form .but-form {
    background-color: #792221;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 60px;
    height: 60px;
    display: block;
}

.form.form-wide form.header-form .but-form:hover {
    background-color: #9e5050;
}

@media (max-width: 767px) {
    .form.form-wide form.header-form .but-form {
        line-height: 24px;
        height: auto;
        display: block;
        padding: 12px 0;
    }
}

.form.form-wide form.header-form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #9e2f33;
    font-size: 16px;
    font-weight: 700;
}

@media screen and (max-width: 767px) {
    .form.form-wide form.header-form .required span {
        font-size: 13px;
    }
}

.form.form-wide form .row .col-xs-1, .form.form-wide form .row .col-sm-1, .form.form-wide form .row .col-md-1, .form.form-wide form .row .col-lg-1, .form.form-wide form .row .col-xs-2, .form.form-wide form .row .col-sm-2, .form.form-wide form .row .col-md-2, .form.form-wide form .row .col-lg-2, .form.form-wide form .row .col-xs-3, .form.form-wide form .row .col-sm-3, .form.form-wide form .row .col-md-3, .form.form-wide form .row .col-lg-3, .form.form-wide form .row .col-xs-4, .form.form-wide form .row .col-sm-4, .form.form-wide form .row .col-md-4, .form.form-wide form .row .col-lg-4, .form.form-wide form .row .col-xs-5, .form.form-wide form .row .col-sm-5, .form.form-wide form .row .col-md-5, .form.form-wide form .row .col-lg-5, .form.form-wide form .row .col-xs-6, .form.form-wide form .row .col-sm-6, .form.form-wide form .row .col-md-6, .form.form-wide form .row .col-lg-6, .form.form-wide form .row .col-xs-7, .form.form-wide form .row .col-sm-7, .form.form-wide form .row .col-md-7, .form.form-wide form .row .col-lg-7, .form.form-wide form .row .col-xs-8, .form.form-wide form .row .col-sm-8, .form.form-wide form .row .col-md-8, .form.form-wide form .row .col-lg-8, .form.form-wide form .row .col-xs-9, .form.form-wide form .row .col-sm-9, .form.form-wide form .row .col-md-9, .form.form-wide form .row .col-lg-9, .form.form-wide form .row .col-xs-10, .form.form-wide form .row .col-sm-10, .form.form-wide form .row .col-md-10, .form.form-wide form .row .col-lg-10, .form.form-wide form .row .col-xs-11, .form.form-wide form .row .col-sm-11, .form.form-wide form .row .col-md-11, .form.form-wide form .row .col-lg-11, .form.form-wide form .row .col-xs-12, .form.form-wide form .row .col-sm-12, .form.form-wide form .row .col-md-12, .form.form-wide form .row .col-lg-12 {
    padding-left: 10px;
    padding-right: 10px;
}

@media (max-width: 991px) {
    #searchform {
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    #searchform div {
        text-align: center;
    }
}

#searchform input {
    background-color: #eee;
}

#awards-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-pack: distribute;*/
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#awards-list li {
    display: inline-block;
}

.topline {
    padding: 0;
    height: 132px;
    border-bottom: 1px solid #c5c5c5;
}

@media (min-width: 768px) and (max-width: 991px) {
    .topline {
        height: 160px;
    }
}

@media (max-width: 767px) {
    .topline {
        padding-top: 19px;
    }
}

.topline .topline-logo {
    padding-top: 30px;
    float: left;
}

@media (max-width: 767px) {
    .topline .topline-logo {
        float: none;
    }
}

.topline .topline-logo .logo {
    padding: 0;
}

@media (max-width: 767px) {
    .topline .topline-logo .logo {
        display: block;
        margin-top: 22px;
    }
}

/*.topline .contacts {*/
/*text-align: center;*/
/*float: right;*/
/*line-height: 1;*/
/*position: relative;*/
/*padding: 0 140px 0 0;*/
/*top: 40px;*/
/*}*/

@media (min-width: 768px) and (max-width: 991px) {
    .topline .contacts {
        top: 30px;
        padding: 10px;
    }
}

.topline .contacts > span {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

.topline .contacts > b {
    color: #a01a1a;
    font-family: "Montserrat", sans-serif;
    font-size: 29px;
    font-weight: 700;
}

.topline .contacts .callback a {
    color: #7da3c3;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-color: #aebecd;
    border-bottom-color: #aebecd;
    padding: 3px 0;
}

.topline .contacts .button {
    top: 9px;
}

.topline .contacts .button .but {
    background: #183251;
    color: #d7eafa;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    height: 36px;
    line-height: 36px;
    padding: 1px 22px 0;
}

.topline .contacts .button .but:hover {
    background: #566e8f;
    color: #ffffff;
}

#wrapper > header {
    background-size: cover !important;
}

#wrapper > header .inner h2 span, #wrapper > header .inner h1 span {
    font-size: 46px;
    font-weight: 400;
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 767px) {
    #wrapper > header .inner h2 span, #wrapper > header .inner h1 span {
        font-size: 31px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #wrapper > header .inner h2 span, #wrapper > header .inner h1 span {
        font-size: 36px;
    }
}

#wrapper > header .inner h2 span strong, #wrapper > header .inner h1 span strong {
    font-weight: 800;
    font-size: 44px;
}

@media (max-width: 767px) {
    #wrapper > header .inner h2 span strong, #wrapper > header .inner h1 span strong {
        font-size: 31px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #wrapper > header .inner h2 span strong, #wrapper > header .inner h1 span strong {
        font-size: 33px;
    }
}

#wrapper > header .inner h3 {
    font-size: 24px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 400;
    text-transform: none;
}

@media (max-width: 767px) {
    #wrapper > header .inner h3 {
        font-size: 21px;
        text-align: center;
    }
}

#wrapper > header .form {
    width: 400px;
    height: 487px;
    box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
    border: 4px solid #f1f1f1;
    background-color: rgba(227, 227, 227, 0.9);
    padding: 24px;
}

#wrapper > header .form .header-form h3 {
    color: #0c4a7e;
    font-size: 27px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 5px 0 10px;
    font-family: "Roboto Condensed", sans-serif;
}

#wrapper > header .form .header-form input,
#wrapper > header .form .header-form textarea {
    color: #76787b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

#wrapper > header .form .header-form input::-webkit-input-placeholder,
#wrapper > header .form .header-form textarea::-webkit-input-placeholder {
    color: #76787b;
}

#wrapper > header .form .header-form input::-moz-placeholder,
#wrapper > header .form .header-form textarea::-moz-placeholder {
    opacity: 1;
    color: #76787b;
}

#wrapper > header .form .header-form input:-moz-placeholder,
#wrapper > header .form .header-form textarea:-moz-placeholder {
    color: #76787b;
}

#wrapper > header .form .header-form input:-ms-input-placeholder,
#wrapper > header .form .header-form textarea:-ms-input-placeholder {
    color: #76787b;
}

#wrapper > header .form .header-form input.placeholder,
#wrapper > header .form .header-form textarea.placeholder {
    color: #76787b;
}

#wrapper > header .form .header-form .but-form {
    background-color: #792221;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 60px;
    height: 60px;
    display: block;
}

#wrapper > header .form .header-form .but-form:hover {
    background-color: #9e5050;
}

#wrapper > header .form .header-form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #792221;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

@media (min-width: 768px) and (max-width: 991px) {
    .home #wrapper > header #welcome {
        /*height: 705px;*/
        height: auto;
    }



    /*.page-template-page-practice-areas #wrapper > header #welcome {*/
    /*    height: 750px;*/
    /*}*/
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper > header #welcome .left {
        height: auto;
        margin-right: 0;
        padding-bottom: 20px;
    }
}

#wrapper > header #welcome .left .inner {
    position: absolute;
    bottom: 35px;
    width: 100%;
}

@media (min-width: 992px) {
    #wrapper > header #welcome .left .inner {
        max-width: 719px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .home #wrapper > header #welcome .left .inner,
    .page-template-page-practice-areas #wrapper > header #welcome .left .inner {
        bottom: 0;
        position: relative;
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .home #wrapper > header #welcome .left .inner {
        bottom: -10px;
    }
}

@media (max-width: 479px) {
    #wrapper > header #welcome .left .inner {
        bottom: 0;
    }

    .home #wrapper > header #welcome .left .inner {
        bottom: -10px;
    }
}

@media screen and (max-width: 767px) and (orientation: landscape) {
    .home #wrapper > header #welcome .left .inner {
        bottom: -10px;
    }
}

#wrapper > header #welcome .left .inner p {
    text-align: right;
    padding-right: 25px;
}

@media (max-width: 991px) {
    #wrapper > header #welcome .left .inner p {
        display: none;
    }
}

#wrapper > header #welcome .left .inner p img {
    position: static;
    top: 0;
    display: inline-block;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    margin-bottom: 10px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #wrapper > header #welcome .right {
        top: 0;
        position: relative;
        margin: 0 auto;
    }
}

#wrapper > header #welcome .welcome-bar {
    background: rgba(238, 247, 255, 0.9);
    height: 190px;
    display: block;
    width: 100%;
    position: relative;
    bottom: 190px;
    padding-top: 40px;
}

@media (max-width: 991px) {
    #wrapper > header #welcome .welcome-bar {
        display: none;
    }
}

#wrapper > header #welcome .welcome-bar blockquote {
    padding: 0;
    margin: 0;
    border: none;
    max-width: 515px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.35);
    color: #4c6083;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 600;
    line-height: 34px;
    padding-bottom: 7px;
}

#wrapper > header #welcome .welcome-bar cite {
    padding-top: 50px;
    color: #4c6083;
    font-size: 19px;
    font-weight: 700;
    line-height: 36px;
    font-style: normal;
}

@media (min-width: 768px) and (max-width: 991px) {
    .home #wrapper > header {
        background-position: -340px 0;
    }
}

#quote-top {
    background-color: #052f52;
    background-color: rgba(24, 50, 81, 0.75);
    padding: 40px 0;
    margin-top: -180px;
    position: relative;
}

@media screen and (max-width: 991px) {
    #quote-top {
        margin-top: 0;
        background-color: #183251;
    }
}

@media screen and (max-width: 767px) {
    .home #quote-top {
        padding-top: 0;
    }
}

#quote-top p {
    max-width: 689px;
    font-family: "Montserrat", sans-serif;
    text-shadow: 1px 1.7px 2px rgba(0, 0, 1, 0.35);
    line-height: 34px;
    color: #a1b1c3;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    #quote-top p {
        font-size: 18px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #quote-top p {
        max-width: 570px;
    }
}

@media screen and (max-width: 991px) {
    #quote-top p {
        max-width: 500px;
        margin: 0 auto;
        text-align: center;
    }
}

#quote-top p i {
    display: block;
    color: #fff;
    font-size: 19px;
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: 700;
}

@media (min-width: 768px) {
    .navigator {
        width: 100%;
        height: 64px;
        z-index: 99;
    }
}

@media screen and (min-width: 768px) and (max-width: 767px) {
    .navigator {
        position: absolute;
        top: 0;
        left: 0;
        height: auto;
    }
}

@media (min-width: 768px) {
    .navigator .menu-main {
        position: relative;
        top: 0;
    }
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
    .navigator .menu-main {
        top: 0;
    }
}

@media (min-width: 768px) {
    .navigator #nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .navigator #nav > li.menu-item {
        float: none;
        margin-right: 36px;
    }
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 991px) {
    .navigator #nav > li.menu-item {
        margin-right: 17px;
    }
}

@media (min-width: 768px) {
    .navigator #nav > li.menu-item:last-of-type {
        margin-right: 0;
    }

    .navigator #nav > li.menu-item > a {
        height: 64px;
        overflow: hidden;
        color: #0a4069;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 0;
    }
}

@media (min-width: 768px) and (min-width: 768px) and (max-width: 1199px) {
    .navigator #nav > li.menu-item > a {
        font-size: 12px;
        line-height: 64px;
        text-align: center;
    }
}

@media (min-width: 768px) {
    .navigator #nav > li.menu-item > a:hover {
        background: none;
        color: #792221;
    }

    .navigator #nav > li.menu-item > a.menu-home span {
        height: 64px;
        width: 48px;
        display: block;
        /*background: url("../assets/images/ico-home-alt.png") no-repeat 50% 50%;*/
    }

    .navigator #nav > li.menu-item:first-child {
        margin-right: 0px;
    }

    .navigator #nav > li.menu-item:first-child > a span {
        height: 64px;
        width: 48px;
        display: block;
        /*background: url("../assets/images/ico-home-alt.png") no-repeat 0% 50%;*/
    }

    .navigator #nav > li.menu-item.menu-item-has-children > a {
        position: relative;
        overflow: visible;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .navigator #nav > li.menu-item.menu-item-has-children > a:after {
        right: 0px;
        top: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .navigator #nav > li.menu-item.menu-item-has-children > ul.sub-menu {
        left: -130px;
    }

    .navigator #nav > li.menu-item.menu-item-has-children:nth-child(2) > ul.sub-menu {
        left: -30px;
    }
}

@media (min-width: 768px) {
    .navigator #nav > li.menu-item.current_page_item > a {
        color: #792221;
    }

    .navigator #nav > li.menu-item:hover, .navigator #nav > li.menu-item.current-menu-ancestor, .navigator #nav > li.menu-item.current-menu-parent, .navigator #nav > li.menu-item.current-menu-item {
        background-color: transparent;
        color: #fff;
    }

    .navigator #nav > li.menu-item ul li {
        background-color: rgba(88, 106, 122, 0.9);
        border-top: 1px solid #f1f1f1;
        transition: all .3s;
    }

    .navigator #nav > li.menu-item ul li:hover {
        background-color: rgba(63, 76, 86, 0.9);
    }

    .navigator #nav > li.menu-item ul li a {
        color: #ffffff;
        background-image: none;
        font-size: 19px;
        padding-left: 10px;
    }

    .navigator #nav > li:hover,
    .navigator #nav > li.current-menu-ancestor,
    .navigator #nav > li.current-menu-parent,
    .navigator #nav > li.current-menu-item {
        background: none;
    }

    .navigator #nav > li:hover:first-of-type,
    .navigator #nav > li.current-menu-ancestor:first-of-type,
    .navigator #nav > li.current-menu-parent:first-of-type,
    .navigator #nav > li.current-menu-item:first-of-type {
        background: transparent;
    }

    .navigator #nav ul.sub-menu li.current-menu-item a {
        color: #fff !important;
        background: url("../assets/images/arrow-right-sm-blue-light.png") no-repeat 17px;
    }
}

@media (max-width: 767px) {
    .fixed-menu li a {
        color: #1a1a1a;
        font-family: Montserrat;
        font-size: 17px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03px;
        padding: 0 14px;
    }

    .fixed-menu .but-mobile {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 54px;
        padding: 14px 10px 10px;
        background: #4c6083;
    }

    .fixed-menu .but-mobile span {
        border-radius: 0;
    }

    #tap-buttons {
        background-color: #183251;
    }

    #tap-buttons .tap-but {
        text-transform: uppercase;
        background: #9c2e31;
        border: 2px solid #fff;
        color: #fff;
        border-radius: 50px;
        padding: 4px 17px;
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    html #wpadminbar {
        display: none !important;
    }

    .open-menu .fixed-menu {
        left: -80% !important;
    }

    .open-menu .navigator {
        right: 0 !important;
    }

    .open-menu .navigator .menu-main {
        position: fixed !important;
        background-color: #183251 !important;
        top: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        left: 20% !important;
        z-index: 9999;
        margin: 0;
        display: block;
        width: 80%;
        float: none;
    }

    .fixed-menu {
        left: 0 !important;
    }

    .navigator {
        right: -80% !important;
        left: -100% !important;
    }
}

aside .blog-item .but {
    background-color: #792221;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
}

aside .blog-item .but:hover {
    background-color: #9e5050;
}

aside .blog-item .blog-inner .preview a {
    display: none;
}

aside .block.block-other-areas h3 {
    font-size: 24px;
    line-height: 34px;
    font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 767px) {
    aside .block.block-other-areas h3 {
        font-size: 21px;
    }
}

aside .block.block-other-areas ul li a {
    line-height: 36px;
    color: #000;
    background: no-repeat 0 50%;
}

aside .block.side-address .address .but-directions.lazyloaded {
    background: url("../assets/images/ico-pointer-alt.png") no-repeat 19px 50% #fff;
}

aside .block.block-quotes p {
    text-align: left;
    margin-bottom: 4px;
    font-size: 26px;
    color: #0c4a7e;
    font-weight: 400;
    line-height: 1.3;
}

@media screen and (max-width: 767px) {
    aside .block.block-quotes .inner {
        padding-left: 15px;
        padding-right: 15px;
    }
}

aside .block h3 {
    font-size: 27px;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
}



#sub-contacts {
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
    border: 1px solid #d9d9d9;
    background-color: #ffffff;
    position: relative;
    z-index: 11;
}

#sub-contacts .logo {
    display: inline-block;
}

#sub-contacts .socials {
    text-align: center;
    padding-top: 29px;
}

#sub-contacts .socials .social {
    margin: 0 3px;
}

#sub-contacts .socials .social span {
    background-color: #183251;
    /*line-height: 32px;*/
    line-height: 50px;
    font-size: 28px;
}

@media (min-width: 1200px) {
    /*#sub-contacts .col:first-of-type {*/
    /*width: 41%;*/
    /*}*/

    #sub-contacts .socials {
        width: 31%;
    }
}

/*@media (min-width: 992px) {*/
/*    #sub-contacts .col:last-of-type {*/
/*        width: 28%;*/
/*    }*/
/*}*/


@media (min-width: 992px) and (max-width: 1199px) {
    #sub-contacts .socials {
        text-align: left;
        padding-top: 29px;
        position: relative;
        left: 50px;
    }
}

#sub-contacts .contacts {
    /*text-align: left;*/
    /*float: right;*/
    line-height: 1;
    position: relative;
    top: 20px;
    /*padding-right: 30px;*/
}

@media (min-width: 992px) and (max-width: 1199px) {
    #sub-contacts .contacts {
        float: right;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #sub-contacts .contacts {
        padding: 0;
        float: none;
        display: inline-block;
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    #sub-contacts .contacts {
        text-align: center;
        float: none;
        line-height: 1;
        position: relative;
        padding: 0;
        top: 0;
        clear: both;
        max-width: 190px;
        margin: 0 auto;
        margin-top: 0px;
    }
}

#sub-contacts .contacts > span {
    color: #000000;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 767px) {
    #sub-contacts .contacts > span {
        text-align: center;
    }
}

#sub-contacts .contacts > b {
    color: #a01a1a;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

#sub-contacts .contacts .callback a {
    color: #7da3c3;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    border-top-color: #aebecd;
    border-bottom-color: #aebecd;
    padding: 3px 0;
}

#sub-contacts .contacts .button {
    top: 9px;
}

@media (max-width: 767px) {
    #sub-contacts .contacts .button {
        margin: 15px 0 35px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #sub-contacts .contacts .button {
        margin-left: 30px;
    }
}

#sub-contacts .contacts .button .but {
    background: #183251;
    color: #d7eafa;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.32px;
    height: 36px;
    line-height: 36px;
    padding: 1px 22px 0;
}

#sub-contacts .contacts .button .but:hover {
    background: #566e8f;
    color: #ffffff;
}

#contacts {
    position: relative;
    padding: 90px 0 115px;
}

#contacts h2 {
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: #0c4a7e;
    font-size: 18px;
    top: -126px;
    z-index: 2000;
}

@media (min-width: 1200px) {
    #contacts h2 {
        top: -77px;
    }
}

@media (min-width: 1200px) {
    #contacts {
        height: 490px;
        padding-top: 40px;
    }
}

#contacts .footer-accordion address {
    font-size: 18px;
    color: #000000;
    font-size: 19px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

#contacts .footer-accordion address p {
    color: #000000;
    font-size: 19px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

#contacts .footer-accordion address p b {
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
}

#contacts .accordion.style-blue-1 dt.accordion-opened,
#contacts .accordion.style-blue-1 dt {
    background-color: #183251;
}

#contacts .accordion.style-blue-1 dt.accordion-opened a,
#contacts .accordion.style-blue-1 dt a {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 0.22px;
    padding-right: 30px;
}

#contacts .accordion.style-blue-1 dt.accordion-opened a span,
#contacts .accordion.style-blue-1 dt a span {
    top: 4px;
}

#contacts .accordion.style-blue-1 dd.footer-accordion {
    padding: 15px 25px 30px 25px;
}

#contacts .accordion.style-blue-1 dd.footer-accordion p {
    margin-bottom: 20px;
    color: #000000;
    font-size: 19px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    line-height: 24px;
}

#contacts .accordion.style-blue-1 dd.footer-accordion p b {
    color: #000000;
    font-size: 19px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
}

footer .navigation {
    background: #183251;
}

footer .navigation li {
    padding: 10px 15px;
}

@media (max-width: 767px) {
    footer .navigation li {
        margin: 0;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    footer .navigation li {
        margin: 0 10px 0 0;
    }

    footer .navigation li:last-of-type {
        margin-right: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    footer .navigation li {
        /*margin-right: 5px;*/
        padding: 10px;
    }
}

footer .navigation li a {
    color: #d7eafa;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.3px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    footer .navigation li a {
        font-size: 14px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    footer .navigation li a {
        font-size: 14px;
    }
}

footer .copyright {
    background: #fff;
    padding: 25px 0;
}

footer .copyright .pull-left {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 991px) {
    footer .copyright .pull-left {
        margin-bottom: 10px;
    }
}

footer .copyright .pull-right {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

footer .copyright .pull-right a.stamp {
    color: #a2a2a2;
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto Condensed", sans-serif;
}

@media (max-width: 991px) {
    footer .copyright .pull-right a.stamp {
        padding-top: 24px;
    }
}

@media (max-width: 499px) {
    .home #wrapper header {
        background-size: auto 240px !important;
        background-repeat: no-repeat;
        background-position: 0px 0px;
    }
}

.home #we-believe {
    background: #183251;
    padding-top: 50px;
    padding-bottom: 52px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .home #we-believe {
        padding-top: 20px;
    }
}

.home #we-believe .left {
    float: left;
}

@media (max-width: 991px) {
    .home #we-believe .left {
        float: none;
        max-width: none;
    }
}

@media (max-width: 767px) {
    .home #we-believe .left #video_play {
        text-align: center;
    }
}

@media (min-width: 768px) {
    .home #we-believe .left #video_play {
        float: left;
        margin-right: 20px;
    }
}

.home #we-believe .left .inner {
    padding: 0;
    margin: 0;
}

.home #we-believe .left .inner h2 {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 20px;
    font-family: "Roboto Condensed", sans-serif;
    /*&:first-of-type {
              margin-bottom: 0;
            }*/
}

@media (max-width: 991px) {
    .home #we-believe .left .inner h2 {
        font-size: 33px;
        line-height: 38px;
    }
}

.home #we-believe .left .inner p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

@media (min-width: 992px) {
    .home #we-believe .left .inner p {
        padding-right: 54px;
    }
}

.home #we-believe .left .inner .inner-content {
    margin-bottom: 35px;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-left {
    width: calc(130px);
    float: left;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-left img {
    position: relative;
    top: 35px;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-right {
    width: calc(100% - 130px);
    float: left;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-right h5 {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 0;
    font-family: Montserrat;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-right p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 0;
    font-family: Montserrat;
}

.home #we-believe .left .inner .inner-content .col-wrap .col-right a {
    font-size: 18px;
    color: #ffc224;
    font-weight: 300;
    line-height: 32px;
    text-decoration: underline;
    font-family: Montserrat;
}

.home #we-believe .right {
    float: right;
    max-width: 470px;
}

@media (max-width: 991px) {
    .home #we-believe .right {
        float: none;
        max-width: none;
    }
}

.home #we-believe .right .inner {
    padding: 40px;
    margin: 0;
    background-color: #ffffff;
    border: 5px solid #b8cee0;
    color: #76787b;
}

@media (max-width: 767px) {
    .home #we-believe .right .inner {
        padding: 20px 10px;
    }
}

.home #we-believe .right .inner h2 {
    color: #000000;
    font-weight: 700;
    font-size: 28px;
}

@media (max-width: 767px) {
    .home #we-believe .right .inner h2 {
        font-size: 24px;
    }
}

.home #we-believe .right .inner li {
    background-position: 0px 5px;
    background-repeat: no-repeat;
    font-size: 19px;
}

.home #we-believe .right .inner.lazyloaded li {
    background: url("../assets/images/arrow-right-red-circle-sm.png");
    background-repeat: no-repeat;
}

.home #we-believe .right .inner .inner-wrap {
    padding: 45px;
}

@media (max-width: 767px) {
    .home #we-believe .right .inner .inner-wrap {
        padding: 10px;
    }
}

.home #we-believe .right .inner .inner-wrap ul li {
    color: #768080;
    font-family: Montserrat;
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
}

.home #we-believe .full-width {
    clear: both;
}

@media (max-width: 767px) {
    .home #we-believe .full-width {
        padding-top: 25px;
    }
}

.home #we-believe .full-width #video_play {
    float: left;
    margin: 0;
    padding: 0;
    margin-right: 29px;
    position: relative;
    top: 9px;
}

@media (max-width: 767px) {
    .home #we-believe .full-width #video_play {
        float: none;
        margin: 0;
        padding: 0;
        position: relative;
        top: 9px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
        max-width: 308px;
    }
}

.home #we-believe .full-width h2 {
    color: white;
}

.home #we-believe .full-width p {
    color: white;
}

#results .result-list li {
    padding-top: 34px;
}

#results .result-list li p.r_title + p {
    display: none;
}

#results .result-list li:first-of-type {
    color: #8095a7;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 30px;
}

#results .result-list li:last-of-type {
    padding-top: 12px;
}

#results .result-list li:last-of-type a div {
    color: #6f879c;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Roboto Condensed", sans-serif;
    height: 139px;
    position: relative;
    left: -3px;
}

#results .result-list li:last-of-type a div img {
    margin-top: 14px;
}

#results ul.result-first li {
    color: #8095a7;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 30px;
}

@media (max-width: 767px) {
    #results ul.result-first li {
        font-size: 34px;
    }
}

#results ul.result-last li a div {
    color: #6f879c;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    font-family: "Roboto Condensed", sans-serif;
}

@media (min-width: 992px) and (max-width: 1199px) {
    #results ul.result-last li a div {
        display: inline-block;
        margin-top: 20px;
    }
}

#results ul.result-last li a div img {
    margin-left: 10px;
}

.cw_video_description {
    display: none;
}

#how-help h2 {
    color: #586a7a;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 28px;
    padding: 0 45px;
    margin-bottom: 75px;
}

@media (max-width: 767px) {
    #how-help h2 {
        margin-bottom: 35px;
        font-size: 24px;
    }
}

#how-help .row-1 {
    margin-bottom: 55px;
}

#how-help .row-1 img {
    max-width: 100%;
}

#how-help .row-1 .col.left {
    max-width: 620px;
}

@media (min-width: 768px) and (max-width: 1199px) {
    #how-help .row-1 .col.left {
        max-width: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #how-help .row-1 .col.left {
        max-width: 570px;
    }
}

#how-help .row-1 .col.left p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

#how-help .row-1 .col.right {
    padding-left: 0;
}

#how-help .row-1 .col.right label {
    display: block;
    font-style: normal;
    line-height: 33px;
    color: #000000;
    font-size: 27px;
    font-weight: 400;
    padding-bottom: 5px;
    font-family: "Roboto Condensed", sans-serif;
}

#how-help .row-1 .col.right .select-style-1 select {
    font-family: "Montserrat", sans-serif;
    font-size: 19px;
    padding-left: 15px;
}

#how-help .row-2 {
    margin: 0;
}

#how-help .row-2 .col .item {
    margin-bottom: 35px;
}

#how-help .row-2 .col .item header {
    padding: 30px 0 20px;
    height: 176px;
    text-align: center;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: 0;
}

#how-help .row-2 .col .item header label,
#how-help .row-2 .col .item header h3 {
    color: #d7eafa;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
    display: block;
    max-width: 280px;
    margin: 0 auto;
    display: block;
}

@media (max-width: 991px) {
    #how-help .row-2 .col .item header label,
    #how-help .row-2 .col .item header h3 {
        font-size: 18px;
    }
}

#how-help .row-2 .col .item .content {
    padding: 8px 20px 22px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #how-help .row-2 .col .item .content {
        padding-left: 0;
        padding-right: 0;
    }
}

#how-help .row-2 .col .item .content p {
    color: #000000;
    font-family: "Montserrat", sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

#how-help .row-2 .col .item .content a {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    font-family: "Roboto Condensed", sans-serif;
}

#how-help .row-2 .col .item .content a.lazyloaded {
    background: url("../assets/images/arrow-more.png") no-repeat 100% 50%;
}

#how-help .row-4 p {
    color: #000000;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 10px;
}

#how-help .row-4 p strong {
    color: #a01a1a;
}

#how-help .row-4 p a {
    color: #0c4a7e;
    text-decoration: underline;
    font-weight: 700;
}

#awards {
    border-top: none;
}

#awards h3 {
    color: #adb6ba;
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 32px;
    text-align: center;
    padding-bottom: 8px;
}

@media (max-width: 767px) {
    #awards h3 {
        font-size: 24px;
    }
}

@media (min-width: 1200px) {
    #awards .owl-wrapper-outer {
        padding: 0 20px;
    }
}

@media (min-width: 992px) {
    #awards .owl-wrapper-outer .owl-item {
        padding: 10px 30px;
        width: auto !important;
    }
}

#home-team {
    padding-bottom: 49px;
    padding-top: 70px;
}

#home-team .container .row > h2 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    line-height: 25px;
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
    margin-bottom: 27px;
}

@media (max-width: 767px) {
    #home-team .container .row > h2 {
        font-size: 29px;
        line-height: 37px;
    }
}

#home-team .container .row .text-center > h3 {
    color: #7d95aa;
    font-family: Montserrat;
    font-size: 23px;
    font-weight: 400;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 3.45px;
    display: inline-block;
    position: relative;
}

@media (max-width: 767px) {
    #home-team .container .row .text-center > h3 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }
}

#home-team .container .row .text-center > h3:before {
    height: 1px;
    display: block;
    width: 122px;
    content: '';
    background: #7e9eab;
    top: 17px;
    left: -135px;
    position: absolute;
}

#home-team .container .row .text-center > h3:after {
    height: 1px;
    display: block;
    width: 122px;
    content: '';
    background: #7e9eab;
    top: 17px;
    right: -135px;
    position: absolute;
}

#home-team .container p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 19px;
    font-weight: 300;
    line-height: 32px;
}

#home-team .container .col.left h3 {
    color: white;
    font-size: 32px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0;
    text-transform: none;
    margin-bottom: 20px;
    letter-spacing: 0;
}

#home-team .container .col.left a {
    text-decoration: underline;
    color: #91b7d7;
}

#home-team .container .col.left ul li {
    color: #000;
    padding-left: 30px;
    color: #fff;
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 15px;
    background-position: 0 7px;
}

#home-team .container .col.left ul li.lazyloaded {
    background: url("../assets/images/arrow-right-home.png") 0 5px no-repeat;
}

#home-team .container .col.right p {
    font-weight: 700;
    font-size: 23px;
}

#home-team .container .col.right .block-quote p {
    color: #9fc7e9;
    font-family: "Montserrat", sans-serif;
    font-size: 23px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
}

@media (max-width: 767px) {
    #home-team .container .col.right .block-quote p {
        font-size: 18px;
        line-height: 1.5;
    }
}

#home-team .container .col.right .block-quote i {
    color: #ffffff;
    font-size: 19px;
    font-weight: 700;
    line-height: 41px;
    text-align: left;
    font-style: normal;
}

#home-team .container .row-meet h2 {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

@media (max-width: 767px) {
    #home-team .container .row-meet h2 {
        font-size: 24px;
    }
}

@media (min-width: 992px) {
    #home-team .container .row-meet .owl-carousel .owl-wrapper {
        text-align: center;
    }
}

#home-team .container .row-meet .owl-carousel .owl-wrapper .owl-item a figcaption {
    color: #ffffff;
    text-transform: none;
    font-size: 29px;
    font-weight: 700;
    line-height: 47px;
    font-family: "Roboto Condensed", sans-serif;
    padding-top: 10px;
}

#home-team .container .row-meet .owl-carousel .owl-wrapper .owl-item a figcaption span {
    font-weight: 400;
    font-size: 17px;
    padding-top: 6px;
    line-height: normal;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
}

#home-team .container .but-see-all {
    margin-top: 25px;
}

@media (max-width: 767px) {
    #home-team .container .but-see-all {
        font-size: 19px;
    }
}

#home-team .container .row-5 {
    padding-top: 45px;
}

#home-team .container .row-5 p {
    color: #ffffff;
    font-family: Montserrat;
    font-size: 23px;
    line-height: 30px;
    font-weight: 300;
}

#home-team .container .row-5 p strong {
    font-weight: 700;
}

#home-team .container .row-5 p a {
    color: #d7eafa;
    font-weight: 700;
}

#home-team .row-meet ul {
    padding: 0;
    margin: 0 auto;
    width: 936px;
}

#community {
    margin-bottom: 40px;
}

#community .content h2 {
    color: #586a7a;
    font-size: 38px;
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    line-height: 48px;
}

#community .content p {
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    text-align: left;
}

#community .content a {
     display: inline-block;
     padding-right: 20px;
     color: #4b4b4b;
     font-size: 15px;
     font-family: "Roboto Condensed", sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     letter-spacing: 0.15px;
    background-repeat: no-repeat;
    background-position: center right;
 }

.block-article.blog-item h4,
.block-article.blog-item h1 {
    color: #183251;
}

.block-article.blog-item h4 a,.block-article.blog-item h1 a {
    color: #183251;
}

.block-article.blog-item .blog-inner-image {
    margin-bottom: 30px;
}

.block-article.blog-item .blog-inner-image img {
    max-width: 100%;
}

.block-article.blog-item .preview h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    color: #586a7a;
}

.block-article.blog-item .preview h3 {
    color: #000000;
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
}

.block-article.blog-item .preview p {
    color: #000000;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
}

@media screen and (max-width: 767px) {
    .block-article.blog-item .preview p {
        text-align: left;
    }
}

.blog .block-article.blog-item .preview p a, .archive.category .block-article.blog-item .preview p a,
.search-results .block-article.blog-item .preview p a {
    display: none;
}

.qa_faqs-template-default .block-article.blog-item .meta,
.search-results .block-article.blog-item .meta {
    display: none;
}

.search-results #wrapper > header {
    /*background: none !important;*/
}

.search-results #wrapper > header #welcome {
    height: 435px;
}

.search-results #wrapper > header #welcome .left {
    float: left;
    width: 100%;
    display: none;
}

.search-results #wrapper > header #welcome .left .inner {
    position: absolute;
    bottom: -415px;
    max-width: 705px;
    width: 100%;
}

.search-results #wrapper > header #welcome .right {
    top: 30px;
    float: right;
    position: absolute;
    right: 0;
}

.archive.post-type-archive-wpseo_locations article .side-address h3 {
    font-weight: 400;
    line-height: 1;
    padding: 15px 0 14px 0;
    text-align: center;
    margin-bottom: 0px;
    text-transform: none;
    color: #0c4a7e;
    font-size: 27px;
}

.archive.post-type-archive-wpseo_locations article .side-address h4 {
    color: #314657;
    font-size: 21px;
    font-weight: 700;
    line-height: 1.05;
    margin-bottom: 5px;
    text-align: left;
}

.archive.category #welcome,
.search.search-results #welcome {
    display: none !important;
}

.page-template-page-practice-areas #areas-main {
    padding-top: 0;
}

.page-template-page-practice-areas #areas-main .placeholder .col .item header label,
.page-template-page-practice-areas #areas-main .placeholder .col .item header h3 {
    color: #d7eafa;
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 28px;
}

@media screen and (max-width: 767px) {
    .page-template-page-practice-areas #areas-main .placeholder .col .item .content {
        padding-left: 0;
        padding-right: 0;
    }
}

.page-template-page-practice-areas #areas-main .placeholder .col .item .content > a {
    color: #4b4b4b;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    font-family: "Roboto Condensed", sans-serif;
    background: url("../assets/images/arrow-more.png") no-repeat 100% 50%;
}

@media screen and (max-width: 767px) {
    .page-template-page-practice-areas #areas-main .placeholder .col .item .content ul {
        height: auto !important;
    }
}

.page-template-page-practice-areas #areas-main .placeholder .col .item .content ul li {
    background-image: url("../assets/images/arrow-right-red-circle-sm.png");
}

.page-template-page-about #home-team {
    margin-bottom: 50px;
}

.former-link {
    text-align: center;
    color: #000;
    background: #FFF;
    padding: 15px;
    font-size: 12px;
    border: 4px solid #f1f1f1;
    margin-bottom: 15px;
    display: none;
}
