.page-template-page-practice-areas-clean .content-wrapper article ul li {
    background: none !important;
    padding-left: 10px !important;
    margin-bottom: 5px !important;
}

.page-template-page-practice-areas-clean .content-wrapper article ul li a {
    color: #0001AC;
    transition: all .3s;
}

.page-template-page-practice-areas-clean .content-wrapper article ul li a:hover {
    color: #000150;
    text-decoration: underline;
}

.meet-attoneys .single-attorney {
    width: 100%;
    margin: 0;
    float: none;
    max-width: 100%;
}

.meet-attoneys .single-attorney img {
    height: 50%;
    width: 50%;
    display: block;
    border: 3px solid #fff;
    margin-left: auto;
    margin-right: auto;
}

.meet-attoneys .single-attorney span {
    color: #fff;
    font-family: "DINNextLTPro-Medium", sans-serif;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 7px;
    display: block;
}

.page-id-69825 header {
    background-position-y: center;
}

@media (min-width: 1200px) {
    .page-id-69825 #welcome {
        height: 600px !important;
    }
}

@media (min-width: 991px) and (max-width: 1199px) {
    .page-id-69825 #welcome {
        height: 500px !important;
    }
}

@media screen and (max-width: 767px) {
    .page-id-69825 #welcome {
        height: 300px !important;
    }
}

.roman-list li {
    list-style-type: upper-roman !important;
}

.alpha-list li {
    list-style-type: lower-alpha !important;
}