.page-template:not(.home) .content-wrapper.wide aside {
    /*padding-top: 30px;*/
    padding-top: 90px;
}

.content-wrapper.wide aside {
    width: 370px;
    position: relative;
    float: right;
}

.content-wrapper aside {
    width: 400px;
    position: relative;
    float: right;
    padding-top: 120px;
}

.page-template-page-attorney .content-wrapper aside, .blog .content-wrapper aside, .single-post .content-wrapper aside,
.archive .content-wrapper aside, .single-wpseo_locations .content-wrapper aside, .page-id-5354 .content-wrapper aside {
    padding-top: 0;
}

aside img {
    max-width: 100%;
}

aside h2 {
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 23px;
    font-weight: 600;
    text-shadow: 0.7px 0.7px 0 rgba(255, 255, 255, 0.63);
}

aside h2 span {
    display: block;
}

aside .block {
    margin-bottom: 80px;
    overflow: hidden;
}

aside .block h3 {
    margin: 0 0 25px 0;
    color: #000;
    font-family: "Roboto";
    font-size: 33px;
    font-weight: 400;
}

aside .block h3 span {
    display: block;
}

aside .block p {
    color: #000;
    font-size: 17px;
    font-weight: 300;
    line-height: 1.75;
}

aside .block.block-cred {
    padding-top: 55px;
    margin-bottom: 95px;
}

aside .block.block-where-begin {
    padding: 0 20px;
}

aside .block.block-where-begin h3 {
    color: #000101;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 5px 0;
}

aside .block.block-where-begin p {
    text-align: center;
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 10px;
    line-height: 1.6;
}

aside .block.block-where-begin .buttons {
    text-align: center;
}

aside .block.block-other-areas {
    background-color: #f7f7f7;
    padding: 30px 27px;
}

aside .block.block-other-areas h3 {
    font-family: "Roboto";
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

aside .block.block-other-areas ul {
    padding: 0;
    list-style: none;
}

aside .block.block-other-areas ul li {
    padding: 10px 0;
    border-bottom: 1px solid #d9d9d9;
}

aside .block.block-other-areas ul li:first-child {
    border-top: 1px solid #d9d9d9;
}

aside .block.block-other-areas ul li a {
    padding-left: 50px;
    line-height: 36px;
    color: #000;
    background: no-repeat 0 50%;
}

aside .block.block-other-areas ul li a:hover, aside .block.block-other-areas ul li a:focus {
    color: #000;
    text-decoration: underline;
}

aside .block.useful-links .block-body {
    padding: 28px 28px 15px 28px;
    background-color: #eee;
}

aside .block.useful-links ul {
    list-style: none;
    padding: 0;
}

aside .block.useful-links ul li {
    margin-bottom: 13px;
    width: 100%;
}

aside .block.useful-links ul li a {
    background: #fafafa url("../images/arrow-right-gray-md.png") no-repeat scroll 95% 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 20px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    line-height: 1.2;
    padding: 17px 35px 18px 25px;
    transition: background-color 0.5s ease;
}

aside .block.useful-links ul li a:hover {
    background-color: #fff;
}

aside .block.side-address {
    margin-top: 120px;
    margin-bottom: 40px;
    position: relative;
    overflow: visible;
    background-color: #f2f2f2;
}

aside .block.side-address + .side-address {
    margin-top: 0;
}

aside .block.side-address h3 {
    font-weight: 400;
    background-color: #fafafa;
    line-height: 1;
    padding: 12px 10px 7px 10px;
    text-align: center;
    margin-bottom: 0;
    text-transform: none;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 32px;
}

aside .block.side-address h4 {
    color: #000;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 5px;
    text-align: center;
}

aside .block.side-address .address-holder {
    position: relative;
}

aside .block.side-address .map {
    margin: 0 auto;
    height: 115px;
    overflow: hidden;
}

aside .block.side-address .address {
    text-align: center;
    padding-bottom: 20px;
}

aside .block.side-address .address .but-directions {
    display: inline-block;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding: 0 15px 0 40px;
    /*background: url("../images/ico-pointer-2.png") no-repeat 15px 50% #fff;*/
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
}

aside .block.side-address .address .but-directions.lazyloaded {
    background: url("../images/ico-pointer-2.png") no-repeat 15px 50% #fff;
}

aside .block.side-address .address .but-directions:hover, aside .block.side-address .address .but-directions:focus {
    background-color: #e6e6e6;
    text-decoration: none;
}

aside .block.side-address .address .but-hours {
    display: inline-block;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    margin: 0 5px;
    line-height: 36px;
    padding: 0 15px 0 40px;
    background: url("../images/ico-time.png") no-repeat 12px 50% #fff;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
}

aside .block.side-address .address .but-hours:hover, aside .block.side-address .address .but-hours:focus {
    background-color: #e6e6e6;
    text-decoration: none;
}

aside .block.side-address address {
    position: relative;
    padding: 18px 30px 5px;
    margin: 0;
    text-align: center;
}

aside .block.side-address address p {
    font-family: "Roboto";
    color: #000;
    font-size: 20px;
    line-height: 1.16;
    margin-bottom: 0;
    font-weight: 400;
}

aside .block.side-address address p b {
    font-family: "Roboto";
    font-weight: 400;
}

aside .block.side-address h5 {
    color: #fff;
    font-family: "Roboto";
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
}

aside .block.side-address .popup-hours {
    position: absolute;
    background-color: #0c4a7e;
    padding: 30px;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s ease;
}

aside .block.side-address .popup-hours.visible {
    display: block;
    opacity: 1;
}

aside .block.side-address .popup-hours p {
    color: #fff !important;
    margin-bottom: 0 !important;
    font-size: 16px;
}

aside .block.side-address .popup-hours ul {
    list-style: none;
    padding: 0;
}

aside .block.side-address .popup-hours li {
    border-bottom: 1px solid #31628c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 1.16;
    font-weight: 400;
    color: #fff;
}

aside .block.side-address .popup-hours li span {
    float: left;
    display: inline-block;
    font-weight: 400;
}

aside .block.side-address .popup-hours li b {
    float: right;
    display: inline-block;
    font-weight: 700;
}

aside .block.side-address .popup-hours .popup-arrow {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    border-color: #0c4a7e transparent transparent transparent;
}

aside .block.meet-attoneys {
    overflow: hidden;
}

aside .block.meet-attoneys .block-body {
    background-color: #163a58;
    padding: 24px 27px 0 27px;
    overflow: hidden;
    margin: 0 -1.5%;
}

aside .block.meet-attoneys .attorney-item {
    position: relative;
    width: 47%;
    margin: 0 1.5% 10px 1.5%;
    float: left;
    max-width: 350px;
}


aside .block.meet-attoneys .attorney-item img {
    width: 100%;
    height: 100%;
    display: block;
    border: 3px solid #fff;
}

aside .block.meet-attoneys .attorney-item a span {
    color: #fff;
    font-family: "Roboto";
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 7px;
    display: block;
}

aside .block.meet-attoneys .attorney-item a:hover {
    text-decoration: none;
}

aside .block.meet-attoneys .attorney-item a:hover span {
    text-decoration: none;
}

aside .block.block-quotes {
    margin-bottom: 75px;
}

aside .block.block-quotes .inner {
    background-color: #eee;
    padding: 35px 46px 29px 38px;
    margin-bottom: 30px;
}

aside .block.block-quotes p {
    text-align: justify;
    margin-bottom: 4px;
    font-family: "Roboto";
    font-size: 26px;
    color: #0c4a7e;
    font-weight: 400;
    line-height: 1.3;
}

aside .block.block-quotes i {
    display: block;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    font-style: normal;
    font-family: "Roboto";
}

aside .block.verdicts-slider .block-body {
    background: #0a3f61;
    padding: 30px 25px 5px;
}

aside .block.verdicts-slider h4 {
    color: #fff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.18;
}

aside .block.verdicts-slider ul {
    list-style: none;
    padding: 0;
}

aside .block.verdicts-slider ul .owl-wrapper-outer {
    padding: 25px 0;
    background-color: #dae7f1;
    border: 2px solid #fff;
}

aside .block.verdicts-slider ul a {
    text-align: center;
    display: block;
    color: #9e2f33;
    font-size: 39px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: "Roboto";
}

aside .block.verdicts-slider ul a span {
    display: block;
    color: #000;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto";
}

aside .block.verdicts-slider ul a:hover, aside .block.verdicts-slider ul a:focus {
    text-underline: none;
}

aside .block.verdicts-slider .owl-prev {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url("../images/ico-case-prev.png") no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    left: -12px;
    overflow: hidden;
    text-indent: -999px;
}

aside .block.verdicts-slider .owl-prev:hover, aside .block.verdicts-slider .owl-prev:focus {
    background: url("../images/ico-case-prev-hover.png") no-repeat 50% 50%;
}

aside .block.verdicts-slider .owl-next {
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    background: url("../images/ico-case-next.png") no-repeat 50% 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: -12px;
    overflow: hidden;
    text-indent: -999px;
}

aside .block.verdicts-slider .owl-next:hover, aside .block.verdicts-slider .owl-next:focus {
    background: url("../images/ico-case-next-hover.png") no-repeat 50% 50%;
}

aside .block.widget_categories {
    background-color: #eee;
}

aside .block.widget_categories h3 {
    background: white;
    padding-bottom: 30px;
}

aside .block.widget_categories.block-body {
    padding: 28px 28px 15px 28px;
    background-color: #EEE;
}

aside .block.widget_categories ul {
    list-style: none;
    padding: 28px 28px 15px 28px;
}

aside .block.widget_categories ul li {
    margin-bottom: 13px;
    width: 100%;
}

aside .block.widget_categories ul li a {
    background: #fafafa url("../assets/images/arrow-right-gray-md.png") no-repeat scroll 95% 50%;
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
    font-size: 17px;
    font-weight: 400;
    display: block;
    text-decoration: none;
    line-height: 1.2;
    padding: 17px 35px 18px 25px;
    transition: background-color 0.5s ease;
}

aside .block.widget_categories ul li a:hover {
    color: #792221;
}

aside .block.useful-links ul li a {
    font-size: 16px;
}

aside .block.verdicts-slider ul li p {
    text-align: center;
    display: block;
    color: #9E2F33;
    font-size: 39px;
    font-weight: 400;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

aside .form {
    width: 400px;
    height: 487px;
    box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
    border: 4px solid #f1f1f1;
    background-color: #586a7a;
    padding: 24px;
    margin-top: 0;
}

aside .form .header-form h3 {
    color: #ffffff;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 0 10px;
}

aside .form .header-form input,
aside .form .header-form textarea {
    color: #76787b;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
}

aside .form .header-form .but-form {
    background-color: #792221;
    text-decoration: none;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    line-height: 60px;
    height: 60px;
    display: block;
}

aside .form .header-form .but-form:hover {
    background-color: #9e5050;
}

aside .form .header-form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #9e2f33;
    font-size: 16px;
    font-weight: 700;
}

aside .block-where-begin .buttons .but {
    font-weight: 700;
}

aside .form {
    margin-top: -170px;
    margin-bottom: 90px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

aside .form form h3 {
    font-size: 31px;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0 0 25px;
    text-transform: uppercase;
    padding: 0;
    line-height: 1.1;
    text-align: center;
    color: #fff;
    border: none;
}

@media screen and (max-width: 479px) {
    aside .block.meet-attoneys .attorney-item {
        width: 97%;
        float: none;
        margin: 0 auto;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    aside .block.verdicts-slider ul li p {
        font-size: 35px;
    }
}

@media (min-width: 1200px) {
    .page-template-page-about aside .form,
    .page-template-page-practice-area-landing aside .form,
    .page-template-default aside .form,
    .single-wpseo_locations aside .form,
    .blog aside .form,
    .single-post aside .form,
    .single-qa_faqs aside .form {
        margin-top: -170px;
    }
}

@media (max-width: 767px) {
    aside {
        padding-left: 10px;
        padding-right: 10px;
    }

    aside .block h3 {
        font-size: 24px;
    }

    aside .block.block-cred {
        padding-top: 0;
    }

    aside .block.meet-attoneys .attorney-item {
        width: 47%;
    }

    aside .form {
        width: 100%;
        height: auto;
    }

    aside .form .header-form input,
    aside .form .header-form textarea {
        font-size: 15px;
    }

    aside .form .header-form .but-form {
        line-height: 24px;
        height: auto;
        display: block;
        padding: 12px 0;
        font-size: 14px;
    }

    aside .block-where-begin {
        margin-bottom: 40px;
    }

    aside .block-where-begin h3 {
        font-size: 20px !important;
    }

    aside .form .header-form .required span {
        font-size: 13px;
    }

    aside .block-where-begin .buttons .but {
        margin-bottom: 15px;
    }

    aside .block.accordion-generic {
        padding-top: 40px;
    }

    aside .block.meet-attoneys .attorney-item a span {
        font-size: 24px;
        margin: 10px 0 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    aside .block.meet-attoneys .block-body {
        text-align: center;
        margin: 0;
        padding-bottom: 10px;
    }

    aside .block.meet-attoneys .block-body .attorney-item {
        position: relative;
        width: 47%;
        margin: 0 10px;
        float: none;
        max-width: 170px;
        display: inline-block;
    }
}

@media screen and (max-width: 1199px) {
    aside .form {
        margin: 0 auto 40px;
    }

    aside .form form h3 {
        font-size: 28px;
    }

    .content-wrapper aside {
        width: 380px;
    }

    .content-wrapper.wide aside {
        width: 350px;
    }
}

@media screen and (max-width: 991px) {
    aside .block {
        margin-bottom: 40px;
    }

    aside .block.block-quotes {
        margin-bottom: 20px;
    }

    aside .form {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .content-wrapper.wide aside, .content-wrapper aside {
        width: 100%;
        float: none;
    }

    aside .block.side-address {
        margin-top: 0;
    }

    aside .block.block-cred {
        margin-bottom: 40px;
    }

    aside .block.meet-attoneys .attorney-item {
        width: 22%;
    }
}