body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 1em;
    color: #333333;
    margin-top: 2cm;
    margin-right: 2cm;
    margin-bottom: 1.5cm;
    margin-left: 2cm
}

form, header, #partners, #connect, #map-canvas-big, #map-canvas-small, .not-print, .fixed-menu, nav, .nav {
    display: none;
}

section{
    width: auto;
    border: 0;
    margin: 0 5%;
    padding: 0;
    float: none !important;
}
#team li{
    display: block;
    float: none;
}

a:after {content:" <" attr(href) ">";}

*{
    float: none !important;
}