a {
    text-decoration: none;
    color: #0c4a7e;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

img {
    border: none;
}

form, fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

input, select, textarea {
    font: 100% "Roboto";
    vertical-align: middle;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

input[type="search"] {
    -webkit-appearance: textfield;
}

button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

blockquote, q {
    quotes: none;
}

q:before, q:after {
    content: "";
}

a:focus, button:focus, input:focus, textarea:focus, select:focus {
    outline: none;
}

header, footer, section, nav, article, aside {
    display: block;
}

p, ol, ul {
    margin: 0 0 17px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
}

.text-justify {
    text-align: justify;
}

::-webkit-input-placeholder {
    color: #000;
    opacity: 1;
}

:-moz-placeholder {
    color: #000;
    opacity: 1;
}

::-moz-placeholder {
    color: #000;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #000;
    opacity: 1;
    /* wrapper */
}

#wrapper {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

@media screen and (min-width: 992px) {
    #wrapper {
        left: 0 !important;
    }
}

.container > .row {
    position: relative;
}

.height-full {
    height: 100%;
}

.height-full > .container {
    height: 100%;
}

.height-full > .container > .row {
    height: 100%;
}

.height-full > .container > .row > div {
    height: 100%;
}

.with-bg {
    background: no-repeat 50% top;
    background-size: cover;
}

.with-bg.bg-bottom {
    -ms-background-position-y: 100%;
    background-position-y: 100%;
}

.with-bg.bg-right {
    -ms-background-position-x: 100%;
    background-position-x: 100%;
}

.with-bg.bg-left {
    -ms-background-position-x: 0;
    background-position-x: 0;
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute !important;
    left: -999em;
}

/*.skip-link {*/
/*    position: absolute;*/
/*    top: -34px;*/
/*    left: 0;*/
/*    right: 0;*/
/*    text-align: center;*/
/*    overflow: hidden;*/
/*    background: #3193a6;*/
/*    color: #fff;*/
/*    text-decoration: none;*/
/*    padding: 4px 10px 6px;*/
/*    -webkit-box-sizing: border-box;*/
/*    -moz-box-sizing: border-box;*/
/*    -ms-box-sizing: border-box;*/
/*    -o-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*    font-size: 20px;*/
/*    line-height: 24px;*/
/*    height: 34px;*/
/*    z-index: 999;*/
/*}*/

/*.skip-link:focus, .skip-link:active {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    overflow: visible;*/
/*}*/

/*.skip-link:hover {*/
/*    color: #000;*/
/*    background: #dcf1f0;*/
/*    text-decoration: none;*/
/*}*/

/*.slick-slide:focus {*/
/*    outline: none !important;*/
/*}*/

/*.col50 {*/
/*    width: 50%;*/
/*    float: left;*/
/*    padding: 0;*/
/*}*/

/*img.img {*/
/*    max-width: 100%;*/
/*}*/

/*img.double {*/
/*    border: 1px solid #000;*/
/*    position: relative;*/
/*}*/

img.double:before {
    z-index: 2;
    content: " ";
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #000;
}

.border-double {
    border: 1px solid #000;
    position: relative;
}

.border-double:before {
    z-index: 1;
    content: " ";
    position: absolute;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
    border: 1px solid #000;
}

@media screen and (max-width: 767px) {
    .container {
        padding: 0 10px;
    }
}

.select-style-1 {
    position: relative;
}

.select-style-1 select {
    padding: 3px;
    margin: 0;
    height: 47px;
    border: 2px solid #ccc;
    background: url("../images/ico-dropdown.png") no-repeat 96% 50% #fff;
    outline: none;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 300;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1.3px 1.5px 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 1.3px 1.5px 2px rgba(0, 0, 0, 0.06);
    -ms-box-shadow: 1.3px 1.5px 2px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 1.3px 1.5px 2px rgba(0, 0, 0, 0.06);
    box-shadow: 1.3px 1.5px 2px rgba(0, 0, 0, 0.06);
    cursor: pointer;
}

.block-go {
    padding-right: 57px;
    position: relative;
    margin-bottom: 30px;
}

.block-go .btn-go-url {
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    width: 46px;
    height: 46px;

    text-align: center;
    -webkit-transition: background 0.3s ease;
    -moz-transition: background 0.3s ease;
    -ms-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
}

.block-go .btn-go-url:hover, .block-go .btn-go-url:focus, .block-go .btn-go-url:visited {
    background-color: #0a3c67;
    color: #fff;
    text-decoration: none;
}

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    /* display none until init */
}

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0, 0);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page, .owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* mouse grab icon */
}

.grabbing {
    /*cursor: url(grabbing.png) 8 8, move;*/
    /* fix */
}

.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.form {
    width: 100%;
    padding: 23px 26px;
    -webkit-box-shadow: 6.7px 7.4px 0 rgba(0, 1, 1, 0.13);
    -moz-box-shadow: 6.7px 7.4px 0 rgba(0, 1, 1, 0.13);
    -ms-box-shadow: 6.7px 7.4px 0 rgba(0, 1, 1, 0.13);
    -o-box-shadow: 6.7px 7.4px 0 rgba(0, 1, 1, 0.13);
    box-shadow: 6.7px 7.4px 0 rgba(0, 1, 1, 0.13);
    background-color: #94b2cb;
    border: 4px solid #f1f1f1;
}

.form form h3 {
    font-size: 31px;
    font-weight: 400;
    font-family: "Roboto";
    margin: 0 0 17px;
    text-transform: uppercase;
    padding: 0;
    line-height: 1;
    text-align: center;
    color: #fff;
    border: none;
}

.form form h3 span {
    display: block;
    font-family: "Roboto";
    color: #0c4a7e;
}

.form form input {
    height: 59px;
    width: 100%;
    margin-bottom: 13px;
    position: relative;
    padding: 0 18px;
    font-family: "Roboto";
    color: #000;
    font-size: 17px;
    font-weight: 400;
    border: 1px solid #b2b2b2;
}

.form form textarea {
    padding: 18px 19px;
    resize: none;
    border: 0 none;
    width: 100%;
    margin-bottom: 20px;
    color: #000;
    font-size: 17px;
    font-weight: 400;
    font-family: "Roboto";
    border: 1px solid #b2b2b2;
    height: 140px;
}

.form form .but-form {
    border: 0 none;
    width: 100%;
    height: 59px;
    line-height: 63px;
    color: #fff;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #a01a1a;
    vertical-align: middle;
    -webkit-transition: background 0.5s ease;
    -moz-transition: background 0.5s ease;
    -ms-transition: background 0.5s ease;
    -o-transition: background 0.5s ease;
    transition: background 0.5s ease;
}

.form form .but-form:hover {
    background-color: #8a1616;
    text-decoration: none;
}

.form form .required {
    position: relative;
}

.form form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 59px;
    line-height: 63px;
    color: #9e2f33;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
}

.form.form-wide {
    margin-bottom: 75px;
}

@media screen and (max-width: 991px) {
    .form.form-wide {
        margin-bottom: 40px;
    }
}

.form.form-wide form h3 {
    text-align: center;
    font-size: 39px;
    text-transform: uppercase;
}

.form.form-wide form h3 span {
    display: inline;
}

.form.form-wide form .required {
    position: relative;
}

.form.form-wide form textarea {
    height: 235px;
}

.form.form-wide form .but-form {
    width: 100%;
    font-size: 26px;
    text-transform: uppercase;
}

.form.form-wide form .required span {
    position: absolute;
    text-transform: uppercase;
    right: 10px;
    top: 0;
    height: 48px;
    line-height: 48px;
    font-size: 12px;
    font-weight: 700;
}

.but-readmore {
    border-top: 4px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 6px 0;
    color: #145b85;
    font-family: '';
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    display: block;
    max-width: 270px;
    margin: 0 auto;
}

.but-readmore:hover {
    color: #0d3d59;
}

/*.but-see-all {*/
/*line-height: 26px;*/
/*padding: 17px 80px 15px 45px;*/
/*display: inline-block;*/
/*position: relative;*/
/*}*/
@media screen and (max-width: 767px) {
    .but-see-all {
        font-size: 23px;
        line-height: 23px;
        padding: 17px 30px 15px 0;
        width: 100%;
    }

    .but-see-all:after {
        right: 15px !important;
    }
}

.but-see-all.lazyloaded:after {
    background: url("../images/arrow-right-long-red.png") no-repeat 50% 50%;
}

.but-see-all:after {
    position: absolute;
    content: "";
    width: 21px;
    height: 14px;
    right: 33px;
    top: 50%;
    margin-top: -7px;
}

.but-see-all:hover, .but-see-all:focus {
    color: #000;
    text-decoration: none;
    background-color: #e6e6e6;
}

.but {
    display: inline-block;
    vertical-align: middle;
    background: #0c4a7e;
    color: #fff;
    font: 15px/15px "Roboto";
    font-weight: 400;
    text-transform: uppercase;
    -webkit-border-radius: 9999px;
    -moz-border-radius: 9999px;
    -o-border-radius: 9999px;
    border-radius: 9999px;
    padding: 12px 22px 9px;
    letter-spacing: 0.5px;
}

.but:hover, .but:active {
    text-decoration: none;
    background: #0a3c67;
    color: #fff;
}

.but:visited, .but:focus {
    text-decoration: none;
    color: #fff;
}

.but.but-light {
    background-color: #fff;
    border: 1px solid #ededed;
    color: #000;
    font-family: "Roboto";
    font-size: 26px;
    text-transform: none;
}

.but.but-light:hover {
    border: 1px solid #d4d4d4;
    background-color: #e6e6e6;
}

.but.but-full {
    width: 100%;
    text-align: center;
}

.but.but-flat {
    font-weight: 400;
    padding: 10px 18px 9px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.but.but-sm {
    font-size: 16px;
    padding: 8px 22px;
}

.but.but-white {
    background: #fff;
    color: #000;
}

.but.but-white:hover, .but.but-white:focus, .but.but-white:visited {
    background: #e6e6e6;
}

.but.but-white i {
    /*background: url("../images/arrow-right-circle-dark.png") no-repeat 50% 50%;*/
}

.but.but-default {
    background-color: transparent;
    border-width: 2px;
    border-color: #959e75;
    color: #959e75;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.but.but-direction {
    /*background: url("../images/ico-pointer-2.png") no-repeat 24px 50% #fff;*/
    padding: 11px 25px 8px 45px;
    color: #0c4a7e;
    line-height: 1;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
}

.but.but-direction.lazyloaded {
    background: url("../images/ico-pointer-2.png") no-repeat 24px 50% #fff;
}

.but.but-direction:hover {
    background-color: #e6e6e6;
    color: #0c4a7e;
}

.but.but-getknow {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}

.but.with-arrow {
    color: #000;
    border: 1px solid #ddd;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 12px 50px 12px 23px;
    position: relative;
    cursor: pointer;
}

.but.with-arrow:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -7px;
    width: 21px;
    height: 13px;
    /*background: url('../images/arrow-01.svg') no-repeat;*/
    background-size: cover;
}

.but.but-action {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.but.but-req {
    color: #000;
    background: #dee4cd;
    text-transform: uppercase;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-size: 13px;
    line-height: 16px;
    padding: 5px 34px 5px 9px;
    cursor: pointer;
    position: relative;
}

.but.but-req:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -8px;
    width: 18px;
    height: 16px;
    /*background: url('../images/ico-nav-02.svg') no-repeat;*/
    background-size: auto 100%;
}

.but i {
    display: inline-block;
    /*background: url("../images/arrow-right-circle.png") no-repeat 50% 50%;*/
    width: 20px;
    height: 20px;
    margin-left: 10px;
    line-height: 20px;
    vertical-align: middle;
}

.btn-more {
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #484441;
    padding: 0 42px 0 0;
    position: relative;
    cursor: pointer;
}

.btn-more:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 4px;
    margin-top: -14px;
    width: 28px;
    height: 28px;
    /*background: url('../images/ico-btn-more.svg') no-repeat;*/
    background-size: cover;
    opacity: 0.7;
}

.btn-more:hover, .btn-more:active {
    text-decoration: underline;
}

.button-holder {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.btn-video-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 250px;
}

.btn-video-item img {
    max-width: 100%;
}

.btn-video-item:after {
    position: absolute;
    content: "";
    background: url("../images/ico-play-video.png") no-repeat 50% 50%;
    width: 71px;
    height: 71px;
    left: 50%;
    top: 50%;
    margin-top: -35px;
    margin-left: -35px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

.btn-video-item:hover:after {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

.fixed-menu {
    width: 100%;
    background-color: #f0f0f0;
    color: #000;
    position: fixed;
    z-index: 99999;
    top: 0;
    /**************************************************************************************/
}

.fixed-menu ul {
    padding: 0;
    list-style: none;
    margin: 0;
}

.fixed-menu li {
    height: 100%;
    display: block;
    float: left;
}

.fixed-menu li a {
    padding: 0 22px;
    font-family: "Roboto";
    color: #000;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase;
    height: 100%;
    display: block;
    line-height: 54px;
    text-decoration: none;
}

.fixed-menu .but-mobile {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 54px;
    background: #0c4a7e;
    padding: 14px 10px 10px;
}

.fixed-menu .but-mobile span {
    display: block;
    text-align: left;
    text-indent: -9999px;
    overflow: hidden;
    background: #d7d7d7;
    height: 5px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.fixed-menu .but-mobile span + span {
    margin-top: 5px;
}

.fixed-menu .but-mobile:hover span {
    background: #0a3c67;
}

.fixed-menu .but-mobile li.current-menu-item a, .fixed-menu .but-mobile li a:hover, .fixed-menu .but-mobile li a:visited, .fixed-menu .but-mobile li a:focus {
    color: #fff;
    text-decoration: none;
    background-color: #0a3c67;
}

@media screen and (max-width: 767px) {
    /**************************************************************************************/
    body.open-menu {
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .page-inner-area {
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    .fader {
        background: rgba(0, 0, 0, 0.4);
        position: fixed;
        z-index: 120;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: none;
        /*.navigator .menu-main{
	width: auto !important;
	background: $color-prime;
  }*/
    }

    /*.navigator .menu-main {*/
    /*    position: fixed !important;*/
    /*    top: 0 !important;*/
    /*    bottom: 0 !important;*/
    /*    right: 0 !important;*/
    /*    left: auto !important;*/
    /*    z-index: 100;*/
    /*    margin: 0 -80% 0 0;*/
    /*    display: block;*/
    /*    width: 80% !important;*/
    /*    overflow: auto;*/
    /*    background: #0c4a7e !important;*/
    /*    float: none;*/
    /*    -webkit-transition: none;*/
    /*    -moz-transition: none;*/
    /*    -ms-transition: none;*/
    /*    -o-transition: none;*/
    /*    transition: none;*/
    /*    -webkit-transform: translateZ(1px);*/
    /*    transform: translateZ(1px);*/
    /*    -moz-transform: translateZ(1px);*/
    /*    -o-transform: translateZ(1px);*/
    /*    -ms-transform: translateZ(1px);*/
    /*}*/

    /*.navigator .menu-main > #nav {*/
    /*    display: block;*/
    /*    float: none !important;*/
    /*}*/

    /*.navigator .menu-main > #nav > li {*/
    /*    margin: 0;*/
    /*    float: none;*/
    /*    display: block;*/
    /*    font-size: 15px;*/
    /*    line-height: 19px;*/
    /*    padding: 0;*/
    /*    height: auto;*/
    /*    border-top: 1px solid rgba(255, 255, 255, 0.3);*/
    /*    text-align: left;*/
    /*}*/

    /*.navigator .menu-main > #nav > li > a {*/
    /*    background-image: none;*/
    /*    color: #d0e7fc;*/
    /*    padding: 10px;*/
    /*    line-height: 1;*/
    /*    width: 100% !important;*/
    /*}*/

    /*.navigator .menu-main > #nav > li:hover > a, .navigator .menu-main > #nav > li.current-menu-ancestor > a, .navigator .menu-main > #nav > li.current-menu-parent > a, .navigator .menu-main > #nav > li.current-menu-item > a {*/
    /*    background: #0a3c67;*/
    /*    color: #fff;*/
    /*}*/

    /*.navigator .menu-main > #nav > li:first-child {*/
    /*    width: auto;*/
    /*}*/

    /*.navigator .menu-main > #nav > li:first-child a {*/
    /*    background-image: none;*/
    /*    height: auto;*/
    /*    float: none !important;*/
    /*    width: auto !important;*/
    /*    display: block;*/
    /*    text-indent: 0;*/
    /*    width: auto;*/
    /*    height: auto;*/
    /*    margin: 0;*/
    /*    padding: 10px;*/
    /*}*/

    /*.navigator .menu-main > #nav > li:first-child a:before, .navigator .menu-main > #nav > li:first-child a:after {*/
    /*    display: none;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul {*/
    /*    display: none;*/
    /*    background: none;*/
    /*    padding: 0;*/
    /*    -webkit-transition: none;*/
    /*    -moz-transition: none;*/
    /*    -ms-transition: none;*/
    /*    -o-transition: none;*/
    /*    transition: none;*/
    /*    position: relative;*/
    /*    top: auto;*/
    /*    left: auto;*/
    /*    width: auto;*/
    /*    opacity: 1;*/
    /*    height: auto;*/
    /*    overflow: visible;*/
    /*    border-top: 1px solid rgba(255, 255, 255, 0.3);*/
    /*    float: none !important;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li {*/
    /*    background: #0c4a7e;*/
    /*    height: auto;*/
    /*    font-size: 14px;*/
    /*    line-height: 18px;*/
    /*    float: none;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li:hover {*/
    /*    background: #0a3c67;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li + li {*/
    /*    border-top: 1px solid rgba(255, 255, 255, 0.3);*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li ul {*/
    /*    top: auto;*/
    /*    left: auto;*/
    /*    float: none !important;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li a {*/
    /*    background-image: none;*/
    /*    height: auto;*/
    /*    float: none !important;*/
    /*    padding: 10px 10px 10px 15px;*/
    /*    color: #d0e7fc;*/
    /*    line-height: 1.2;*/
    /*    width: auto !important;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li a:before {*/
    /*    display: none;*/
    /*}*/

    /*.navigator .menu-main > #nav > li ul li:hover > a, .navigator .menu-main > #nav > li ul li.current-menu-item > a {*/
    /*    background: #0a3c67;*/
    /*    color: #d0e7fc;*/
    /*}*/

    /*.navigator .menu-main .has-drop > a {*/
    /*    position: relative;*/
    /*}*/

    /*.navigator .menu-main .has-drop > a .opener {*/
    /*    border-left: 1px solid rgba(255, 255, 255, 0.3);*/
    /*    display: block;*/
    /*    width: 30px;*/
    /*    position: absolute;*/
    /*    z-index: 30;*/
    /*    top: 0;*/
    /*    bottom: 0;*/
    /*    right: 0;*/
    /*    text-align: left;*/
    /*    text-indent: -9999px;*/
    /*    overflow: hidden;*/
    /*}*/

    /*.navigator .menu-main .has-drop > a .opener:before {*/
    /*    content: '';*/
    /*    width: 6px;*/
    /*    height: 10px;*/
    /*    position: absolute;*/
    /*    z-index: 20;*/
    /*    background: url('../images/arrow-right-sm-blue-light.png') no-repeat;*/
    /*    background-size: 6px 10px;*/
    /*    top: 50%;*/
    /*    left: 50%;*/
    /*    -webkit-transition: all ease 0.3s;*/
    /*    -moz-transition: all ease 0.3s;*/
    /*    -ms-transition: all ease 0.3s;*/
    /*    -o-transition: all ease 0.3s;*/
    /*    transition: all ease 0.3s;*/
    /*    margin: -5px 0 0 -3px;*/
    /*}*/

    /*.navigator .menu-main .has-drop.open > a .opener:before {*/
    /*    -webkit-transform: rotate(90deg);*/
    /*    -moz-transform: rotate(90deg);*/
    /*    -ms-transform: rotate(90deg);*/
    /*    -o-transform: rotate(90deg);*/
    /*    transform: rotate(90deg);*/
    /*}*/
}

.actions {
    padding: 15px 0;
    background: #fff;
    /**************************************************************************************/
}

.actions .col50 {
    text-align: center;
    padding: 0 5px 0 0;
}

.actions .col50 + .col50 {
    text-align: center;
    padding: 0 0 0 5px;
}

header {
    position: relative;
    background-position: 50% 100%;
    background-size: cover;
    color: #fff;
    margin: 0;
}

.home header {
    background-position: 50% 0;
}

header > img {
    position: absolute;
    display: none;
}

header h1, header h2 {
    color: #fff;
    font-family: "Roboto";
    text-transform: uppercase;
    text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.52);
    font-size: 81px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 10px;
}

header h1 span, header h2 span {
    font-size: 72px;
    font-family: "Roboto";
    display: block;
}

.home header h1, .home header h2 {
    font-size: 64px;
    line-height: 1;
}

.home header h1 span, .home header h2 span {
    font-size: 57px;
}

@media screen and (max-width: 991px) {
    header h1, header h2 {
        font-size: 54px;
        line-height: 1;
    }

    header h1 span, header h2 span {
        font-size: 47px;
    }
}

@media screen and (max-width: 767px) {
    header h1, header h2 {
        text-align: center;
        font-size: 25px;
        line-height: 1;
    }

    header h1 span, header h2 span {
        font-size: 28px;
    }
}

header p {
    margin: 0;
    color: #fff;
    font-family: "Roboto";
    font-size: 34px;
    font-weight: 400;
    text-shadow: 0.7px 0.7px 0 rgba(0, 0, 0, 0.52);
}

@media screen and (max-width: 991px) {
    header p {
        font-size: 29px;
    }
}

@media screen and (max-width: 767px) {
    header p {
        text-align: center;
        font-size: 21px;
    }
}

#welcome {
    height: 405px;
}

.page-template-page-about #welcome {
    height: 505px;
}

@media (max-width: 991px) {
    #welcome {
        height: auto;
    }
}

#welcome .container {
    height: 100%;
}

#welcome .row {
    height: 100%;
}


#welcome .content {
    /*position: relative;*/
    /*height: 100%;*/
}

#welcome .content img {
    position: absolute;
    right: 0;
    bottom: 0;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home #welcome {
    height: 682px;
}

.home #welcome .left {
    height: 100%;
    margin-right: 420px;
    padding-bottom: 190px;
}

@media screen and (max-width: 991px) {
    .home #welcome .left {
        padding-bottom: 0;
        margin-right: 0;
    }
}

.home #welcome .right {
    position: absolute;
    width: 400px;
    right: 0;
    z-index: 99;
    top: 40px;
}

@media screen and (max-width: 767px) {
    .home #welcome .right {
        display: none;
    }
}

.home #welcome .popup-form {
    width: 400px;
    position: absolute;
    bottom: 47px;
    right: 0;
}

.home #welcome .popup-form .form-hidden {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

.home #welcome .popup-form .form-hidden.show {
    height: 145px;
}

/*#welcome.type-3 {*/
/*  height: 410px;*/
/*}*/
#welcome.type-3 .left {
    height: 100%;
    margin-right: 420px;
    padding-bottom: 0;
}

@media screen and (max-width: 767px) {
    #welcome.type-3 .left {
        padding-bottom: 0;
        margin-right: 0;
    }
}

#welcome.type-3 .left h2 {
    color: #fff;
    font-family: "Roboto";
    text-transform: uppercase;
    text-shadow: 1.4px 1.4px 0 rgba(0, 0, 0, 0.52);
    font-size: 56px;
    font-weight: 400;
    line-height: 1;
}

#welcome.type-3 .left h2 span {
    font-size: 50px;
    font-family: "Roboto";
    display: block;
}

@media screen and (max-width: 991px) {
    #welcome.type-3 .left h2 {
        font-size: 35px;
        line-height: 1;
    }

    #welcome.type-3 .left h2 span {
        font-size: 25px;
    }
}

@media screen and (max-width: 767px) {
    #welcome.type-3 .left h2 {
        text-align: center;
        font-size: 25px;
        line-height: 1;
    }

    #welcome.type-3 .left h2 span {
        font-size: 23px;
    }
}

#welcome.type-3 .right {
    position: absolute;
    width: 400px;
    right: 0;
    z-index: 99;
    top: 40px;
}

@media screen and (max-width: 767px) {
    #welcome.type-3 .right {
        display: none;
    }
}

#welcome.type-3 .popup-form {
    width: 400px;
    position: absolute;
    bottom: 47px;
    right: 0;
}

#welcome.type-3 .popup-form .form-hidden {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.5s ease;
    -moz-transition: height 0.5s ease;
    -ms-transition: height 0.5s ease;
    -o-transition: height 0.5s ease;
    transition: height 0.5s ease;
}

#welcome.type-3 .popup-form .form-hidden.show {
    height: 145px;
}

#welcome .inner {
    position: absolute;
    bottom: 65px;
    width: 100%;
}

.page-innerpage #welcome .inner img ~ p {
    padding-right: 270px;
}

.page-innerpage #welcome .inner img ~ h2 {
    padding-right: 270px;
}

@media screen and (max-width: 767px) {
    #welcome .inner {
        bottom: 20px;
        margin: 0;
        width: 100%;
    }
}

#welcome.type-2 .content {
    position: relative;
    height: 100%;
}

#welcome.type-2 .content img {
    position: static;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

#welcome.type-2 .inner {
    position: absolute;
    bottom: 65px;
    width: 100%;
}

#welcome.type-2 .inner img ~ p {
    padding-right: 0;
}

#welcome.type-2 .inner img ~ h2 {
    padding-right: 0;
}

#welcome.type-2 .inner h2 {
    font-size: 72px;
}

@media screen and (max-width: 767px) {
    #welcome.type-2 .inner h2 {
        font-size: 64px;
    }
}

@media screen and (max-width: 767px) {
    #welcome.type-2 .inner {
        bottom: 20px;
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #welcome {
        min-height: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 767px) {
    #welcome {
        height: 240px !important;
        background: url("../images/shadow-home.png") repeat-x left bottom;
    }
}


#community {
    padding: 30px 0;
    background-size: cover;
    overflow: hidden;
    margin-bottom: 55px;
}

#community .content {
    padding: 50px 0 60px 48px;
    position: relative;
    float: right;
    max-width: 900px;
    z-index: 2;
}

#community .content:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: -200%;
    bottom: 0;
    background: #e1eaf1;
    background: rgba(255, 255, 255, 0.72);
    z-index: -1;
}

#community .content h2 {
    color: #586a7a;
    font-family: "Roboto";
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1;
}

#community .content p {
    color: #000;
    font-size: 21px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 30px;
    text-align: justify;
}

@media screen and (max-width: 991px) {
    #community .content {
        background: #e1eaf1;
        background: rgba(255, 255, 255, 0.72);
        padding: 20px 30px;
    }

    #community .content:before {
        content: none;
    }
}

#sub-contacts {
    /*background: url("../images/bg-wave-footer.png") repeat-x;*/
    background-repeat: repeat-x;
    border-top: 1px solid #d9d9d9;
    padding: 55px 0 70px;
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
    -ms-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
    -o-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.14);
}

@media screen and (max-width: 991px) {
    #sub-contacts {
        padding: 30px 0 20px;
    }
}

#sub-contacts .col {
    width: 33.3%;
    float: left;
}

@media screen and (max-width: 991px) {
    #sub-contacts .col {
        width: 100%;
        float: none;
        text-align: center;
        margin-bottom: 20px;
    }
}

#sub-contacts .col a {
    max-width: 100%;
}

#sub-contacts .col a img {
    max-width: 100%;
}

#sub-contacts .contacts {
    text-align: center;
    float: none;
    line-height: 1;
    position: relative;
    /*padding: 13px 140px 0 0;*/
}

@media screen and (max-width: 1199px) {
    #sub-contacts .contacts {
        padding-right: 0;
        text-align: center;
    }
}

#sub-contacts .contacts span {
    color: #383838;
    font-size: 23px;
    font-family: "Roboto";
    font-weight: bold;
    display: block;
    text-align: right;
    margin-bottom: 5px;
}

#sub-contacts .contacts b {
    display: block;
    color: #a01a1a;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 31px;
    text-align: right;
}

#sub-contacts .contacts .button {
    position: absolute;
    top: 45px;
    right: 0;
}

@media screen and (max-width: 1199px) {
    #sub-contacts .contacts .button {
        padding-right: 0;
        position: static;
        margin-top: 20px;
    }
}

@media screen and (max-width: 991px) {
    #sub-contacts .contacts {
        float: none;
        padding-right: 0;
    }

    #sub-contacts .contacts span {
        text-align: center;
    }

    #sub-contacts .contacts b {
        text-align: center;
        margin: 0 0 5px 0;
    }

    #sub-contacts .contacts .button {
        position: static;
        text-align: center;
    }
}


#sub-contacts .socials a span {
    width: 50px;
    height: 50px;
}

.socials a.soc-fb span {
    background: url("../images/soc-fb.png") no-repeat 50% 50%;
}

.socials a.soc-gp span {
    background: url("../images/soc-gp.png") no-repeat 50% 50%;
}

.socials a.soc-in span {
    background: url("../images/soc-in.png") no-repeat 50% 50%;
}

.socials a.soc-tw span {
    background: url("../images/soc-tw.png") no-repeat 50% 50%;
}

.socials a.soc-yt span {
    background: url("../images/soc-yt.png") no-repeat 50% 50%;
}

.socials a.soc-rss span {
    background: url("../images/soc-rss.png") no-repeat 50% 50%;
}

#contacts {
    position: relative;
    padding: 60px 0 55px;
}

#contacts .map-home {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#contacts h2 {
    position: absolute;
    top: -27px;
    left: 50%;
    margin-left: -185px;
    width: 370px;
    padding: 17px 0 15px;
    background-color: #fff;
    border: 1px solid #d9d9d9;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}

#contacts .accordion-contacts {
    max-width: 300px;
    border: 1px solid #ddd;
}

@media screen and (max-width: 767px) {
    #contacts .accordion-contacts {
        margin: 0 auto 80px;
    }
}

#contacts address {
    margin-bottom: 0;
}

footer .navigation {
    background: #0c4a7e;
    padding: 24px 0 20px;
    border-bottom: 1px solid #ededed;
}

footer .navigation ul {
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}



footer .navigation ul:after {
    content: '';
    display: block;
    clear: both;
}

@media screen and (max-width: 767px) {
    footer .navigation ul {
        margin: 0 auto;
        max-width: 240px;
    }
}

footer .navigation li {
    float: left;
    margin: 0;
    padding: 10px;
}

@media screen and (max-width: 1199px) {
    footer .navigation li {
        margin: 0 20px;
    }
}

@media screen and (max-width: 991px) {
    footer .navigation li {
        margin: 0 6px;
    }
}

@media screen and (max-width: 767px) {
    footer .navigation li {
        float: none;
        text-align: center;
        border-top: 1px solid #3f7099;
        width: 100%;
    }

    footer .navigation li:first-child {
        border-top: 0 none;
    }
}

footer .navigation li a {
    color: #d7eafa;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    display: block;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    footer .navigation li a {
        line-height: 52px;
        text-align: center;
        width: 100%;
    }
}

footer .navigation li a:hover {
    color: #d7eafa;
}

footer .copyright {
    background: #fff;
    padding: 25px 0;
}

footer .copyright p {
    color: #a2a2a2;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 0;
    line-height: 20px;
}

footer .copyright a.stamp {
    padding-left: 28px;
    line-height: 20px;
    color: #a2a2a2;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    display: inline-block;
    text-decoration: none;
}

@media screen and (max-width: 991px) {
    footer .copyright {
        text-align: center;
    }

    footer .copyright .pull-right {
        float: none !important;
    }

    footer .copyright .pull-left {
        text-align: center;
        margin-bottom: 20px;
        float: none !important;
    }

    footer .copyright a.stamp {
        padding-left: 0;
        padding-top: 30px;
    }
}

#wrapper {
    overflow: hidden;
}
.content-wrapper {
    padding-top: 45px;
}

.content-wrapper.border-bottom {
    border-bottom: 1px solid #d9d9d9;
    margin-bottom: 55px;
}

@media screen and (max-width: 767px) {
    .content-wrapper.border-bottom {
        margin-bottom: 35px;
    }
}

.content-wrapper.col-50 {
    overflow: hidden;
}

.content-wrapper.col-50 .row {
    overflow: hidden;
    margin: 0 -3%;
}

.content-wrapper.col-50 .row .col {
    margin: 0 3%;
    width: 44%;
    float: left;
}

@media screen and (max-width: 767px) {
    .content-wrapper.col-50 .row .col {
        float: none;
        width: 94%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content-wrapper.col-50 .row .col p {
    color: #000;
    margin-bottom: 30px;
    line-height: 26px;
    text-align: justify;
    max-width: 700px;
    font-size: 16px;
    font-weight: 300;
}

.content-wrapper.col-50 .row .col p a {
    text-decoration: underline;
}

.content-wrapper.col-50 .row .col p a:hover, .content-wrapper.col-50 .row .col p a:visited, .content-wrapper.col-50 .row .col p a:focus {
    text-decoration: none;
    color: #1b79b1;
}

.content-wrapper article {
    width: 700px;
    padding-left: 10px;
    position: relative;
    float: left;
}

.page-template-template-no-sidebar article form input, .page-template-template-no-sidebar article form textarea, .page-template-template-no-sidebar article form select  {
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
}

.page-template-template-no-sidebar article .wpcf7-list-item-label {
    padding-right: 15px;
}

.page-template-template-no-sidebar article .wpcf7-submit {
    background: #771f26;
    border: 1px solid #771f26;
    box-shadow: 0 1px 6px 3px rgba(25,25,25,.3);
    font-weight: 700;
    color: #FFF;
    transition: all .5s;
}


.page-template-template-no-sidebar article .wpcf7-submit:hover {
    background: #8d2830;
}

.page-template-template-no-sidebar .content-wrapper article {
    width: 100%;
    padding-left: 0;
}

@media screen and (max-width: 1199px) {
    .content-wrapper article {
        width: 560px;
    }
}

@media screen and (max-width: 991px) {
    .content-wrapper article {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .content-wrapper article {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.content-wrapper article img {
    max-width: 100%;
}

.content-wrapper article img.img-full {
    max-width: 100%;
    display: block;
    margin-bottom: 25px;
}

.content-wrapper article img.image {
    position: relative;
    overflow: hidden;
}

.content-wrapper article img.image.left {
    margin: 0 30px 25px 0;
    float: left;
    top: 8px;
}

@media screen and (max-width: 479px) {
    .content-wrapper article img.image.left {
        display: block;
        max-width: 47%;
        margin: 0 6% 6% 0;
    }
}

.content-wrapper article img.image.right {
    margin: 0 0 30px 30px;
    float: right;
    top: 8px;
}

@media screen and (max-width: 479px) {
    .content-wrapper article img.image.right {
        display: block;
        max-width: 47%;
        margin: 0 0 6% 6%;
    }
}

@media screen and (max-width: 767px) {
    .content-wrapper article img.image.mini {
        max-width: 90px;
    }
}

.content-wrapper article ol {
    list-style: none;
    padding: 10px 0 0 0;
    margin-bottom: 35px;
}

.content-wrapper article ol li {
    counter-increment: step-counter;
    position: relative;
    text-align: justify;
    color: #000;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 13px;
    padding-left: 60px;
}

.content-wrapper article ol li::before {
    content: counter(step-counter);
    color: #fff;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    background-color: #0f5a88;
    border-radius: 999px;
    width: 22px;
    height: 22px;
    display: block;
    text-align: center;
    line-height: 23px;
    position: absolute;
    left: 25px;
    top: 6px;
}

.content-wrapper article ol.roman-list li {
    padding-left: 15px;
}

.content-wrapper article ol.roman-list li::before {
    content: none;
}

.content-wrapper article ol.alpha-list {
    padding-left: 40px;
}

.content-wrapper article ul {
    list-style: none;
    padding: 12px 0 0 0;
    margin-bottom: 35px;
}

.content-wrapper article ul li {
    text-align: justify;
    color: rgb(10, 63, 97);
    font-family: miller-text, serif;
    font-size: 17px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0) url("../images/arrow-right-circle-blue.png") no-repeat scroll 25px 5px;
    line-height: 1.5;
    margin-bottom: 20px;
    padding-left: 60px;
}

@media screen and (max-width: 991px) {
    .content-wrapper article ul li {
        margin-bottom: 5px;
    }
}

.content-wrapper article ul.list-col-2x:after {
    content: '';
    display: block;
    clear: both;
}

.content-wrapper article ul.list-col-2x li {
    width: 45%;
    float: left;
}

@media screen and (max-width: 991px) {
    .content-wrapper article ul.list-col-2x li {
        float: none;
        width: 90%;
    }
}

.content-wrapper.wide article {
    width: 770px;
    padding-left: 10px;
    position: relative;
    float: left;
}

@media screen and (max-width: 1199px) {
    .content-wrapper.wide article {
        width: 590px;
    }
}

@media screen and (max-width: 991px) {
    .content-wrapper.wide article {
        width: 100%;
        float: none;
        padding-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .content-wrapper.wide article {
        padding-left: 10px;
        padding-right: 10px;
    }
}

article:after {
    content: '';
    display: block;
    clear: both;
}

article h1 {
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 66px;
    font-weight: 400;
    margin: 0 0 37px;
    line-height: 1;
    letter-spacing: 0;
    text-transform: uppercase;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 10px;
}

#article h1 {
    color: #0c4a7e;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 15px;
}


article h1 span {
    display: block;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (max-width: 767px) {
    article h1 {
        font-size: 30px;
    }
}

article h2 {
    color: #000;
    font-family: "Roboto";
    font-size: 31px;
    font-weight: 600;
    margin: 0 0 12px;
    line-height: 1;
}

article h3 {
    color: #000;
    margin: 0 0 5px;
    line-height: 1;
    font-size: 27px;
    font-weight: 300;
}

article p {
    color: #000;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 700px;
}

.wide article p {
    max-width: 770px;
}

article p a {
    text-decoration: underline;
}

article p a:hover, article p a:visited, article p a:focus {
    text-decoration: none;
    color: #1b79b1;
}

article p.size-big {
    font-size: 20px;
    line-height: 30px;
}

article .side-address {
    margin-bottom: 40px;
    position: relative;
    overflow: visible;
}

article .side-address .address-holder {
    position: relative;
}

article .side-address .share {
    padding: 10px 0 0 10px;
    margin-bottom: 17px;
}

article .side-address .share .plugin-share {
    float: left;
    max-width: 100%;
}

article .side-address .share .plugin-share img {
    max-width: 100%;
    display: block;
}

article .side-address .share p {
    float: left;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 5px 20px 0 0;
}

article .side-address .address {
    background: #fafafa;
    padding-right: 40%;
}

@media screen and (max-width: 767px) {
    article .side-address .address {
        padding-right: 0;
    }
}

article .side-address address {
    position: relative;
    padding: 18px 30px;
    background: #f2f2f2;
    margin: 0;
}

article .side-address address p {
    font-family: "Roboto";
    color: #000;
    font-size: 20px;
    line-height: 1.16;
    margin-bottom: 0;
    font-weight: 400;
}

article .side-address address p b {
    font-family: "Roboto";
    font-weight: 400;
}

article .side-address address .buttons {
    padding-top: 20px;
    text-align: left;
}

article .side-address address .buttons:after {
    content: '';
    display: block;
    clear: both;
}


article .side-address address .buttons .but-directions {
    display: inline-block;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    line-height: 36px;
    padding: 0 15px 0 40px;
    /*background: url("../images/ico-pointer-2.png") no-repeat 15px 50% #fff;*/
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
}

article .side-address address .buttons .but-directions.lazyloaded {
    background: url("../images/ico-pointer-2.png") no-repeat 15px 50% #fff;
}

article .side-address address .buttons .but-directions:hover, article .side-address address .buttons .but-directions:focus {
    background-color: #e6e6e6;
    text-decoration: none;
}

article .side-address address .buttons .but-hours {
    display: inline-block;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    height: 36px;
    margin: 0 5px;
    line-height: 36px;
    padding: 0 15px 0 40px;
    background: url("../images/ico-time.png") no-repeat 12px 50% #fff;
    border: 1px solid #d8d8d8;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    border-radius: 999px;
}

article .side-address address .buttons .but-hours:hover, article .side-address address .buttons .but-hours:focus {
    background-color: #e6e6e6;
    text-decoration: none;
}

article .side-address h3 {
    font-weight: 400;
    line-height: 1;
    padding: 12px 10px 7px 10px;
    text-align: center;
    margin-bottom: 0;
    text-transform: none;
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 32px;
}

article .side-address h4 {
    color: #000;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    line-height: 1.05;
    margin-bottom: 5px;
    text-align: left;
}

article .side-address h5 {
    color: #fff;
    font-family: "Roboto";
    font-size: 27px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
    width: 100%;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;
}

article .side-address .map-holder {
    position: absolute;
    width: 40%;
    right: 0;
    top: 0;
    bottom: 0;
}

@media screen and (max-width: 767px) {
    article .side-address .map-holder {
        position: static;
        width: 100%;
        height: 120px;
    }
}

article .side-address .map-holder .map {
    width: 100%;
    height: 100%;
}

article .side-address .popup-hours {
    position: absolute;
    background-color: #0c4a7e;
    padding: 30px;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    z-index: 98;
    transition: opacity 1s ease;
}

article .side-address .popup-hours.visible {
    display: block;
    opacity: 1;
}

article .side-address .popup-hours p {
    color: #fff !important;
    margin-bottom: 0 !important;
    font-size: 16px;
}

article .side-address .popup-hours ul {
    list-style: none;
    padding: 0;
}

article .side-address .popup-hours li {
    border-bottom: 1px solid #31628c;
    padding: 0 0 10px 0 !important;
    margin: 0 0 10px 0 !important;
    background: none !important;
    font-size: 16px;
    line-height: 1.16;
    font-weight: 400;
    color: #fff;
}

article .side-address .popup-hours li span {
    float: left;
    display: inline-block;
    font-weight: 400;
}

article .side-address .popup-hours li b {
    float: right;
    display: inline-block;
    font-weight: 700;
}

article .side-address .popup-hours .popup-arrow {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 9px 0 9px;
    border-color: #0c4a7e transparent transparent transparent;
}

.row > .article {
    padding: 0 15px 0 0;
}

.row > .article + .article {
    padding: 0 0 0 15px;
    /**************************************************************************************/
}

.client-say-block {
    margin-bottom: 75px;
    /**************************************************************************************/
}

@media screen and (max-width: 991px) {
    .client-say-block {
        margin-bottom: 20px;
    }
}

.client-say-block .inner {
    background-color: #eee;
    padding: 35px 46px 29px 38px;
    margin-bottom: 30px;
}

.client-say-block p {
    text-align: justify;
    margin-bottom: 4px;
    font-family: "Roboto";
    font-size: 26px;
    color: #0c4a7e;
    font-weight: 400;
    line-height: 1.3;
}

.client-say-block i {
    display: block;
    font-weight: 400;
    font-size: 19px;
    color: #000;
    font-style: normal;
    font-family: "Roboto";
}

.client-say-block h3 {
    margin: 0 0 25px 0;
    color: #000;
    font-family: "Roboto";
    font-size: 33px;
    font-weight: 400;
    line-height: 1.1;
}

.client-say-block h3 span {
    display: block;
}

@media screen and (max-width: 767px) {
    .client-say-block h3 {
        font-size: 24px;
    }
}

.block-article h3 {
    margin-bottom: 25px;
    color: #000;
    font-family: "Roboto Condensed";
    font-size: 27px;
    font-weight: 300;
}

.blog-item {
    margin-bottom: 50px;
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
    /**************************************************************************************/
}

@media screen and (max-width: 991px) {
    .blog-item {
        margin-bottom: 20px;
    }
}

.blog-item .blog-inner {
    background-color: #f5f5f5;
    padding: 30px 30px 35px 30px;
}

.blog-item .blog-inner + .blog-inner {
    margin-top: 20px;
}

.blog-item .but {
    font-size: 18px;
    padding: 17px 52px 13px;
    font-family: "Roboto";
}

@media screen and (max-width: 991px) {
}

.blog-item h1, .blog-item h4 {
    color: #0c4a7e !important;
    font-family: "Roboto" !important;
    font-size: 25px !important;
    font-weight: 400 !important;
    margin-bottom: 15px !important;
}

.blog-item .meta {
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding: 10px 0;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 20px;
}

.blog-item .meta:after {
    content: '';
    display: block;
    clear: both;
}

.blog-item .meta a {
    color: #0c4a7e;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: underline;
}

.blog-item .meta a:hover {
    text-decoration: none;
}

.blog-item .meta span {
    margin: 0 5px;
    color: #c0c0c0;
}

.blog-item .share {
    margin-bottom: 17px;
}

.blog-item .share:after {
    content: '';
    display: block;
    clear: both;
}

.blog-item .share .plugin-share {
    float: left;
    max-width: 100%;
}

.blog-item .share .plugin-share img {
    max-width: 100%;
    display: block;
}

.blog-item .share p {
    float: left;
    color: #5e5e5e;
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-right: 20px;
}

.blog-item .preview {
    margin-bottom: 7px;
}

.blog-item .preview:after {
    content: '';
    display: block;
    clear: both;
}

.blog-item .preview p {
    margin-bottom: 20px;
    font-size: 17px;
    text-align: justify;
}

.blog-item .tools:after {
    content: '';
    display: block;
    clear: both;
}

aside .blog-item .tools {
    text-align: center;
}

.accordion.style-blue-1 {
    margin: 0;
    position: relative;
    background: #fff;
    background: rgba(255, 255, 255, 0.75);
}

.accordion.style-blue-1 dt {
    /*border-right: 3px solid $white;
      border-top: 1px solid $white;
      border-bottom: 1px solid $white;*/
    border: 3px solid #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 17px 15px 15px 27px;
    background-color: #0c4a7e;
}

.accordion.style-blue-1 dt a {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    text-transform: none;
    position: relative;
    padding-right: 60px;
    text-decoration: none;
    line-height: 1;
}

.accordion.style-blue-1 dt a:visited, .accordion.style-blue-1 dt a:focus {
    text-decoration: none;
}

.accordion.style-blue-1 dt a span.lazyloaded {
    background: url("../images/accordion-blue-closed.png") no-repeat;
}
.accordion.style-blue-1 dt a span {
    display: block;
    float: right;
    width: 20px;
    height: 22px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.accordion.style-blue-1 dt.accordion-opened {
    background-color: #0f5a88;
}

.accordion.style-blue-1 dt.accordion-opened a {
    color: #fff;
}

.accordion.style-blue-1 dt.accordion-opened a span.lazyloaded {
    background: url("../images/accordion-blue-opened.png") no-repeat;
}

.accordion.style-blue-1 dd {
    border-bottom: 0;
    border-top: 0;
    padding: 25px 25px 20px 25px;
}

.accordion.style-blue-1 dd p {
    margin-bottom: 10px;
    color: #000;
    font-family: "Roboto";
    line-height: 25px;
    font-weight: 400;
}

.accordion.style-blue-1 dd p b {
    font-family: "Roboto";
    font-size: 19px;
    font-weight: 400;
}

.accordion.style-blue-1 ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.accordion.style-blue-1 ul li {
    line-height: 1.75;
    margin-bottom: 15px;
    /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
    padding-left: 28px;
    color: #000;
    font-size: 17px;
}

.accordion.style-blue-1 ul li:last-child {
    margin-bottom: 0;
}

.accordion.style-1 {
    margin: 0;
}

.accordion.style-1 dt {
    border-bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 17px 15px 15px 27px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.accordion.style-1 dt:first-child {
    border-top: 0 none;
}

.accordion.style-1 dt a {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 600;
    color: #000;
    text-transform: none;
    position: relative;
    padding-right: 60px;
    text-decoration: none;
    line-height: 1;
}

.accordion.style-1 dt a:visited, .accordion.style-1 dt a:focus {
    text-decoration: none;
}

.accordion.style-1 dt a span {
    display: block;
    float: right;
    width: 33px;
    height: 22px;
    background: url("../images/acc-style1-open.png") no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.accordion.style-1 dt.accordion-opened a span {
    background: url("../images/acc-style1-close.png") no-repeat;
}

.accordion.style-1 dd {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 15px;
    padding: 0 25px;
}

.accordion.style-1 dd p {
    margin-bottom: 0;
}

.accordion.style-1 ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.accordion.style-1 ul li {
    line-height: 1.75;
    margin-bottom: 15px;
    /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
    padding-left: 28px;
    color: #000;
    font-size: 17px;
}

.accordion.style-1 ul li:last-child {
    margin-bottom: 0;
}

.accordion.style-2 {
    margin: 0;
}

.accordion.style-2 dt {
    border-bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 17px 15px 15px 27px;
    background-color: #0c4a7e;
    margin-bottom: 10px;
}

.accordion.style-2 dt:first-child {
    border-top: 0 none;
}

.accordion.style-2 dt:hover {
    background-color: #0a3c67;
}

.accordion.style-2 dt a {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: none;
    position: relative;
    padding-right: 60px;
    text-decoration: none;
    line-height: 1;
}

.accordion.style-2 dt a:visited, .accordion.style-2 dt a:focus {
    text-decoration: none;
}

.accordion.style-2 dt a span {
    display: block;
    float: right;
    width: 33px;
    height: 22px;
    background: url("../images/acc-style2-open.png") no-repeat;
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
}

.accordion.style-2 dt.accordion-opened {
    background-color: #f2f2f2;
}

.accordion.style-2 dt.accordion-opened a {
    color: #000;
}

.accordion.style-2 dt.accordion-opened a span {
    background: url("../images/acc-style1-close.png") no-repeat;
}

.accordion.style-2 dd {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 15px;
    padding: 0 25px;
}

.accordion.style-2 dd p {
    margin-bottom: 0;
}

.accordion.style-2 ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.accordion.style-2 ul li {
    line-height: 1.75;
    margin-bottom: 15px;
    background: rgba(0, 0, 0, 0) url("../images/arrow-dbl-right-blue.png") no-repeat scroll 0 8px;
    padding-left: 28px;
    color: #000;
    font-size: 17px;
}

.accordion.style-2 ul li:last-child {
    margin-bottom: 0;
}

.accordion.style-3 {
    margin: 0;
}

.accordion.style-3 dt {
    border-bottom: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 17px 15px 15px 27px;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.accordion.style-3 dt:first-child {
    border-top: 0 none;
}

.accordion.style-3 dt a {
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    font-size: 20px;
    font-weight: 400;
    font-family: "Roboto";
    color: #000;
    text-transform: none;
    position: relative;
    padding-right: 60px;
    text-decoration: none;
    line-height: 1;
}

.accordion.style-3 dt a:visited, .accordion.style-3 dt a:focus {
    text-decoration: none;
}

.accordion.style-3 dt a span {
    display: block;
    float: right;
    width: 33px;
    height: 22px;
    background: url("../images/acc-style1-open.png") no-repeat;
    position: absolute;
    right: 0;
    top: 50%;
    margin: -11px 0 0 0;
}

.accordion.style-3 dt.accordion-opened a span {
    background: url("../images/acc-style1-close.png") no-repeat;
}

.accordion.style-3 dd {
    border-bottom: 0;
    border-top: 0;
    margin-bottom: 15px;
    padding: 0 25px;
}

.accordion.style-3 dd p {
    margin-bottom: 0;
}

.accordion.style-3 ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}

.accordion.style-3 ul li {
    line-height: 1.75;
    margin-bottom: 15px;
    /*background: rgba(0, 0, 0, 0) url("../images/arrow-right-blue-sm.png") no-repeat scroll 0 8px;*/
    padding-left: 28px;
    color: #000;
    font-size: 17px;
}

.accordion.style-3 ul li:last-child {
    margin-bottom: 0;
}

.accordion-generic {
    margin-bottom: 75px;
    /**************************************************************************************/
}

@media screen and (max-width: 767px) {
    .accordion-generic {
        margin-bottom: 20px;
    }
}

.socials-big {
    padding-bottom: 50px;
}

.socials-big a {
    display: inline-block;
}

.socials-big a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.socials-big a + a {
    margin-left: 10px;
}

@media screen and (max-width: 767px) {
    .socials-big a {
        margin: 0 5px 5px !important;
    }
}

#meet-location ul {
    overflow: hidden;
    margin: 0;
    list-style: none;
    padding: 0;
}

#meet-location ul li {
    background: none;
    padding-left: 0;
    float: left;
    width: 47%;
    height: 499px;

    margin: 0 1.5% 35px 1.5%;
    position: relative;
}

@media screen and (max-width: 479px) {
    #meet-location ul li {
        float: none;
        width: 97%;
    }
}

#meet-location ul li a {
    text-decoration: none;
    color: #000;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    text-align: center;
}

#meet-location ul li a img {
    margin: 0 0 15px 0;
    max-width: 100%;
}

#meet-location ul li a figcaption {
    color: #000;
    font-family: "Roboto";
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
}

#meet-location ul li a figcaption span {
    display: block;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 400;
    text-transform: none;
    margin-bottom: 0;
}

#meet-location ul li a:hover, #meet-location ul li a:focus, #meet-location ul li a:visited {
    text-decoration: none;
    color: #000;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

#areas-main {
    padding-top: 70px;
}

#areas-main .placeholder {
    margin: 0 -1.5% 40px -1.5%;
    overflow: hidden;
}

#areas-main .placeholder .col {
    margin: 0 1.5%;
    width: 47%;
    float: left;
}

@media screen and (max-width: 767px) {
    #areas-main .placeholder .col {
        width: 97%;
        float: none;
    }
}

#areas-main .placeholder .col .item {
    margin-bottom: 30px;
}

#areas-main .placeholder .col .item header {
    padding: 32px 0;
    text-align: center;
    background-size: cover;
}

#areas-main .placeholder .col .item header label {
    color: #fff;
    font-family: "Roboto";
    font-size: 33px;
    line-height: 28px;
    font-weight: 400;
}

#areas-main .placeholder .col .item header .ico {
    text-align: center;
    height: 75px;
}

#areas-main .placeholder .col .item header .ico img {
    max-width: 100%;
}

#areas-main .placeholder .col .item .content {
    padding: 30px 25px;
    text-align: center;
    background: #f7f7f7;
}

#areas-main .placeholder .col .item .content ul {
    list-style: none;
    padding: 0 0 15px 0;
    text-align: left;
    margin-bottom: 0;
}

#areas-main .placeholder .col .item .content ul li {
    color: #000;
    font-size: 21px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0) url("../images/arrow-right-circle-blue.png") no-repeat scroll 0 5px;
    line-height: 1.5;
    margin-bottom: 13px;
    padding-left: 35px;
}

@media screen and (max-width: 991px) {
    #areas-main .placeholder .col .item .content ul li {
        margin-bottom: 10px;
    }
}

#areas-main .placeholder .col .item .content ul li a {
    color: #000;
}

#areas-main .placeholder .col .item .content p {
    color: #000;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 15px;
}

#areas-main .placeholder .col .item .content > a {
    display: inline-block;
    color: #4b4b4b;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 20px;
    background: url("../images/arrow-more.png") no-repeat 100% 50%;
}

#prepared-resources {
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #f7f7f7;
    padding: 65px 0 65px;
    color: #000;
}

@media screen and (max-width: 767px) {
    #prepared-resources {
        padding: 30px 0 30px;
    }
}

#prepared-resources h2 {
    color: #000;
    font-family: "Roboto";
    font-size: 55px;
    font-weight: 400;
    margin-bottom: 55px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    #prepared-resources h2 {
        font-size: 56px;
        margin-bottom: 20px;
        line-height: 1;
    }
}

#prepared-resources .placeholder {
    overflow: hidden;
    margin: 0 -1.5%;
}

#prepared-resources .placeholder .item {
    margin: 0 1.5% 50px 1.5%;
    width: 30.33%;
    background: #fff;
    float: left;
    padding: 35px 45px 40px 45px;
}

@media screen and (max-width: 991px) {
    #prepared-resources .placeholder .item {
        width: 97%;
        float: none;
    }
}

#prepared-resources .placeholder .item .btn-video-item {
    margin-left: auto;
    margin-right: auto;
}

#prepared-resources .placeholder .item h3 {
    color: #0c4a7e;
    font-family: "Roboto";
    font-size: 29px;
    font-weight: 400;
    line-height: 1.06;
    margin: 0 0 15px 0;
    min-height: 50px;
    text-align: center;
}

#prepared-resources .placeholder .item ol {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

#prepared-resources .placeholder .item ol li {
    counter-increment: step-counter;
    position: relative;
    text-align: justify;
    color: #000;
    font-size: 19px;
    font-weight: 300;
    line-height: 1.47;
    margin-bottom: 10px;
    padding-left: 35px;
}

#prepared-resources .placeholder .item ol li::before {
    content: counter(step-counter);
    color: #fff;
    font-size: 13px;
    font-family: "Roboto";
    font-weight: 400;
    background-color: #0f5a88;
    border-radius: 999px;
    width: 22px;
    height: 22px;
    display: block;
    text-align: center;
    line-height: 23px;
    position: absolute;
    left: 0;
    top: 6px;
}

#prepared-resources .placeholder .item .button {
    text-align: center;
    padding-top: 20px;
}

#prepared-resources .placeholder .item .button a {
    display: inline-block;
    color: #4b4b4b;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding-right: 20px;
    background: url("../images/arrow-more.png") no-repeat 100% 50%;
}

#prepared-resources .placeholder .item.col-2 {
    padding: 35px 20px 40px 20px;
}

#prepared-resources .placeholder .item.col-3 {
    padding: 35px 5px 40px 5px;
}

#prepared-resources .placeholder .item.col-3 h3 {
    padding: 0 40px;
}

#prepared-resources .placeholder .item .inner {
    position: relative;
    margin-bottom: 10px;
}

#prepared-resources .have-question {
    text-align: center;
    font-size: 23px;
    font-family: "Roboto";
    color: #000;
}

#prepared-resources .have-question b {
    font-family: "Roboto";
    font-weight: 400;
}

#prepared-resources .have-question a {
    font-weight: 400;
    color: #0c4a7e;
    font-family: "Roboto";
    text-decoration: underline;
}

#prepared-resources .have-question a:hover, #prepared-resources .have-question a:focus {
    text-decoration: none;
}

#prepared-resources .have-question i {
    color: #a01a1a;
    font-family: "Roboto";
    font-style: normal;
}

.hero-testimonial .right {
    position: absolute;
    width: 400px;
    right: 0;
    z-index: 99;
    top: 40px;
}

.page-template-page-practice-areas .content-wrapper .wide aside {
    margin-top: 80px;
}


#slider-team .owl-prev {
    background: url(../images/arrow-prev.png) no-repeat 50% 50%;
    height: 30px;
    left: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
}

#slider-team .owl-next {
    background: url(../images/arrow-next.png) no-repeat 50% 50%;
    height: 30px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
}

#slider-team figcaption {
    text-align: center;
}

#slider-team figcaption span {
    display: block;
}

#results {
    background-repeat: repeat-x;
    background-position: top left;
    background-color: #f7f7f7;
    padding: 30px 0;
}

#results .owl-prev {
    background: url(../images/arrow-prev.png) no-repeat 50% 50%;
    height: 30px;
    left: 0;
    position: absolute;
    text-indent: -99999px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
}

#results .owl-next {
    background: url(../images/arrow-next.png) no-repeat 50% 50%;
    height: 30px;
    position: absolute;
    right: 0;
    text-indent: -99999px;
    top: 50%;
    margin-top: -15px;
    width: 17px;
}

#results .result-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#results .result-list li {
    display: inline-block;
    vertical-align: middle;
    border-right: 1px solid #b8cdde;
    padding: 20px 15px;
    width: 16%;
    height: 163px;
    text-align: center;
    line-height: 25px;
}

#results .result-list li:first-child {
    padding: 25px 15px;
    line-height: 50px;
    text-align: left;
    border-left: 0;
    font-size: 42px;
    font-weight: bold;
    color: #b8cdde;
}

#results .result-list li:last-child {
    padding: 10px 15px;
    line-height: 30px;
}

#results .result-list li img {
    margin-top: 5px;
}

#results .result-list li a:hover {
    text-decoration: none;
}

#results .result-list li a div {
    font-size: 24px;
    padding: 20px 30px;
    background-color: rgba(148, 176, 198, .25);
}

#results .result-list li h3 {
    margin: 0 0 4px 0;
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

#results .result-list li p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#results .result-list li p.r_title {
    color: #91adc3;
}

@media screen and (max-width: 1199px) {
    #results .result-list li {
        width: 100%;
        height: 120px;
    }

    #results .result-list li:first-child {
        color: #595959;
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    #results .result-list li {
        border: 0;
    }
}

@media screen and (max-width: 1199px) {
    #results .result-first {
        text-align: center;
        list-style: none;
        padding: 0 15px;
        line-height: 50px;
        border-left: 0;
        font-size: 42px;
        font-weight: bold;
        color: #b8cdde;
    }

    #results .result-last {
        text-align: center;
        list-style: none;
        padding: 10px 15px;
        line-height: 30px;
        margin: 0;
    }

    #results .result-last a:hover {
        text-decoration: none;
    }

    #results .result-last div {
        font-size: 24px;
        padding: 20px 30px;
        background-color: rgba(148, 176, 198, .25);
    }
}

.socials .social span {
    text-align: center;
    background: #527592;
    border-radius: 999999px;
    color: #fff;
}

.socials-big .social {
    background: #527592;
    border-radius: 999999px;
    color: #fff;
    font-size: 48px;
    height: 67px;
    width: 67px;
    text-align: center;
    padding-top: 10px;
}

.navigator #nav > li:first-child > a {
    padding: 0;
    text-indent: -9999px;
}

@media (min-width: 991px) {

    /*.slider-wrapper {*/
    /*width: 720px;*/
    /*margin: 0 auto;*/
    /*}*/
}

@media screen and (max-width: 767px) {
    .navigator #nav > li:first-child a.menu-home {
        text-indent: 0;
    }

    .navigator #nav > li:first-child a.menu-home span {
        display: none;
    }
}

.quote-block {
    margin-bottom: 50px;
}

.quote-block p {
    margin-bottom: 15px;
}

.quote-block.quote-image img {
    margin-right: 20px;
}

.quote-block.no-image .quote-text {
    margin-left: 85px;
}

.quote-block img {
    float: left;
}

.quote-block .client {
    text-transform: uppercase;
    color: #98b4cc;
}

.result-block {
    margin-bottom: 30px;
}

.result-block span {
    text-transform: uppercase;
    color: #98b4cc;
}

.result-block h3 {
    font-weight: 500;
    text-transform: uppercase;
}

.next-posts-link {
    padding: 15px 30px;
    color: #fff;
    font-family: "Roboto";
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #a01a1a;
    transition: background 0.5s ease;
}

.next-posts-link:hover, .next-posts-link:active, .next-posts-link:focus {
    background-color: #8a1616;
    text-decoration: none;
    color: #fff;
}

.callback {
    margin-top: 10px;
}

.callback a {
    text-transform: uppercase;
    font-size: 16px;
    color: #7da3c3;
    border-top: 1px solid #7da3c3;
    border-bottom: 1px solid #7da3c3;
    padding: 5px 0 5px 0;
    font-weight: 700;
    text-align: left;
}

.callback a:hover {
    text-decoration: none;
}

.callback img {
    margin-left: 5px;
    margin-bottom: 3px;
}

#tap-buttons {
    background: #87a6bf;
    text-align: center;
    padding: 20px;
}

#tap-buttons .tap-but {
    text-transform: uppercase;
    background: #9c2e31;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
    padding: 8px 30px;
}

#tap-buttons .tap-but:hover {
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .navigator #nav li:first-child a span {
        display: none;
    }

    .home header h1 {
        font-size: 25px;
    }

    .home header h1 span {
        font-size: 25px;
    }

    #welcome.type-2 .inner h2 {
        font-size: 25px;
    }

    #how-help h2 {
        font-size: 28px;
        font-weight: bold;
    }

    #how-help h2:after {
        height: 0;
    }

    #how-help h2:before {
        height: 0;
    }

    #community .content h2 {
        text-align: center;
    }

    .text-right {
        text-align: center;
    }

    #sub-contacts .contacts .button {
        margin: 30px 0 70px 0;
    }

    #contacts h2 {
        left: 0;
        margin-left: 0;
        top: -50px;
        width: 100%;
    }
}

@media screen and (max-width: 991px) {
    .topline .but {
        margin-top: 20px;
    }
}

.block.results {
    background: url(../images/bg-wave-2.png) repeat-x top left #f7f7f7;
    margin-top: 30px;
    padding: 0 30px 30px 30px;
}

.block.results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.block.results ul li {
    display: block;
    vertical-align: middle;
    padding: 20px 15px;
    text-align: center;
    line-height: 25px;
}

.block.results ul li:nth-child(n+2) {
    border-bottom: 1px solid #b8cdde;
}

.block.results ul li:last-child {
    border-bottom: 0;
}

.block.results ul li:nth-last-child(2) {
    border-bottom: 0;
}

.block.results ul li:first-child {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    color: #94b2cb;
    line-height: 40px;
}

.block.results ul li a:hover {
    text-decoration: none;
}

.block.results ul li a div {
    font-size: 24px;
    padding: 20px 30px;
    background-color: rgba(148, 176, 198, .25);
}

.block.results ul li h3 {
    margin: 0 0 4px 0;
    font-weight: bold;
    font-size: 24px;
    color: #000;
}

.block.results ul li p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.block.results ul li p.r_title {
    color: #91adc3;
}

.h-line {
    overflow: hidden;
    text-align: center;
}

ul.site-map {
    /* =WordPress Core
-------------------------------------------------------------- */
}

ul.site-map ul.children {
    padding: 15px 15px 0 !important;
}

ul.site-map ul.children li:last-child {
    padding-bottom: 4px !important;
}

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter, div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    /* Image does not overflow the content area */
    max-width: 96%;
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
    /* Text meant only for screen readers. */
}

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    /* Above WP toolbar. */
    z-index: 100000;
}

#content img {
    max-width: 100% !important;
}

.attorney-description {
    color: #FFFFFF;
    padding-left: 20px;
}

#contacts address p {
    color: #000000;
}

.bold {
    font-weight: bold;
}

#meet-location ul li a .brucelogoimg {
    display: none;
}

.navigator {
    border-bottom: 1px solid #eee;
}

#wrapper > header .form .header-form .required span {
    line-height: 58px;
}

@media only screen and (max-width: 767px) {
    #wrapper .logowrap {
        margin-top: 0;
    }

    #wrapper .topline {
        margin-bottom: 0;
    }

    .home #wrapper #welcome {
        padding-top: 10px;
    }

    .home #wrapper p {
        text-align: center !important;
    }

    #wrapper .navigator #nav > li.menu-item.menu-item-has-children > a {
        text-align: left;
    }

    #wrapper .topline {
        height: auto !important;
    }

    body #wrapper .topline .contacts {
        width: 100% !important;
        padding: 0;
        display: block;
        position: static;
        padding-bottom: 24px;
        padding-top: 14px;
    }

    #how-help .row-1, #how-help .row-3, #how-help .row-4 {
        padding: 0;
    }

    #how-help .row-2 .col {
        width: 100%;
        margin: 0;
    }

    #how-help .row-2 .col .item {
        margin-bottom: 0;
    }

    .home iframe {
        height: auto;
    }

    #wrapper #results ul.result-first li {
        padding-top: 0;
    }

    .fourheadersect {
        text-align: center;
    }
}