
#welcome-home {
    position: relative;
    height: 654px;
}

#welcome-home .left .content .inner {
    bottom: 0;
    top: 58px;
    max-width: 576px !important;
    width: 100%;
    position: relative;
}

#welcome-home.type-2 .inner h2 {
    font-size: 30px;
    color: #183251;
    text-shadow: none;
    text-transform: initial;
    line-height: 32px;
}

.form-info {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: justify;
    font-family: Montserrat,sans-serif !important;
}


.main-form-container {
    background: #7E92A4;
    padding: 0;
}

.main-form {
    width: 360px !important;
    height: auto !important;
    position: absolute;
    right: 70px;
    top: 0;
    box-shadow: 3px 8px 3px 2px rgba(0, 1, 1, .13);
    padding: 15px !important;
    border: none;
    background: #7E92A4;
    color: #000 !important;
}

aside .main-form, .page-id-6 .main-form {
    position:relative !important;
    width: 100% !important;
    right: unset;
    top: unset;
    margin-bottom: 25px;
}

.default-hero.form-visible #welcome .main-form {
    width: 398px !important;
    position: relative;
    right: unset;
    top: unset;
    margin:0 auto;
}

/* Sidebar width is slightly larger on this page.... */
.page-id-4611 .default-hero.form-visible #welcome .main-form {
    width: 368px!important;
}

.main-form p {
    color: #000 !important;
    text-shadow: none !important;
}

.main-form .header-form {
    background: #cdd5db;
    padding: 20px 10px;
    border-radius: 15px;
}
.main-form form .but-form {
    text-transform: uppercase;
    background-color: #a01a1a;
    vertical-align: middle;
    width: 100%;
}

.main-form form .but-form:hover {
    background-color: #8a1616;
    text-decoration: none;
}

.main-form .header-form button, .main-form form .but-form {
    font-family: Montserrat,sans-serif !important;
    border-radius: 5px;
    font-size: 18px !important;
    line-height: 59px !important;
    height: 59px !important;
    color: #FFF !important;
}
.main-form input {
    width: 100%;
}

.main-form input, .header-search input {
    height: 38px !important;
    font-size: 15px !important;
    padding: 0 10px !important;
    border-radius: 5px 0 0 5px;
    font-family: Montserrat,sans-serif !important;
    margin-bottom: 13px;
    position: relative;
    color: #000;
    font-weight: 400;
    border: 1px solid #b2b2b2;
}

.search-box {
    width: 100%;
    /*padding: 15px;*/
}

@media(max-width: 1199px ){
    .search-box .form-search {
        width: 250px;
    }

    .search-box .input-group-btn {
        width: 48px;
    }
}

.main-form textarea {
    border: none;
    height: 100px;
    font-size: 15px !important;
    padding: 10px !important;
    border-radius: 5px 0 0 5px;
    font-family: Montserrat,sans-serif !important;
    resize: none;
    width: 100%;
    margin-bottom: 20px;
    color: #000;
    font-weight: 400;
}

.main-form .form-box span {
    height: 39px;
    line-height: 39px;
}

.main-form form h3, .main-form h3 {
    color: #033051;
    font-family: Montserrat, sans-serif;
    font-size: 28px;
}

.main-form h3 .bold {
    font-weight: bold;
}

.main-form h3 .light {
    font-weight: lighter;

}

.main-form h3 span {
    color: #033051;
    display: inline;
    font-family: Montserrat;
}

.main-form small {
    font-weight: normal;
    font-style: italic;
    font-size: 12px;
}

.main-form .wpcf7-not-valid, .wpcf7-form .wpcf7-not-valid {
    border: 2px solid #8a1112 !important;
}

.wpcf7 .screen-reader-response, .wpcf7 .wpcf7-not-valid-tip {
    display: none !important;
}

.main-form .screen-reader-response, .main-form .wpcf7-response-output, .main-form .wpcf7-not-valid-tip {
    display: none !important;
}

.main-form .wpcf7-response-output {
    display: block !important;
    font-size: 14px;
    color: green;
    margin-top: 5px;
}

.main-form .wpcf7-validation-errors {
    color: #8a1112 !important;
}

@media(max-width: 1499px) {
    .page-template-template-test-home #welcome-home {
        background-position: 50% 19% !important;
        background-size: unset !important;
    }
}

@media(min-width: 992px) {
    .default-hero .main-form {
        position: absolute !important;
        right: 0 !important;
        top: 0 !important;
    }
}

@media (max-width: 991px) {
    #welcome-home .left .content .inner {
        max-width: none !important;
        text-align: center;
    }

    #welcome-home .left .content .inner h1, #welcome-home .left .content .inner h2 {
        font-size: 26px;
        margin-top: 20px;
    }

    .faq-search .search-box .input-group, .search-box .input-group {
        margin-top: 0;
    }

    .search-box .form-search {
        margin-left: 0;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #welcome-home .left .content .inner {
        top: 0
    }

    .main-form {
        right: 25%;
        top: 130px;
    }

    .default-hero.form-visible #welcome .main-form {
        right: 0;
        top: 0;
        width: 100% !important;
    }

    #welcome-home {
        height: 767px;
    }
}

@media (max-width: 767px) {
    #welcome-home  {
        background-position: 20% !important;
    }

    #welcome-home .content {
        width: 100%;
    }

    .main-form {
        display: none;
    }

    #welcome-home .container .left .content .inner h1, #welcome-home .container .left .content .inner h2 {
        background: rgba(15, 15, 15, .7);
        border-radius: 25px;
        display: inline-block;
        padding: 15px;
        color: #fff;
        margin-top: 10px;
    }
}