.but-see-all {
  text-decoration: none;
  color: #000000;
  font-family: Montserrat;
  font-size: 21px;
  font-weight: 300;
  border-radius: 29px;
  border: 1px solid #ededed;
  background-color: #ffffff;
}

@include media('<tablet') {

  .next-posts-link {
    display: block;
  }

}