.faq-catname {
  display: none;
}

.qa-faqs {
  padding-top: 30px;
  margin-bottom: 10px;

  #qaplus_searchform {
    display: none;
  }

  .qa-faq {
    margin-bottom: 10px;

    h3 {
      margin: 0;
      padding: 0;
      background-color: #f0f2f4;
    }

    .qa-faq-anchor {
      background-color: #f0f2f4;
      display: block;
      padding: 24px 113px 24px 90px;
      color: #000000;
      font-size: 26px;
      font-weight: 500;
      line-height: 34px;

      background: url("../../images/icon-accordion-plus.svg") no-repeat scroll 30px 28px #f2f2f2;
      background-size: 30px 31px;

      &.active {
        background: url("../../images/icon-accordion-minus.svg") no-repeat scroll 30px 28px #0c1930;
        background-size: 30px 31px;
        color: #ffffff;
      }

      @include media('<tablet') {
        text-transform: none;
        padding: 24px 15px 24px 70px;
        background: url("../../images/icon-accordion-plus.svg") no-repeat scroll 15px 28px #f2f2f2;
        background-size: 30px 31px;

        &.active {
          background: url("../../images/icon-accordion-minus.svg") no-repeat scroll 15px 28px #0c1930;
          background-size: 30px 31px;
        }

      }


    }

    .qa-faq-answer {
      padding: 0;
      padding-top: 15px;

      p:last-of-type {
        margin-bottom: 15px;
      }

      .btns-cta-wrap {
        padding-bottom: 10px;

        p.cta-call {
          padding-top: 0;
          color: #000000;
          font-size: 21px;
          font-weight: 400;
          text-transform: uppercase;

          a {
            display: block;
          }

        }

        a.btn-std {
          color: #9e0606;
          font-size: 30px;
          font-weight: 700;
          display: inline-block;
          text-align: center;
          padding-left: 40px;
          padding-right: 40px;

          @include media('<tablet') {
            display: block;
            padding-left: 12px;
            padding-right: 12px;

            span {
              font-size: 20px;
              padding-right: 20px;
            }

          }

        }

      }

    }

    .qa-faq-title.open + .qa-faq-answer {
      display: block!important;
    }

  }

}