.form.form-wide {
  box-shadow: 7px 7px 0 rgba(0, 1, 1, 0.13);
  border: 4px solid #f1f1f1;
  background-color: rgba(#465776, 0.9);

  &.custom-form {
    padding: 15px 20px 25px;
  }

  form {

    &.header-form {

      h3 {
        color: #ffffff;
        font-size: 25px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 5px 0 10px;
      }

      input,
      textarea {
        color: #76787b;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
      }

      .but-form {
        background-color: $yellow;
        text-decoration: none;
        color: #000000;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.1px;
        line-height: 60px;
        height: 60px;
        display: block;

        &:hover {
          background-color: #ffdd84;
        }

        @include media('<tablet') {
          line-height: 24px;
          height: auto;
          display: block;
          padding: 12px 0;
        }

      }

      .required span {
        position: absolute;
        text-transform: uppercase;
        right: 10px;
        top: 0;
        height: 59px;
        line-height: 63px;
        color: #9e2f33;
        font-size: 16px;
        font-weight: 700;
      }

    }

    .row {

      .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
      }

    }

  }

}