body {
  color: #000000;
  font-size: 20px;
  line-height: 1.6;
  width: 100%;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
}

svg {

  * {
    @extend %transition;
  }

  &:not(:root) {
    overflow: visible !important;
  }

}

.indention {
  display: block;
  height: 0;
  width: 0;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

a {
  transition: all 0.1s linear;
}

b, strong {
  font-weight: bold;
}

ul {
  li {
    list-style: none;
  }
}

.grid {
  .item {
    float: left;
  }
  @extend %clearfix;
}

.col-wrap {
  .col {
    float: left;
  }
  @extend %clearfix;
}

.skiplink {
  position: absolute;
  left: -99999px;
}

.container, .container-fluid {
  position: relative;
}

@include media('<tablet') {

  body {
    font-size: 18px;
    line-height: 1.4;
    padding-top: 0;
  }

}