#welcome.type-3 {

  .left {

    h2 {

      span {
        font-weight: 400;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
        color: #ffffff;
        font-family: Montserrat;
        font-size: 52px;
        font-weight: 700;
        text-transform: uppercase;
        font-weight: 300;

        strong {
          font-weight: 700;
        }

        @include media('<tablet') {
           font-size: 36px;
        }

      }

    }

    h3 {
      text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.52);
      color: #ffffff;
      font-family: Montserrat;
      font-size: 21px;
      font-weight: 400;
    }

  }

}