/* Variables */

$white: #ffffff;
$black: #000000;

$red: #da0028;
$dk-red: #850505;

$blue: #004e98;
$dk-blue: #4c6083;
$lg-blue: #91adc3;
$deep-blue: #2b3f58;

$yellow: #ffb800;

$link-default: $blue;
$link-hover: $red;

$font-default: 'Montserrat', sans-serif;